<template>
  <div class="post">
    <v-dialog
      v-model="activeProgresLoad"
      class="dialog"
      max-width="500px"
    >
      <v-card>
        <v-card-title>
          <span class="headline">{{ $t('currency_settings.title') }}</span>
        </v-card-title>
        <v-card-text
          v-if="activeProgres"
          v-model="totales"
        >
          {{ $t('currency_settings.cargaMessage') }} {{ totales.processData }} / {{ totales.totalData }}
        </v-card-text>
        <v-card-text v-if="!activeProgres">
          {{ $t('currency_settings.cargaMessageFinish') }}
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-progress-circular
            v-show="activeProgres"
            indeterminate
            color="primary"
            class="mr-2"
          />
          <v-btn
            v-if="!activeProgres"
            color="primary"
            small
            text
            @click="cancelFormInfo"
          >
            {{ $t('accept') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="700px"
    >
      <v-card>
        <v-card-title>
          <span class="headline">{{ $t('currency_settings.title') }}</span>
        </v-card-title>
        <v-form
          id="currencyForm"
          v-model="isValid"
          autocomplete="off"
          @submit.prevent="handleSubmit"
        >
          <v-card-text class="pt-0">
            <v-container
              ma-auto
              pa-0
            >
              <v-layout class="col-12 layout-01 pa-0 ma-0">
                <v-autocomplete
                  v-model="currency.cou"
                  :label="$t('currency_settings.cou')"
                  :items="getEntityValues('country', false)"
                  item-value="id"
                  :item-text="valueLanguage"
                  class="col-12 col-md-7"
                  small-chips
                  return-object
                  clearable
                  hide-details="auto"
                  dense
                />
              </v-layout>

              <v-data-table
                class="col-12"
                :dense="true"
                :headers="headersParams"
                :items="paramsDatatable"
                hide-default-footer
              >
                <template v-slot:item.key="{item}">
                  <v-select
                    v-model="item.key"
                    :items="getEntityValues('comercial_area', true)"
                    item-value="id"
                    item-text="name"
                    hide-details="auto"
                    small-chips
                    readonly
                    dense
                  />
                </template>

                <template v-slot:item.value="{item}">
                  <v-autocomplete
                    v-model="item.value"
                    :items="getEntityValues('currencies', true)"
                    item-value="id"
                    item-text="name"
                    hide-details="auto"
                    small-chips
                    dense
                  />
                </template>
              </v-data-table>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer />
            <v-progress-circular
              v-show="activeProgres"
              indeterminate
              color="primary"
              class="mr-2"
            />
            <v-btn
              color="primary"
              small
              text
              @click="cancelForm"
            >
              {{ $t('button.cancel') }}
            </v-btn>

            <v-btn
              v-if="!currency.update"
              :disabled="!isValid"
              color="primary"
              form="currencyForm"
              small
              text
              type="submit"
            >
              {{ $t('button.create') }}
            </v-btn>

            <v-btn
              v-if="currency.update"
              :disabled="!isValid"
              color="primary"
              form="currencyForm"
              small
              text
              type="submit"
            >
              {{ $t('button.update') }}
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
    <TheDataTableCurrency
      v-if="response"
      :titles="computedHeaders"
      :response="response"
      :title="$t('currency_settings.title')"
      sorted-by="cou"
      :upload-file-allowed="true"
      @onChange="onChange"
      @create="createItem"
      @update="updateItem"
      @delete="deleteItem"
    />
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
import { utils } from "@helper/utils";
import TheDataTableCurrency from "../../components/TheDataTableCurrency";
import {gestcom} from "@services/gestcom";
import {masterUtils} from "@helper/masterUtils";
import XLSX from 'xlsx';


export default {
  components: {
    TheDataTableCurrency
  },
  data() {
    return {
      totales: {
        totalData: 0,
        processData: 0
      },
      file: null,
      activeProgres: false,
      activeProgresLoad: false,
      dialog: false,
      response: [],
      isValid: true,
      currency: {
        update: false,
        id: null,
        con: null,
        cou: null,
        params: []
      },
      currencyDefault: {
        update: false,
        id: null,
        con: null,
        cou: null,
        params: []
      },
      currencyIndex: -1
    };
  },
  computed: {
    ...mapState({
      configMenu: state => state.configMenu,
      master: state => state.master
    }),
    computedHeaders() {
      return this.headers.filter((header) => !header.hide);
    },
    headers() {
      return [
        {
          text: this.$i18n.t("tables.id"),
          align: "left",
          value: "id",
          hide: true,
        },
        {
          text: this.$i18n.t("currency_settings.con"),
          align: "left",
          value: "con",
          hide: true
        },
        {
          text: this.$i18n.t("currency_settings.cou"),
          align: "left",
          value: "cou"
        },
        {
          text: this.$i18n.t("currency_settings.cur"),
          align: "left",
          value: "cur"
        },
        {
          align: "center",
          value: "showIcon",
          filterable: false
        },
        {
          value: "actions",
          sortable: false,
          filterable: false
        }
      ];
    },
    headersParams() {
      return [
        {
          text: this.$i18n.t("currency_settings.area"),
          align: "left",
          value: "key",
          width: "25%",
          filterable: false
        },
        {
          text: this.$i18n.t("currency_settings.cur"),
          align: "left",
          value: "value",
          width: "75%",
          filterable: false
        }
      ];
    },
    paramsDatatable() {
      return this.currency.params;
    }
  },
  watch: {
    // call again the method if the route changes
    $route: "fetchData"
  },
  created() {
    this.fetchData();
    this.loadStore();
  },
  methods: {
    ...mapActions('alert', ['error']),
    ...mapActions('master', ['getCommercialAreas', 'getCountries', 'getMainlands', 'getCurrencies']),
    fetchData() {
      this.response = [];
      gestcom.getAllItems(this.$route.path, JSON.stringify({}))
        .then(
          response => {
            if (!response.messages) {
              this.response = response;
            }
          }
        );
    },
    onChange(event) {
      this.file = event;
      const reader = new FileReader()
      reader.onload = (e) => {

        this.activeProgres = true;
        this.activeProgresLoad = true;
        /* Parse data */
        const bstr = e.target.result
        const wb = XLSX.read(bstr, { type: 'binary' })
        /* Get first worksheet */
        const wsname = wb.SheetNames[0]
        const ws = wb.Sheets[wsname]
        /* Convert array of arrays */
        const data = XLSX.utils.sheet_to_json(ws, { header: 1 })
        /* Update state */
        this.cargaMasiva(data);
      }
      reader.readAsBinaryString(this.file)
    },
    loadStore() {
      if (this.master.comercialareas === null) {
        this.getCommercialAreas();
      }
      if (this.master.mainlands === null) {
        this.getMainlands();
      }
      if (this.master.countries === null) {
        this.getCountries();
      }
      if (this.master.currencies === null) {
        this.getCurrencies();
      }
    },
    format() {
      const rows = [];
      if (this.response) {
        for (let element of this.response) {
          const codes = element.codes;
          rows.push({
            id: element.id,
            con: masterUtils.getMasterFromCodes(this.master, codes, 'mainland'),
            cou: masterUtils.getMasterFromCodes(this.master, codes, 'country'),
            cur: this.getCurrency(element.params),
            showIcon: this.showIcon(element.params),
            params: element.params
          });
        }
      }
      return rows;
    },
    showIcon(params) {
      if (params) {
        return this.getCurrencyRepeat(params).length !== 1;
      }
      return false;
    },
    getCurrency(params) {
      const currencies = [];
      for (let param of params) {
        if (param.value && currencies.indexOf(param.value) === -1) {
          currencies.push(param.key +' -> '+ param.value);
        }
      }
      return currencies
    },
    getCurrencyRepeat(params) {
      const currencies = [];
      for (let param of params) {
        if (param.value && currencies.indexOf(param.value) === -1) {
          currencies.push(param.value);
        }
      }
      return currencies
    },
    deleteItem(id, index) {
      const item = this.response[index];
      if (item) {
        const masters = [];
        if (item.con) {
          masters.push(item.con);
        }
        if (item.cou) {
          masters.push(item.cou);
        }
        const params = item.params;
        const del = true;

        gestcom.remove(this.$route.path, JSON.stringify({ id, masters, params, del }))
          .then(
            () => {
              this.response.splice(index, 1)
            },
            error => {
              this.error(error);
            }
          );
      }
      this.cancelForm();
    },
    createItem: function () {
      const areas = this.getEntityValues('comercial_area', false);
      this.currency.params = [];
      if (areas) {
        for (let area of areas) {
          if (area.id !== 'ECOM') {
            this.currency.params.push({
              key: area.id,
              value: null
            });
          }
        }
      }
      this.dialog = true;
    },
    updateItem(item, index) {
      this.currency.update = true;
      this.currency.id = item.id;
      this.currency.con = item.con;
      this.currency.cou = item.cou;
      this.currency.params = [];
      for (let param of item.params) {
        this.currency.params.push({
          key: param.key,
          value: param.value
        });
      }
      this.currencyIndex = index;
      this.dialog = true;
    },
    beforeCommit() {
      let found = false;
      for (let param of this.currency.params) {
        if (param.value) {
          found = true;
          break;
        }
      }
      if (!found) {
        return this.$i18n.t('currency_settings.rules.cur');
      }
      return null;
    },
    handleSubmit(e) {
      e.preventDefault();
      this.activeProgres = true;

      let errorMsg = this.beforeCommit();
      if (errorMsg) {
        this.activeProgres = false;
        this.error(errorMsg);
      } else {
        const masters = [];
        if (this.currency.con) {
          masters.push(this.currency.con);
        }
        if (this.currency.cou) {
          masters.push(this.currency.cou);
        }
        const params = this.currency.params;

        //Llamada al rest
        if (!this.currency.update) {
          gestcom.create(this.$route.path, JSON.stringify({ masters, params }))
            .then(
              success => {
                this.response.push(success);
              },
              error => {
                this.error(error);
              }
            );
        } else {
          const id = this.currency.id;
          const index = this.currencyIndex;
          gestcom.update(this.$route.path, JSON.stringify({ id, masters, params }))
            .then(
              success => {
                Object.assign(this.response[index], success);
              },
              error => {
                this.error(error);
              }
            );
        }
      }
      this.cancelForm();
    },
    cargaMasiva(data){
      let encontrado = false;
      let cargaInicial = this.response;
      let cargaAuxiliar = [];
      for (let i = 1; i < data.length && data[i].length>0; i++) {
        let j = 0
        while (j < cargaAuxiliar.length && !encontrado) {
          if(data[i][2] === cargaAuxiliar[j][2]){
            encontrado=true;
          }
          j++;
        }
        if(!encontrado) {
          cargaAuxiliar.push(data[i]);
        }
        encontrado = false;
      }
      encontrado = false;
      const sobrescribir = [];

      for (let i = 0; i < cargaAuxiliar.length; i++) {
        let j = 0;
        encontrado = false;
        while(j<cargaInicial.length && !encontrado) {
          if(cargaInicial[j].codes[0].value[0] === cargaAuxiliar[i][2]){
            encontrado=true;
            let masters = []
            masters.push({"id":cargaAuxiliar[i][2],"name":[{"key":"ESP","value":"["+cargaAuxiliar[i][2]+"] "+cargaAuxiliar[i][3]}],"act":true,"del":false,"entity":"COUNTRY"});
            const params = [{"key":"NACIONAL","value":cargaAuxiliar[i][4]},{"key":"EMEA","value":cargaAuxiliar[i][5]},{"key":"LATAM","value":cargaAuxiliar[i][6]}];
            let id = cargaInicial[j].id;
            const parObj = {
              index: j,
              body: JSON.stringify({ id, masters, params })
            }
            sobrescribir.push(parObj);
          }
          j++;
        }
      }

      encontrado=false;

      const nuevos = [];

      for (let i = 0; i < cargaAuxiliar.length; i++) {
        const masters = [];
        for (let j = 0; j < cargaInicial.length; j++) {
          if( cargaAuxiliar[i][2] === cargaInicial[j].codes[0].value[0]) {
            encontrado=true;
          }
        }
        
        if(!encontrado){
          masters.push({"id":cargaAuxiliar[i][2],"name":[{"key":"ESP","value":"["+cargaAuxiliar[i][2]+"] "+cargaAuxiliar[i][3]}],"act":true,"del":false,"entity":"COUNTRY"});
      
          const params = [{"key":"NACIONAL","value":cargaAuxiliar[i][4]},{"key":"EMEA","value":cargaAuxiliar[i][5]},{"key":"LATAM","value":cargaAuxiliar[i][6]}];

          nuevos.push(JSON.stringify({ masters, params }));
        }
      }
      let numDatos = sobrescribir.length + nuevos.length;

      this.totales.totalData = numDatos;
      this.totales.processData = 0;

      for(let i = 0; i<sobrescribir.length;i++){
        gestcom.update(this.$route.path, sobrescribir[i].body)
          .then(
            success => {
              Object.assign(this.response[sobrescribir[i].index], success);
              this.totales.processData ++;
              if(this.totales.totalData === this.totales.processData){
                this.activeProgres = false;
              }
            },
            error => {
              this.error(error);
              this.totales.processData++;
              if(this.totales.totalData === this.totales.processData){
                this.activeProgres = false;
              }
            }
          );
      }

      for(let i = 0; i<nuevos.length;i++){
        gestcom.create(this.$route.path, nuevos[i])
          .then(
            success => {
              this.response.push(success);
              this.totales.processData ++;
              if(this.totales.totalData === this.totales.processData){
                this.activeProgres = false;
              }
            },
            error => {
              this.error(error);
              this.totales.processData ++;
              if(this.totales.totalData === this.totales.processData){
                this.activeProgres = false;
              }
            }
          );
      }
      encontrado = false;
      
    },
    cancelForm() {
      this.currency = Object.assign({}, this.currencyDefault);
      this.currencyIndex = -1;
      this.dialog = false;
      this.activeProgres = false;
    },
    cancelFormInfo() {
      this.activeProgres = false;
      this.activeProgresLoad = false;
    },
    getEntityValues(child, isfilter) {
      const values = [];
      let elements = masterUtils.getEntityValues(this.master, child);
      let elementsAux = [];
      let encontrado = false;
      if(child === 'country' && !this.currency.update) {
        for (let i = 0; i < elements.length; i++) {
          for (let j = 0; j < this.response.length; j++) {
            if( elements[i].name[0].value.split('[')[1].split(']')[0] === this.response[j].codes[0].value[0]) {
              encontrado=true;
            }
          }
          if(!encontrado){
            elementsAux.push(elements[i]);
          }
          encontrado = false;
        }
      } else if (child === 'country'){
        encontrado = false;
        for (let i = 0; i < elements.length; i++) {
          for (let j = 0; j < this.response.length; j++) {
            if( elements[i].name[0].value.split('[')[1].split(']')[0] === this.response[j].codes[0].value[0] 
              && this.currency.cou.id!==this.response[j].codes[0].value[0]) {
              encontrado=true;
            }
          }
          if(!encontrado){
            elementsAux.push(elements[i]);
          }
          encontrado = false;
        }      
      } else{
        elementsAux = elements;
      }
      
      for (let element of elementsAux) {
        if (child === 'currencies' && (element.hide || !element.supplier)) {
          continue;
        }
        values.push(element);
      }

      if (isfilter) {
        const rows = [];
        for (let element of values) {
          rows.push({
            id: element.id,
            name: utils.valueLanguage(element.name, "ESP")
          });
        }
        return rows;
      }
      return elementsAux;
      
    },
    valueLanguage: item => utils.valueLanguage(item.name, 'ESP')
  }
};
</script>
<style scoped>
</style>