<template>
  <div class="post">
    <v-row justify="center">
      <v-dialog
        v-model="dialogTrade"
        persistent
        max-width="1100px"
      >
        <v-card class="dialog-01">
          <v-card-title>
            <span class="headline">{{ title() }}</span>
          </v-card-title>

          <v-form
            id="tradeForm"
            ref="tradeForm"
            v-model="isValid"
            autocomplete="off"
            @submit.prevent="handleTradeSubmit"
          >
            <v-card-text>
              <v-container
                ma-auto
                pa-0
              >
                <v-layout class="col-12 layout-01 pa-0 ma-0">
                  <v-text-field
                    v-if="actionTrade !== 'remove'"
                    v-model="trade.pct"
                    :rules="[v => !!v || $t('credential.rules.pct')]"
                    suffix="%"
                    clearable
                    class="col-12 col-md-2"
                    hide-details="auto"
                    dense
                  >
                    <template #label>
                      {{ percentageTitle() }}
                      <span class="red--text">
                        <strong>*</strong>
                      </span>
                    </template>
                  </v-text-field>

                  <v-menu
                    v-if="actionTrade !== 'remove'"
                    v-model="modalBookFrom"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="bookFromFormatted"
                        :rules="[v => !!v || $t('credential.rules.dateAplFrom')]"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-2"
                        hide-details="auto"
                        dense
                        :disabled="disableBookFromFormatted"
                        @click:clear="onClearClicked('bookFromFormatted')"
                        @blur="onBlurField('bookFromFormatted');"
                        v-on="on"
                      >
                        <template #label>
                          {{ $t('credential.dateFrom') }}
                          <span class="red--text">
                            <strong>*</strong>
                          </span>
                        </template>
                      </v-text-field>
                    </template>
                    <v-date-picker
                      v-model="trade.dateAplFrom"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="modalBookFrom = false; bookFromFormatted = formatDate(trade.dateAplFrom);"
                    />
                  </v-menu>

                  <v-menu
                    v-model="modalBookTo"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="bookToFormatted"
                        :rules="dateToRules"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-2"
                        hide-details="auto"
                        dense
                        :disabled="disableBookToFormatted"
                        @click:clear="onClearClicked('bookToFormatted')"
                        @blur="onBlurField('bookToFormatted');"
                        v-on="on"
                      >
                        <template #label>
                          {{ $t('credential.dateTo') }}
                          <span
                            v-if="actionTrade === 'remove'"
                            class="red--text"
                          >
                            <strong>*</strong>
                          </span>
                        </template>
                      </v-text-field>
                    </template>
                    <v-date-picker
                      v-model="trade.dateAplTo"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="modalBookTo = false; bookToFormatted = formatDate(trade.dateAplTo);"
                    />
                  </v-menu>

                  <v-menu
                    v-if="actionTrade !== 'remove'"
                    v-model="modalCheckFrom"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="checkFromFormatted"
                        :rules="[v => !!v || $t('credential.rules.dateFrom')]"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-3"
                        hide-details="auto"
                        dense
                        :disabled="disableCheckFromFormatted"
                        @click:clear="onClearClicked('checkFromFormatted')"
                        @blur="onBlurField('checkFromFormatted');"
                        v-on="on"
                      >
                        <template #label>
                          {{ $t('credential.dateAplFrom') }}
                          <span class="red--text">
                            <strong>*</strong>
                          </span>
                        </template>
                      </v-text-field>
                    </template>
                    <v-date-picker
                      v-model="trade.dateFrom"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="checkFromFormatted = formatDate(trade.dateFrom); modalCheckFrom = false;"
                    />
                  </v-menu>

                  <v-menu
                    v-if="actionTrade !== 'remove'"
                    v-model="modalCheckTo"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="checkToFormatted"
                        :label="$t('credential.dateAplTo')"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-3"
                        hide-details="auto"
                        dense
                        :disabled="disableCheckToFormatted"
                        @click:clear="onClearClicked('checkToFormatted')"
                        @blur="onBlurField('checkToFormatted');"
                        v-on="on"
                      />
                    </template>
                    <v-date-picker
                      v-model="trade.dateTo"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="modalCheckTo = false; checkToFormatted = formatDate(trade.dateTo);"
                    />
                  </v-menu>
                </v-layout>

                <v-layout
                  v-if="actionTrade === 'new'"
                  class="col-12 layout-02 pa-0 ma-0"
                >
                  <v-checkbox
                    v-if="showField('exccha')"
                    v-model="trade.exccha"
                    :label="$t('credential.exccha')"
                    class="mr-2 pb-8"
                    dense
                    hide-details
                  />

                  <v-autocomplete
                    v-if="showField('sup')"
                    v-model="trade.sup"
                    :items="getEntityValues('sys_supplier')"
                    :label="$t('tables.supplier')"
                    item-value="id"
                    :item-text="valueLanguage"
                    :class="classByService"
                    hide-details="auto"
                    dense
                    return-object
                    clearable
                  />

                  <v-autocomplete
                    v-if="searchCredential.srvtype && searchCredential.srvtype.id === 'HTL'"
                    v-model="trade.chain"
                    :items="getEntityValues('chain')"
                    :label="$t('credential.chain')"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-md-5"
                    hide-details="auto"
                    dense
                    return-object
                    clearable
                  />

                  <v-select
                    v-if="searchCredential.srvtype && searchCredential.srvtype.id === 'TRF'"
                    v-model="trade.tst"
                    :label="$t('credential.tst')"
                    :items="getEntityValues('transfer_service_type')"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-sm-3"
                    return-object
                    clearable
                    hide-details="auto"
                    dense
                  />

                  <v-select
                    v-if="searchCredential.srvtype && searchCredential.srvtype.id === 'TRF'"
                    v-model="trade.tft"
                    :label="$t('credential.tft')"
                    :items="getEntityValues('transfer_type')"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-md-5"
                    return-object
                    clearable
                    hide-details="auto"
                    dense
                  />

                  <v-select
                    v-if="searchCredential.srvtype && searchCredential.srvtype.id === 'EXP'"
                    v-model="trade.ast"
                    :label="$t('credential.ast')"
                    :items="getEntityValues('activity_service_type')"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-sm-3"
                    small-chips
                    return-object
                    clearable
                    hide-details="auto"
                    dense
                  />

                  <v-select
                    v-if="searchCredential.srvtype && searchCredential.srvtype.id === 'EXP'"
                    v-model="trade.aseg"
                    :label="$t('credential.seg')"
                    :items="getEntityValues('activity_segmentation')"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-sm-5"
                    small-chips
                    return-object
                    clearable
                    hide-details="auto"
                    dense
                  />
                </v-layout>

                <v-layout
                  v-if="actionTrade === 'new'"
                  class="col-12 layout-03 pa-0 ma-0"
                >
                  <v-icon
                    v-if="newHotel"
                    color="red"
                    class="mr-1 pb-3"
                    small
                    @click="cleanHotel"
                  >
                    close
                  </v-icon>
                  <TheSelectAjax
                    v-if="newHotel"
                    :title="$t('credential.hotel')"
                    entity="hotel_service"
                    :route="masterRoute"
                    :chips="true"
                    styles="col-12 col-md-3 pa-0 ma-0"
                    @populate="populate"
                    @clear="clear"
                  />

                  <v-icon
                    v-if="!newHotel && searchCredential.srvtype && searchCredential.srvtype.id === 'HTL'"
                    color="primary"
                    class="mr-0 pb-3"
                    small
                    @click="addHotel"
                  >
                    add
                  </v-icon>
                  <v-autocomplete
                    v-if="!newHotel && searchCredential.srvtype && searchCredential.srvtype.id === 'HTL'"
                    v-model="trade.hotel"
                    :items="hotels"
                    :label="$t('credential.hotel')"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-md-4"
                    small-chips
                    return-object
                    multiple
                    clearable
                    readonly
                    hide-details="auto"
                    dense
                  />

                  <v-icon
                    v-if="newTransfer"
                    color="red"
                    class="mr-1 pb-3"
                    small
                    @click="cleanTransfer"
                  >
                    close
                  </v-icon>
                  <TheSelectAjax
                    v-if="newTransfer"
                    :title="$t('credential.transfer')"
                    entity="transfer"
                    :route="masterRoute"
                    :chips="true"
                    styles="col-12 col-md-3 pa-0 ma-0"
                    @populate="populate"
                    @clear="clear"
                  />

                  <v-icon
                    v-if="!newTransfer && searchCredential.srvtype && searchCredential.srvtype.id === 'TRF'"
                    color="primary"
                    class="mr-0 pb-3"
                    small
                    @click="addTransfer"
                  >
                    add
                  </v-icon>
                  <v-autocomplete
                    v-if="!newTransfer && searchCredential.srvtype && searchCredential.srvtype.id === 'TRF'"
                    v-model="trade.transfer"
                    :items="transfers"
                    :label="$t('credential.transfer')"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-md-4"
                    small-chips
                    return-object
                    multiple
                    clearable
                    readonly
                    hide-details="auto"
                    dense
                  />

                  <v-icon
                    v-if="newActivity"
                    color="red"
                    class="mr-1 pb-3"
                    small
                    @click="cleanActivity"
                  >
                    close
                  </v-icon>
                  <TheSelectAjax
                    v-if="newActivity"
                    :title="$t('credential.activity')"
                    entity="activity"
                    :route="masterRoute"
                    :chips="true"
                    styles="col-12 col-md-3 pa-0 ma-0"
                    @populate="populate"
                    @clear="clear"
                  />

                  <v-icon
                    v-if="!newActivity && searchCredential.srvtype && searchCredential.srvtype.id === 'EXP'"
                    color="primary"
                    class="mr-0 pb-3"
                    small
                    @click="addActivity"
                  >
                    add
                  </v-icon>
                  <v-autocomplete
                    v-if="!newActivity && searchCredential.srvtype && searchCredential.srvtype.id === 'EXP'"
                    v-model="trade.activity"
                    :items="activities"
                    :label="$t('credential.activity')"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-md-4"
                    small-chips
                    return-object
                    multiple
                    clearable
                    readonly
                    hide-details="auto"
                    dense
                  />

                  <v-icon
                    v-if="newTransferModality"
                    color="red"
                    class="mr-1 pb-3"
                    small
                    @click="cleanTransferModality"
                  >
                    close
                  </v-icon>
                  <TheSelectAjax
                    v-if="newTransferModality"
                    :title="$t('credential.modality')"
                    entity="transfer_modality"
                    :route="masterRoute"
                    :chips="true"
                    :filter="trade.transfer"
                    styles="col-12 col-md-3 pa-0 ma-0"
                    @populate="populate"
                    @clear="clear"
                  />

                  <v-icon
                    v-if="!newTransferModality && searchCredential.srvtype && searchCredential.srvtype.id === 'TRF'"
                    color="primary"
                    class="mr-0 pb-3"
                    small
                    :disabled="!trade.transfer"
                    @click="addTransferModality"
                  >
                    add
                  </v-icon>
                  <v-autocomplete
                    v-if="!newTransferModality && searchCredential.srvtype && searchCredential.srvtype.id === 'TRF'"
                    v-model="trade.tmd"
                    :items="tmds"
                    :label="$t('credential.modality')"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-md-4"
                    small-chips
                    return-object
                    multiple
                    clearable
                    readonly
                    hide-details="auto"
                    dense
                  />

                  <v-icon
                    v-if="newActivityModality"
                    color="red"
                    class="mr-1 pb-3"
                    small
                    @click="cleanActivityModality"
                  >
                    close
                  </v-icon>
                  <TheSelectAjax
                    v-if="newActivityModality"
                    :title="$t('credential.modality')"
                    entity="activity_modality"
                    :route="masterRoute"
                    :chips="true"
                    :filter="trade.activity"
                    styles="col-12 col-md-3 pa-0 ma-0"
                    @populate="populate"
                    @clear="clear"
                  />

                  <v-icon
                    v-if="!newActivityModality && searchCredential.srvtype && searchCredential.srvtype.id === 'EXP'"
                    color="primary"
                    class="mr-0 pb-3"
                    small
                    :disabled="!trade.activity"
                    @click="addActivityModality"
                  >
                    add
                  </v-icon>
                  <v-autocomplete
                    v-if="!newActivityModality && searchCredential.srvtype && searchCredential.srvtype.id === 'EXP'"
                    v-model="trade.atmd"
                    :items="atmds"
                    :label="$t('credential.modality')"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-md-4"
                    small-chips
                    return-object
                    multiple
                    clearable
                    readonly
                    hide-details="auto"
                    dense
                  />

                  <v-select
                    v-if="showField('seg')"
                    v-model="trade.seg"
                    :label="$t('credential.seg')"
                    :items="getEntityValues('segmentation')"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-sm-3"
                    small-chips
                    return-object
                    clearable
                    hide-details="auto"
                    dense
                  />

                  <v-autocomplete
                    v-model="trade.area"
                    :label="$t('credential.area')"
                    :items="getEntityValues('area')"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-sm-3"
                    small-chips
                    return-object
                    clearable
                    hide-details="auto"
                    dense
                  />
                </v-layout>

                <v-layout
                  v-if="actionTrade === 'new'"
                  class="col-12 layout-04 pa-0 ma-0"
                >
                  <v-select
                    v-model="trade.con"
                    :label="$t('credential.con')"
                    :items="getEntityValues('mainland')"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-sm-3"
                    small-chips
                    return-object
                    clearable
                    hide-details="auto"
                    dense
                  />

                  <v-autocomplete
                    v-model="trade.cou"
                    :label="$t('credential.cou')"
                    :items="getEntityValues('country')"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-sm-5"
                    small-chips
                    return-object
                    clearable
                    hide-details="auto"
                    :disabled="trade.area"
                    dense
                  />

                  <v-autocomplete
                    v-model="trade.state"
                    :label="$t('credential.state')"
                    :items="getEntityValues('state', trade.cou)"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-sm-4"
                    small-chips
                    return-object
                    clearable
                    hide-details="auto"
                    :disabled="!trade.cou"
                    dense
                  />
                </v-layout>

                <v-layout
                  v-if="actionTrade === 'new'"
                  class="col-12 layout-05 pa-0 ma-0"
                >
                  <v-icon
                    v-if="newPob"
                    color="red"
                    class="mr-1 pb-3"
                    small
                    @click="cleanPob"
                  >
                    close
                  </v-icon>
                  <TheSelectAjax
                    v-if="newPob"
                    :title="$t('credential.pob')"
                    entity="population"
                    :route="masterRoute"
                    :chips="true"
                    :filter="trade.state.id"
                    styles="col-12 col-md-5 pa-0 ma-0"
                    @populate="populate"
                    @clear="clear"
                  />

                  <v-icon
                    v-if="!newPob && trade.state"
                    color="primary"
                    class="mr-0 pb-3"
                    small
                    @click="addPob"
                  >
                    add
                  </v-icon>
                  <v-autocomplete
                    v-if="!newPob"
                    v-model="trade.pob"
                    :items="pobs"
                    :label="$t('credential.pob')"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-md-5"
                    small-chips
                    return-object
                    clearable
                    :readonly="trade.state"
                    :disabled="!trade.state"
                    hide-details="auto"
                    dense
                  />

                  <v-autocomplete
                    v-if="showField('sty')"
                    v-model="trade.sty"
                    :items="getEntityValues('sale_type')"
                    :label="$t('credential.sty')"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-md-5"
                    small-chips
                    return-object
                    clearable
                    hide-details="auto"
                    dense
                  />
                </v-layout>

                <v-layout class="col-12 layout-07 pa-0 ma-0">
                  <v-textarea
                    v-model="trade.note"
                    auto-grow
                    rows="3"
                    hide-details="auto"
                    dense
                    class="col-12 col-md-12"
                  >
                    <template #label>
                      {{ $t('match.note') }}
                      <span
                        v-if="actionTrade !== 'new'"
                        class="red--text"
                      >
                        <strong>*</strong>
                      </span>
                    </template>
                  </v-textarea>
                </v-layout>
              </v-container>
              <small>
                <span class="red--text">
                  <strong>*</strong>
                </span>
                {{ $t('required') }}
              </small>
            </v-card-text>

            <v-card-actions>
              <v-spacer />
              <v-btn
                color="primary"
                small
                text
                @click="cancelTrade"
              >
                {{ $t('button.cancel') }}
              </v-btn>
              <v-btn
                color="primary"
                small
                text
                type="submit"
                form="tradeForm"
                :disabled="!isValid || (actionTrade !== 'new' && !trade.note) || (actionTrade === 'remove' && !trade.dateAplTo)"
              >
                {{ $t('button.save') }}
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-dialog>
    </v-row>

    <div class="headline col-12 no-gutters">
      {{ $t("trade.header") }}
    </div>

    <v-expansion-panels
      v-model="panel"
      multiple
    >
      <v-expansion-panel>
        <v-expansion-panel-header
          class="wrapper-header py-2"
          header
        >
          <small class="col-12"> {{ $t('trade.filter.searchCredential') }} </small>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-form
            id="searchCredentialForm"
            autocomplete="off"
            @submit.prevent="handleSubmitSearch"
          >
            <v-container
              ma-auto
              pa-0
            >
              <v-layout class="col-12 layout-01">
                <v-select
                  v-model="searchCredential.brand"
                  :items="getEntityValues('brand')"
                  item-value="id"
                  class="col-3"
                  hide-details="auto"
                  dense
                  :item-text="valueLanguage"
                  clearable
                  return-object
                >
                  <template #label>
                    {{ $t('trade.brand') }}
                    <span class="red--text">
                      <strong>*</strong>
                    </span>
                  </template>
                </v-select>

                <v-select
                  v-model="searchCredential.srvtype"
                  :items="getEntityValues('service_type')"
                  item-value="id"
                  class="col-3"
                  hide-details="auto"
                  dense
                  :item-text="valueLanguage"
                  clearable
                  return-object
                >
                  <template #label>
                    {{ $t('trade.serviceType') }}
                    <span class="red--text">
                      <strong>*</strong>
                    </span>
                  </template>
                </v-select>

                <v-select
                  v-model="searchCredential.saleModel"
                  :items="computedSalesModel"
                  :label="$t('trade.salesModel')"
                  item-value="id"
                  class="col-3"
                  hide-details="auto"
                  dense
                  :disabled="!searchCredential.srvtype"
                  :item-text="valueLanguage"
                  clearable
                  return-object
                />

                <v-select
                  v-model="searchCredential.pctType"
                  :items="getPctType()"
                  item-value="id"
                  item-text="name"
                  class="col-12 col-md-3"
                  hide-details="auto"
                  dense
                  clearable
                >
                  <template #label>
                    {{ $t('trade.pctType') }}
                    <span class="red--text">
                      <strong>*</strong>
                    </span>
                  </template>
                </v-select>
              </v-layout>
            </v-container>

            <v-card-actions class="pt-0">
              <v-spacer />
              <v-progress-circular
                v-show="activeProgres"
                indeterminate
                color="primary"
                dense
                class="mr-2"
              />
              <v-btn
                color="primary"
                small
                text
                @click="cleanForm"
              >
                {{ $t('button.clean') }}
              </v-btn>
              <v-btn
                color="primary"
                small
                text
                type="submit"
                form="searchCredentialForm"
                :disabled="!isValidSeach"
              >
                {{ $t('button.search') }}
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-card
        v-if="nodatafilter"
        class="mt-2 mb-2 pt-2 pb-2"
        content
      >
        <v-alert
          class="ml-2 mr-2 mt-2 mb-2"
          color="blue"
          outlined
          text
          type="info"
        >
          <strong>{{ $t("nodatafilter") }}</strong>
        </v-alert>
      </v-card>
      <v-expansion-panel v-if="response.length > 0">
        <v-expansion-panel-header
          class="wrapper-header py-2"
          header
        >
          <small class="col-12"> {{ $t('credential.filterTrade') }} </small>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-container
            ma-0
            pa-0
          >
            <v-layout class="col-12 layout-01 pa-0 ma-0">
              <v-text-field
                v-model="filterTrade.pct"
                label="%"
                suffix="%"
                clearable
                class="col-12 col-md-2"
                hide-details="auto"
                dense
              />

              <v-menu
                v-model="filterModalBookFrom"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{on}">
                  <v-text-field
                    v-model="filterBookFromFormatted"
                    :label="$t('credential.dateAplFrom')"
                    hint="DD/MM/YYYY"
                    persistent-hint
                    prepend-icon="event"
                    clearable
                    class="col-12 col-md-2"
                    hide-details="auto"
                    dense
                    @blur="filterTrade.dateAplFrom = parseDate(filterBookFromFormatted);"
                    v-on="on"
                  />
                </template>
                <v-date-picker
                  v-model="filterTrade.dateAplFrom"
                  no-title
                  @input="filterModalBookFrom = false; filterBookFromFormatted = formatDate(filterTrade.dateAplFrom);"
                />
              </v-menu>

              <v-menu
                v-model="filterModalBookTo"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{on}">
                  <v-text-field
                    v-model="filterBookToFormatted"
                    :label="$t('credential.dateAplTo')"
                    hint="DD/MM/YYYY"
                    persistent-hint
                    prepend-icon="event"
                    clearable
                    class="col-12 col-md-2"
                    hide-details="auto"
                    dense
                    @blur="filterTrade.dateAplTo = parseDate(filterBookToFormatted);"
                    v-on="on"
                  />
                </template>
                <v-date-picker
                  v-model="filterTrade.dateAplTo"
                  no-title
                  @input="filterModalBookTo = false; filterBookToFormatted = formatDate(filterTrade.dateAplTo);"
                />
              </v-menu>

              <v-menu
                v-model="filterModalCheckFrom"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{on}">
                  <v-text-field
                    v-model="filterCheckFromFormatted"
                    :label="$t('credential.dateFrom')"
                    hint="DD/MM/YYYY"
                    persistent-hint
                    prepend-icon="event"
                    clearable
                    class="col-12 col-md-2"
                    hide-details="auto"
                    dense
                    @blur="filterTrade.dateFrom = parseDate(filterCheckFromFormatted);"
                    v-on="on"
                  />
                </template>
                <v-date-picker
                  v-model="filterTrade.dateFrom"
                  no-title
                  @input="filterCheckFromFormatted = formatDate(filterTrade.dateFrom); filterModalCheckFrom = false;"
                />
              </v-menu>

              <v-menu
                v-model="filterModalCheckTo"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{on}">
                  <v-text-field
                    v-model="filterCheckToFormatted"
                    :label="$t('credential.dateTo')"
                    hint="DD/MM/YYYY"
                    persistent-hint
                    prepend-icon="event"
                    clearable
                    class="col-12 col-md-2"
                    hide-details="auto"
                    dense
                    @blur="filterTrade.dateTo = parseDate(filterCheckToFormatted);"
                    v-on="on"
                  />
                </template>
                <v-date-picker
                  v-model="filterTrade.dateTo"
                  no-title
                  @input="filterModalCheckTo = false; filterCheckToFormatted = formatDate(filterTrade.dateTo);"
                />
              </v-menu>

              <v-select
                v-model="filterTrade.exccha"
                :label="$t('credential.exccha')"
                :items="getYesOrNoValues()"
                item-value="id"
                item-text="name"
                class="col-12 col-md-2"
                hide-details="auto"
                dense
                clearable
              />
            </v-layout>

            <v-layout class="col-12 layout-02 pa-0 ma-0">
              <v-autocomplete
                v-model="filterTrade.sup"
                :items="getEntityValues('sys_supplier')"
                :label="$t('tables.supplier')"
                item-value="id"
                :item-text="valueLanguage"
                class="col-12 col-md-4"
                hide-details="auto"
                dense
                return-object
                clearable
              />

              <v-autocomplete
                v-if="searchCredential.srvtype && searchCredential.srvtype.id === 'HTL'"
                v-model="filterTrade.chain"
                :items="getEntityValues('chain')"
                :label="$t('credential.chain')"
                item-value="id"
                :item-text="valueLanguage"
                class="col-12 col-md-4"
                hide-details="auto"
                dense
                return-object
                clearable
              />

              <TheSelectAjax
                v-if="searchCredential.srvtype && searchCredential.srvtype.id === 'HTL'"
                :title="$t('credential.hotel')"
                entity="hotel_service"
                :route="masterRoute"
                styles="col-4 pa-0 ma-0"
                @populate="populateFilter"
                @clear="clearFilter"
              />

              <v-select
                v-if="searchCredential.srvtype && searchCredential.srvtype.id === 'TRF'"
                v-model="filterTrade.tst"
                :label="$t('credential.tst')"
                :items="getEntityValues('transfer_service_type')"
                item-value="id"
                :item-text="valueLanguage"
                class="col-12 col-sm-3"
                return-object
                clearable
                hide-details="auto"
                dense
              />

              <v-select
                v-if="searchCredential.srvtype && searchCredential.srvtype.id === 'TRF'"
                v-model="filterTrade.tft"
                :label="$t('credential.tft')"
                :items="getEntityValues('transfer_type')"
                item-value="id"
                :item-text="valueLanguage"
                class="col-12 col-md-5"
                return-object
                clearable
                hide-details="auto"
                dense
              />

              <v-select
                v-if="searchCredential.srvtype && searchCredential.srvtype.id === 'EXP'"
                v-model="filterTrade.ast"
                :label="$t('credential.ast')"
                :items="getEntityValues('activity_service_type')"
                item-value="id"
                :item-text="valueLanguage"
                class="col-12 col-sm-3"
                return-object
                clearable
                hide-details="auto"
                dense
              />

              <v-select
                v-if="searchCredential.srvtype && searchCredential.srvtype.id === 'EXP'"
                v-model="filterTrade.aseg"
                :label="$t('credential.seg')"
                :items="getEntityValues('activity_segmentation')"
                item-value="id"
                :item-text="valueLanguage"
                class="col-12 col-sm-5"
                return-object
                clearable
                hide-details="auto"
                dense
              />
            </v-layout>

            <v-layout
              v-if="searchCredential.srvtype && (searchCredential.srvtype.id === 'EXP' || searchCredential.srvtype.id === 'TRF')"
              class="col-12 layout-03 pa-0 ma-0"
            >
              <v-spacer class="mr-3" />
              <TheSelectAjax
                v-if="searchCredential.srvtype && searchCredential.srvtype.id === 'TRF'"
                :title="$t('credential.transfer')"
                entity="transfer"
                :route="masterRoute"
                styles="col-12 col-md-6 pa-0 ma-0"
                @populate="populateFilter"
                @clear="clearFilter"
              />

              <TheSelectAjax
                v-if="searchCredential.srvtype && searchCredential.srvtype.id === 'EXP'"
                :title="$t('credential.activity')"
                entity="activity"
                :route="masterRoute"
                styles="col-12 col-md-6 pa-0 ma-0"
                @populate="populateFilter"
                @clear="clearFilter"
              />

              <v-spacer class="mr-3" />
              <TheSelectAjax
                v-if="searchCredential.srvtype && searchCredential.srvtype.id === 'TRF'"
                :title="$t('credential.modality')"
                entity="transfer_modality"
                :route="masterRoute"
                styles="col-12 col-md-5 pa-0 ma-0"
                @populate="populateFilter"
                @clear="clearFilter"
              />

              <TheSelectAjax
                v-if="searchCredential.srvtype && searchCredential.srvtype.id === 'EXP'"
                :title="$t('credential.modality')"
                entity="activity_modality"
                :route="masterRoute"
                styles="col-12 col-md-5 pa-0 ma-0"
                @populate="populateFilter"
                @clear="clearFilter"
              />

              <v-spacer class="col-1" />
            </v-layout>

            <v-layout class="col-12 layout-04 pa-0 ma-0">
              <v-autocomplete
                v-model="filterTrade.area"
                :label="$t('credential.area')"
                :items="getEntityValues('area')"
                item-value="id"
                :item-text="valueLanguage"
                class="col-12 col-sm-3"
                return-object
                clearable
                hide-details="auto"
                dense
              />

              <v-select
                v-if="searchCredential.srvtype && searchCredential.srvtype.id === 'HTL'"
                v-model="filterTrade.seg"
                :label="$t('credential.seg')"
                :items="getEntityValues('segmentation')"
                item-value="id"
                :item-text="valueLanguage"
                class="col-12 col-sm-2"
                return-object
                clearable
                hide-details="auto"
                dense
              />

              <v-select
                v-model="filterTrade.con"
                :label="$t('credential.con')"
                :items="getEntityValues('mainland')"
                item-value="id"
                :item-text="valueLanguage"
                class="col-12 col-sm-3"
                return-object
                clearable
                hide-details="auto"
                dense
              />

              <v-autocomplete
                v-model="filterTrade.cou"
                :label="$t('credential.cou')"
                :items="getEntityValues('country')"
                item-value="id"
                :item-text="valueLanguage"
                class="col-12 col-sm-4"
                return-object
                clearable
                hide-details="auto"
                dense
              />
            </v-layout>

            <v-layout class="col-12 layout-05 pa-0 ma-0">
              <v-autocomplete
                v-model="filterTrade.state"
                :label="$t('credential.state')"
                :items="getEntityValues('state')"
                item-value="id"
                :item-text="valueLanguage"
                class="col-12 col-sm-5"
                return-object
                clearable
                hide-details="auto"
                dense
              />

              <TheSelectAjax
                :title="$t('credential.pob')"
                entity="population"
                :route="masterRoute"
                styles="col-12 col-md-4 pa-0 ma-0"
                @populate="populateFilter"
                @clear="clearFilter"
              />

              <v-autocomplete
                v-if="searchCredential.srvtype && searchCredential.srvtype.id === 'HTL'"
                v-model="filterTrade.sty"
                :items="getEntityValues('sale_type')"
                :label="$t('credential.sty')"
                item-value="id"
                :item-text="valueLanguage"
                class="col-12 col-md-3"
                return-object
                clearable
                hide-details="auto"
                dense
              />
            </v-layout>
          </v-container>

          <v-card-actions class=" col-12 pa-0 ma-0">
            <v-spacer />
            <v-btn
              color="primary"
              small
              text
              @click="cleanFilter"
            >
              {{ $t('button.cleanfilter') }}
            </v-btn>
          </v-card-actions>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>

    <v-card
      v-if="response.length > 0"
      content
    >
      <v-card-actions class="pt-0">
        <v-btn
          color="primary"
          small
          text
          :disabled="selected.length === 0"
          @click="massiveChange('add')"
        >
          {{ $t('button.increase') }}
        </v-btn>
        <v-btn
          color="primary"
          small
          text
          :disabled="selected.length === 0"
          @click="massiveChange('subtract')"
        >
          {{ $t('button.decrease') }}
        </v-btn>
        <v-btn
          color="primary"
          small
          text
          :disabled="selected.length === 0"
          @click="massiveChange('remove')"
        >
          {{ $t('button.remove') }}
        </v-btn>
        <v-btn
          color="primary"
          small
          text
          :disabled="selected.length === 0"
          @click="massiveChange('update')"
        >
          {{ $t('button.update') }}
        </v-btn>
        <v-btn
          color="primary"
          small
          text
          :disabled="selected.length === 0"
          @click="massiveChange('new')"
        >
          {{ $t('button.new') }}
        </v-btn>
      </v-card-actions>

      <v-data-table
        v-model="selected"
        :headers="computedHeaders"
        :items="datatable"
        hide-default-footer
        show-select
        dense
        class="elevation-1 no-gutters"
      >
        <template v-slot:item.data-table-select="{item, isSelected, select}">
          <v-simple-checkbox
            :value="isSelected"
            :readonly="!isAfterToToday(item.dateAplTo)"
            :disabled="!isAfterToToday(item.dateAplTo)"
            @input="select($event)"
          />
        </template>
        <template v-slot:item.aseg="{item}">
          <span v-if="item.aseg">{{ item.aseg.id }}</span>
        </template>
        <template v-slot:item.atmd="{item}">
          <span v-if="item.atmd">{{ item.atmd.id }}</span>
        </template>
        <template v-slot:item.activity="{item}">
          <span v-if="item.activity">{{ item.activity.id }}</span>
        </template>
        <template v-slot:item.ast="{item}">
          <span v-if="item.ast">{{ item.ast.id }}</span>
        </template>
        <template v-slot:item.sup="{item}">
          <span v-if="item.sup">{{ item.sup.id }}</span>
        </template>
        <template v-slot:item.tst="{item}">
          <span v-if="item.tst">{{ item.tst.id }}</span>
        </template>
        <template v-slot:item.tft="{item}">
          <span v-if="item.tft">{{ item.tft.id }}</span>
        </template>
        <template v-slot:item.transfer="{item}">
          <span v-if="item.transfer">{{ item.transfer.id }}</span>
        </template>
        <template v-slot:item.tmd="{item}">
          <span v-if="item.tmd">{{ item.tmd.id }}</span>
        </template>
        <template v-slot:item.chain="{item}">
          <span v-if="item.chain">{{ item.chain.id }}</span>
        </template>
        <template v-slot:item.seg="{item}">
          <span v-if="item.seg">{{ item.seg.id }}</span>
        </template>
        <template v-slot:item.con="{item}">
          <span v-if="item.con">{{ item.con.id }}</span>
        </template>
        <template v-slot:item.sty="{item}">
          <span v-if="item.sty">{{ item.sty.id }}</span>
        </template>
        <template v-slot:item.hotel="{item}">
          <span v-if="item.hotel">{{ item.hotel.id }}</span>
        </template>
        <template v-slot:item.exccha="{item}">
          <v-icon
            v-if="item.exccha"
            small
            color="green"
            class="mr-2"
          >
            done
          </v-icon>

          <v-icon
            v-if="!item.exccha"
            color="red"
            class="mr-2"
            small
          >
            clear
          </v-icon>
        </template>
        <template v-slot:item.area="{item}">
          <span v-if="item.area">{{ item.area.id }}</span>
        </template>
        <template v-slot:item.cou="{item}">
          <span v-if="item.cou">{{ item.cou.id }}</span>
        </template>
        <template v-slot:item.state="{item}">
          <span v-if="item.state">{{ item.state.id }}</span>
        </template>
        <template v-slot:item.pob="{item}">
          <span v-if="item.pob">{{ item.pob.id }}</span>
        </template>
        <template v-slot:no-results>
          <v-alert
            :value="true"
            color="error"
            icon="warning"
          >
            {{ $t('noresults') }}
          </v-alert>
        </template>
      </v-data-table>
    </v-card>
    <div class="table-controls d-flex justify-end flex-wrap mb-3">
      <v-layout class="col-12 layout-01 pa-0 ma-0">
        <small class="col-3 pt-1"> {{ countRow }} </small>
      </v-layout>
    </div>
  </div>
</template>
<script>
import {mapActions, mapState} from "vuex";
import {gestcom} from "@services/gestcom";
import {utils} from "@helper/utils";
import {dateUtils} from "@helper/dateUtils";
import TheSelectAjax from "@components/TheSelectAjax";
import {masterUtils} from "@helper/masterUtils";

export default {
  components: {
    TheSelectAjax
  },
  data() {
    return {
      nodatafilter: false,
      isValid: false,
      dialogTrade: false,
      actionTrade: null,
      selected: [],
      activeProgres: false,
      panel: [0],
      newHotel: false,
      newTransfer: false,
      newActivity: false,
      newTransferModality: false,
      newActivityModality: false,
      newPob: false,
      hotels: [],
      pobs: [],
      transfers: [],
      activities: [],
      tmds: [],
      atmds: [],
      masterRoute: "/api/v1/master/credential/",
      searchCredential: {
        brand: null,
        srvtype: null,
        saleModel: null,
        pctType: null
      },
      searchCredentialDefault: {
        brand: null,
        srvtype: null,
        saleModel: null,
        pctType: null
      },
      filter: {
        brand: null,
        tse: null,
        salesModel: null,
      },
      filterTrade: {
        pct: null,
        dateFrom: null,
        dateTo: null,
        dateAplFrom: null,
        dateAplTo: null,
        sup: null,
        chain: null,
        hotel: null,
        exccha: false,
        area: null,
        cou: null,
        state: null,
        pob: null,
        con: null,
        seg: null,
        sty: null,
        tst: null,
        tft: null,
        transfer: null,
        tmd: null,
        ast: null,
        aseg: null,
        activity: null,
        atmd: null,
      },
      filterTradeDefault: {
        pct: null,
        dateFrom: null,
        dateTo: null,
        dateAplFrom: null,
        dateAplTo: null,
        sup: null,
        chain: null,
        hotel: null,
        exccha: false,
        area: null,
        cou: null,
        state: null,
        pob: null,
        con: null,
        seg: null,
        sty: null,
        tst: null,
        tft: null,
        transfer: null,
        tmd: null,
        ast: null,
        aseg: null,
        activity: null,
        atmd: null,
      },
      trade: {
        id: null,
        action: null,
        pctType: null,
        pct: null,
        dateFrom: null,
        dateTo: null,
        dateAplFrom: null,
        dateAplTo: null,
        sup: null,
        chain: null,
        hotel: null,
        exccha: false,
        area: null,
        cou: null,
        state: null,
        pob: null,
        con: null,
        seg: null,
        sty: null,
        tst: null,
        tft: null,
        transfer: null,
        tmd: null,
        ast: null,
        aseg: null,
        activity: null,
        atmd: null,
        note: null,
      },
      tradeDefault: {
        id: null,
        action: null,
        pctType: null,
        pct: null,
        dateFrom: null,
        dateTo: null,
        dateAplFrom: null,
        dateAplTo: null,
        sup: null,
        chain: null,
        hotel: null,
        exccha: false,
        area: null,
        cou: null,
        state: null,
        pob: null,
        con: null,
        seg: null,
        sty: null,
        tst: null,
        tft: null,
        transfer: null,
        tmd: null,
        ast: null,
        aseg: null,
        activity: null,
        atmd: null,
        note: null,
      },
      modalCheckFrom: false,
      modalCheckTo: false,
      modalBookFrom: false,
      modalBookTo: false,
      checkFromFormatted: null,
      checkToFormatted: null,
      bookFromFormatted: null,
      bookToFormatted: null,
      filterModalCheckFrom: false,
      filterModalCheckTo: false,
      filterModalBookFrom: false,
      filterModalBookTo: false,
      filterCheckFromFormatted: null,
      filterCheckToFormatted: null,
      filterBookFromFormatted: null,
      filterBookToFormatted: null,
      page: 1,
      pageCount: 0,
      rowsPerPage: 25,
      countRow: null,
      response: [],
    };
  },
  computed: {
    ...mapState({
      master: state => state.master,
      auth: (state) => state.auth,
    }),
    dateToRules: function () {
      return [
        () => {
          if (this.trade.action === 'disable' && !this.bookToFormatted) {
            return this.$i18n.t('trade.rules.bookto');
          }
          return true;
        }
      ];
    },
    isValidSeach() {
      return this.searchCredential.brand && this.searchCredential.srvtype && this.searchCredential.pctType;
    },
    computedSalesModel() {
      const models = this.getEntityValues('sales_model');
      const rows = [];
      if (models) {
        for (let model of models) {
          if (!model.act || model.id === 'C' && this.searchCredential.srvtype && this.searchCredential.srvtype.id === 'EXP') {
            continue;
          }
          rows.push(model);
        }
      }
      return rows;
    },
    computedHeaders() {
      return this.headersTable.filter((header) => !header.hide);
    },
    headersTable() {
      return [
        {
          align: "left",
          value: "id",
          hide: true,
        },
        {
          align: "left",
          value: "credential",
          hide: true,
        },
        {
          align: "left",
          value: "pctType",
          hide: true,
        },
        {
          text: this.$i18n.t('tables.alias'),
          align: "left",
          value: "alias"
        },
        {
          text: this.$i18n.t('credential.desc'),
          align: "left",
          value: "desc"
        },
        {
          text: this.$i18n.t('credential.pct'),
          align: "center",
          value: "pct",
          hide: false,
        },
        {
          text: this.$i18n.t('credential.dateAplFrom'),
          align: "center",
          value: "dateAplFrom",
          hide: false,
        },
        {
          text: this.$i18n.t('credential.dateAplTo'),
          align: "center",
          value: "dateAplTo",
          hide: false,
        },
        {
          text: this.$i18n.t('credential.dateFrom'),
          align: "center",
          value: "dateFrom",
          hide: false,
        },
        {
          text: this.$i18n.t('credential.dateTo'),
          align: "center",
          value: "dateTo",
          hide: false,
        },
        {
          text: this.$i18n.t('credential.sup'),
          align: "center",
          value: "sup",
          hide: this.tab === 1 && this.searchCredential.srvtype && this.searchCredential.srvtype.id === 'HTL',
        },
        {
          text: this.$i18n.t('credential.chain'),
          align: "center",
          value: "chain",
          hide: this.searchCredential.srvtype && this.searchCredential.srvtype.id !== 'HTL',
        },
        {
          text: this.$i18n.t('credential.tst'),
          align: "center",
          value: "tst",
          hide: this.searchCredential.srvtype && this.searchCredential.srvtype.id !== 'TRF',
        },
        {
          text: this.$i18n.t('credential.tft'),
          align: "center",
          value: "tft",
          hide: this.searchCredential.srvtype && this.searchCredential.srvtype.id !== 'TRF',
        },
        {
          text: this.$i18n.t('credential.transfer'),
          align: "center",
          value: "transfer",
          hide: this.searchCredential.srvtype && this.searchCredential.srvtype.id !== 'TRF',
        },
        {
          text: this.$i18n.t('credential.modality'),
          align: "center",
          value: "tmd",
          hide: this.searchCredential.srvtype && this.searchCredential.srvtype.id !== 'TRF',
        },
        {
          text: this.$i18n.t('credential.ast'),
          align: "center",
          value: "ast",
          hide: this.searchCredential.srvtype && this.searchCredential.srvtype.id !== 'EXP',
        },
        {
          text: this.$i18n.t('credential.seg'),
          align: "center",
          value: "aseg",
          hide: this.searchCredential.srvtype && this.searchCredential.srvtype.id !== 'EXP',
        },
        {
          text: this.$i18n.t('credential.activity'),
          align: "center",
          value: "activity",
          hide: this.searchCredential.srvtype && this.searchCredential.srvtype.id !== 'EXP',
        },
        {
          text: this.$i18n.t('credential.modality'),
          align: "center",
          value: "atmd",
          hide: this.searchCredential.srvtype && this.searchCredential.srvtype.id !== 'EXP',
        },
        {
          text: this.$i18n.t('credential.hotel'),
          align: "center",
          value: "hotel",
          hide: this.searchCredential.srvtype && this.searchCredential.srvtype.id !== 'HTL',
        },
        {
          text: this.$i18n.t('credential.exccha'),
          align: "center",
          value: "exccha",
          sortable: false,
          hide: (this.tab === 1 && this.searchCredential.srvtype && this.searchCredential.srvtype.id === 'HTL') || this.searchCredential.srvtype && this.searchCredential.srvtype.id !== 'HTL',
        },
        {
          text: this.$i18n.t('credential.area'),
          align: "center",
          value: "area",
          hide: false,
        },
        {
          text: this.$i18n.t('credential.seg'),
          align: "center",
          value: "seg",
          hide: (this.tab === 0 && this.searchCredential.srvtype && this.searchCredential.srvtype.id === 'HTL') || this.searchCredential.srvtype && this.searchCredential.srvtype.id !== 'HTL',
        },
        {
          text: this.$i18n.t('credential.con'),
          value: "con",
          hide: false,
        },
        {
          text: this.$i18n.t('credential.cou'),
          align: "center",
          value: "cou",
          hide: false,
        },
        {
          text: this.$i18n.t('credential.state'),
          align: "center",
          value: "state",
          hide: false,
        },
        {
          text: this.$i18n.t('credential.pob'),
          align: "center",
          value: "pob",
          hide: false,
        },
        {
          text: this.$i18n.t('credential.sty'),
          align: "center",
          value: "sty",
          hide: (this.tab === 0 && this.searchCredential.srvtype && this.searchCredential.srvtype.id === 'HTL') || this.searchCredential.srvtype && this.searchCredential.srvtype.id !== 'HTL',
        },
        {
          value: "action",
          hide: false,
          sortable: false
        }
      ];
    },
    datatable() {
      return this.getRows(this.response)
    },
    classByService() {
      if (this.searchCredential.srvtype && this.searchCredential.srvtype.id !== 'HTL') {
        return "col-12 col-md-4";
      }
      return "col-12 col-md-5";
    },
    computedMinAllowedDate() {
      return dateUtils.getMinAllowedDate();
    },
    disableBookToFormatted() {
      return (
        this.bookToFormatted &&
        dateUtils.isDateLessThanNow(this.bookToFormatted)
      );
    },
    disableBookFromFormatted() {
      return (
        this.bookFromFormatted &&
        dateUtils.isDateLessThanNow(this.bookFromFormatted)
      );
    },
    disableCheckToFormatted() {
      return (
        this.checkToFormatted &&
        dateUtils.isDateLessThanNow(this.checkToFormatted)
      );
    },
    disableCheckFromFormatted() {
      return (
        this.checkFromFormatted &&
        dateUtils.isDateLessThanNow(this.checkFromFormatted)
      );
    }
  },
  created() {
    this.loadStore();
  },
  methods: {
    ...mapActions("master", ["getBrands", "getServiceTypes", "getSalesModels", "getSysSupplier", "getChains", "getTransferServiceTypes", "getTransferTypes", "getActivityServiceTypes", "getActivitySegmentations", "getSegmentations", "getAreas", "getMainlands", "getCountries", "getState", "getSaleTypes"]),
    ...mapActions("alert", ["error"]),
    percentageTitle() {
      let text = this.$i18n.t('credential.pctComm');
      if (this.searchCredential.pctType && this.searchCredential.pctType === 'MARKUP') {
        text = this.$i18n.t('credential.pctMarkUp');
      }
      return text;
    },
    title() {
      let prefix = 'button.create';
      if (this.actionTrade === 'update') {
        prefix = 'button.update';
      } else if (this.actionTrade === 'remove') {
        prefix = 'button.remove';
      } else if (this.actionTrade === 'subtract') {
        prefix = 'button.decrease';
      } else if (this.actionTrade === 'add') {
        prefix = 'button.increase';
      }
      return this.$i18n.t(prefix, 'credential.trades').toString();
    },
    handleTradeSubmit(e) {
      e.preventDefault();
      if (this.actionTrade === 'new') {
        this.newTrade();
      } else {
        this.updateTrade();
      }
    },
    newTrade() {
      if (this.selected.length > 0) {
        const trades = [];
        for (let select of this.selected) {
          let notes = [];
          if (this.trade.note) {
            const note = {
              user: this.auth.user.name.concat(" ").concat(this.auth.user.sur).concat(" (").concat(this.auth.user.user).concat(")"),
              date: dateUtils.getCurrentDate().concat(" ").concat(dateUtils.getCurrentTime()),
              note: this.trade.note
            }
            notes.push(note);
          }

          const aux = {
            id : null,
            credential: select.credential,
            pct: Number.parseFloat(this.trade.pct).toFixed(2),
            pcttype: select.pctType,
            date: {
              from: this.formatDate(this.trade.dateFrom),
              timeFrom: '00:00:00',
              to: this.formatDate(this.trade.dateTo),
              timeTo: '23:59:59'
            },
            dateApl: {
              from: this.formatDate(this.trade.dateAplFrom),
              timeFrom: '00:00:00',
              to: this.trade.dateAplTo ? this.formatDate(this.trade.dateAplTo) : null,
              timeTo: this.trade.dateAplTo ? '23:59:59' : null
            },
            exccha: this.trade.exccha,
            masters: this.buildMaster(select),
            notes: notes,
            act: true,
          };
          trades.push(aux)
        }

        this.execMassive(trades);
      }
    },
    updateTrade() {
      if (this.selected.length > 0) {
        const trades = [];
        for (let select of this.selected) {
          let newPct = Number.parseFloat(this.trade.pct);
          if (this.actionTrade === 'add') {
            newPct = Number.parseFloat(select.pct) + Number.parseFloat(this.trade.pct);
          } else if (this.actionTrade === 'subtract') {
            newPct = Number.parseFloat(select.pct) - Number.parseFloat(this.trade.pct);
          }

          let notes = [];
          if (select.notes) {
            notes = select.notes;
          }

          if (this.trade.note) {
            const note = {
              user: this.auth.user.name.concat(" ").concat(this.auth.user.sur).concat(" (").concat(this.auth.user.user).concat(")"),
              date: dateUtils.getCurrentDate().concat(" ").concat(dateUtils.getCurrentTime()),
              note: this.trade.note
            }
            notes.push(note);
          }
          const aux = {
            id : select.id,
            credential: select.credential,
            pct: this.actionTrade === 'remove' ? Number.parseFloat(select.pct).toFixed(2) : newPct.toFixed(2),
            pcttype: select.pctType,
            date: {
              from: this.formatDate(this.actionTrade === 'remove' ? select.dateFrom : this.trade.dateFrom),
              timeFrom: '00:00:00',
              to: this.formatDate(this.actionTrade === 'remove' ? select.dateTo : this.trade.dateTo),
              timeTo: '23:59:59'
            },
            dateApl: {
              from: this.formatDate(this.actionTrade === 'remove' ? select.dateAplFrom : this.trade.dateAplFrom),
              timeFrom: '00:00:00',
              to: this.trade.dateAplTo ? this.formatDate(this.trade.dateAplTo) : null,
              timeTo: this.trade.dateAplTo ? '23:59:59' : null,
            },
            exccha: select.exccha,
            masters: this.buildMaster(select),
            notes: notes,
            act: true,
          };
          trades.push(aux)
        }

        this.execMassive(trades);
      }
    },
    buildMaster(trade) {
      const masters = [];
      if (trade.sup) {
        masters.push(trade.sup);
      }
      if (trade.chain) {
        masters.push(trade.chain);
      }
      if (trade.hotel) {
        masters.push(trade.hotel);
      }
      if (trade.area) {
        masters.push(trade.area);
      }
      if (trade.cou) {
        masters.push(trade.cou);
      }
      if (trade.state) {
        masters.push(trade.state);
      }
      if (trade.pob) {
        masters.push(trade.pob);
      }
      if (trade.con) {
        masters.push(trade.con);
      }
      if (trade.seg) {
        masters.push(trade.seg);
      }
      if (trade.sty) {
        masters.push(trade.sty);
      }
      if (trade.tst) {
        masters.push(trade.tst);
      }
      if (trade.tft) {
        masters.push(trade.tft);
      }
      if (trade.transfer) {
        masters.push(trade.transfer);
      }
      if (trade.tmd) {
        masters.push(trade.tmd);
      }
      if (trade.ast) {
        masters.push(trade.ast);
      }
      if (trade.aseg) {
        masters.push(trade.aseg);
      }
      if (trade.activity) {
        masters.push(trade.activity);
      }
      if (trade.atmd) {
        masters.push(trade.atmd);
      }
      return masters;
    },
    execMassive(trades) {
      if (trades.length > 0) {
        gestcom.massive(this.$route.path, JSON.stringify({ trades } ))
          .then(
            () => {},
            error => {
              this.error(error);
            }
          );

        setTimeout(() => {
          this.cancelTrade();
          this.filter.brand = this.searchCredential.brand ? this.searchCredential.brand.id : null;
          this.filter.tse = this.searchCredential.srvtype ? this.searchCredential.srvtype.id : null;
          this.filter.salesModel = this.searchCredential.saleModel ? this.searchCredential.saleModel.id : null;
          this.fetchData(this.filter);
        }, 2000);
      }
    },
    cancelTrade() {
      this.dialogTrade = false;
      this.actionTrade = null;
      this.newHotel = false;
      this.newTransfer = false;
      this.newTransferModality = false;
      this.newActivity = false;
      this.newActivityModality = false;
      this.newPob = false;
      this.checkFromFormatted = null;
      this.checkToFormatted = null;
      this.bookFromFormatted = null;
      this.bookToFormatted = null;
      this.trade = Object.assign({}, this.tradeDefault);
    },
    massiveChange(action) {
      this.dialogTrade = true;
      this.$refs.tradeForm.resetValidation();
      this.actionTrade = action;
      if (this.actionTrade === 'remove') {
        this.trade.dateAplTo = this.parseDate(dateUtils.getCurrentDate());
        this.bookToFormatted = this.formatDate(this.trade.dateAplTo)
      }
    },
    showField(field) {
      if (this.searchCredential.srvtype && this.searchCredential.pctType) {
        if (this.searchCredential.pctType === 'MARKUP') {
          if (this.searchCredential.srvtype.id === 'HTL' && (field === 'exccha' || field === 'sup')) {
            return true;
          }
          if (this.searchCredential.srvtype.id === 'TRF' && field === 'sup') {
            return true;
          }
          if (this.searchCredential.srvtype.id === 'EXP' && field === 'sup') {
            return true;
          }
        }
        if (this.searchCredential.pctType !== 'MARKUP') {
          if (this.searchCredential.srvtype.id === 'HTL' && (field === 'seg' || field === 'sty')) {
            return true;
          }
          if (this.searchCredential.srvtype.id === 'TRF' && field === 'sup') {
            return true;
          }
          if (this.searchCredential.srvtype.id === 'EXP' && field === 'sup') {
            return true;
          }
        }
      }
      return false;
    },
    cleanForm() {
      this.activeProgres = false;
      this.response = [];
      setTimeout(() => {
        this.cleanFilter()
        this.searchCredential = Object.assign({}, this.searchCredentialDefault);
      }, 300);
    },
    cleanFilter() {
      this.filterCheckFromFormatted = null;
      this.filterCheckToFormatted = null;
      this.filterBookFromFormatted = null;
      this.filterBookToFormatted = null;
      this.panel = [];
      this.filterTrade = Object.assign({}, this.filterTradeDefault);
    },
    loadStore() {
      if (this.master.brands === null) {
        this.getBrands();
      }
      if (this.master.serviceTypes === null) {
        this.getServiceTypes();
      }
      if (this.master.syssuppliers === null) {
        this.getSysSupplier();
      }
      if (this.master.chains === null) {
        this.getChains();
      }
      if (this.master.transferServiceTypes === null) {
        this.getTransferServiceTypes();
      }
      if (this.master.transferTypes === null) {
        this.getTransferTypes();
      }
      if (this.master.activityServiceTypes === null) {
        this.getActivityServiceTypes();
      }
      if (this.master.activitySegmentations === null) {
        this.getActivitySegmentations();
      }
      if (this.master.segmentations === null) {
        this.getSegmentations();
      }
      if (this.master.areas === null) {
        this.getAreas();
      }
      if (this.master.mainlands === null) {
        this.getMainlands();
      }
      if (this.master.countries === null) {
        this.getCountries();
      }
      if (this.master.states === null) {
        this.getState();
      }
      if (this.master.saleTypes === null) {
        this.getSaleTypes();
      }
      if (this.master.salesModels === null) {
        this.getSalesModels();
      }
    },
    getEntityValues(child) {
      const elements = masterUtils.getEntityValues(this.master, child);
      if (child !== 'sys_supplier') {
        return elements;
      } else {
        let filter = 'OTROS';
        if (this.searchCredential.srvtype && this.searchCredential.srvtype.id === 'HTL') {
          filter = 'HOTEL';
        }

        let values = [];
        if (elements) {
          for (let element of elements) {
            if (filter === element.filter) {
              values.push(element);
            }
          }
        }
        return values;
      }
    },
    handleSubmitSearch(e) {
      e.preventDefault();
      this.activeProgres = false;
      this.filter.brand = this.searchCredential.brand ? this.searchCredential.brand.id : null;
      this.filter.tse = this.searchCredential.srvtype ? this.searchCredential.srvtype.id : null;
      this.filter.salesModel = this.searchCredential.saleModel ? this.searchCredential.saleModel.id : null;
      this.fetchData(this.filter);
    },
    fetchData(filter) {
      this.response = [];
      this.selected = [];
      this.nodatafilter = false;
      gestcom.getAllItems("/api/v1/credential", JSON.stringify({filter}))
        .then(
          response => {
            if (!response.messages) {
              this.response = response;
              this.panel = [1];
              this.nodatafilter = false;
            } else{
              this.nodatafilter = true;
            }
          },
          error => {
            this.error(error);
          }
        );
    },
    isAfterToToday(date) {
      let day=new Date().getDate();
      let month=new Date().getMonth()+1;
      let year=new Date().getFullYear();
      if(date=== '' || date===undefined || date === null || new Date(date)>new Date(day+'/'+month+'/'+year)){
        return true;
      }
      return false;
    },
    formatDate(value) {
      return dateUtils.formatDate(value);
    },
    parseDate(value) {
      return dateUtils.parseDate(value);
    },
    getPctType() {
      const yesRow = {
        id: "MARKUP",
        name: this.$i18n.t('credential.pctMarkUp')
      };
      const noRow = {
        id: "COMMISSION",
        name: this.$i18n.t('credential.pctComm')
      };

      const rows = [];
      rows.push(yesRow);
      rows.push(noRow);
      return rows;
    },
    getYesOrNoValues() {
      const yesRow = {
        id: "true",
        name: this.$i18n.t('yes')
      };
      const noRow = {
        id: "false",
        name: this.$i18n.t('no')
      };

      const rows = [];
      rows.push(yesRow);
      rows.push(noRow);
      return rows;
    },
    populateFilter(entity, item) {
      if (entity === 'hotel_service') {
        this.filterTrade.hotel = item;
      } else if (entity === 'transfer') {
        this.filterTrade.transfer = item;
      } else if (entity === 'transfer_modality') {
        this.filterTrade.tmd = item;
      } else if (entity === 'activity_modality') {
        this.filterTrade.atmd = item;
      } else if (entity === 'activity') {
        this.filterTrade.activity = item;
      } else if (entity === 'population') {
        this.filterTrade.pob = item;
      }
    },
    clearFilter(entity) {
      if (entity === 'hotel_service') {
        this.filterTrade.hotel = null;
      } else if (entity === 'transfer') {
        this.filterTrade.transfer = null;
      } else if (entity === 'transfer_modality') {
        this.filterTrade.tmd = null;
      } else if (entity === 'activity_modality') {
        this.filterTrade.atmd = null;
      } else if (entity === 'activity') {
        this.filterTrade.activity = null;
      } else if (entity === 'population') {
        this.filterTrade.pob = null;
      }
    },
    getRows(source) {
      const rows = [];
      this.countRow = null;
      if (source) {
        for (let credential of source) {
          if (credential.trades) {
            for (let select of credential.trades) {
              if (!this.searchCredential.pctType || this.searchCredential.pctType === select.pcttype) {
                if (!this.filterRow(select)) {
                  continue;
                }

                const row = {
                  credential: credential.id,
                  alias: credential.alias,
                  desc: credential.desc,
                  id: select.id,
                  pctType: select.pcttype,
                  pct: Number.parseFloat(select.pct).toFixed(2),
                  dateFrom: select.date ? select.date.from : null,
                  dateTo: select.date ? select.date.to : null,
                  dateAplFrom: select.dateApl ? select.dateApl.from : null,
                  dateAplTo: select.dateApl ? select.dateApl.to : null,
                  exccha: select.exccha,
                  notes: select.notes,
                  masters: select.codes,
                  sup: masterUtils.getMasterFromCodes(this.master, select.codes, 'sys_supplier'),
                  chain: masterUtils.getMasterFromCodes(this.master, select.codes, 'chain'),
                  hotel: masterUtils.getMasterFromCodes(this.master, select.codes, 'hotel_service'),
                  con: masterUtils.getMasterFromCodes(this.master, select.codes, 'mainland'),
                  seg: masterUtils.getMasterFromCodes(this.master, select.codes, 'segmentation'),
                  sty: masterUtils.getMasterFromCodes(this.master, select.codes, 'sale_type'),
                  area: masterUtils.getMasterFromCodes(this.master, select.codes, 'area'),
                  cou: masterUtils.getMasterFromCodes(this.master, select.codes, 'country'),
                  state: masterUtils.getMasterFromCodes(this.master, select.codes, 'state'),
                  pob: masterUtils.getMasterFromCodes(this.master, select.codes, 'population'),
                  tst: masterUtils.getMasterFromCodes(this.master, select.codes, 'transfer_service_type'),
                  tft: masterUtils.getMasterFromCodes(this.master, select.codes, 'transfer_type'),
                  transfer: masterUtils.getMasterFromCodes(this.master, select.codes, 'transfer'),
                  tmd: masterUtils.getMasterFromCodes(this.master, select.codes, 'transfer_modality'),
                  ast: masterUtils.getMasterFromCodes(this.master, select.codes, 'activity_service_type'),
                  aseg: masterUtils.getMasterFromCodes(this.master, select.codes, 'activity_segmentation'),
                  activity: masterUtils.getMasterFromCodes(this.master, select.codes, 'activity'),
                  atmd: masterUtils.getMasterFromCodes(this.master, select.codes, 'activity_modality'),
                };
                rows.push(row);
              }
            }
          }
        }

        this.countRow = this.$i18n.t('trade.showing').replace("%s", rows.length);
      }
      return rows;
    },
    filterRow(trade) {
      let pctFilter = true;
      if (this.filterTrade.pct) {
        pctFilter = Number.parseFloat(trade.pct).toFixed(2) === Number.parseFloat(this.filterTrade.pct).toFixed(2);
      }
      let supFilter = true;
      if (this.filterTrade.sup) {
        const supplier = masterUtils.getMasterFromCodes(this.master, trade.masters, 'sys_supplier');
        supFilter = supplier && supplier.id === this.filterTrade.sup.id;
      }
      let chainFilter = true;
      if (this.filterTrade.chain) {
        const chain = masterUtils.getMasterFromCodes(this.master, trade.masters, 'chain');
        chainFilter = chain && chain.id === this.filterTrade.chain.id;
      }
      let hotelFilter = true;
      if (this.filterTrade.hotel) {
        const hotel = masterUtils.getMasterFromCodes(this.master, trade.masters, 'hotel_service');
        hotelFilter = hotel && hotel.id === this.filterTrade.hotel.id;
      }
      let excchaFilter = true;
      if (this.filterTrade.exccha) {
        excchaFilter = trade.exccha.toString() === this.filterTrade.exccha;
      }
      let areaFilter = true;
      if (this.filterTrade.area) {
        const area = masterUtils.getMasterFromCodes(this.master, trade.masters, 'area');
        areaFilter = area && area.id === this.filterTrade.area.id;
      }
      let couFilter = true;
      if (this.filterTrade.cou) {
        const cou = masterUtils.getMasterFromCodes(this.master, trade.masters, 'country');
        couFilter = cou && cou.id === this.filterTrade.cou.id;
      }
      let stateFilter = true;
      if (this.filterTrade.state) {
        const state = masterUtils.getMasterFromCodes(this.master, trade.masters, 'state');
        stateFilter = state && state.id === this.filterTrade.state.id;
      }
      let pobFilter = true;
      if (this.filterTrade.pob) {
        const pob = masterUtils.getMasterFromCodes(this.master, trade.masters, 'population');
        pobFilter = pob && pob.id === this.filterTrade.pob.id;
      }
      let conFilter = true;
      if (this.filterTrade.con) {
        const con = masterUtils.getMasterFromCodes(this.master, trade.masters, 'mainland');
        conFilter = con && con.id === this.filterTrade.con.id;
      }
      let segFilter = true;
      if (this.filterTrade.seg) {
        const seg = masterUtils.getMasterFromCodes(this.master, trade.masters, 'segmentation');
        segFilter = seg && seg.id === this.filterTrade.seg.id;
      }
      let styFilter = true;
      if (this.filterTrade.sty) {
        const sty = masterUtils.getMasterFromCodes(this.master, trade.masters, 'sale_type');
        styFilter = sty && sty.id === this.filterTrade.sty.id;
      }
      let tstFilter = true;
      if (this.filterTrade.sty) {
        const tst = masterUtils.getMasterFromCodes(this.master, trade.masters, 'transfer_service_type');
        tstFilter = tst && tst.id === this.filterTrade.tst.id;
      }
      let tftFilter = true;
      if (this.filterTrade.tft) {
        const tft = masterUtils.getMasterFromCodes(this.master, trade.masters, 'transfer_type');
        tftFilter = tft && tft.id === this.filterTrade.tft.id;
      }
      let transferFilter = true;
      if (this.filterTrade.transfer) {
        const transfer = masterUtils.getMasterFromCodes(this.master, trade.masters, 'transfer');
        transferFilter = transfer && transfer.id === this.filterTrade.transfer.id;
      }
      let tmdFilter = true;
      if (this.filterTrade.tmd) {
        const tmd = masterUtils.getMasterFromCodes(this.master, trade.masters, 'transfer_modality');
        tmdFilter = tmd && tmd.id === this.filterTrade.tmd.id;
      }
      let astFilter = true;
      if (this.filterTrade.ast) {
        const ast = masterUtils.getMasterFromCodes(this.master, trade.masters, 'activity_service_type');
        astFilter = ast && ast.id === this.filterTrade.ast.id;
      }
      let asegFilter = true;
      if (this.filterTrade.aseg) {
        const aseg = masterUtils.getMasterFromCodes(this.master, trade.masters, 'activity_segmentation');
        asegFilter = aseg && aseg.id === this.filterTrade.aseg.id;
      }
      let activityFilter = true;
      if (this.filterTrade.activity) {
        const activity = masterUtils.getMasterFromCodes(this.master, trade.masters, 'activity');
        activityFilter = activity && activity.id === this.filterTrade.activity.id;
      }
      let atmdFilter = true;
      if (this.filterTrade.atmd) {
        const atmd = masterUtils.getMasterFromCodes(this.master, trade.masters, 'activity_modality');
        atmdFilter = atmd && atmd.id === this.filterTrade.atmd.id;
      }
      let dateFilter = true;
      if (this.filterTrade.dateFrom || this.filterTrade.dateTo) {
        if (trade.date && trade.date.from.length > 0 && trade.date.to.length > 0) {
          dateFilter = this.filterDate(this.filterTrade.dateFrom, this.filterTrade.dateTo, dateUtils.parseDate(trade.date.from).concat(" ").concat('00:00:00'), dateUtils.parseDate(trade.date.to).concat(" ").concat('23:59:59'));
        }
      }

      let dateAplFilter = true;
      if (this.filterTrade.dateAplFrom || this.filterTrade.dateAplTo) {
        if (trade.dateApl && trade.dateApl.from.length > 0) {
          dateAplFilter = this.filterDate(this.filterTrade.dateAplFrom, this.filterTrade.dateAplTo, dateUtils.parseDate(trade.dateApl.from).concat(" ").concat('00:00:00'), trade.dateApl.to.length > 0 ? dateUtils.parseDate(trade.dateApl.to).concat(" ").concat('23:59:59') : null);
        }
      }
      return pctFilter && supFilter && chainFilter && hotelFilter && excchaFilter && areaFilter && couFilter && stateFilter && pobFilter && conFilter && segFilter && styFilter && tstFilter && tftFilter && transferFilter && tmdFilter && astFilter && asegFilter && activityFilter && atmdFilter && dateFilter && dateAplFilter;
    },
    filterDate(filterFrom, filterTo, dateFrom, dateTo) {
      let from;
      if (!filterFrom) {
        from = Date.parse("2020-01-01 23:59:59")
      } else {
        from = Date.parse(filterFrom + " 00:00:00");
      }
      let to;
      if (!filterTo) {
        to = Date.parse("2050-12-31 23:59:59")
      } else {
        to = Date.parse(filterTo + " 23:59:59");
      }
      return dateUtils.isDateBetween(Date.parse(dateFrom), from, to) || dateUtils.isDateBetween(dateTo ? Date.parse(dateTo) : Date.parse("2050-12-31 23:59:59"), from, to);
    },
    populate(entity, item) {
      if (entity === 'hotel_service') {
        this.trade.hotel = item;
        this.hotels.push(item);
        this.newHotel = false;
      } else if (entity === 'transfer') {
        this.trade.transfer = item;
        this.transfers.push(item);
        this.newTransfer = false;
      } else if (entity === 'transfer_modality') {
        this.trade.tmd = item;
        this.tmds.push(item);
        this.newTransferModality = false;
      } else if (entity === 'activity_modality') {
        this.trade.atmd = item;
        this.atmds.push(item);
        this.newActivityModality = false;
      } else if (entity === 'activity') {
        this.trade.activity = item;
        this.activities.push(item);
        this.newActivity = false;
      } else if (entity === 'population') {
        this.trade.pob = item;
        this.pobs.push(item);
        this.newPob = false;
      }
    },
    clear(entity){
      if (entity === 'hotel_service') {
        this.trade.hotel = null;
        this.hotels = [];
        this.newHotel = false;
      } else if (entity === 'transfer') {
        this.trade.transfer = null;
        this.transfers = [];
        this.newTransfer = false;
      } else if (entity === 'transfer_modality') {
        this.trade.tmd = null;
        this.tmds = [];
        this.newTransferModality = false;
      } else if (entity === 'activity_modality') {
        this.trade.atmd = null;
        this.atmds = [];
        this.newActivityModality = false;
      } else if (entity === 'activity') {
        this.trade.activity = null;
        this.activities = [];
        this.newActivity = false;
      } else if (entity === 'population') {
        this.trade.pob = null;
        this.pobs = [];
        this.newPob = false;
      }
    },
    addPob() {
      this.newPob = true;
    },
    cleanPob() {
      this.newPob = false;
    },
    addActivityModality() {
      this.newActivityModality = true;
    },
    cleanActivityModality() {
      this.newActivityModality = false;
    },
    addTransferModality() {
      this.newTransferModality = true;
    },
    cleanTransferModality() {
      this.newTransferModality = false;
    },
    addActivity() {
      this.newActivity = true;
    },
    cleanActivity() {
      this.newActivity = false;
    },
    addTransfer() {
      this.newTransfer = true;
    },
    cleanTransfer() {
      this.newTransfer = false;
    },
    addHotel() {
      this.newHotel = true;
    },
    cleanHotel() {
      this.newHotel = false;
    },
    valueLanguage: item => utils.valueLanguage(item.name, "ESP"),
    onClearClicked(item) {
      if (item === "checkFromFormatted") {
        this.checkFromFormatted = null;
        this.trade.dateFrom = null;
      } else if (item === "checkToFormatted") {
        this.checkToFormatted = null;
        this.trade.dateTo = null;
      } else if (item === "bookToFormatted") {
        this.bookToFormatted = null;
        this.trade.dateAplTo = null;
      } else if (item === "bookFromFormatted") {
        this.trade.dateAplFrom = null;
        this.assignment.bookfrom = null;
      } 
    },
    onBlurField(item) {
      let regex = /^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$/;
      if (item === "checkFromFormatted") {
        if (regex.test(this.checkFromFormatted)) {
          this.trade.dateFrom = this.parseDate(this.checkFromFormatted);
        } else {
          this.onClearClicked(item);
        }
      } else if (item === "checkToFormatted") {
        if (regex.test(this.checkToFormatted)) {
          this.trade.dateTo = this.parseDate(this.checkToFormatted);
        } else {
          this.onClearClicked(item);
        }
      } else if (item === "bookToFormatted") {
        if (regex.test(this.bookToFormatted)) {
          this.trade.dateAplTo = this.parseDate(this.bookToFormatted);

        } else {
          this.onClearClicked(item);
        }
      }else if (item === "bookFromFormatted") {
        if (regex.test(this.bookFromFormatted)) {
          this.trade.dateAplFrom = this.parseDate(this.bookFromFormatted);
        } else {
          this.onClearClicked(item);
        }
      }
    }
  }
};
</script>
<style lang="scss" scoped>
</style>