<template>
  <div class="post">
    <v-row justify="center">
      <v-dialog
        v-model="dialog"
        persistent
      >
        <v-card
          v-if="createAllowed || updateAllowed"
          class="body-2"
        >
          <v-card-title v-if="createAllowed && !update">
            <span class="headline">{{ $t('master.new.'.concat(this.$route.params.entity)) }}</span>
          </v-card-title>
          <v-card-title v-if="updateAllowed && update">
            <span class="headline">{{ $t('master.upd.'.concat(this.$route.params.entity)) }}</span>
          </v-card-title>
          <v-form
            id="masterForm"
            v-model="isValid"
            autocomplete="off"
            @submit.prevent="handleSubmit"
          >
            <v-card-text class="pt-0">
              <v-container class="py-0">
                <v-layout class="col-12">
                  <v-text-field
                    v-model="master.id"
                    :rules="lengthRules"
                    :disabled="update"
                    hide-details="auto"
                    dense
                  >
                    <template #label>
                      {{ $t('master.id') }}
                      <span class="red--text">
                        <strong>*</strong>
                      </span>
                    </template>
                  </v-text-field>
                </v-layout>

                <v-layout class="col-12 pt-0 justify-space-around">
                  <TheMultiLanguage
                    v-if="master.name"
                    :item-name="master.name"
                    :all-rows="masters.languages"
                    :rule-msg="$t('master.rules.name')"
                    :allow-update="createAllowed"
                    :show-add="allowMultiLang"
                  />
                </v-layout>

                <v-layout
                  v-if="this.$route.params.entity === 'depth'"
                  class="col-12 justify-space-around pt-0"
                >
                  <v-card class="col-5 card-01">
                    <span class="header">{{ $t('master.markUps') }}</span>
                    <v-data-table
                      :headers="headersMarkUp"
                      :items="dataMarkup"
                      hide-default-footer
                      class="elevation-1"
                      dense
                    >
                      <template v-slot:item.id="{item}">
                        <span class="header">{{ item.name }}</span>
                      </template>
                      <template v-slot:item.value="{item}">
                        <v-text-field
                          v-model="item.value"
                          class="col-6 text-right"
                          type="number"
                          min="0"
                          max="99"
                          hide-details="auto"
                          dense
                        />
                      </template>
                      <template v-slot:no-results>
                        <v-alert
                          :value="true"
                          color="error"
                          icon="warning"
                        >
                          {{ $t('noresults') }}
                        </v-alert>
                      </template>
                    </v-data-table>
                  </v-card>
                </v-layout>

                <v-layout
                  v-if="this.$route.params.entity === 'distribution_model'"
                  class="col-12 justify-space-around pt-0"
                >
                  <v-text-field
                    v-model="master.alias"
                    :rules="[v => !!v || $t('master.rules.alias')]"
                    :hint="$t('master.hint.alias')"
                    hide-details="auto"
                    dense
                    persistent-hint
                  >
                    <template #label>
                      {{ $t('master.alias') }}
                      <span class="red--text">
                        <strong>*</strong>
                      </span>
                    </template>
                  </v-text-field>
                </v-layout>

                <v-layout
                  v-if="this.$route.params.entity === 'rate_type'"
                  class="col-12 pt-0"
                >
                  <v-select
                    v-model="master.ratecat"
                    :items="getEntityValues('rate_category')"
                    item-value="id"
                    :rules="[v => !!v || $t('master.rules.rate_category')]"
                    return-object
                    dense
                  >
                    <template #label>
                      {{ $t('master.rate_category') }}
                      <span class="red--text">
                        <strong>*</strong>
                      </span>
                    </template>
                  </v-select>
                </v-layout>

                <v-layout class="col-12 pt-0">
                  <v-switch
                    v-if="this.$route.params.entity === 'platform'"
                    v-model="master.com"
                    :label="$t('master.com')"
                    class="mt-0 mr-2"
                    hide-details="auto"
                    dense
                  />

                  <v-switch
                    v-model="master.act"
                    :label="$t('master.status')"
                    class="mt-0"
                    hide-details="auto"
                    dense
                  />
                </v-layout>

                <div v-if="this.$route.params.entity !== 'service_distribution'">
                  <v-layout
                    v-for="child in childrenTag"
                    :key="child"
                    class="col-12 wrap pt-0"
                  >
                    <span class="subtitle-2">{{ $t('page.'.concat(child)) }}</span>
                    <span
                      v-if="drawMandatory(child)"
                      class="red--text"
                    >
                      <strong>*</strong>
                    </span>

                    <v-layout class="col-12 pt-0">
                      <v-switch
                        v-if="child === 'platform'"
                        v-model="allCheck.platform"
                        :label="$t('master.all')"
                        class="col-4 mt-0"
                        hide-details="auto"
                        dense
                        @change="allCheckControl(child, allCheck.platform)"
                      />

                      <v-select
                        v-if="child === 'platform'"
                        v-model="selected.platform"
                        :items="getEntityValues(child)"
                        item-value="id"
                        :item-text="valueLanguage"
                        class="col-8"
                        multiple
                        small-chips
                        return-object
                        hide-details="auto"
                        dense
                        :disabled="selectDisabled(child)"
                      >
                        <template v-slot:prepend-item>
                          <v-list-item
                            ripple
                            @click="toggle(null, child, null)"
                          >
                            <v-list-item-action>
                              <v-icon>{{ icon(null, child, null) }}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                              <v-list-item-title>{{ selectAllTextPL }}</v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                          <v-divider class="mt-2" />
                        </template>
                      </v-select>

                      <v-switch
                        v-if="child === 'depth'"
                        v-model="allCheck.depth"
                        :label="$t('master.all')"
                        class="col-4 mt-0"
                        hide-details="auto"
                        dense
                        @change="allCheckControl(child, allCheck.depth)"
                      />

                      <v-select
                        v-if="child === 'depth'"
                        v-model="selected.depth"
                        :items="getEntityValues(child)"
                        item-value="id"
                        :item-text="valueLanguage"
                        class="col-8"
                        multiple
                        small-chips
                        return-object
                        hide-details="auto"
                        dense
                        :disabled="selectDisabled(child)"
                      >
                        <template v-slot:prepend-item>
                          <v-list-item
                            ripple
                            @click="toggle(null, child, null)"
                          >
                            <v-list-item-action>
                              <v-icon>{{ icon(null, child, null) }}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                              <v-list-item-title>{{ selectAllTextDE }}</v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                          <v-divider class="mt-2" />
                        </template>
                      </v-select>

                      <v-switch
                        v-if="child === 'sales_model'"
                        v-model="allCheck.sales_model"
                        :label="$t('master.all')"
                        class="col-4 mt-0"
                        hide-details="auto"
                        dense
                        @change="allCheckControl(child, allCheck.sales_model)"
                      />

                      <v-select
                        v-if="child === 'sales_model'"
                        v-model="selected.salesmodel"
                        :items="getEntityValues(child)"
                        item-value="id"
                        :item-text="valueLanguage"
                        class="col-8"
                        multiple
                        small-chips
                        return-object
                        hide-details="auto"
                        dense
                        :disabled="selectDisabled(child)"
                      >
                        <template v-slot:prepend-item>
                          <v-list-item
                            ripple
                            @click="toggle(null, child, null)"
                          >
                            <v-list-item-action>
                              <v-icon>{{ icon(null, child, null) }}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                              <v-list-item-title>{{ selectAllTextSM }}</v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                          <v-divider class="mt-2" />
                        </template>
                      </v-select>

                      <v-switch
                        v-if="child === 'product_origin'"
                        v-model="allCheck.product_origin"
                        :label="$t('master.all')"
                        class="col-4 mt-0"
                        hide-details="auto"
                        dense
                        @change="allCheckControl(child, allCheck.product_origin)"
                      />

                      <v-select
                        v-if="child === 'product_origin'"
                        v-model="selected.productorigin"
                        :items="getEntityValues(child)"
                        item-value="id"
                        :item-text="valueLanguage"
                        class="col-8"
                        multiple
                        small-chips
                        return-object
                        dense
                        :disabled="selectDisabled(child)"
                      >
                        <template v-slot:prepend-item>
                          <v-list-item
                            ripple
                            @click="toggle(null, child, null)"
                          >
                            <v-list-item-action>
                              <v-icon>{{ icon(null, child, null) }}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                              <v-list-item-title>{{ selectAllTextPO }}</v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                          <v-divider class="mt-2" />
                        </template>
                      </v-select>

                      <v-switch
                        v-if="child === 'rate_type'"
                        v-model="allCheck.rate_type"
                        :label="$t('master.all')"
                        class="col-4 mt-0"
                        hide-details="auto"
                        dense
                        @change="allCheckControl(child, allCheck.rate_type)"
                      />

                      <v-select
                        v-if="child === 'rate_type'"
                        v-model="selected.ratetype"
                        :items="getEntityValues(child)"
                        item-value="id"
                        :item-text="valueLanguage"
                        class="col-8"
                        multiple
                        small-chips
                        return-object
                        hide-details="auto"
                        dense
                        :disabled="selectDisabled(child)"
                      >
                        <template v-slot:prepend-item>
                          <v-list-item
                            ripple
                            @click="toggle(null, child, null)"
                          >
                            <v-list-item-action>
                              <v-icon>{{ icon(null, child, null) }}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                              <v-list-item-title>{{ selectAllTextRT }}</v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                          <v-divider class="mt-2" />
                        </template>
                      </v-select>

                      <v-switch
                        v-if="child === 'distribution_model'"
                        v-model="allCheck.distribution_model"
                        :label="$t('master.all')"
                        class="col-4 mt-0"
                        hide-details="auto"
                        dense
                        @change="allCheckControl(child, allCheck.distribution_model)"
                      />

                      <v-select
                        v-if="child === 'distribution_model'"
                        v-model="selected.distributionmodel"
                        :items="getEntityValues(child)"
                        item-value="id"
                        :item-text="valueLanguage"
                        class="col-8"
                        multiple
                        small-chips
                        return-object
                        hide-details="auto"
                        dense
                        :disabled="selectDisabled(child)"
                      >
                        <template v-slot:prepend-item>
                          <v-list-item
                            ripple
                            @click="toggle(null, child, null)"
                          >
                            <v-list-item-action>
                              <v-icon>{{ icon(null, child, null) }}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                              <v-list-item-title>{{ selectAllTextDM }}</v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                          <v-divider class="mt-2" />
                        </template>
                      </v-select>

                      <v-switch
                        v-if="child === 'request'"
                        v-model="allCheck.request"
                        :label="$t('master.all')"
                        class="col-4 mt-0"
                        hide-details="auto"
                        dense
                        @change="allCheckControl(child, allCheck.request)"
                      />

                      <v-select
                        v-if="child === 'request'"
                        v-model="selected.request"
                        :items="getEntityValues(child)"
                        item-value="id"
                        :item-text="valueLanguage"
                        class="col-8"
                        multiple
                        small-chips
                        return-object
                        hide-details="auto"
                        dense
                        :disabled="selectDisabled(child)"
                      >
                        <template v-slot:prepend-item>
                          <v-list-item
                            ripple
                            @click="toggle(null, child, null)"
                          >
                            <v-list-item-action>
                              <v-icon>{{ icon(null, child, null) }}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                              <v-list-item-title>{{ selectAllTextRQ }}</v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                          <v-divider class="mt-2" />
                        </template>
                      </v-select>

                      <v-switch
                        v-if="child === 'environments'"
                        v-model="allCheck.environments"
                        :label="$t('master.all')"
                        class="col-4 mt-0"
                        hide-details="auto"
                        dense
                        @change="allCheckControl(child, allCheck.environments)"
                      />

                      <v-select
                        v-if="child === 'environments'"
                        v-model="selected.environments"
                        :items="getEntityValues(child)"
                        item-value="id"
                        :item-text="valueLanguage"
                        class="col-8"
                        multiple
                        small-chips
                        return-object
                        hide-details="auto"
                        dense
                        :disabled="selectDisabled(child)"
                      >
                        <template v-slot:prepend-item>
                          <v-list-item
                            ripple
                            @click="toggle(null, child, null)"
                          >
                            <v-list-item-action>
                              <v-icon>{{ icon(null, child, null) }}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                              <v-list-item-title>{{ selectAllTextENV }}</v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                          <v-divider class="mt-2" />
                        </template>
                      </v-select>

                      <v-select
                        v-if="child === 'num_clients'"
                        v-model="selected.numClients"
                        :items="getEntityValues(child)"
                        item-value="id"
                        :item-text="valueLanguage"
                        class="col-4"
                        small-chips
                        return-object
                        hide-details="auto"
                        dense
                      />
                        
                      <v-switch
                        v-if="child === 'service_distribution'"
                        v-model="allCheck.service_distribution"
                        :label="$t('master.all')"
                        class="col-4 mt-0"
                        hide-details="auto"
                        dense
                        @change="allCheckControl(child, allCheck.service_distribution)"
                      />

                      <v-select
                        v-if="child === 'service_distribution'"
                        v-model="selected.servicedistribution"
                        :items="getEntityValues(child)"
                        item-value="id"
                        :item-text="valueLanguage"
                        class="col-8"
                        multiple
                        small-chips
                        return-object
                        hide-details="auto"
                        dense
                        :disabled="selectDisabled(child)"
                      >
                        <template v-slot:prepend-item>
                          <v-list-item
                            ripple
                            @click="toggle(null, child, null)"
                          >
                            <v-list-item-action>
                              <v-icon>{{ icon(null, child, null) }}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                              <v-list-item-title>{{ selectAllTextSD }}</v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                          <v-divider class="mt-2" />
                        </template>
                      </v-select>
                    </v-layout>
                  </v-layout>
                </div>

                <v-row v-if="this.$route.params.entity === 'service_distribution'">
                  <div
                    v-for="child in childrenTag"
                    :key="child"
                    class="col-sm-6"
                  >
                    <span class="subtitle-2">{{ $t('page.'.concat(child)) }}</span>
                    <span class="red--text">
                      <strong>*</strong>
                    </span>
                    <v-select
                      v-if="child === 'service_type'"
                      v-model="service"
                      :items="getEntityValues(child)"
                      item-value="id"
                      :item-text="valueLanguage"
                      :disabled="disableSelected.service_type"
                      :rules="[v => !!v || $t('master.rules.service_type')]"
                      return-object
                      dense
                      @change="addSelected(child)"
                    />
                    <v-select
                      v-if="child === 'sales_channel'"
                      v-model="saleChannel"
                      :items="getEntityValues(child)"
                      item-value="id"
                      :item-text="valueLanguage"
                      :disabled="disableSelected.sales_channel"
                      :rules="[v => !!v || $t('master.rules.sales_channel')]"
                      return-object
                      dense
                      @change="addSelected(child)"
                    />
                  </div>
                </v-row>

                <div
                  v-if="this.$route.params.entity === 'service_distribution' && (service || saleChannel)"
                >
                  <v-tabs
                    v-model="tab"
                    fixed-tabs
                    center-active
                    background-color="primary"
                    dark
                  >
                    <v-tab
                      v-for="(item, i) in inverseSelected"
                      :key="i"
                    >
                      {{ $t('master.'.concat(item.entity.toLowerCase())) }}
                    </v-tab>
                  </v-tabs>

                  <v-tabs-items v-model="tab">
                    <v-tab-item
                      v-for="(item, i) in inverseSelected"
                      :key="i"
                    >
                      <div v-if="item.entity.toLowerCase() === 'service_type'">
                        <v-layout
                          row
                          wrap
                          col-12
                        >
                          <span class="subtitle-2">{{ $t('page.'.concat('platform')) }}</span>
                          <v-layout
                            row
                            wrap
                            col-12
                          >
                            <v-switch
                              v-model="allCheck.platform"
                              :label="$t('master.all')"
                              class="col-3 mt-0"
                              hide-details="auto"
                              dense
                              @change="allCheckChildControl(item.entity.toLowerCase(), 'platform', item.id, allCheck.platform)"
                            />

                            <v-select
                              v-model="serviceSelected.platform"
                              :items="getChildValues(item.entity.toLowerCase(), 'platform', item.id)"
                              item-value="id"
                              :item-text="valueLanguage"
                              class="col-9"
                              multiple
                              small-chips
                              return-object
                              hide-details="auto"
                              dense
                              :disabled="selectDisabled('platform')"
                            >
                              <template v-slot:prepend-item>
                                <v-list-item
                                  ripple
                                  @click="toggle(item.entity.toLowerCase(), 'platform', item.id)"
                                >
                                  <v-list-item-action>
                                    <v-icon>{{ icon(item.entity.toLowerCase(), 'platform', item.id) }}</v-icon>
                                  </v-list-item-action>
                                  <v-list-item-content>
                                    <v-list-item-title>{{ selectAllTextPL }}</v-list-item-title>
                                  </v-list-item-content>
                                </v-list-item>
                                <v-divider class="mt-2" />
                              </template>
                            </v-select>
                          </v-layout>
                        </v-layout>

                        <v-layout
                          row
                          wrap
                          col-md-12
                        >
                          <span class="subtitle-2">{{ $t('page.'.concat('sales_model')) }}</span>
                          <span class="red--text">
                            <strong>*</strong>
                          </span>
                          <v-layout
                            row
                            wrap
                            col-12
                          >
                            <v-switch
                              v-model="allCheck.sales_model"
                              :label="$t('master.all')"
                              class="col-3 mt-0"
                              hide-details="auto"
                              dense
                              @change="allCheckChildControl(item.entity.toLowerCase(), 'sales_model', item.id, allCheck.sales_model)"
                            />

                            <v-select
                              v-model="serviceSelected.salesmodel"
                              :items="getChildValues(item.entity.toLowerCase(), 'sales_model', item.id)"
                              item-value="id"
                              :item-text="valueLanguage"
                              class="col-9"
                              multiple
                              small-chips
                              return-object
                              hide-details="auto"
                              dense
                              :disabled="selectDisabled('sales_model')"
                            >
                              <template v-slot:prepend-item>
                                <v-list-item
                                  ripple
                                  @click="toggle(item.entity.toLowerCase(), 'sales_model', item.id)"
                                >
                                  <v-list-item-action>
                                    <v-icon>{{ icon(item.entity.toLowerCase(), 'sales_model', item.id) }}</v-icon>
                                  </v-list-item-action>
                                  <v-list-item-content>
                                    <v-list-item-title>{{ selectAllTextSM }}</v-list-item-title>
                                  </v-list-item-content>
                                </v-list-item>
                                <v-divider class="mt-2" />
                              </template>
                            </v-select>
                          </v-layout>
                        </v-layout>

                        <v-layout
                          row
                          wrap
                          col-md-12
                        >
                          <span class="subtitle-2">{{ $t('page.'.concat('rate_type')) }}</span>
                          <span class="red--text">
                            <strong>*</strong>
                          </span>
                          <v-layout
                            row
                            wrap
                            col-12
                          >
                            <v-switch
                              v-model="allCheck.rate_type"
                              :label="$t('master.all')"
                              class="col-3 mt-0"
                              hide-details="auto"
                              dense
                              @change="allCheckChildControl(item.entity.toLowerCase(), 'rate_type', item.id, allCheck.rate_type)"
                            />

                            <v-select
                              v-model="serviceSelected.ratetype"
                              :items="getChildValues(item.entity.toLowerCase(), 'rate_type', item.id)"
                              item-value="id"
                              :item-text="valueLanguage"
                              class="col-9"
                              multiple
                              small-chips
                              return-object
                              hide-details="auto"
                              dense
                              :disabled="selectDisabled('rate_type')"
                            >
                              <template v-slot:prepend-item>
                                <v-list-item
                                  ripple
                                  @click="toggle(item.entity.toLowerCase(), 'rate_type', item.id)"
                                >
                                  <v-list-item-action>
                                    <v-icon>{{ icon(item.entity.toLowerCase(), 'rate_type', item.id) }}</v-icon>
                                  </v-list-item-action>
                                  <v-list-item-content>
                                    <v-list-item-title>{{ selectAllTextRT }}</v-list-item-title>
                                  </v-list-item-content>
                                </v-list-item>
                                <v-divider class="mt-2" />
                              </template>
                            </v-select>
                          </v-layout>
                        </v-layout>

                        <v-layout
                          row
                          wrap
                          col-md-12
                        >
                          <span class="subtitle-2">{{ $t('page.'.concat('product_origin')) }}</span>
                          <span class="red--text">
                            <strong>*</strong>
                          </span>
                          <v-layout
                            row
                            wrap
                            col-12
                          >
                            <v-switch
                              v-model="allCheck.product_origin"
                              :label="$t('master.all')"
                              class="col-3 mt-0"
                              hide-details="auto"
                              dense
                              @change="allCheckChildControl(item.entity.toLowerCase(), 'product_origin', item.id, allCheck.product_origin)"
                            />

                            <v-select
                              v-model="serviceSelected.productorigin"
                              :items="getChildValues(item.entity.toLowerCase(), 'product_origin', item.id)"
                              item-value="id"
                              :item-text="valueLanguage"
                              class="col-9"
                              multiple
                              small-chips
                              return-object
                              hide-details="auto"
                              dense
                              :disabled="selectDisabled('product_origin')"
                            >
                              <template v-slot:prepend-item>
                                <v-list-item
                                  ripple
                                  @click="toggle(item.entity.toLowerCase(), 'product_origin', item.id)"
                                >
                                  <v-list-item-action>
                                    <v-icon>{{ icon(item.entity.toLowerCase(), 'product_origin', item.id) }}</v-icon>
                                  </v-list-item-action>
                                  <v-list-item-content>
                                    <v-list-item-title>{{ selectAllTextPO }}</v-list-item-title>
                                  </v-list-item-content>
                                </v-list-item>
                                <v-divider class="mt-2" />
                              </template>
                            </v-select>
                          </v-layout>
                        </v-layout>
                      </div>

                      <div v-if="item.entity.toLowerCase() === 'sales_channel'">
                        <v-layout
                          row
                          wrap
                          col-md-12
                        >
                          <span class="subtitle-2">{{ $t('page.'.concat('distribution_model')) }}</span>
                          <v-layout
                            row
                            wrap
                            col-12
                          >
                            <v-switch
                              v-model="allCheck.distribution_model"
                              :label="$t('master.all')"
                              class="col-3 mt-0"
                              hide-details="auto"
                              dense
                              @change="allCheckChildControl(item.entity.toLowerCase(), 'distribution_model', item.id, allCheck.distribution_model)"
                            />

                            <v-select
                              v-model="salesChannelSelected.distributionmodel"
                              :items="getChildValues(item.entity.toLowerCase(), 'distribution_model', item.id)"
                              item-value="id"
                              :item-text="valueLanguage"
                              class="col-9"
                              multiple
                              small-chips
                              return-object
                              hide-details="auto"
                              dense
                              :disabled="selectDisabled('distribution_model')"
                            >
                              <template v-slot:prepend-item>
                                <v-list-item
                                  ripple
                                  @click="toggle(item.entity.toLowerCase(), 'distribution_model', item.id)"
                                >
                                  <v-list-item-action>
                                    <v-icon>
                                      {{
                                        icon(item.entity.toLowerCase(), 'distribution_model', item.id)
                                      }}
                                    </v-icon>
                                  </v-list-item-action>
                                  <v-list-item-content>
                                    <v-list-item-title>{{ selectAllTextDM }}</v-list-item-title>
                                  </v-list-item-content>
                                </v-list-item>
                                <v-divider class="mt-2" />
                              </template>
                            </v-select>
                          </v-layout>
                        </v-layout>

                        <v-layout
                          row
                          wrap
                          col-md-12
                        >
                          <span class="subtitle-2">{{ $t('page.'.concat('request')) }}</span>
                          <span class="red--text">
                            <strong>*</strong>
                          </span>
                          <v-layout
                            row
                            wrap
                            col-md-12
                          >
                            <v-switch
                              v-model="allCheck.request"
                              :label="$t('master.all')"
                              class="col-3 mt-0"
                              hide-details="auto"
                              dense
                              @change="allCheckChildControl(item.entity.toLowerCase(), 'request', item.id, allCheck.request)"
                            />

                            <v-select
                              v-model="salesChannelSelected.request"
                              :items="getChildValues(item.entity.toLowerCase(), 'request', item.id)"
                              item-value="id"
                              :item-text="valueLanguage"
                              class="col-9"
                              multiple
                              small-chips
                              return-object
                              hide-details="auto"
                              dense
                              :disabled="selectDisabled('request')"
                            >
                              <template v-slot:prepend-item>
                                <v-list-item
                                  ripple
                                  @click="toggle(item.entity.toLowerCase(), 'request', item.id)"
                                >
                                  <v-list-item-action>
                                    <v-icon>{{ icon(item.entity.toLowerCase(), 'request', item.id) }}</v-icon>
                                  </v-list-item-action>
                                  <v-list-item-content>
                                    <v-list-item-title>{{ selectAllTextRQ }}</v-list-item-title>
                                  </v-list-item-content>
                                </v-list-item>
                                <v-divider class="mt-2" />
                              </template>
                            </v-select>
                          </v-layout>
                        </v-layout>

                        <v-layout
                          row
                          wrap
                          col-md-12
                        >
                          <span class="subtitle-2">{{ $t('page.'.concat('environments')) }}</span>
                          <span class="red--text">
                            <strong>*</strong>
                          </span>
                          <v-layout
                            row
                            wrap
                            col-md-12
                          >
                            <v-switch
                              v-model="allCheck.environments"
                              :label="$t('master.all')"
                              class="col-3 mt-0"
                              hide-details="auto"
                              dense
                              @change="allCheckChildControl(item.entity.toLowerCase(), 'environments', item.id, allCheck.environments)"
                            />

                            <v-select
                              v-model="salesChannelSelected.environments"
                              :items="getChildValues(item.entity.toLowerCase(), 'environments', item.id)"
                              item-value="id"
                              :item-text="valueLanguage"
                              class="col-9"
                              multiple
                              small-chips
                              return-object
                              hide-details="auto"
                              dense
                              :disabled="selectDisabled('environments')"
                            >
                              <template v-slot:prepend-item>
                                <v-list-item
                                  ripple
                                  @click="toggle(item.entity.toLowerCase(), 'environments', item.id)"
                                >
                                  <v-list-item-action>
                                    <v-icon>{{ icon(item.entity.toLowerCase(), 'environments', item.id) }}</v-icon>
                                  </v-list-item-action>
                                  <v-list-item-content>
                                    <v-list-item-title>{{ selectAllTextENV }}</v-list-item-title>
                                  </v-list-item-content>
                                </v-list-item>
                                <v-divider class="mt-2" />
                              </template>
                            </v-select>
                          </v-layout>
                        </v-layout>
                      </div>
                    </v-tab-item>
                  </v-tabs-items>
                </div>
              </v-container>

              <small class="col-12 pa-0">
                <span class="red--text">
                  <strong>*</strong>
                </span>
                {{ $t('required') }}
              </small>
            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-progress-circular
                v-show="activeProgres"
                indeterminate
                color="primary"
                class="mr-2"
              />

              <v-btn
                color="primary"
                small
                text
                @click="cancelForm"
              >
                {{ $t('button.cancel') }}
              </v-btn>

              <v-btn
                v-if="!update"
                color="primary"
                small
                text
                type="submit"
                form="masterForm"
                :disabled="!isValid"
              >
                {{ $t('button.create') }}
              </v-btn>
              <v-btn
                v-if="update"
                color="primary"
                small
                text
                type="submit"
                form="masterForm"
                :disabled="!isValid"
              >
                {{ $t('button.update') }}
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-dialog>
    </v-row>
    <TheDataTable
      v-if="response"
      :titles="headers"
      :response="response"
      :title="$t('page.'.concat(this.$route.params.entity))"
      :create-allowed="createAllowed"
      :update-allowed="updateAllowed"
      :delete-allowed="deleteAllowed"
      sorted-by="id"
      @create="createItem"
      @update="updateItem"
      @delete="deleteItem"
    />
  </div>
</template>
<script>
import {mapActions, mapMutations, mapState} from "vuex";
import {utils} from "@helper/utils";
import {gestcom} from "@services/gestcom";
import TheDataTable from "../../components/TheDataTable";
import TheMultiLanguage from "../../components/TheMultiLanguage";
import {admin} from "@services/admin";
import {masterUtils} from "@helper/masterUtils";

export default {
  components: {
    TheDataTable,
    TheMultiLanguage
  },
  data() {
    return {
      service: null,
      saleChannel: null,
      tab: 0,
      forced: 0,
      disableSelected: {
        service_type: false,
        sales_channel: false
      },
      allCheck: {
        depth: false,
        platform: false,
        sales_model: false,
        product_origin: false,
        rate_type: false,
        distribution_model: false,
        request: false,
        environments: false,
        service_distribution: false,
        numClients: false
      },
      selectAllTextDM: null,
      selectAllTextRQ: null,
      selectAllTextENV: null,
      selectAllTextPO: null,
      selectAllTextRT: null,
      selectAllTextSM: null,
      selectAllTextPL: null,
      selectAllTextDE: null,
      selectAllTextSD: null,
      allCheckSelected: [],
      serviceAllCheckSelected: [],
      salesChannelAllCheckSelected: [],
      childrenTag: [],
      inverseSelected: [],
      selected: {
        platform: [],
        depth: [],
        salesmodel: [],
        productorigin: [],
        ratetype: [],
        distributionmodel: [],
        request: [],
        environments: [],
        servicedistribution: [],
        numClients: []
      },
      serviceSelected: {
        platform: [],
        salesmodel: [],
        ratetype: [],
        productorigin: []
      },
      salesChannelSelected: {
        distributionmodel: [],
        request: [],
        environments: []
      },
      isValid: true,
      response: [],
      createAllowed: false,
      updateAllowed: false,
      deleteAllowed: false,
      allowMultiLang: false,
      dialog: false,
      update: false,
      activeProgres: false,
      masterIndex: -1,
      master: {
        id: null,
        entity: null,
        name: null,
        act: false,
        com: false,
        del: false,
        test: false,
        demo: false,
        corp: false,
        alias: null,
        ratecat: null,
        masters: [],
        params: null
      },
      masterDefault: {
        id: null,
        entity: null,
        name: null,
        act: false,
        com: false,
        del: false,
        test: false,
        demo: false,
        corp: false,
        alias: null,
        ratecat: null,
        masters: [],
        params: null
      },
      mapTotal: new Map(),
      markUpByServiceType: null
    };
  },
  computed: {
    ...mapState({
      configMenu: state => state.configMenu,
      masters: state => state.master
    }),
    lengthRules: function () {
      return [
        () => {
          if (!this.master.id || this.master.id.length < 1) {
            return this.$i18n.t('master.rules.id');
          } else {
            if (this.master.id.length > 6) {
              return this.$i18n.t('master.rules.maxLength');
            } else {
              return true;
            }
          }
        }
      ];
    },
    headers() {
      const header = [];
      let i = 0;
      header[i++] = {
        text: this.$i18n.t('tables.id'),
        align: "left",
        value: "id"
      };
      header[i++] = {
        text: this.$i18n.t('tables.nameMaster'),
        align: "left",
        value: "name"
      };
      if (this.$route.params.entity === "platform") {
        header[i++] = {
          text: this.$i18n.t('tables.serviceType'),
          align: "center",
          value: "serviceType",
          filterable: false
        };
      }
      header[i++] = {
        text: this.$i18n.t('tables.status'),
        align: "center",
        value: "act",
        filterable: false
      };
      if (this.$route.params.entity === "currency") {
        header[i++] = {
          text: this.$i18n.t('tables.showSupplier'),
          align: "center",
          value: "supplier",
          filterable: false
        };
      }
      header[i] = {
        value: "actions",
        align: "center",
        sortable: false,
        filterable: false
      };
      return header;
    },
    headersMarkUp() {
      return [
        {
          text: this.$i18n.t('master.service_type'),
          align: "left",
          value: "id",
        },
        {
          text: this.$i18n.t('master.markup'),
          align: "rigth",
          value: "value",
        },
      ];
    },
    dataMarkup() {
      if (this.$route.params.entity === "depth") {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.markUpByServiceType = [];
        const services = this.getEntityValues('service_type');
        if (services) {
          for (let service of services) {
            if (service.act) {
              const row = {
                id: service.id,
                name: utils.valueLanguage(service.name, "ESP"),
                value: this.getMarkValue(service.id)
              };
              // eslint-disable-next-line vue/no-side-effects-in-computed-properties
              this.markUpByServiceType.push(row);
            }
          }
        }
      }
      return this.markUpByServiceType;
    },
  },
  watch: {
    // call again the method if the route changes
    $route: "fetchData",
    dialog(old,current){
      if(old !== current){
        console.log(this.selected);
      }
    }
  },
  created() {
    this.fetchData();
  },
  methods: {
    ...mapActions("master", [
      "getDepths",
      "getPlatforms",
      "getSalesModels",
      "getRateTypes",
      "getProductOrigins",
      "getDistributionModels",
      "getRequests",
      "getEnvCredential",
      "getLanguages",
      "getServiceTypes",
      "getSalesChannels",
      "getDistributionServices",
      "getNumClients"
    ]),
    ...mapActions("alert", ["error"]),
    ...mapMutations("master", [
      "depths",
      "platforms",
      "salesModels",
      "rateTypes",
      "productOrigins",
      "distributionModels",
      "requests",
      "envCredential",
      "languages",
      "serviceTypes",
      "salesChannels",
      "distributionServices",
      "numClients"
    ]),
    getMarkValue(id) {
      if (this.master.params) {
        for (let markUp of this.master.params) {
          if (id === markUp.key) {
            return markUp.value;
          }
        }
      }
      return 0;
    },
    drawMandatory(child) {
      let draw = true;
      if (child === "platform" || (child === "distribution_model" && this.$route.params.entity === "sales_channel")) {
        draw = false;
      }
      return draw;
    },
    likesAll(parent, child, id) {
      let count = this.countSelected(parent, child);
      let totalCount = this.countTotal(parent, child, id);
      return count === totalCount;
    },
    likesSome(parent, child, id) {
      let count = this.countSelected(parent, child);
      return count > 0 && !this.likesAll(parent, child, id);
    },
    icon(parent, child, id) {
      let icon = "check_box_outline_blank";
      let text = this.$i18n.t('selectAll');
      if (this.likesAll(parent, child, id)) {
        icon = "close";
        text = this.$i18n.t('unselectAll');
      }
      if (this.likesSome(parent, child, id)) {
        icon = "indeterminate_check_box";
      }
      this.addText(parent, child, text);
      return icon;
    },
    addText(parent, child, text) {
      if (child === "depth") {
        this.selectAllTextDE = text;
      } else if (child === "platform") {
        this.selectAllTextPL = text;
      } else if (child === "sales_model") {
        this.selectAllTextSM = text;
      } else if (child === "rate_type") {
        this.selectAllTextRT = text;
      } else if (child === "product_origin") {
        this.selectAllTextPO = text;
      } else if (child === "request") {
        this.selectAllTextRQ = text;
      } else if (child === "environments") {
        this.selectAllTextENV = text;
      } else if (child === "distribution_model") {
        this.selectAllTextDM = text;
      } else if (child === "service_distribution") {
        this.selectAllTextSD = text;
      }
    },
    countTotal(parent, child, id) {
      let key;
      if (parent === null) {
        key = child;
      } else {
        key = parent.concat("¬").concat(child);
      }

      if (!this.mapTotal.has(key)) {
        if (parent === null) {
          this.mapTotal.set(key, this.getEntityValues(child).length);
        } else {
          this.mapTotal.set(key, this.getChildValues(parent, child, id).length);
        }
      }
      return this.mapTotal.get(key);
    },
    countSelected(parent, child) {
      let elements;
      if (parent === null) {
        if (child === "depth") {
          elements = this.selected.depth;
        } else if (child === "platform") {
          elements = this.selected.platform;
        } else if (child === "sales_model") {
          elements = this.selected.salesmodel;
        } else if (child === "rate_type") {
          elements = this.selected.ratetype;
        } else if (child === "product_origin") {
          elements = this.selected.productorigin;
        } else if (child === "request") {
          elements = this.selected.request;
        } else if (child === "environments") {
          elements = this.selected.environments;
        } else if (child === "distribution_model") {
          elements = this.selected.distributionmodel;
        } else if (child === "service_distribution") {
          elements = this.selected.servicedistribution;
        }
      } else if (parent === "service_type") {
        if (child === "platform") {
          elements = this.serviceSelected.platform;
        } else if (child === "sales_model") {
          elements = this.serviceSelected.salesmodel;
        } else if (child === "rate_type") {
          elements = this.serviceSelected.ratetype;
        } else if (child === "product_origin") {
          elements = this.serviceSelected.productorigin;
        }
      } else if (parent === "sales_channel") {
        if (child === "distribution_model") {
          elements = this.salesChannelSelected.distributionmodel;
        } else if (child === "request") {
          elements = this.salesChannelSelected.request;
        } else if (child === "environments") {
          elements = this.salesChannelSelected.environments;
        } else if (child === "num_clients") {
          elements = this.selected.numClients;
        }
      }

      let count = 0;
      if (elements && elements.length > 0) {
        for (let element of elements) {
          if (element.entity.toLowerCase() === child) {
            count++;
          }
        }
      }
      return count;
    },
    toggle(parent, child, id) {
      this.$nextTick(() => {
        if (this.likesAll(parent, child, id)) {
          if (parent === null) {
            if (child === "platform") {
              this.selected.platform = [];
            } else if (child === "depth") {
              this.selected.depth = [];
            } else if (child === "sales_model") {
              this.selected.salesmodel = [];
            } else if (child === "rate_type") {
              this.selected.ratetype = [];
            } else if (child === "product_origin") {
              this.selected.productorigin = [];
            } else if (child === "request") {
              this.selected.request = [];
            } else if (child === "environments") {
              this.selected.environments = [];
            } else if (child === "distribution_model") {
              this.selected.distributionmodel = [];
            } else if (child === "service_distribution") {
              this.selected.servicedistribution = [];
            }
          } else if (parent === "service_type") {
            if (child === "platform") {
              this.serviceSelected.platform = [];
            } else if (child === "sales_model") {
              this.serviceSelected.salesmodel = [];
            } else if (child === "rate_type") {
              this.serviceSelected.ratetype = [];
            } else if (child === "product_origin") {
              this.serviceSelected.productorigin = [];
            }
          } else if (parent === "sales_channel") {
            if (child === "distribution_model") {
              this.salesChannelSelected.distributionmodel = [];
            } else if (child === "request") {
              this.salesChannelSelected.request = [];
            } else if (child === "environments") {
              this.salesChannelSelected.environments = [];
            } else if (child === "num_clients") {
              this.salesChannelSelected.numClients = [];
            }
          }
        } else {
          if (parent === null) {
            const elements = this.getEntityValues(child).slice();
            if (child === "platform") {
              this.selected.platform = elements;
            } else if (child === "depth") {
              this.selected.depth = elements;
            } else if (child === "sales_model") {
              this.selected.salesmodel = elements;
            } else if (child === "rate_type") {
              this.selected.ratetype = elements;
            } else if (child === "product_origin") {
              this.selected.productorigin = elements;
            } else if (child === "request") {
              this.selected.request = elements;
            } else if (child === "environments") {
              this.selected.environments = elements;
            } else if (child === "distribution_model") {
              this.selected.distributionmodel = elements;
            } else if (child === "service_distribution") {
              this.selected.servicedistribution = elements;
            }
          } else if (parent === "service_type") {
            const elements = this.getChildValues(parent, child, id).slice();
            if (child === "platform") {
              this.serviceSelected.platform = elements;
            } else if (child === "sales_model") {
              this.serviceSelected.salesmodel = elements;
            } else if (child === "rate_type") {
              this.serviceSelected.ratetype = elements;
            } else if (child === "product_origin") {
              this.serviceSelected.productorigin = elements;
            }
          } else if (parent === "sales_channel") {
            const elements = this.getChildValues(parent, child, id).slice();
            if (child === "distribution_model") {
              this.salesChannelSelected.distributionmodel = elements;
            } else if (child === "request") {
              this.salesChannelSelected.request = elements;
            } else if (child === "environments") {
              this.salesChannelSelected.environments = elements;
            }
          }
        }
      });
    },
    getEntity() {
      const entity = this.$route.params.entity;
      gestcom.getPermission(JSON.stringify({entity}))
        .then(response => {
          const json = JSON.parse(response);
          // noinspection JSUnresolvedVariable
          this.createAllowed = json.newAllowed;
          // noinspection JSUnresolvedVariable
          this.updateAllowed = json.updAllowed;
          // noinspection JSUnresolvedVariable
          this.deleteAllowed = json.delAllowed;
          // noinspection JSUnresolvedVariable
          this.allowMultiLang = json.multiLang;
          this.childrenTag = [];
          for (let i = 0; json.children && i < json.children.length; i++) {
            this.childrenTag[i] = json.children[i];
          }
        });
    },
    loadStore() {
      if (this.masters.languages == null) {
        this.getLanguages();
      }
      if (this.masters.depths === null) {
        this.getDepths();
      }
      if (this.masters.distributionServices === null) {
        this.getDistributionServices();
      }
      if (this.masters.distributionModels === null) {
        this.getDistributionModels();
      }
      if (this.masters.requests === null) {
        this.getRequests();
      }
      if (this.masters.numClients === null) {
        this.getNumClients();
      }
      if (this.masters.envCredential === null) {
        this.getEnvCredential();
      }
      if (this.masters.rateTypes === null) {
        this.getRateTypes();
      }
      if (this.masters.serviceTypes === null) {
        this.getServiceTypes();
      }
      if (this.masters.salesChannels === null) {
        this.getSalesChannels();
      }
      if (this.masters.platforms === null) {
        this.getPlatforms();
      }
      if (this.masters.salesModels === null) {
        this.getSalesModels();
      }
      if (this.masters.rateTypes === null) {
        this.getRateTypes();
      }
      if (this.masters.productOrigins === null) {
        this.getProductOrigins();
      }
    },
    fetchData() {
      this.response = [];
      this.loadStore();
      this.getEntity();
      const entity = this.$route.params.entity.toUpperCase();
      gestcom.getAllItems(this.$route.path, JSON.stringify({entity}))
        .then(response => {
          if (!response.messages) {
            this.response = response;
          }
        });
    },
    format() {
      const formatted = [];
      const elements = this.getEntityValues('service_type');
      for (let element of this.response) {
        if (this.$route.params.entity === 'currency' && element.hide) {
          continue;
        }
        formatted.push({
          id: element.id,
          act: utils.isActive(element.act),
          name: utils.valueLanguage(element.name, "ESP"),
          supplier: utils.isVisible(element.supplier),
          serviceType: this.getServices(elements, element.id)
        });
      }
      return formatted;
    },
    getServices(masters, id) {
      if (this.$route.params.entity === 'platform') {
        const values = [];
        for (let master of masters) {
          if (master.allMasters.indexOf('platform') !== -1  || this.existPlatform(id, master.masters)) {
            values.push(utils.valueLanguage(master.name, "ESP"));
          }
        }
        return values;
      }
      return null;
    },
    existPlatform(id, masters) {
      if (masters) {
        for (let master of masters) {
          if (master.id === id) {
            return true;
          }
        }
      }
      return false;
    },
    deleteItem(id, index) {
      const service = this.response[index];
      const entity = this.$route.params.entity.toUpperCase();
      const name = service.name;
      const act = service.act;
      const del = true;
      const test = service.test;
      const demo = service.demo;
      const corp = service.corp;
      const masters = service.masters;
      const alias = service.alias;

      let ratecat = null;
      if (this.$route.params.entity === "rate_type") {
        if (service.ratecat === "CLIENTE") {
          ratecat = "CUSTOMER";
        } else if (service.ratecat === "PROVEEDOR PULL") {
          ratecat = "SUPPLIER";
        } else {
          ratecat = "BOTH";
        }
      }

      let params = null;
      if (this.markUpByServiceType) {
        params = [];
        for (let markUp of this.markUpByServiceType) {
          const row = {
            key: markUp.id,
            value: markUp.value
          };
          params.push(row);
        }
      }

      const body = JSON.stringify({id, name, act, del, entity, test, demo, corp, masters, alias, ratecat, params});

      gestcom.remove(this.$route.path, body)
        .then(() => {
          this.response.splice(index, 1)
        }, error => {
          this.error(error);
        });
      this.cleanStore(entity);
      this.close();
    },
    close() {
      this.dialog = false;
      this.activeProgres = false;
      setTimeout(() => {
        this.markUpByServiceType = null;
        this.master = Object.assign({}, this.masterDefault);
        this.masterIndex = -1;
        this.selected.depth = [];
        this.selected.platform = [];
        this.selected.salesmodel = [];
        this.selected.ratetype = [];
        this.selected.productorigin = [];
        this.selected.request = [];
        this.selected.environments = [];
        this.selected.distributionmodel = [];
        this.selected.servicedistribution = [];
        this.selected.numClients = null;
        this.serviceSelected.platform = [];
        this.serviceSelected.salesmodel = [];
        this.serviceSelected.ratetype = [];
        this.serviceSelected.productorigin = [];
        this.inverseSelected = [];
        this.serviceSelected.platform = [];
        this.serviceSelected.salesmodel = [];
        this.serviceSelected.ratetype = [];
        this.serviceSelected.productorigin = [];
        this.salesChannelSelected.distributionmodel = [];
        this.salesChannelSelected.request = [];
        this.salesChannelSelected.environments = [];
        this.salesChannelSelected.numClients = null;
        this.allCheckSelected = [];
        this.serviceAllCheckSelected = [];
        this.salesChannelAllCheckSelected = [];
        this.service = null;
        this.saleChannel = null;
        this.unBlockSwitchAll("all");
      }, 300);
    },
    beforeCommit() {
      if (this.$route.params.entity === "brand") {
        if (this.selected.depth.length === 0) {
          return this.$i18n.t('master.rules.depth');
        }
        if (this.selected.servicedistribution.length === 0) {
          return this.$i18n.t('master.rules.service_distribution');
        }
      }

      if (this.$route.params.entity === "sales_channel") {
        if (this.selected.request.length === 0) {
          return this.$i18n.t('master.rules.request');
        }
        if (this.selected.environments.length === 0) {
          return this.$i18n.t('master.rules.environments');
        }
        if (!this.selected.numClients) {
          return this.$i18n.t('master.rules.numClients');
        }
      }

      if (this.$route.params.entity === "distribution_model") {
        if (this.selected.ratetype.length === 0) {
          return this.$i18n.t('master.rules.rate_type');
        }
      }

      if (this.$route.params.entity === "service_type") {
        if (this.selected.ratetype.length === 0) {
          return this.$i18n.t('master.rules.rate_type');
        }
        if (this.selected.salesmodel.length === 0) {
          return this.$i18n.t('master.rules.sales_model');
        }
        if (this.selected.productorigin.length === 0) {
          return this.$i18n.t('master.rules.product_origin');
        }
      }

      if (this.$route.params.entity === "service_distribution") {
        if (this.serviceSelected.ratetype.length === 0) {
          return this.$i18n.t('master.rules.rate_type');
        }
        if (this.serviceSelected.salesmodel.length === 0) {
          return this.$i18n.t('master.rules.sales_model');
        }
        if (this.serviceSelected.productorigin.length === 0) {
          return this.$i18n.t('master.rules.product_origin');
        }
        if (this.serviceSelected.platform.length === 0) {
          return this.$i18n.t('master.rules.platform');
        }
        if (this.salesChannelSelected.request.length === 0) {
          return this.$i18n.t('master.rules.request');
        }
        if (this.salesChannelSelected.environments.length === 0) {
          return this.$i18n.t('master.rules.environments');
        }
      }
      return null;
    },
    selectDisabled(child) {
      let value;
      if (child === "depth") {
        value = this.allCheck.depth;
      } else if (child === "platform") {
        value = this.allCheck.platform;
      } else if (child === "sales_model") {
        value = this.allCheck.sales_model;
      } else if (child === "rate_type") {
        value = this.allCheck.rate_type;
      } else if (child === "product_origin") {
        value = this.allCheck.product_origin;
      } else if (child === "request") {
        value = this.allCheck.request;
      } else if (child === "environments") {
        value = this.allCheck.environments;
      } else if (child === "distribution_model") {
        value = this.allCheck.distribution_model;
      } else if (child === "service_type") {
        value = this.allCheck.service_type;
      } else if (child === "sales_channel") {
        value = this.allCheck.sales_channel;
      } else if (child === "service_distribution") {
        value = this.allCheck.service_distribution;
      } else if (child === "num_clients") {
        value = this.allCheck.numClients;
      }

      return value;
    },
    handleSubmit(e) {
      e.preventDefault();
      this.activeProgres = true;

      let errorMsg = this.beforeCommit();
      if (errorMsg !== null) {
        this.activeProgres = false;
        this.error(errorMsg);
      } else {
        const entity = this.$route.params.entity.toUpperCase();
        const id = this.master.id.toUpperCase();
        const name = this.master.name;
        const act = this.master.act;
        const del = this.master.del;
        const test = this.master.test;
        const demo = this.master.demo;
        const corp = this.master.corp;
        const alias = this.master.alias;
        const allMasters = this.allCheckSelected;
        const masters = [];
        
        this.addToMasters(masters, allMasters, this.selected.platform, "platform");
        this.addToMasters(masters, allMasters, this.selected.depth, "depth");
        this.addToMasters(masters, allMasters, this.selected.salesmodel, "sales_model");
        this.addToMasters(masters, allMasters, this.selected.ratetype, "rate_type");
        this.addToMasters(masters, allMasters, this.selected.productorigin, "product_origin");
        this.addToMasters(masters, allMasters, this.selected.request, "request");
        this.addToMasters(masters, allMasters, this.selected.environments, "environments");
        this.addToMasters(masters, allMasters, this.selected.distributionmodel, "distribution_model");
        this.addToMasters(masters, allMasters, this.selected.servicedistribution, "service_distribution");

        if (this.inverseSelected) {
          for (let i = 0; i < this.inverseSelected.length; i++) {
            let select = this.inverseSelected[i];
            select.masters = [];
            select.allMasters = [];
            if (select.entity.toLowerCase() === "service_type") {
              this.addToMasters(select.masters, this.serviceAllCheckSelected, this.serviceSelected.platform, "platform");
              this.addToMasters(select.masters, this.serviceAllCheckSelected, this.serviceSelected.salesmodel, "sales_model");
              this.addToMasters(select.masters, this.serviceAllCheckSelected, this.serviceSelected.ratetype, "rate_type");
              this.addToMasters(select.masters, this.serviceAllCheckSelected, this.serviceSelected.productorigin, "product_origin");
              select.allMasters = this.serviceAllCheckSelected;
            }
            if (select.entity.toLowerCase() === "sales_channel") {
              this.salesChannelAllCheckSelected.push("num_clients");
              this.addToMasters(select.masters, this.salesChannelAllCheckSelected, this.salesChannelSelected.distributionmodel, "distribution_model");
              this.addToMasters(select.masters, this.salesChannelAllCheckSelected, this.salesChannelSelected.request, "request");
              this.addToMasters(select.masters, this.salesChannelAllCheckSelected, this.salesChannelSelected.environments, "environments");
              select.allMasters = this.salesChannelAllCheckSelected;
            }
            masters[i] = select;
          }
        }
        if(this.$route.params.entity === "sales_channel"){
          masters.push(this.selected.numClients);
        }

        let ratecat = null;
        if (this.$route.params.entity === "rate_type") {
          if (this.master.ratecat === "CLIENTE") {
            ratecat = "CUSTOMER";
          } else if (this.master.ratecat === "PROVEEDOR PULL") {
            ratecat = "SUPPLIER";
          } else {
            ratecat = "BOTH";
          }
        }

        let params = null;
        if (this.markUpByServiceType) {
          params = [];
          for (let markUp of this.markUpByServiceType) {
            const row = {
              key: markUp.id,
              value: markUp.value
            };
            params.push(row);
          }
        }

        const body = JSON.stringify({
          id,
          name,
          act,
          del,
          entity,
          test,
          demo,
          corp,
          allMasters,
          masters,
          alias,
          ratecat,
          params
        });

        //Llamada al rest
        let hasError = false;
        if (!this.update) {
          admin.create(this.$route.path, body)
            .then(
              success => {
                this.response.push(success);
              },
              error => {
                hasError = true;
                this.error(error);
              }
            );
        } else {
          const index = this.masterIndex;
          admin.update(this.$route.path, body)
            .then(
              success => {
                Object.assign(this.response[index], success);
              },
              error => {
                hasError = true;
                this.error(error);
              }
            );
        }
        if (!hasError) {
          this.cleanStore(entity.toLowerCase());
        }
        this.close();
      }
    },
    addToMasters(masters, allMasters, selected, child) {
      if (selected.length > 0 && !allMasters.includes(child)) {
        for (let select of selected) {
          masters.push(select);
        }
      }
    },
    cleanStore(entity) {
      if (entity === "depth") {
        this.depths(null);
      } else if (entity === "platform") {
        this.platforms(null);
      } else if (entity === "sales_model") {
        this.salesModels(null);
      } else if (entity === "rate_type") {
        this.rateTypes(null);
      } else if (entity === "product_origin") {
        this.productOrigins(null);
      } else if (entity === "request") {
        this.requests(null);
      } else if (entity === "environments") {
        this.envCredential(null);
      } else if (entity === "distribution_model") {
        this.distributionModels(null);
      } else if (entity === "service_type") {
        this.serviceTypes(null);
      } else if (entity === "sales_channel") {
        this.salesChannels(null);
      } else if (entity === "service_distribution") {
        return this.distributionServices(null);
      }else if (entity === "numClients") {
        this.numClients(null);
      }
    },
    cancelForm() {
      this.close();
    },
    createItem() {
      this.update = false;
      this.dialog = true;

      this.selected.depth = [];
      this.selected.platform = [];
      this.selected.salesmodel = [];
      this.selected.ratetype = [];
      this.selected.productorigin = [];
      this.selected.request = [];
      this.selected.environments = [];
      this.selected.distributionmodel = [];
      this.selected.servicedistribution = [];
      this.serviceSelected.platform = [];
      this.serviceSelected.salesmodel = [];
      this.serviceSelected.ratetype = [];
      this.serviceSelected.productorigin = [];
      this.salesChannelSelected.distributionmodel = [];
      this.salesChannelSelected.request = [];
      this.salesChannelSelected.environments = [];
      this.salesChannelSelected.numClients = null;

      this.master.name = [];
      this.master.name[0] = {key: "ESP", value: ""};
      this.master.com = true;
    },
    updateItem(item, index) {
      let self = this;
      this.update = true;
      this.masterIndex = index;

      const entity = this.$route.params.entity.toUpperCase();
      const id = item.id;
      admin.getItem(this.$route.path, JSON.stringify({entity, id}))
        .then(
          (master) => {
            self.master = master;
            let ratecat = null;
            if (this.$route.params.entity === "rate_type") {
              if (this.master.ratecat === "CUSTOMER") {
                ratecat = "CLIENTE";
              } else if (this.master.ratecat === "SUPPLIER") {
                ratecat = "PROVEEDOR PULL";
              } else if (this.master.ratecat === "BOTH") {
                ratecat = "AMBOS";
              }
            }
            self.master.ratecat = ratecat;
            self.selected.depth = [];
            self.selected.platform = [];
            self.selected.salesmodel = [];
            self.selected.ratetype = [];
            self.selected.productorigin = [];
            self.selected.request = [];
            self.selected.environments = [];
            self.selected.distributionmodel = [];
            self.selected.servicedistribution = [];
            self.selected.numClients = null;

            self.serviceSelected.platform = [];
            self.serviceSelected.salesmodel = [];
            self.serviceSelected.ratetype = [];
            self.serviceSelected.productorigin = [];
            self.allCheckSelected = [];
            self.salesChannelSelected.distributionmodel = [];
            self.salesChannelSelected.request = [];
            self.salesChannelSelected.environments = [];
            self.salesChannelSelected.numClients = null;
            self.service = null;
            self.saleChannel = null;

            for (let i = 0; master.masters && i < master.masters.length; i++) {
              const aux = master.masters[i].entity.toLowerCase();
              if (aux === "platform") {
                self.selected.platform.push(master.masters[i]);
              } else if (aux === "depth") {
                self.selected.depth.push(master.masters[i]);
              } else if (aux === "sales_model") {
                self.selected.salesmodel.push(master.masters[i]);
              } else if (aux === "rate_type") {
                self.selected.ratetype.push(master.masters[i]);
              } else if (aux === "product_origin") {
                self.selected.productorigin.push(master.masters[i]);
              } else if (aux === "request") {
                self.selected.request.push(master.masters[i]);
              } else if (aux === "environments") {
                self.selected.environments.push(master.masters[i]);
              } else if (aux === "distribution_model") {
                self.selected.distributionmodel.push(master.masters[i]);
              } else if (aux === "service_distribution") {
                self.selected.servicedistribution.push(master.masters[i]);
              } else if (aux === "num_clients") {
                self.selected.numClients = master.masters[i];
              }

              if (aux === "service_type" || aux === "sales_channel") {
                const auxMaster = master.masters[i];
                if (aux === "service_type") {
                  self.service = auxMaster;
                  for (let i = 0; auxMaster.masters && i < auxMaster.masters.length; i++) {
                    if (auxMaster.masters[i].entity.toLowerCase() === "platform") {
                      self.serviceSelected.platform.push(auxMaster.masters[i]);
                    } else if (auxMaster.masters[i].entity.toLowerCase() === "sales_model") {
                      self.serviceSelected.salesmodel.push(auxMaster.masters[i]);
                    } else if (auxMaster.masters[i].entity.toLowerCase() === "rate_type") {
                      self.serviceSelected.ratetype.push(auxMaster.masters[i]);
                    } else if (auxMaster.masters[i].entity.toLowerCase() === "product_origin") {
                      self.serviceSelected.productorigin.push(auxMaster.masters[i]);
                    }
                  }
                } else {
                  self.saleChannel = auxMaster;
                  for (let i = 0; auxMaster.masters && i < auxMaster.masters.length; i++) {
                    if (auxMaster.masters[i].entity.toLowerCase() === "distribution_model") {
                      self.salesChannelSelected.distributionmodel.push(auxMaster.masters[i]);
                    } else if (auxMaster.masters[i].entity.toLowerCase() === "request") {
                      self.salesChannelSelected.request.push(auxMaster.masters[i]);
                    } else if (auxMaster.masters[i].entity.toLowerCase() === "environments") {
                      self.salesChannelSelected.environments.push(auxMaster.masters[i]);
                    }else if (auxMaster.masters[i].entity.toLowerCase() === "num_clients") {
                      self.salesChannelSelected.numClients = auxMaster.masters[i];
                    }
                  }
                }
                self.addSelected(aux);
              }
            }

            for (let i = 0; master.allMasters && i < master.allMasters.length; i++) {
              self.allCheckControl(master.allMasters[i], true);
            }
            self.tab = 0;
            self.dialog = true;
          },
          error => {
            self.error(error);
          }
        );
    },
    blockSwitchAll(child) {
      if (child === "depth") {
        this.allCheck.depth = true;
      } else if (child === "platform") {
        this.allCheck.platform = true;
      } else if (child === "sales_model") {
        this.allCheck.sales_model = true;
      } else if (child === "rate_type") {
        this.allCheck.rate_type = true;
      } else if (child === "product_origin") {
        this.allCheck.product_origin = true;
      } else if (child === "request") {
        this.allCheck.request = true;
      } else if (child === "environments") {
        this.allCheck.environments = true;
      } else if (child === "distribution_model") {
        this.allCheck.distribution_model = true;
      } else if (child === "service_type") {
        this.disableSelected.service_type = true;
      } else if (child === "sales_channel") {
        this.disableSelected.sales_channel = true;
      } else if (child === "service_distribution") {
        this.allCheck.service_distribution = true;
      } else if (child === "num_clients") {
        this.allCheck.service_distribution = true;
      }
    },
    unBlockSwitchAll(child) {
      if (child === "depth") {
        this.allCheck.depth = false;
      } else if (child === "platform") {
        this.allCheck.platform = false;
      } else if (child === "sales_model") {
        this.allCheck.sales_model = false;
      } else if (child === "rate_type") {
        this.allCheck.rate_type = false;
      } else if (child === "product_origin") {
        this.allCheck.product_origin = false;
      } else if (child === "request") {
        this.allCheck.request = false;
      } else if (child === "environments") {
        this.allCheck.environments = false;
      } else if (child === "distribution_model") {
        this.allCheck.distribution_model = false;
      } else if (child === "service_type") {
        this.disableSelected.service_type = false;
      } else if (child === "sales_channel") {
        this.disableSelected.sales_channel = false;
      } else if (child === "service_distribution") {
        this.allCheck.service_distribution = false;
      } else if (child === "num_clients") {
        this.allCheck.numClients = false;
      }else if (child === "all") {
        this.allCheck.depth = false;
        this.allCheck.platform = false;
        this.allCheck.sales_model = false;
        this.allCheck.product_origin = false;
        this.allCheck.rate_type = false;
        this.allCheck.distribution_model = false;
        this.allCheck.request = false;
        this.allCheck.environments = false;
        this.allCheck.numClients = false;
        this.allCheck.service_distribution = false;
        this.disableSelected.service_type = false;
        this.disableSelected.sales_channel = false;
      }
    },
    addSelected(parent) {
      let element;
      if (parent === "service_type") {
        element = this.service;
        this.disableSelected.service_type = true;
        this.tab = 0;
      } else {
        element = this.saleChannel;
        this.disableSelected.sales_channel = true;
        this.tab = 1;
      }

      for (
        let i = 0;
        element.allMasters && i < element.allMasters.length;
        i++
      ) {
        this.allCheckChildControl(
          parent,
          element.allMasters[i],
          element.id,
          true
        );
      }
      this.inverseSelected.push(element);
    },
    allCheckControl(child, value) {
      if (value) {
        this.allCheckSelected.push(child);
        this.addAll(child);
      } else {
        this.allCheckSelected.splice(
          utils.getIndexOf(this.allCheckSelected, child),
          1
        );
        this.cleanAll(child);
      }
    },
    addAll(child) {
      const elements = this.getEntityValues(child);
      let selected;
      if (child === "platform") {
        selected = this.selected.platform;
      } else if (child === "depth") {
        selected = this.selected.depth;
      } else if (child === "sales_model") {
        selected = this.selected.salesmodel;
      } else if (child === "rate_type") {
        selected = this.selected.ratetype;
      } else if (child === "product_origin") {
        selected = this.selected.productorigin;
      } else if (child === "request") {
        selected = this.selected.request;
      } else if (child === "environments") {
        selected = this.selected.environments;
      } else if (child === "distribution_model") {
        selected = this.selected.distributionmodel;
      } else if (child === "service_distribution") {
        selected = this.selected.servicedistribution;
      }
      let block = false;
      for (let i = 0; elements && i < elements.length; i++) {
        const element = elements[i];
        if (selected.length === 0 || !this.exists(element, selected)) {
          selected.push(element);
          block = true;
        }
      }

      if (block) {
        this.blockSwitchAll(child);
      }
    },
    cleanAll(child) {
      if (child === "platform") {
        this.selected.platform = [];
      } else if (child === "depth") {
        this.selected.depth = [];
      } else if (child === "sales_model") {
        this.selected.salesmodel = [];
      } else if (child === "rate_type") {
        this.selected.ratetype = [];
      } else if (child === "product_origin") {
        this.selected.productorigin = [];
      } else if (child === "request") {
        this.selected.request = [];
      } else if (child === "environments") {
        this.selected.environments = [];
      } else if (child === "distribution_model") {
        this.selected.distributionmodel = [];
      } else if (child === "service_distribution") {
        this.selected.servicedistribution = [];
      }
    },
    allCheckChildControl(parent, child, id, value) {
      if (value) {
        if (parent === "service_type") {
          this.serviceAllCheckSelected.push(child);
        } else {
          this.salesChannelAllCheckSelected.push(child);
        }
        this.addChildAll(parent, child, id);
      } else {
        if (parent === "service_type") {
          this.serviceAllCheckSelected.splice(
            utils.getIndexOf(this.serviceAllCheckSelected, child),
            1
          );
        } else {
          this.salesChannelAllCheckSelected.splice(
            utils.getIndexOf(this.salesChannelAllCheckSelected, child),
            1
          );
        }
        this.cleanChildAll(parent, child);
      }
    },
    addChildAll(parent, child, id) {
      let elements = this.getChildValues(parent, child, id);
      let selected;
      if (parent === "service_type") {
        if (child === "platform") {
          selected = this.serviceSelected.platform;
        } else if (child === "sales_model") {
          selected = this.serviceSelected.salesmodel;
        } else if (child === "rate_type") {
          selected = this.serviceSelected.ratetype;
        } else if (child === "product_origin") {
          selected = this.serviceSelected.productorigin;
        }
      } else {
        if (child === "distribution_model") {
          selected = this.salesChannelSelected.distributionmodel;
        } else if (child === "request") {
          selected = this.salesChannelSelected.request;
        } else if (child === "environments") {
          selected = this.salesChannelSelected.environments;
        } else if (child === "num_clients") {
          selected = this.salesChannelSelected.numClients;
        }
      }
      let block = false;
      for (let i = 0; elements && i < elements.length; i++) {
        const element = elements[i];
        if (!this.exists(element, selected)) {
          if (parent === "service_type") {
            if (child === "platform") {
              this.serviceSelected.platform.push(element);
            } else if (child === "sales_model") {
              this.serviceSelected.salesmodel.push(element);
            } else if (child === "rate_type") {
              this.serviceSelected.ratetype.push(element);
            } else if (child === "product_origin") {
              this.serviceSelected.productorigin.push(element);
            }
          } else {
            if (child === "distribution_model") {
              selected = this.salesChannelSelected.distributionmodel.push(
                element
              );
            } else if (child === "request") {
              selected = this.salesChannelSelected.request.push(element);
            } else if (child === "environments") {
              selected = this.salesChannelSelected.environments.push(element);
            } else if (child === "num_clients") {
              selected = this.salesChannelSelected.numClients = element;
            }
          }
          block = true;
        }
      }
      if (block) {
        this.blockSwitchAll(child);
      }
    },
    cleanChildAll(parent, child) {
      if (parent === "service_type") {
        if (child === "platform") {
          this.serviceSelected.platform = [];
        } else if (child === "sales_model") {
          this.serviceSelected.salesmodel = [];
        } else if (child === "rate_type") {
          this.serviceSelected.ratetype = [];
        } else if (child === "product_origin") {
          this.serviceSelected.productorigin = [];
        }
      } else {
        if (child === "distribution_model") {
          this.salesChannelSelected.distributionmodel = [];
        } else if (child === "request") {
          this.salesChannelSelected.request = [];
        } else if (child === "environments") {
          this.salesChannelSelected.environments = [];
        } else if (child === "num_clients") {
          this.salesChannelSelected.numClients = null;
        }
      }
    },
    exists(element, elements) {
      let exist = false;
      for (let i = 0; elements && i < elements.length; i++) {
        if (
          element.entity === elements[i].entity &&
          element.id === elements[i].id
        ) {
          exist = true;
          break;
        }
      }
      return exist;
    },
    getEntityValues(child) {
      if (child === "rate_category") {
        return ["CLIENTE", "PROVEEDOR PULL", "AMBOS"];
      }
      return masterUtils.getEntityValues(this.masters, child);
    },
    getChildValues(parent, child, id) {
      let values = [];
      let elements = this.getEntityValues(parent);
      for (let i = 0; elements && i < elements.length; i++) {
        const element = elements[i];
        if (element.entity.toLowerCase() === parent && element.id === id) {
          if (element.allMasters && element.allMasters.indexOf(child) !== -1) {
            values = this.getEntityValues(child);
          } else {
            for (
              let j = 0;
              element.masters && j < element.masters.length;
              j++
            ) {
              if (element.masters[j].entity.toLowerCase() === child) {
                values.push(element.masters[j]);
              }
            }
          }
        }
      }
      return values;
    },
    valueLanguage: item => utils.valueLanguage(item.name, "ESP")
  }
};
</script>
<style lang="scss" scoped>

</style>