<template>
  <div class="post">
    <TheSupplierCredential
      :id="id"
      :route="route"
      :is-filter-page="false"
      @pendingSave="pendingToCommit = $event"
    />

    <v-row class="justify-center">
      <PendingSaveAlert
        v-model="showDialog"
        @close="closeDialog"
        @discard-changes="discardChanges"
      />
    </v-row>
  </div>
</template>
<script>
import TheSupplierCredential from "./components/TheSupplierCredential";
import PendingSaveAlert from "../../components/PendingSaveAlert";

export default {
  components: {
    TheSupplierCredential,
    PendingSaveAlert,
  },
  data() {
    return {
      route: this.$route.path,
      id: "",
      pendingToCommit: false,
      to: null,
      showDialog: false
    };
  },
  beforeMount() {
    window.addEventListener('beforeunload', this.preventNav);
    this.$once('hook:beforeDestroy', () => {
      window.removeEventListener('beforeunload', this.preventNav);
    });
  },
  beforeRouteLeave(to, from, next) {
    if (!this.pendingToCommit) {
      next();
    }

    if (this.to) {
      next();
    } else {
      this.to = to;
      this.showDialog = true;
    }
  },
  methods: {
    closeDialog() {
      this.showDialog = false;
      this.to = null;
    },
    discardChanges() {
      this.showDialog = false;
      this.$router.push(this.to);
    },
    preventNav(event) {
      if (this.pendingToCommit) {
        event.preventDefault();
        event.returnValue = "";
      }
    }
  }
};
</script>
<style scoped>
</style>