<template>
  <div class="post">
    <div class="headline col-12 no-gutters">
      {{ $t("supplier_credential.suppliers") }}
    </div>
    <v-expansion-panels
      v-model="filterPanel"
      multiple
    >
      <v-expansion-panel>
        <v-expansion-panel-header
          class="wrapper-header py-2"
          header
        />
        <v-expansion-panel-content>
          <v-form
            id="searchSupplier"
            autocomplete="off"
            @submit.prevent="handleSubmit"
          >
            <v-container
              ma-auto
              pa-0
            >
              <small class="col-12 py-0">{{ $t('supplier_credential.searchSupplier') }}</small>

              <v-layout class="col-12 layout-01">
                <v-autocomplete
                  v-model="supplierSearch.supplier"
                  :items="getEntityValues('sys_supplier')"
                  :label="$t('tables.supplier')"
                  item-value="id"
                  :item-text="valueLanguage"
                  class="col-5 col-md-3"
                  hide-details="auto"
                  dense
                  return-object
                  clearable
                />

                <v-autocomplete
                  v-model="supplierSearch.subSupplier"
                  :items="computedSubSupplier"
                  :label="$t('tables.subSupplier')"
                  item-value="id"
                  :item-text="valueLanguage"
                  class="col-5 col-md-4"
                  hide-details="auto"
                  dense
                  return-object
                  clearable
                />

                <div class="text-center">
                  <v-menu transition="fade-transition">
                    <template v-slot:activator="{on, attrs}">
                      <v-btn
                        color="secondary"
                        class="col-2 col-md-1"
                        small
                        text
                        v-bind="attrs"
                        v-on="on"
                      >
                        {{ $t('filter') }}
                      </v-btn>
                    </template>

                    <v-list dense>
                      <small v-if="countselect">{{ $t('selectedFilter') }}</small>
                      <v-icon
                        v-if="countselect"
                        color="red"
                        class="mr-2"
                        small
                        @click="cleanFilter"
                      >
                        delete
                      </v-icon>
                      <v-list-item
                        v-for="n in listSelected"
                        :key="n.id"
                        dense
                        @click="addFilter('supplier', n, false)"
                      >
                        <v-list-item-title
                          dense
                          v-text="n.text"
                        />
                      </v-list-item>
                    </v-list>
                    <v-divider />
                    <v-list dense>
                      <v-list-item
                        v-for="n in listUnSelected"
                        :key="n.id"
                        dense
                        @click="addFilter('supplier', n, true)"
                      >
                        <v-list-item-title
                          dense
                          v-text="n.text"
                        />
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </div>

                <div class="text-center">
                  <v-menu transition="fade-transition">
                    <template v-slot:activator="{on, attrs}">
                      <v-btn
                        color="secondary"
                        class="col-2 col-md-1"
                        text
                        small
                        v-bind="attrs"
                        v-on="on"
                      >
                        {{ $t('filterCredential') }}
                      </v-btn>
                    </template>

                    <v-list dense>
                      <small v-if="countselectcredential">{{ $t('selectedFilter') }}</small>
                      <v-icon
                        v-if="countselectcredential"
                        color="red"
                        class="mr-2"
                        small
                        @click="cleanFilter('credential')"
                      >
                        delete
                      </v-icon>
                      <v-list-item
                        v-for="n in listSelectedCredential"
                        :key="n.id"
                        dense
                        @click="addFilter('credential', n, false)"
                      >
                        <v-list-item-title
                          dense
                          v-text="n.text"
                        />
                      </v-list-item>
                    </v-list>
                    <v-divider />
                    <v-list dense>
                      <v-list-item
                        v-for="n in listUnSelectedCredential"
                        :key="n.id"
                        dense
                        @click="addFilter('credential', n, true)"
                      >
                        <v-list-item-title
                          dense
                          v-text="n.text"
                        />
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </div>

                <div class="text-center">
                  <v-menu transition="fade-transition">
                    <template v-slot:activator="{on, attrs}">
                      <v-btn
                        color="secondary"
                        class="col-2 col-md-1"
                        text
                        small
                        v-bind="attrs"
                        v-on="on"
                      >
                        {{ $t('filterConnector') }}
                      </v-btn>
                    </template>

                    <v-list dense>
                      <small v-if="countselectconnector">{{ $t('selectedFilter') }}</small>
                      <v-icon
                        v-if="countselectconnector"
                        color="red"
                        class="mr-2"
                        small
                        @click="cleanFilter('connector')"
                      >
                        delete
                      </v-icon>
                      <v-list-item
                        v-for="n in listSelectedConnector"
                        :key="n.id"
                        dense
                        @click="addFilter('connector', n, false)"
                      >
                        <v-list-item-title
                          dense
                          v-text="n.text"
                        />
                      </v-list-item>
                    </v-list>
                    <v-divider />
                    <v-list dense>
                      <v-list-item
                        v-for="n in listUnSelectedConnector"
                        :key="n.id"
                        dense
                        @click="addFilter('connector', n, true)"
                      >
                        <v-list-item-title
                          dense
                          v-text="n.text"
                        />
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </div>
              </v-layout>

              <v-layout class="col-12 layout-02 flex-wrap py-0">
                <v-select
                  v-model="supplierSearch.status"
                  :label="$t('tables.status')"
                  :items="getEntityValues('status_credential')"
                  item-value="id"
                  :item-text="valueLanguage"
                  class="col-2 col-md-3"
                  hide-details="auto"
                  dense
                  return-object
                  clearable
                />

                <v-select
                  v-model="supplierSearch.ownProduct"
                  :label="$t('supplier_credential.supplierOwnProduct')"
                  :items="getYesOrNoValues()"
                  item-value="id"
                  item-text="name"
                  class="col-1"
                  hide-details="auto"
                  dense
                  clearable
                />

                <v-select
                  v-if="showFilter('supplier', 'serviceType')"
                  v-model="supplierSearch.serviceType"
                  :label="$t('supplier_credential.service_type')"
                  :items="getEntityValues('service_type')"
                  item-value="id"
                  :item-text="valueLanguage"
                  class="col-3"
                  hide-details="auto"
                  dense
                  return-object
                  clearable
                />

                <v-autocomplete
                  v-if="showFilter('supplier', 'user')"
                  v-model="supplierSearch.user"
                  :items="getEntityValues('users')"
                  :label="$t('supplier_credential.user')"
                  item-value="id"
                  :item-text="valueLanguage"
                  class="col-3"
                  hide-details="auto"
                  dense
                  return-object
                  clearable
                />

                <v-text-field
                  v-if="showFilter('supplier', 'wbds')"
                  v-model="supplierSearch.wbds"
                  :label="$t('supplier_credential.supplierWBDS')"
                  class="col-12 col-sm-1 ma-2"
                  hide-details="auto"
                  dense
                />

                <v-select
                  v-if="showFilter('supplier', 'buyModel')"
                  v-model="supplierSearch.buyModel"
                  :label="$t('supplier_credential.buyModel')"
                  :items="getEntityValues('buy_model')"
                  item-value="id"
                  :item-text="valueLanguage"
                  class="col-3"
                  hide-details="auto"
                  dense
                  return-object
                  clearable
                />

                <TheSelectAjax
                  v-if="showFilter('supplier', 'clients')"
                  :title="$t('supplier_credential.clients')"
                  entity="agency"
                  :route="masterRoute"
                  styles="col-3 pa-0 ma-1"
                  @populate="populate"
                  @clear="clear"
                />

                <v-select
                  v-if="showFilter('supplier', 'clientPref')"
                  v-model="supplierSearch.clientPref"
                  :label="$t('supplier_credential.clientPref')"
                  :items="getEntityValues('client_pref')"
                  item-value="id"
                  :item-text="valueLanguage"
                  class="col-3"
                  hide-details="auto"
                  dense
                  return-object
                  clearable
                />

                <v-select
                  v-if="showFilter('supplier', 'xsell')"
                  v-model="supplierSearch.xSell"
                  :label="$t('supplier_credential.xSell')"
                  :items="getYesOrNoValues()"
                  item-value="id"
                  item-text="name"
                  class="col-1 col-sm-2"
                  hide-details="auto"
                  dense
                  clearable
                />

                <v-select
                  v-if="showFilter('supplier', 'topDestination')"
                  v-model="supplierSearch.topDestinations"
                  :label="$t('supplier_credential.topDestination')"
                  :items="getEntityValues('top_destination')"
                  item-value="id"
                  :item-text="valueLanguage"
                  class="col-3"
                  hide-details="auto"
                  dense
                  return-object
                  clearable
                />

                <TheSelectAjax
                  v-if="showFilter('supplier', 'service')"
                  :title="$t('supplier_credential.supplierSrvOther')"
                  entity="transfer"
                  entity2="activity"
                  :route="masterRoute"
                  styles="col-3 pa-0 ma-1"
                  @populate="populate"
                  @clear="clear"
                />

                <TheSelectAjax
                  v-if="showFilter('supplier', 'sap')"
                  :title="$t('supplier_credential.supplierSAP')"
                  entity="supplier"
                  :route="masterRoute"
                  styles="col-3 pa-0 ma-1"
                  @populate="populate"
                  @clear="clear"
                />

                <v-select
                  v-if="showFilter('supplier', 'mhr')"
                  v-model="supplierSearch.mhr"
                  :label="$t('supplier_credential.multiHotel')"
                  :items="getYesOrNoValues()"
                  item-value="id"
                  item-text="name"
                  class="col-1 col-sm-2"
                  hide-details="auto"
                  dense
                  clearable
                />

                <v-select
                  v-if="showFilter('supplier', 'timeout')"
                  v-model="supplierSearch.timeout"
                  :label="$t('supplier_credential.timeout')"
                  :items="getYesOrNoValues()"
                  item-value="id"
                  item-text="name"
                  class="col-1 col-sm-2"
                  hide-details="auto"
                  dense
                  clearable
                />

                <v-select
                  v-if="showFilter('supplier', 'regimen')"
                  v-model="supplierSearch.regimen"
                  :label="$t('supplier_credential.regimen')"
                  :items="getYesOrNoValues()"
                  item-value="id"
                  item-text="name"
                  class="col-1 col-sm-2"
                  hide-details="auto"
                  dense
                  clearable
                />

                <v-select
                  v-if="showFilter('supplier', 'availgts')"
                  v-model="supplierSearch.availgts"
                  :label="$t('supplier_credential.availCost')"
                  :items="getYesOrNoValues()"
                  item-value="id"
                  item-text="name"
                  class="col-1 col-sm-2"
                  hide-details="auto"
                  dense
                  clearable
                />

                <v-select
                  v-if="showFilter('supplier', 'sla')"
                  v-model="supplierSearch.sla"
                  :label="$t('supplier_credential.sla')"
                  :items="getYesOrNoValues()"
                  item-value="id"
                  item-text="name"
                  class="col-1 col-sm-2"
                  hide-details="auto"
                  dense
                  clearable
                />

                <v-text-field
                  v-if="showFilter('supplier', 'giata')"
                  v-model="supplierSearch.giata"
                  :label="$t('supplier_credential.giata')"
                  class="col-12 col-sm-2 ma-2"
                  hide-details="auto"
                  dense
                />
              </v-layout>

              <small
                v-if="countselectcredential"
                class="col-12 py-0"
              >
                {{ $t('supplier_credential.searchCredential') }}
              </small>
              <v-layout class="col-12 layout-03">
                <v-select
                  v-if="showFilter('credential', 'brand')"
                  v-model="supplierSearch.brand"
                  :label="$t('supplier_credential.brand')"
                  :items="getEntityValues('brand')"
                  item-value="id"
                  :item-text="valueLanguage"
                  class="col-3"
                  hide-details="auto"
                  dense
                  return-object
                  clearable
                />

                <v-select
                  v-if="showFilter('credential', 'active')"
                  v-model="supplierSearch.active"
                  :label="$t('supplier_credential.valid')"
                  :items="getYesOrNoValues()"
                  item-value="id"
                  item-text="name"
                  class="col-1 col-sm-2"
                  hide-details="auto"
                  dense
                  clearable
                />

                <v-select
                  v-if="showFilter('credential', 'test')"
                  v-model="supplierSearch.test"
                  :label="$t('supplier_credential.test')"
                  :items="getYesOrNoValues()"
                  item-value="id"
                  item-text="name"
                  class="col-1 col-sm-2"
                  hide-details="auto"
                  dense
                  clearable
                />

                <v-select
                  v-if="showFilter('credential', 'dft')"
                  v-model="supplierSearch.dft"
                  :label="$t('supplier_credential.dft')"
                  :items="getYesOrNoValues()"
                  item-value="id"
                  item-text="name"
                  class="col-1 col-sm-2"
                  hide-details="auto"
                  dense
                  clearable
                />

                <v-select
                  v-if="showFilter('credential', 'hotelx')"
                  v-model="supplierSearch.hotelx"
                  :label="$t('supplier_credential.hotx')"
                  :items="getEntityValues('hotelx')"
                  item-value="id"
                  class="col-2"
                  hide-details="auto"
                  dense
                  clearable
                />
              </v-layout>

              <v-layout class="col-12 layout-02 flex-wrap py-0">
                <v-select
                  v-if="showFilter('credential', 'currency')"
                  v-model="supplierSearch.tagdiv"
                  :label="$t('supplier_credential.tagdiv')"
                  :items="getYesOrNoValues()"
                  item-value="id"
                  item-text="name"
                  class="col-1 col-sm-2"
                  hide-details="auto"
                  dense
                  clearable
                />

                <v-autocomplete
                  v-if="showFilter('credential', 'currency')"
                  v-model="supplierSearch.currency"
                  :items="getEntityValues('currencies')"
                  :label="$t('supplier_credential.currencies')"
                  item-value="id"
                  :item-text="valueLanguage"
                  class="col-3"
                  hide-details="auto"
                  dense
                  return-object
                  clearable
                />

                <v-select
                  v-if="showFilter('credential', 'market')"
                  v-model="supplierSearch.tagnac"
                  :label="$t('supplier_credential.tagnac')"
                  :items="getYesOrNoValues()"
                  item-value="id"
                  item-text="name"
                  class="col-1 col-sm-2"
                  hide-details="auto"
                  dense
                  clearable
                />

                <v-autocomplete
                  v-if="showFilter('credential', 'market')"
                  v-model="supplierSearch.market"
                  :items="getEntityValues('countries')"
                  :label="$t('supplier_credential.countries')"
                  item-value="id"
                  :item-text="valueLanguage"
                  class="col-3"
                  hide-details="auto"
                  dense
                  return-object
                  clearable
                />

                <v-select
                  v-if="showFilter('credential', 'clienttype')"
                  v-model="supplierSearch.clienttype"
                  :label="$t('supplier_credential.clientype')"
                  :items="getEntityValues('clienttype')"
                  item-value="id"
                  :item-text="valueLanguage"
                  class="col-1 col-sm-2"
                  hide-details="auto"
                  dense
                  return-object
                  clearable
                />

                <v-select
                  v-if="showFilter('credential', 'model')"
                  v-model="supplierSearch.model"
                  :label="$t('page.distribution_model')"
                  :items="getEntityValues('model')"
                  item-value="id"
                  :item-text="valueLanguage"
                  class="col-3"
                  hide-details="auto"
                  dense
                  return-object
                  clearable
                />

                <v-select
                  v-if="showFilter('credential', 'rate')"
                  v-model="supplierSearch.rate"
                  :label="$t('page.rate_type')"
                  :items="getEntityValues('rate')"
                  item-value="id"
                  :item-text="valueLanguage"
                  class="col-3"
                  hide-details="auto"
                  dense
                  return-object
                  clearable
                />

                <v-text-field
                  v-if="showFilter('credential', 'name')"
                  v-model="supplierSearch.name"
                  :label="$t('supplier_credential.name')"
                  class="col-12 col-sm-3 ma-2"
                  hide-details="auto"
                  dense
                />
              </v-layout>

              <small
                v-if="countselectconnector"
                class="col-12 py-0"
              >
                {{ $t('supplier_credential.searchConnector') }}
              </small>
              <v-layout class="col-12 layout-04">
                <v-select
                  v-if="showFilter('connector', 'corp')"
                  v-model="supplierSearch.corp"
                  :label="$t('supplier_credential.corp')"
                  :items="getEntityValues('corp')"
                  item-value="id"
                  :item-text="valueLanguage"
                  class="col-5 col-md-6"
                  hide-details="auto"
                  dense
                  return-object
                  clearable
                />

                <v-text-field
                  v-if="showFilter('connector', 'username')"
                  v-model="supplierSearch.username"
                  :label="$t('supplier_credential.username')"
                  class="col-12 col-sm-3 mt-3"
                  hide-details="auto"
                  dense
                />

                <v-text-field
                  v-if="showFilter('connector', 'connect')"
                  v-model="supplierSearch.connect"
                  :label="$t('supplier_credential.connect')"
                  class="col-12 col-sm-3 mt-3"
                  hide-details="auto"
                  dense
                />
              </v-layout>

              <v-layout class="col-12 layout-02 flex-wrap py-0">
                <v-select
                  v-if="showFilter('connector', 'factype')"
                  v-model="supplierSearch.factype"
                  :label="$t('supplier_credential.invtype')"
                  :items="getEntityValues('factype')"
                  item-value="id"
                  :item-text="valueLanguage"
                  class="col-3"
                  hide-details="auto"
                  dense
                  return-object
                  clearable
                />

                <v-menu
                  v-if="showFilter('connector', 'checkdate')"
                  v-model="modalCheckFrom"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{on}">
                    <v-text-field
                      v-model="checkFromFormatted"
                      :label="$t('supplier_credential.checkinto')"
                      hint="DD/MM/YYYY"
                      persistent-hint
                      prepend-icon="event"
                      clearable
                      class="col-3 col-md-2"
                      hide-details="auto"
                      dense
                      @blur="supplierSearch.checkinfrom = parseDate(checkFromFormatted);"
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="supplierSearch.checkinfrom"
                    no-title
                    @input="checkFromFormatted = formatDate(supplierSearch.checkinfrom); modalCheckFrom = false;"
                  />
                </v-menu>

                <v-menu
                  v-if="showFilter('connector', 'checkdate')"
                  v-model="modalCheckTo"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{on}">
                    <v-text-field
                      v-model="checkToFormatted"
                      :label="$t('supplier_credential.checkinto')"
                      hint="DD/MM/YYYY"
                      persistent-hint
                      prepend-icon="event"
                      clearable
                      class="col-3 col-md-2"
                      hide-details="auto"
                      dense
                      @blur="supplierSearch.checkinto = parseDate(checkToFormatted);"
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="supplierSearch.checkinto"
                    no-title
                    hide-details="auto"
                    @input="modalCheckTo = false; checkToFormatted = formatDate(supplierSearch.checkinto);"
                  />
                </v-menu>

                <v-menu
                  v-if="showFilter('connector', 'bookdate')"
                  v-model="modalBookFrom"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{on}">
                    <v-text-field
                      v-model="bookFromFormatted"
                      :label="$t('supplier_credential.bookfrom')"
                      hint="DD/MM/YYYY"
                      persistent-hint
                      prepend-icon="event"
                      clearable
                      class="col-3 col-md-2"
                      hide-details="auto"
                      dense
                      @blur="supplierSearch.bookfrom = parseDate(bookFromFormatted);"
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="supplierSearch.bookfrom"
                    no-title
                    hide-details="auto"
                    @input="modalBookFrom = false; bookFromFormatted = formatDate(supplierSearch.bookfrom);"
                  />
                </v-menu>

                <v-menu
                  v-if="showFilter('connector', 'bookdate')"
                  v-model="modalBookTo"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{on}">
                    <v-text-field
                      v-model="bookToFormatted"
                      :label="$t('supplier_credential.bookto')"
                      hint="DD/MM/YYYY"
                      persistent-hint
                      prepend-icon="event"
                      clearable
                      class="col-3 col-md-2"
                      hide-details="auto"
                      dense
                      @blur="supplierSearch.bookto = parseDate(bookToFormatted);"
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="supplierSearch.bookto"
                    no-title
                    hide-details="auto"
                    @input="modalBookTo = false; bookToFormatted = formatDate(supplierSearch.bookto);"
                  />
                </v-menu>
              </v-layout>
            </v-container>

            <small class="col-12 py-0">{{ $t('seachNote') }}</small>
            <v-card-actions class="pt-0">
              <v-spacer />
              <v-progress-circular
                v-show="activeProgres"
                indeterminate
                color="primary"
                dense
                class="mr-2"
              />
              <v-btn
                color="primary"
                small
                text
                @click="cleanForm"
              >
                {{ $t('button.clean') }}
              </v-btn>
              <v-btn
                color="primary"
                small
                text
                type="submit"
                form="searchSupplier"
                :disabled="!isValid"
              >
                {{ $t('button.search') }}
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <v-card
      v-if="nodatafilter"
      class="mt-2 mb-2 pt-2 pb-2"
      content
    >
      <v-alert
        class="ml-2 mr-2 mt-2 mb-2"
        color="blue"
        outlined
        text
        type="info"
      >
        <strong>{{ $t("nodatafilter") }}</strong>
      </v-alert>
    </v-card>
    <v-card
      v-if="showResult"
      content
    >
      <v-data-table
        :dense="true"
        :headers="computedHeaders"
        :items="datatable"
        :page.sync="page"
        :items-per-page="rowsPerPage"
        :expanded.sync="expanded"
        show-expand
        hide-default-footer
        class="elevation-1"
        @page-count="pageCount = $event"
      >
        <template v-slot:top>
          <v-toolbar
            flat
            color="white"
          >
            <small class="pt-0">{{ $t('show') }}</small>
            <v-select
              v-model="rowsPerPage"
              item-value="id"
              item-text="name"
              class="col-1 col-sm-1"
              hide-details="auto"
              dense
              :items="rowsPerPageSelect"
            />
            <small class="pt-0">{{ $t('entries') }}</small>
            <v-spacer />
            <div class="text-center">
              <v-menu transition="fade-transition">
                <template v-slot:activator="{on, attrs}">
                  <v-btn
                    color="secondary"
                    class="col"
                    text
                    small
                    v-bind="attrs"
                    v-on="on"
                  >
                    {{ $t('column') }}
                  </v-btn>
                </template>
                <v-list dense>
                  <small v-if="countColumnselect">{{ $t('selectedColumn') }}</small>
                  <v-icon
                    v-if="countColumnselect"
                    color="red"
                    class="mr-1"
                    small
                    @click="cleanColumn"
                  >
                    delete
                  </v-icon>
                  <v-list-item
                    v-for="n in listColumnSelected"
                    :key="n.id"
                    dense
                    @click="addColumn(n, false)"
                  >
                    <v-list-item-title
                      dense
                      v-text="n.text"
                    />
                  </v-list-item>
                </v-list>
                <v-divider />
                <v-list dense>
                  <v-list-item
                    v-for="n in listColumnUnSelected"
                    :key="n.id"
                    dense
                    @click="addColumn(n, true)"
                  >
                    <v-list-item-title
                      dense
                      v-text="n.text"
                    />
                  </v-list-item>
                </v-list>
              </v-menu>
            </div>
          </v-toolbar>
        </template>
        <template v-slot:expanded-item="{headers,item}">
          <td :colspan="headers.length">
            <TheSupplierCredential
              :id="item.id"
              ref="TheSupplierCredential"
              :route="route"
              :index="getIndex(item)"
              :filter-group="filterGroup"
              :filter-connector="filterConnector"
              :is-filter-page="true"
              @updateNotes="updateNotes"
              @unExpand="unExpand"
              @delete="deleteRow"
              @pendingSave="change($event)"
            />
          </td>
        </template>
        <template v-slot:item.status="{item}">
          <v-chip
            class="ma-1"
            label
            x-small
            :color="getColor(item.status)"
            text-color="white"
          >
            {{ getStatusText(item.status) }}
          </v-chip>
        </template>
        <template v-slot:item.own="{item}">
          <v-icon
            v-if="item.own"
            small
            color="green"
            class="mr-2"
          >
            done
          </v-icon>

          <v-icon
            v-if="!item.own"
            color="red"
            class="mr-2"
            small
          >
            clear
          </v-icon>
        </template>
        <template v-slot:item.xsell="{item}">
          <v-icon
            v-if="item.xsell"
            small
            color="green"
            class="mr-2"
          >
            done
          </v-icon>

          <v-icon
            v-if="!item.xsell"
            color="red"
            class="mr-2"
            small
          >
            clear
          </v-icon>
        </template>
        <template v-slot:item.mhr="{item}">
          <v-icon
            v-if="item.mhr"
            small
            color="green"
            class="mr-2"
          >
            done
          </v-icon>

          <v-icon
            v-if="!item.mhr"
            color="red"
            class="mr-2"
            small
          >
            clear
          </v-icon>
        </template>
        <template v-slot:item.timeout="{item}">
          <v-icon
            v-if="item.timeout"
            small
            color="green"
            class="mr-2"
          >
            done
          </v-icon>

          <v-icon
            v-if="!item.timeout"
            color="red"
            class="mr-2"
            small
          >
            clear
          </v-icon>
        </template>
        <template v-slot:item.availgts="{item}">
          <v-icon
            v-if="item.availgts"
            small
            color="green"
            class="mr-2"
          >
            done
          </v-icon>

          <v-icon
            v-if="!item.availgts"
            color="red"
            class="mr-2"
            small
          >
            clear
          </v-icon>
        </template>
        <template v-slot:item.regimen="{item}">
          <v-icon
            v-if="item.regimen"
            small
            color="green"
            class="mr-2"
          >
            done
          </v-icon>

          <v-icon
            v-if="!item.regimen"
            color="red"
            class="mr-2"
            small
          >
            clear
          </v-icon>
        </template>
        <template v-slot:item.sla="{item}">
          <v-icon
            v-if="item.sla"
            small
            color="green"
            class="mr-2"
          >
            done
          </v-icon>

          <v-icon
            v-if="!item.sla"
            color="red"
            class="mr-2"
            small
          >
            clear
          </v-icon>
        </template>
        <template v-slot:no-results>
          <v-alert
            :value="true"
            color="error"
            icon="warning"
          >
            {{ $t('noresults') }}
          </v-alert>
        </template>
        <template v-slot:item.action="{item}">
          <v-icon
            class="mx-1"
            color="var(--v-icon-color)"
            small
            @click="openNotes('notes', item)"
          >
            note_add
          </v-icon>
        </template>
      </v-data-table>
      <div class="table-controls d-flex justify-end flex-wrap mb-3">
        <v-layout class="col-12 layout-01 pa-0 ma-0">
          <small class="col-3 pt-1"> {{ countRow }} </small>
          <v-pagination
            v-model="page"
            :length="pageCount"
            total-visible="7"
            class="col-9 justify-end pt-1 mb-2"
          />
        </v-layout>
      </div>
    </v-card>
    <v-dialog
      v-model="dialogNotes"
      persistent
      max-width="600px"
    >
      <v-card class="dialog-01">
        <v-card-title>
          <span
            v-if="true"
            class="headline"
          >
            {{ $t('credential.notelist') }}
          </span>
        </v-card-title>
        <v-form
          id="notesForm"
          ref="notesForm"
          v-model="isValid"
          autocomplete="off"
        >
          <v-card-text>
            <v-container
              ma-auto
              pa-0
            >
              <v-layout
                v-if="true"
                class="col-12 layout-08 wrap pa-0 ma-0"
              >
                <v-simple-table class="col-12 pa-0 ma-0">
                  <template v-slot:default>
                    <thead>
                      <tr>
                        <th
                          id="1"
                          class="text-left pa-0 ma-0"
                          colspan="3"
                        >
                          {{ $t('match.notelist') }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="item in supplierSearch.notes"
                        :key="item.date"
                      >
                        <td>{{ item.user }}</td>
                        <td>{{ item.date }}</td>
                        <td>{{ item.note }}</td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
              </v-layout>
            </v-container>
          </v-card-text>
        
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="primary"
              small
              text
              @click="cancelNotes(true, supplierSearch.notes)"
            >
              {{ $t('button.close') }}
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>

    <v-row class="justify-center">
      <PendingSaveAlert
        v-model="showDialog"
        @close="closeDialog"
        @discard-changes="discardChanges"
      />
    </v-row>
  </div>
</template>
<script>
import { mapActions, mapState } from 'vuex';
import { gestcom } from '@services/gestcom';
import { utils } from '@helper/utils';
import TheSupplierCredential from './components/TheSupplierCredential';
import PendingSaveAlert from '../../components/PendingSaveAlert';
import TheSelectAjax from '../../components/TheSelectAjax';
import {dateUtils} from '@helper/dateUtils';
import {masterUtils} from '@helper/masterUtils';

export default {
  components: {
    TheSupplierCredential,
    PendingSaveAlert,
    TheSelectAjax
  },
  data() {
    return {
      supplier: null,
      dialogNotes: false,
      nodatafilter: false,
      countRow: null,
      modalCheckFrom: false,
      modalCheckTo: false,
      modalBookFrom: false,
      modalBookTo: false,
      checkFromFormatted: null,
      checkToFormatted: null,
      bookFromFormatted: null,
      bookToFormatted: null,
      pendingToCommit: false,
      to: null,
      showDialog: false,
      route: this.$route.path.replace('/filter', ''),
      expanded: [],
      page: 1,
      pageCount: 0,
      showResult: false,
      activeProgres: false,
      response: [],
      rowsPerPage: 25,
      rowsPerPageSelect: [
        {
          id: 25,
          name: "25",
        },
        {
          id: 50,
          name: "50",
        },
        {
          id: 75,
          name: "75",
        }
      ],
      filterPanel: [0],
      filterGroup: null,
      filterConnector: null,
      masterRoute: "/api/v1/master/credential/",
      supplierSearch: {
        status: null,
        supplier: null,
        subSupplier: null,
        serviceType: null,
        clients: null,
        topDestinations: null,
        buyModel: null,
        clientPref: null,
        user: null,
        ownProduct: null,
        xsell: null,
        timeout: null,
        mhr: null,
        regimen: null,
        availgts: null,
        sla: null,
        service: null,
        sap: null,
        wbds: null,
        giata: null,
        brand: null,
        active: null,
        dft: null,
        test: null,
        hotelx: null,
        tagdiv: null,
        currency: null,
        tagnac: null,
        market: null,
        clienttype: null,
        model: null,
        rate: null,
        name: null,
        corp: null,
        username: null,
        connect: null,
        factype: null,
        checkinfrom: null,
        checkinto: null,
        bookfrom: null,
        bookto: null,
        notes: null,
        note: null
      },
      supplierSearchDefault: {
        status: null,
        supplier: null,
        subSupplier: null,
        serviceType: null,
        clients: null,
        topDestinations: null,
        buyModel: null,
        clientPref: null,
        user: null,
        ownProduct: null,
        xsell: null,
        timeout: null,
        mhr: null,
        regimen: null,
        availgts: null,
        sla: null,
        service: null,
        sap: null,
        wbds: null,
        giata: null,
        brand: null,
        active: null,
        dft: null,
        test: null,
        hotelx: null,
        tagdiv: null,
        currency: null,
        tagnac: null,
        market: null,
        clienttype: null,
        model: null,
        rate: null,
        name: null,
        corp: null,
        username: null,
        connect: null,
        factype: null,
        checkinfrom: null,
        checkinto: null,
        bookfrom: null,
        bookto: null,
      },
      countunselect: true,
      countunselectcredential: true,
      countunselectconnector: true,
      countselect: true,
      countselectcredential: true,
      countselectconnector: true,
      countColumnselect: true,
      countColumnUnselect: true,
      searchFilter : [
        {
          id: "all",
          show: false,
          text: this.$i18n.t('allFilter')
        },
        {
          id: "serviceType",
          show: false,
          text: this.$i18n.t('supplier_credential.service_type')
        },
        {
          id: "user",
          show: false,
          text: this.$i18n.t('supplier_credential.user')
        },
        {
          id: "clients",
          show: false,
          text: this.$i18n.t('supplier_credential.clients')
        },
        {
          id: "service",
          show: false,
          text: this.$i18n.t('supplier_credential.supplierSrvOther')
        },
        {
          id: "sap",
          show: false,
          text: this.$i18n.t('tables.supplier') + " " + this.$i18n.t('supplier_credential.supplierSAP')
        },
        {
          id: "buyModel",
          show: false,
          text: this.$i18n.t('supplier_credential.buyModel')
        },
        {
          id: "clientPref",
          show: false,
          text: this.$i18n.t('supplier_credential.clientPref')
        },
        {
          id: "topDestination",
          show: false,
          text: this.$i18n.t('supplier_credential.topDestination')
        },
        {
          id: "xsell",
          show: false,
          text: this.$i18n.t('supplier_credential.xSell')
        },
        {
          id: "mhr",
          show: false,
          text: this.$i18n.t('supplier_credential.multiHotel')
        },
        {
          id: "timeout",
          show: false,
          text: this.$i18n.t('supplier_credential.timeout')
        },
        {
          id: "regimen",
          show: false,
          text: this.$i18n.t('supplier_credential.regimen')
        },
        {
          id: "availgts",
          show: false,
          text: this.$i18n.t('supplier_credential.availCost')
        },
        {
          id: "sla",
          show: false,
          text: this.$i18n.t('supplier_credential.sla')
        },
        {
          id: "wbds",
          show: false,
          text: this.$i18n.t('supplier_credential.supplierWBDS')
        },
        {
          id: "giata",
          show: false,
          text: this.$i18n.t('supplier_credential.giata')
        }
      ],
      searchFilterCredential : [
        {
          id: "all",
          show: false,
          text: this.$i18n.t('allFilter')
        },
        {
          id: "brand",
          show: false,
          text: this.$i18n.t('supplier_credential.brand')
        },
        {
          id: "active",
          show: false,
          text: this.$i18n.t('supplier_credential.valid')
        },
        {
          id: "dft",
          show: false,
          text: this.$i18n.t('supplier_credential.dft')
        },
        {
          id: "test",
          show: false,
          text: this.$i18n.t('supplier_credential.test')
        },
        {
          id: "hotelx",
          show: false,
          text: this.$i18n.t('supplier_credential.hotx')
        },
        {
          id: "currency",
          show: false,
          text: this.$i18n.t('supplier_credential.currencies')
        },
        {
          id: "market",
          show: false,
          text: this.$i18n.t('supplier_credential.countries')
        },
        {
          id: "clienttype",
          show: false,
          text: this.$i18n.t('supplier_credential.clientype')
        },
        {
          id: "model",
          show: false,
          text: this.$i18n.t('page.distribution_model')
        },
        {
          id: "rate",
          show: false,
          text: this.$i18n.t('page.rate_type')
        },
        {
          id: "name",
          show: false,
          text: this.$i18n.t('supplier_credential.name')
        }
      ],
      searchFilterConnector : [
        {
          id: "all",
          show: false,
          text: this.$i18n.t('allFilter')
        },
        {
          id: "corp",
          show: false,
          text: this.$i18n.t('supplier_credential.corp')
        },
        {
          id: "username",
          show: false,
          text: this.$i18n.t('supplier_credential.username')
        },
        {
          id: "connect",
          show: false,
          text: this.$i18n.t('supplier_credential.connect')
        },
        {
          id: "factype",
          show: false,
          text: this.$i18n.t('supplier_credential.invtype')
        },
        // Comentado para ocultar el filtro de la fecha de check-in
        // {
        //   id: "checkdate",
        //   show: false,
        //   text: this.$i18n.t(''supplier_credential.checkdate')
        // },
        {
          id: "bookdate",
          show: false,
          text: this.$i18n.t('supplier_credential.bookdate')
        }
      ],
      searchColumn : [
        {
          id: "all",
          show: false,
          text: this.$i18n.t('allColumn')
        },
        {
          id: "serviceType",
          show: false,
          text: this.$i18n.t('tables.serviceType')
        },
        {
          id: "sap",
          show: false,
          text: this.$i18n.t('tables.supplier') + " " + this.$i18n.t('supplier_credential.supplierSAP')
        },
        {
          id: "ownProduct",
          show: false,
          text: this.$i18n.t('tables.ownProduct')
        },
        {
          id: "kam",
          show: false,
          text: this.$i18n.t('tables.kam')
        },
        {
          id: "cpc",
          show: false,
          text: this.$i18n.t('tables.cpc')
        },
        {
          id: "mce",
          show: false,
          text: this.$i18n.t('tables.mce')
        },
        {
          id: "giata",
          show: false,
          text: this.$i18n.t('tables.giata')
        },
        {
          id: "xsell",
          show: false,
          text: this.$i18n.t('supplier_credential.xSell')
        },
        {
          id: "mhr",
          show: false,
          text: this.$i18n.t('supplier_credential.multiHotel')
        },
        {
          id: "timeout",
          show: false,
          text: this.$i18n.t('supplier_credential.timeout')
        },
        {
          id: "regimen",
          show: false,
          text: this.$i18n.t('supplier_credential.regimen')
        },
        {
          id: "availgts",
          show: false,
          text: this.$i18n.t('supplier_credential.availCost')
        },
        {
          id: "sla",
          show: false,
          text: this.$i18n.t('supplier_credential.sla')
        },
        {
          id: "service",
          show: false,
          text: this.$i18n.t('supplier_credential.supplierSrvOther')
        }
      ]
    };
  },
  computed: {
    ...mapState({
      master: (state) => state.master,
      auth: (state) => state.auth,
    }),
    isValid() {
      return (
        this.supplierSearch.status != null ||
        this.supplierSearch.supplier != null ||
        this.supplierSearch.subSupplier != null ||
        this.supplierSearch.ownProduct != null ||
        (this.supplierSearch.wbds != null && this.showFilter('supplier', 'wbds')) ||
        (this.supplierSearch.giata != null && this.showFilter('supplier', 'giata')) ||
        (this.supplierSearch.sap != null && this.showFilter('supplier', 'sap')) ||
        (this.supplierSearch.service != null && this.showFilter('supplier', 'service')) ||
        (this.supplierSearch.buyModel != null && this.showFilter('supplier', 'buyModel')) ||
        (this.supplierSearch.user != null && this.showFilter('supplier', 'user')) ||
        (this.supplierSearch.topDestinations != null && this.showFilter('supplier', 'topDestination')) ||
        (this.supplierSearch.clientPref != null && this.showFilter('supplier', 'clientPref')) ||
        (this.supplierSearch.serviceType != null && this.showFilter('supplier', 'serviceType')) ||
        (this.supplierSearch.clients != null && this.showFilter('supplier', 'clients')) ||
        (this.supplierSearch.xSell != null && this.showFilter('supplier', 'xsell')) ||
        (this.supplierSearch.mhr != null && this.showFilter('supplier', 'mhr')) ||
        (this.supplierSearch.timeout != null && this.showFilter('supplier', 'timeout')) ||
        (this.supplierSearch.regimen != null && this.showFilter('supplier', 'regimen')) ||
        (this.supplierSearch.availgts != null && this.showFilter('supplier', 'availgts')) ||
        (this.supplierSearch.sla != null && this.showFilter('supplier', 'sla')) ||
        (this.supplierSearch.brand != null && this.showFilter('credential', 'brand')) ||
        (this.supplierSearch.active != null && this.showFilter('credential', 'active')) ||
        (this.supplierSearch.test != null && this.showFilter('credential', 'test')) ||
        (this.supplierSearch.dft != null && this.showFilter('credential', 'dft')) ||
        (this.supplierSearch.hotelx != null && this.showFilter('credential', 'hotelx')) ||
        (this.supplierSearch.tagdiv != null && this.showFilter('credential', 'currency')) ||
        (this.supplierSearch.currency != null && this.showFilter('credential', 'currency')) ||
        (this.supplierSearch.tagnac != null && this.showFilter('credential', 'market')) ||
        (this.supplierSearch.market != null && this.showFilter('credential', 'market')) ||
        (this.supplierSearch.clienttype != null && this.showFilter('credential', 'clienttype')) ||
        (this.supplierSearch.model != null && this.showFilter('credential', 'model')) ||
        (this.supplierSearch.rate != null && this.showFilter('credential', 'rate')) ||
        (this.supplierSearch.name != null && this.showFilter('credential', 'name')) ||
        (this.supplierSearch.corp != null && this.showFilter('connector', 'corp')) ||
        (this.supplierSearch.username != null && this.showFilter('connector', 'username')) ||
        (this.supplierSearch.connect != null && this.showFilter('connector', 'connect')) ||
        (this.supplierSearch.factype != null && this.showFilter('connector', 'factype')) ||
        (this.supplierSearch.checkinfrom != null && this.showFilter('connector', 'checkdate')) ||
        (this.supplierSearch.checkinto != null && this.showFilter('connector', 'checkdate')) ||
        (this.supplierSearch.bookfrom != null && this.showFilter('connector', 'bookdate')) ||
        (this.supplierSearch.bookto != null && this.showFilter('connector', 'bookdate'))
      );
    },
    listSelected() {
      const rows = [];
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      this.countselect = false;
      for (let select of this.searchFilter) {
        if (select.show && select.id !== 'all') {
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.countselect = true;
          rows.push(select);
        }
      }
      return rows;
    },
    listUnSelected() {
      const rows = [];
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      this.countunselect = false;
      for (let select of this.searchFilter) {
        if (!select.show) {
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.countunselect = true;
          rows.push(select);
        }
      }
      return rows;
    },
    listSelectedCredential() {
      const rows = [];
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      this.countselectcredential = false;
      for (let select of this.searchFilterCredential) {
        if (select.show && select.id !== 'all') {
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.countselectcredential = true;
          rows.push(select);
        }
      }
      return rows;
    },
    listUnSelectedCredential() {
      const rows = [];
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      this.countunselectcredential = false;
      for (let select of this.searchFilterCredential) {
        if (!select.show) {
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.countunselectcredential = true;
          rows.push(select);
        }
      }
      return rows;
    },
    listSelectedConnector() {
      const rows = [];
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      this.countselectconnector = false;
      for (let select of this.searchFilterConnector) {
        if (select.show && select.id !== 'all') {
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.countselectconnector = true;
          rows.push(select);
        }
      }
      return rows;
    },
    listUnSelectedConnector() {
      const rows = [];
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      this.countunselectconnector = false;
      for (let select of this.searchFilterConnector) {
        if (!select.show) {
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.countunselectconnector = true;
          rows.push(select);
        }
      }
      return rows;
    },
    listColumnSelected() {
      const rows = [];
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      this.countColumnselect = false;
      for (let select of this.searchColumn) {
        if (select.show && select.id !== 'all') {
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.countColumnselect = true;
          rows.push(select);
        }
      }
      return rows;
    },
    listColumnUnSelected() {
      const rows = [];
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      this.countColumnUnselect = false;
      for (let select of this.searchColumn) {
        if (!select.show) {
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.countColumnUnselect = true;
          rows.push(select);
        }
      }
      return rows;
    },
    computedHeaders() {
      return this.headersTable.filter((header) => !header.hide);
    },
    headersTable() {
      return [
        {
          text: this.$i18n.t('tables.id'),
          align: "left",
          value: "id",
          hide: true,
        },
        {
          text: this.$i18n.t('tables.status'),
          align: "center",
          value: "status",
          width: "7%",
          hide: false,
        },
        {
          text: this.$i18n.t('tables.supplier'),
          align: "left",
          value: "supplier",
          width: "15%",
          hide: false,
        },
        {
          text: this.$i18n.t('tables.subSupplier'),
          align: "left",
          value: "subSupplier",
          width: "10%",
          hide: false,
        },
        {
          text: this.$i18n.t('tables.ownProduct'),
          align: "center",
          value: "own",
          width: "5%",
          hide: this.showColumn('ownProduct'),
          sortable: false
        },
        {
          text: this.$i18n.t('supplier_credential.serviceType'),
          align: "left",
          value: "tse",
          width: "6%",
          hide: this.showColumn('serviceType'),
        },
        {
          text: this.$i18n.t('supplier_credential.supplierSrvOther'),
          align: "left",
          value: "service",
          hide: this.showColumn('service'),
          width: "6%",
        },
        {
          text: this.$i18n.t('supplier_credential.supplierDescSrvOther'),
          align: "left",
          value: "desc",
          hide: this.showColumn('service'),
          width: "6%",
        },
        {
          text: this.$i18n.t('supplier_credential.supplierSAP'),
          align: "center",
          value: "sap",
          hide: this.showColumn('sap'),
        },
        {
          text: this.$i18n.t('tables.wbds'),
          align: "center",
          value: "wbds",
          hide: false,
          sortable: false
        },
        {
          text: this.$i18n.t('supplier_credential.xSell'),
          align: "center",
          value: "xsell",
          hide: this.showColumn('xsell'),
          sortable: false
        },
        {
          text: this.$i18n.t('supplier_credential.multiHotelabr'),
          align: "center",
          value: "mhr",
          hide: this.showColumn('mhr'),
          sortable: false
        },
        {
          text: this.$i18n.t('supplier_credential.timeout'),
          align: "center",
          value: "timeout",
          hide: this.showColumn('timeout'),
          sortable: false
        },
        {
          text: this.$i18n.t('supplier_credential.regimenabr'),
          align: "center",
          value: "regimen",
          hide: this.showColumn('regimen'),
          sortable: false
        },
        {
          text: this.$i18n.t('supplier_credential.availCostabr'),
          align: "center",
          value: "availgts",
          hide: this.showColumn('availgts'),
          sortable: false
        },
        {
          text: this.$i18n.t('supplier_credential.sla'),
          align: "center",
          value: "sla",
          hide: this.showColumn('sla'),
          sortable: false
        },
        {
          text: this.$i18n.t('tables.kam'),
          align: "left",
          value: "kam",
          hide: this.showColumn('kam'),
          width: "6%",
        },
        {
          text: this.$i18n.t('supplier_credential.cpc'),
          align: "left",
          value: "cpc",
          hide: this.showColumn('cpc'),
          width: "6%",
        },
        {
          text: this.$i18n.t('supplier_credential.mce'),
          align: "left",
          value: "mce",
          hide: this.showColumn('mce'),
          width: "6%",
        },
        {
          text: this.$i18n.t('tables.giata'),
          align: "left",
          value: "giata",
          hide: this.showColumn('giata'),
          width: "6%",
        },
        {
          align: "center",
          value: "action",
          hide: false,
          sortable: false
        }
      ];
    },
    datatable() {
      const rows = [];
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      this.countRow = null;
      if (this.response && this.response.length > 0) {
        for (let select of this.response) {
          const sys = masterUtils.getMasterFromCodes(this.master, select.codes, 'external_system');
          const tse = masterUtils.getMasterFromCodes(this.master, select.codes, 'service_type');
          const mlu = masterUtils.getMasterFromCodes(this.master, select.codes, 'users');
          const cpc = masterUtils.getMasterFromCodes(this.master, select.codes, 'client_pref');
          const mce = masterUtils.getMasterFromCodes(this.master, select.codes, 'buy_model');

          if (sys !== null && tse !== null && mlu !== null && cpc !== null && mce !== null ) {
            let supplier = "";
            let subSupplier = "";
            const index = sys.id.lastIndexOf('¬');
            if (index === -1) {
              supplier = '['.concat(sys.id).concat('] ').concat(sys.supName);
            } else {
              supplier = '['.concat(sys.id.substring(0, index)).concat('] ').concat(sys.supName);
              subSupplier = '['.concat(sys.id.substring(index + 1)).concat('] ').concat(sys.subName);
            }

            const row = {
              id: select.id,
              status: select.status,
              tse: utils.valueLanguage(tse.name, 'ESP'),
              supplier: supplier,
              subSupplier: subSupplier,
              sap: sys.sap,
              own: sys.own,
              wbds: sys.wbds,
              xsell: select.xsell,
              mhr: select.mhr,
              timeout: select.timeout,
              regimen: select.regimen,
              availgts: select.availgts,
              service: sys.srvOther,
              desc: sys.descSrvOther,
              sla: select.sla,
              kam: utils.valueLanguage(mlu.name, 'ESP'),
              cpc: utils.valueLanguage(cpc.name, 'ESP'),
              mce: utils.valueLanguage(mce.name, 'ESP'),
              giata: select.giata,
              action: select.note
            };
            rows.push(row);
          }
        }

        let init = 1;
        let end = this.rowsPerPage;
        if (this.page > 1) {
          init = init + (this.rowsPerPage * this.page) - this.rowsPerPage;
          end = end + (this.rowsPerPage * this.page) - this.rowsPerPage;
        }
        if (this.page === this.pageCount) {
          end = rows.length;
        }
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.countRow = this.$i18n.t('showing').replace("%s", init).replace("%r", end).replace("%t", rows.length);
      }
      return rows;
    },
    computedSubSupplier() {
      const rows = [];
      const elements = this.getEntityValues('sub_supplier');
      for (let element of elements) {
        if (!this.supplierSearch.supplier || this.supplierSearch.supplier.id === element.filter) {
          rows.push(element);
        }
      }
      return rows;
    }
  },
  beforeMount() {
    window.addEventListener('beforeunload', this.preventNav);
    this.$once('hook:beforeDestroy', () => {
      window.removeEventListener('beforeunload', this.preventNav);
    });
  },
  beforeRouteLeave(to, from, next) {
    if (!this.pendingToCommit) {
      next();
    }

    if (this.to) {
      next();
    } else {
      this.to = to;
      this.showDialog = true;
    }
  },
  created() {
    this.loadStore();
  },
  methods: {
    ...mapActions('master', ['getServiceTypes','getSystems','getUsers','getBuyModels','getClientPrefs','getTopDestinations','getStatusCredentials','getBrands','getCorporations','getSubSupplier','getSysSupplier','getCurrencies','getCountries','getClientTypes','getDistributionModels','getRateTypes','getInvoiceTypes',
    ]),
    ...mapActions('alert', ['error']),
    populate(entity, item){
      if (entity === 'supplier') {
        this.supplierSearch.sap = item;
      } else if (entity === 'agency') {
        this.supplierSearch.clients = item;
      } else {
        this.supplierSearch.service = item;
      }
    },getBody(id) {

      const tse = this.supplier.serviceType;
      const act = true;
      const status = this.supplier.status;
      const sys = this.supplier.system;
      const xsell = this.supplier.xSell;
      const mce = this.supplier.buyModel;
      const mlu = this.supplier.user;
      const giata = this.supplier.giata;
      const mhr = this.supplier.multiHotel;
      const timeout = this.supplier.timeout;
      const test = this.supplier.test;
      const stcinf = this.supplier.staticInfo;
      const block = this.supplier.block;
      const availgts = this.supplier.availCost;
      const addrem = this.supplier.addrem;
      const sendrem = this.supplier.sendrem;
      const shwrate = this.supplier.shwrate;
      const numpas = this.supplier.numpas;
      const disact = this.supplier.disact;
      const disext = this.supplier.disext;
      const effcost = this.supplier.effcost;
      const regimen = this.supplier.regimen;
      const roomMax = this.supplier.roomMax;
      const vcc = this.supplier.vcc;
      const currentTime = dateUtils.getCurrentTime();
      const note = []
      const nota = {
        user: this.auth.user.name.concat(" ").concat(this.auth.user.sur).concat(" (").concat(this.auth.user.user).concat(")"),
        date: dateUtils.getCurrentDate().concat(" ").concat(currentTime),
        note: this.supplierSearch.note
      };
      if(this.supplierSearch.note) {
        note.push(nota);
      }
      if(this.supplier.note) {
        for(let index = 0; index < this.supplier.note.length; index++) {
          note.push(this.supplier.note[index]);
        }
      }
      let hotelNum = 0;
      if (this.supplier.hotelNum) {
        hotelNum = this.supplier.hotelNum;
      }
      let threadMax = 0;
      if (this.supplier.threadMax) {
        threadMax = this.supplier.threadMax;
      }
      const sla = this.supplier.sla;
      const tcd = this.supplier.topDestinations;
      const cpc = this.supplier.clientPref;

      const exts = this.addExternalSystem(this.supplier.externalSys);

      let clients = null;
      if (xsell) {
        clients = this.supplier.clients;
      }

      let del = false;

      return JSON.stringify({
        id,
        act,
        status,
        tse,
        sys,
        xsell,
        clients,
        mce,
        mlu,
        giata,
        mhr,
        timeout,
        test,
        stcinf,
        block,
        availgts,
        addrem,
        sendrem,
        shwrate,
        numpas,
        disact,
        disext,
        effcost,
        regimen,
        roomMax,
        hotelNum,
        threadMax,
        sla,
        vcc,
        tcd,
        cpc,
        exts,
        del,
        note
      });
    },
    openNotes(action, item) {
      this.openModal(action, item);
      this.dialogNotes = true;
    },
    cancelNotes() {
      this.dialogNotes = false;
      this.supplierSearch.note = null;
      this.supplierSearch.notes = null;
    },
    openModal(action, item) {
      if(this.$refs.TheSupplierCredential === undefined){
        this.supplierSearch.notes = item.action;
      } else if(this.$refs.TheSupplierCredential.supplier.id === item.id){
        this.supplier = this.$refs.TheSupplierCredential.supplier;
        this.supplierSearch.notes = this.supplier.note;
      } else{
        this.supplierSearch.notes = item.action;
      }
    },
    clear(entity){
      if (entity === 'supplier') {
        this.supplierSearch.sap = null;
      } else if (entity === 'agency') {
        this.supplierSearch.clients = null;
      } else {
        this.supplierSearch.service = null;
      }
    },
    change(event) {
      this.pendingToCommit = event;
    },
    loadStore() {
      if (this.master.countries === null) {
        this.getCountries();
      }
      if (this.master.currencies === null) {
        this.getCurrencies();
      }
      if (this.master.subsuppliers === null) {
        this.getSubSupplier();
      }
      if (this.master.syssuppliers === null) {
        this.getSysSupplier();
      }
      if (this.master.statusCredentials === null) {
        this.getStatusCredentials();
      }
      if (this.master.serviceTypes === null) {
        this.getServiceTypes();
      }
      if (this.master.externalSystems === null) {
        this.getSystems();
      }
      if (this.master.users === null) {
        this.getUsers();
      }
      if (this.master.buyModels === null) {
        this.getBuyModels();
      }
      if (this.master.clientPrefs === null) {
        this.getClientPrefs();
      }
      if (this.master.topDestinations === null) {
        this.getTopDestinations();
      }
      if (this.master.brands === null) {
        this.getBrands();
      }
      if (this.master.corporations === null) {
        this.getCorporations();
      }
      if (this.master.clienttypes === null) {
        this.getClientTypes();
      }
      if (this.master.distributionModels === null) {
        this.getDistributionModels();
      }
      if (this.master.rateTypes === null) {
        this.getRateTypes();
      }
      if (this.master.invoicetypes === null) {
        this.getInvoiceTypes();
      }
    },
    addExternalSystem(externals) {
      let exts = null;
      if (externals && externals.length > 0) {
        exts = [];
        let i = 0;
        for (let select of externals) {
          let id = null;
          if (select.id !== select.sysname) {
            id = select.id;
          }
          let divs = null;
          if (select.divs) {
            divs = select.divs;
          }

          let cous = null;
          if (select.cous && select.cous.length > 0) {
            let all = false;
            for (let country of select.cous) {
              if (country.id === "") {
                all = true;
                break;
              }
            }
            if (!all) {
              cous = select.cous;
            }
          }
          let exccous = null;
          if (select.exccous) {
            exccous = select.exccous;
          }
          let rates = null;
          if (!select.allmasters.includes("rate_type")) {
            rates = select.rates;
          }
          let models = null;
          if (!select.allmasters.includes("distribution_model")) {
            models = select.models;
          }
          const configs = this.addExternalCredentials(select.configs);

          exts[i] = {
            id: id,
            sysname: select.sysname,
            dft: select.dft,
            act: select.act,
            test: select.test,
            hotX: select.hotx,
            brand: select.brand,
            clientype: select.clientype,
            others: select.others,
            tagdiv: select.tagdiv,
            divs: divs,
            tagnac: select.tagnac,
            cous: cous,
            exccous: exccous,
            models: models,
            rates: rates,
            allMasters: select.allmasters,
            new: select.new,
            del: select.del,
            configs: configs,
          };
          i++;
        }
      }
      return exts;
    },addExternalCredentials(externalConfigs) {
      let configs = null;
      if (externalConfigs && externalConfigs.length > 0) {
        configs = [];
        let i = 0;
        for (let select of externalConfigs) {
          let id = null;
          if (select.id !== select.corp.id) {
            id = select.id;
          }

          configs[i] = {
            id: id,
            corp: select.corp,
            user: select.user,
            pass: select.pass,
            checkIn: {
              from: dateUtils.formatDate(select.checkinfrom),
              timeFrom: "00:00:00",
              to: dateUtils.formatDate(select.checkinto),
              timeTo: "23:59:59",
            },
            book: {
              from: dateUtils.formatDate(select.bookfrom),
              timeFrom: select.bookfrom ? select.timeBkFrom : null,
              to: dateUtils.formatDate(select.bookto),
              timeTo: select.bookto ? select.timeBkTo : null,
            },
            invtype: select.invtype,
            connect: select.connect
              ? select.connect.replace(/[#"]/g, "'").replace(/[#\n]/g, "")
              : null,
            new: select.new,
            del: select.del,
          };
          i++;
        }
      }
      return configs;
    },
    handleNotesSubmit(e) {
      e.preventDefault();
      this.activeProgres = true;
      this.updatedSupplierMessage = null;
      const id = this.supplier.id.length === 0 ? null : this.supplier.id;

      const body = this.getBody(id);
     
      gestcom.update(this.route, body).then(
        (success) => {
          this.activeProgres = false;
          this.cancelNotes();
          this.supplier.note = success.note;
          this.showSaveOkMessage();
        },
        (error) => {
          this.error(error);
          this.$emit("unExpand", null, this.index);
          this.activeProgres = false;
          this.$emit("pendingSave", true);
          this.cancelNotes(false, null);
        }
      );
      
    },
    showSaveOkMessage(){
      this.pendingToSave = false;
      if (this.supplier.externalSys && this.supplier.externalSys.length > 0){
        this.$refs.confirmationMessage.open('ALERT', this.$t("supplier_credential.externalsaveChangesOk").replace("%c", this.externalSupplierDesc))
          .then((confirm) => {
            if(confirm){
              this.confirmAccept();
            }
          })
      }
      this.activeProgres = false;
    },
    fetchData() {
      this.response = [];
      this.expanded = [];
      this.filterPanel = [];
      this.nodatafilter = false;
      let filtergrp = null;
      this.supplier = null;
      if (this.isValidGroup()) {
        filtergrp = {
          name: (this.supplierSearch.name && this.showFilter('credential', 'name')) ? this.supplierSearch.name : null,
          brand: (this.supplierSearch.brand && this.showFilter('credential', 'brand')) ? this.supplierSearch.brand.id : null,
          clientType: (this.supplierSearch.clienttype && this.showFilter('credential', 'clienttype')) ? this.supplierSearch.clienttype.id : null,
          act: this.supplierSearch.active,
          dft: this.supplierSearch.dft,
          test: this.supplierSearch.test,
          hotelx: (this.supplierSearch.hotelx && this.showFilter('credential', 'hotelx')) ? this.supplierSearch.hotelx : null,
          tagdiv: this.supplierSearch.tagdiv,
          cur: (this.supplierSearch.currency && this.showFilter('credential', 'currency')) ? this.supplierSearch.currency.id : null,
          tagnac: this.supplierSearch.tagnac,
          cou: (this.supplierSearch.market && this.showFilter('credential', 'market')) ? this.supplierSearch.market.id : null,
          model: (this.supplierSearch.model && this.showFilter('credential', 'model')) ? this.supplierSearch.model.id : null,
          rates: (this.supplierSearch.rate && this.showFilter('credential', 'rate')) ? this.supplierSearch.rate.id : null
        };
      }
      this.filterGroup = filtergrp !== null ? JSON.stringify({ filtergrp }) :  null;

      let filterext = null;
      if (this.isValidConnector()) {
        filterext = {
          corp : (this.supplierSearch.corp && this.showFilter('connector', 'corp')) ? this.supplierSearch.corp.id : null,
          user : (this.supplierSearch.username && this.showFilter('connector', 'username')) ? this.supplierSearch.username : null,
          factType: (this.supplierSearch.factype && this.showFilter('connector', 'factype')) ? this.supplierSearch.factype.id : null,
          connector: (this.supplierSearch.connect && this.showFilter('connector', 'connect')) ? this.supplierSearch.connect : null,
          checkInFrom: (this.supplierSearch.checkinfrom && this.showFilter('connector', 'checkdate')) ? this.supplierSearch.checkinfrom : null,
          checkInTo: (this.supplierSearch.checkinto && this.showFilter('connector', 'checkdate')) ? this.supplierSearch.checkinto : null,
          bookFrom: (this.supplierSearch.bookfrom && this.showFilter('connector', 'bookdate')) ? this.supplierSearch.bookfrom : null,
          bookTo: (this.supplierSearch.bookto && this.showFilter('connector', 'bookdate')) ? this.supplierSearch.bookto : null
        };
      }
      this.filterConnector = filterext !== null ? JSON.stringify({ filterext }) : null;

      let service = null;
      if (this.supplierSearch.service && this.showFilter('supplier', 'service')) {
        service = utils.valueLanguage(this.supplierSearch.service.name, "ESP");
        service = service.substring(service.lastIndexOf("] ") + 2).toUpperCase();
      }

      const filter = {
        status: this.supplierSearch.status ? this.supplierSearch.status.id : null,
        sys: null,
        sup: this.supplierSearch.supplier ? this.supplierSearch.supplier.id : null,
        sub: this.supplierSearch.subSupplier ? this.supplierSearch.subSupplier.id : null,
        tse: (this.supplierSearch.serviceType && this.showFilter('supplier', 'serviceType')) ? this.supplierSearch.serviceType.id : null,
        own: this.supplierSearch.ownProduct,
        othersrv: service,
        sap: (this.supplierSearch.sap && this.showFilter('supplier', 'sap')) ? this.supplierSearch.sap.id : null,
        wbds: (this.supplierSearch.wbds && this.showFilter('supplier', 'wbds')) ? this.supplierSearch.wbds : null,
        xsell: this.supplierSearch.xSell,
        client: (this.supplierSearch.clients && this.showFilter('supplier', 'clients')) ? this.supplierSearch.clients.id : null,
        mce: (this.supplierSearch.buyModel && this.showFilter('supplier', 'buyModel')) ? this.supplierSearch.buyModel.id : null,
        mlu: (this.supplierSearch.user && this.showFilter('supplier', 'user')) ? this.supplierSearch.user.id : null,
        cpc: (this.supplierSearch.clientPref && this.showFilter('supplier', 'clientPref')) ? this.supplierSearch.clientPref.id : null,
        giata: (this.supplierSearch.giata && this.showFilter('supplier', 'giata')) ? this.supplierSearch.giata : null,
        mhr: this.supplierSearch.mhr,
        timeout: this.supplierSearch.timeout,
        regimen: this.supplierSearch.regimen,
        availgts: this.supplierSearch.availgts,
        tcd: (this.supplierSearch.topDestinations && this.showFilter('supplier', 'topDestination')) ? this.supplierSearch.topDestinations.id : null,
        sla: this.supplierSearch.sla,
        filtergrp: filtergrp,
        filterext: filterext
      };

      gestcom.getAllItems(this.route, JSON.stringify({ filter }))
        .then(
          (response) => {
            if (!response.messages) {
              this.response = response;
              this.nodatafilter = false;
            } else {
              this.nodatafilter = true;
            }
          },
          (error) => {
            this.error(error);
          }
        );
    },
    isValidGroup() {
      return (this.supplierSearch.brand != null && this.showFilter('credential', 'brand')) ||
        (this.supplierSearch.active != null && this.showFilter('credential', 'active')) ||
        (this.supplierSearch.test != null && this.showFilter('credential', 'test')) ||
        (this.supplierSearch.dft != null && this.showFilter('credential', 'dft')) ||
        (this.supplierSearch.hotelx != null && this.showFilter('credential', 'hotelx')) ||
        (this.supplierSearch.tagdiv != null && this.showFilter('credential', 'currency')) ||
        (this.supplierSearch.currency != null && this.showFilter('credential', 'currency')) ||
        (this.supplierSearch.tagnac != null && this.showFilter('credential', 'market')) ||
        (this.supplierSearch.market != null && this.showFilter('credential', 'market')) ||
        (this.supplierSearch.clienttype != null && this.showFilter('credential', 'clienttype')) ||
        (this.supplierSearch.model != null && this.showFilter('credential', 'model')) ||
        (this.supplierSearch.rate != null && this.showFilter('credential', 'rate')) ||
        (this.supplierSearch.name != null && this.showFilter('credential', 'name'))
      ;
    },
    isValidConnector() {
      return (this.supplierSearch.corp != null && this.showFilter('connector', 'corp')) ||
        (this.supplierSearch.username != null && this.showFilter('connector', 'username')) ||
        (this.supplierSearch.connect != null && this.showFilter('connector', 'connect')) ||
        (this.supplierSearch.factype != null && this.showFilter('connector', 'factype')) ||
        (this.supplierSearch.checkinfrom != null && this.showFilter('connector', 'checkdate')) ||
        (this.supplierSearch.checkinto != null && this.showFilter('connector', 'checkdate')) ||
        (this.supplierSearch.bookfrom != null && this.showFilter('connector', 'bookdate')) ||
        (this.supplierSearch.bookto != null && this.showFilter('connector', 'bookdate'))
      ;
    },
    handleSubmit(e) {
      e.preventDefault();
      if (
        !this.pendingToCommit ||
        window.confirm('Do you really want to leave? you have unsaved changes!')
      ) {
        this.pendingToCommit = false;
        this.showResult = true;
        this.activeProgres = true;
        this.fetchData();
        this.activeProgres = false;
      }
    },
    unExpand(item, itemIndex) {
      item.action = this.supplier.note;
      this.expanded = [];
      this.activeProgres = false;
      Object.assign(this.response[itemIndex], item);
    },
    updateNotes(notas, itemIndex) {
      this.response[itemIndex].note = notas;
    },
    showFilter(parent, filter) {
      let elements;
      if (parent === 'connector') {
        elements = this.searchFilterConnector;
      } else if (parent === 'credential') {
        elements = this.searchFilterCredential;
      } else {
        elements = this.searchFilter;
      }

      let show = false;
      for (let select of elements) {
        if (select.id === filter) {
          show = select.show;
          break;
        }
      }
      return show;
    },
    showColumn(filter) {
      let show = false;
      for (let select of this.searchColumn) {
        if (select.id === filter) {
          show = select.show;
          break;
        }
      }
      return !show;
    },
    cleanFilter(parent) {
      let elements;
      if (parent === 'connector') {
        elements = this.searchFilterConnector;
      } else if (parent === 'credential') {
        elements = this.searchFilterCredential;
      } else {
        elements = this.searchFilter;
      }

      for (let select of elements) {
        select.show = false;
      }
    },
    cleanColumn() {
      for (let select of this.searchColumn) {
        select.show = false;
      }
    },
    addFilter(parent, item, value) {
      let elements;
      if (parent === 'connector') {
        elements = this.searchFilterConnector;
      } else if (parent === 'credential') {
        elements = this.searchFilterCredential;
      } else {
        elements = this.searchFilter;
      }

      this.addElement(elements, item, value);
    },
    addColumn(item, value) {
      this.addElement(this.searchColumn, item, value);
    },
    addElement(elements, item, value) {
      for (let select of elements) {
        if (item.id === 'all' || item.id === select.id) {
          select.show = value;
        }
      }
    },
    deleteRow(index) {
      this.pendingToCommit = false;
      this.expanded = [];
      this.activeProgres = false;
      this.response.splice(index, 1);
    },
    cleanForm() {
      if (
        !this.pendingToCommit ||
        window.confirm('Do you really want to leave? you have unsaved changes!')
      ) {
        this.pendingToCommit = false;
        this.showResult = false;
        this.activeProgres = false;
        this.cleanFilter('supplier');
        this.cleanFilter('credential');
        this.cleanFilter('connector');
        setTimeout(() => {
          this.expanded = [];
          this.supplierSearch = Object.assign({}, this.supplierSearchDefault);
        }, 300);
      }
    },
    getEntityValues(child) {
      if (child === 'hotelx') {
        return ['NO', 'AMBOS', 'EXCLUSIVO'];
      }
      return masterUtils.getEntityValues(this.master, child);
    },
    getYesOrNoValues() {
      const yesRow = {
        id: 'true',
        name: this.$i18n.t('yes')
      };
      const noRow = {
        id: 'false',
        name: this.$i18n.t('no')
      };

      const rows = [];
      rows.push(yesRow);
      rows.push(noRow);
      return rows;
    },
    getIndex(item) {
      return utils.getIndexOf(this.response, item.id);
    },
    getIndexById(id) {
      return utils.getIndexOf(this.response, id);
    },
    getColor(status) {
      let color = 'green';
      if (status === 'DISABLED') {
        color = 'red';
      } else if (status === 'PARTIALLY') {
        color = 'orange';
      }
      return color;
    },
    getStatusText(status) {
      let text = this.$i18n.t('supplier_credential.valid');
      if (status === 'DISABLED') {
        text = this.$i18n.t('supplier_credential.invalid');
      } else if (status === 'PARTIALLY') {
        text = this.$i18n.t('supplier_credential.partially');
      }
      return text;
    },
    formatDate(value) {
      return dateUtils.formatDate(value);
    },
    parseDate(value) {
      return dateUtils.parseDate(value);
    },
    valueLanguage: (item) => utils.valueLanguage(item.name, 'ESP'),
    closeDialog() {
      this.showDialog = false;
      this.to = null;
    },
    discardChanges() {
      this.showDialog = false;
      this.$router.push(this.to);
    },
    preventNav(event) {
      if (this.pendingToCommit) {
        event.preventDefault();
        event.returnValue = "";
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>