<template>
  <div class="post">
    <v-card class="card-01 pa-0 ma-0">
      <v-tabs
        v-model="tab"
        class="mt-2"
      >
        <v-tab>
          {{ $t('credential.clients') }}
        </v-tab>
        <v-tab :disabled="!activeAccess">
          {{ $t('credential.accesspull') }}
        </v-tab>
        <v-tab>
          {{ $t('credential.trades') }}
        </v-tab>
        <v-tab>
          {{ $t('credential.release') }}
        </v-tab>
        <v-tab :disabled="credential.srvtype.id !== 'HTL'">
          {{ $t('credential.cancelcost') }}
        </v-tab>
        <v-tab :disabled="!credential.cur">
          {{ $t('credential.currency') }}
        </v-tab>
      </v-tabs>

      <v-tabs-items
        v-if="showAll"
        v-model="tab"
      >
        <v-tab-item>
          <TheClients
            :credential="credential"
            :client-incoming="clients"
            :route="route"
            :unique-client-allowed="uniqueClientAllowed"
            @getClients="getClients"
          />
        </v-tab-item>
        <v-tab-item>
          <TheAccessPull
            :credential="credential"
            :item-credential="itemCredential"
            :supplier-incoming="responseSupplier"
            :assign-incoming="responseAssign"
            :unassign-incoming="responseUnAssign"
            :route="route"
            @openDialog="openDialog"
            @matchDialog="openMatch"
            @getMatches="getMatches"
          />
        </v-tab-item>
        <v-tab-item>
          <TheTrades
            :credential="credential"
            :trade-incoming="trades"
            :route="route"
            @getTrades="getTrades"
          />
        </v-tab-item>
        <v-tab-item>
          <TheReleases
            :credential="credential"
            :release-incoming="releases"
            @getReleases="getReleases"
          />
        </v-tab-item>
        <v-tab-item>
          <TheCancelCosts
            :credential="credential"
            :cancelcost-incoming="cancelCosts"
            @getCancelCosts="getCancelCosts"
          />
        </v-tab-item>
        <v-tab-item>
          <TheCurrencies
            :credential="credential"
            :currency-incoming="currencies"
            @getCurrencies="getCurrencies"
          />
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </div>
</template>
<script>
import {mapActions, mapState} from "vuex";
import {gestcom} from "@services/gestcom";
import TheAccessPull from "./subcomponents/TheAccessPull"
import TheTrades from "./subcomponents/TheTrades"
import TheClients from "./subcomponents/TheClients"
import TheReleases from "./subcomponents/TheReleases"
import TheCancelCosts from "./subcomponents/TheCancelCosts";
import TheCurrencies from "@pages/credential/components/subcomponents/TheCurrencies";

export default {
  components: {
    TheCurrencies,
    TheCancelCosts,
    TheAccessPull,
    TheTrades,
    TheClients,
    TheReleases
  },
  props: {
    id: {type: String, required: true},
    itemCredential: {type: Object, required: false, default: null},
    uniqueClientAllowed: {type: Boolean, required: true}, 
    route: {type: String, required: true, default: null},
  },
  data() {
    return {
      showAll: false,
      tab: 0,
      credential: null,
      releases: [],
      trades: [],
      cancelCosts: [],
      currencies: [],
      clients: [],
      responseSupplier: [],
      responseAssign: [],
      responseUnAssign: [],
    };
  },
  computed: {
    ...mapState({
      master: (state) => state.master,
      auth: (state) => state.auth,
    }),
    activeAccess() {
      let result = false;
      if (this.credential && this.credential.products) {
        for (let product of this.credential.products) {
          if (product.id === 'PPPULL' || product.id === 'PULL3') {
            result = true;
            break;
          }
        }
      }
      return result;
    }
  },
  watch: {
    // call again the method if the route changes
    $route: "fetchData",
  },
  created() {
    this.fetchData();
  },
  methods: {
    ...mapActions("alert", ["error"]),
    fetchData() {
      if (this.id.length > 0) {
        // Ejecutamos la peticion de consulta
        const id = this.id;

        //Llamada al rest
        this.showAll = false;
        gestcom.getItem(this.route, JSON.stringify({id}))
          .then(
            (credential) => {
              this.credential = credential;
              if(credential.clients && credential.clients.length > 0){
                this.clients = credential.clients;
              }else{
                this.getClients();
              }
              this.getTrades();
              this.getMatches();
              this.getReleases();
              this.getCancelCosts();
              this.getCurrencies();

              setTimeout(() => {
                this.showAll = true;
              }, 1500);
            },
            (error) => {
              this.error(error);
            }
          );
      }
    },
    getMatches() {
      const cred = this.credential.id;
      const supplier = {
        filter: {
          status: null
        },
      }
      gestcom.match("/api/v1/match/customer", JSON.stringify({cred, supplier}))
        .then(
          response => {
            if (!response.messages) {
              this.responseSupplier = response.suppliers;
              this.responseAssign = response.assign;
              this.responseUnAssign = response.unassign;
            }
          }
        );
    },
    getTrades() {
      const credential = this.credential.id;
      gestcom.getAllItems("/api/v1/trade", JSON.stringify({credential}))
        .then(
          response => {
            if (!response.messages) {
              this.trades = response;
            }
          }
        );
    },
    getCancelCosts() {
      const credential = this.credential.id;
      gestcom.getAllItems("/api/v1/cancelcost", JSON.stringify({credential}))
        .then(
          response => {
            if (!response.messages) {
              this.cancelCosts = response;
            }
          }
        );
    },
    getCurrencies() {
      const credential = this.credential.id;
      gestcom.getAllItems("/api/v1/currency", JSON.stringify({credential}))
        .then(
          response => {
            if (!response.messages) {
              this.currencies = response;
            }
          }
        );
    },
    getClients() {
      const credential = this.credential.id;
      gestcom.getAllItems("/api/v1/customer", JSON.stringify({credential}))
        .then(
          response => {
            if (!response.messages) {
              this.clients = response;
            }
          }
        );
    },
    getReleases() {
      gestcom.getAllItems("/api/v1/release", JSON.stringify({filter : {cre : this.credential.id}}))
        .then(
          response => {
            if (!response.messages) {
              this.releases = response;
            }
          }
        );
    },
    openMatch(credential) {
      this.$emit("matchDialog", credential);
    },
    openDialog(credential, supplier) {
      this.$emit("openDialog", credential, supplier);
    },
  },
};
</script>

<style lang="scss" scoped>
</style>