// inputs
// ///////////////////////////////////////////////////
.v-input {
  input {
    line-height: $component-input-font-size;
  }
  
  .v-label {
    font-size: $component-input-font-size;
  }
  
  .v-icon {
    font-size: 20px;
  }
}