// pagination
// ///////////////////////////////////////////////////
.v-pagination {
  li {
    &:first-child {
      button {
        border-left-width: 1px;
      }
    }
    
    button {
      box-shadow: none;
      border-color: var(--v-pagination-border-color);
      border-width: 1px 1px 1px 0;
      border-style: solid;
    }
  }
}