// table
// ///////////////////////////////////////////////////
.v-data-table {
  background: none;
  
  // table content
  .v-data-table__wrapper {
    background-color: var(--v-table-background);
    
    td,
    th {
      padding: 0 7px;
    }
    
    // header
    .v-data-table-header {
      background: var(--v-table-header-background);
  
      th {
        color: var(--v-table-header-color);
        height: 25px;
        
        .v-data-table-header__icon {
          font-size: 10px !important;
          margin-left: 2px;
        }
        
        &.sortable {
          &.active,
          &:hover {
            color: var(--v-table-header-color);
            
            .v-data-table-header__icon {
              color: var(--v-table-header-color);
            }
          }
        }
      }
  
      tr {
        background: none !important;
      }
    }
    
    tbody {
      tr.v-data-table__selected {
        background: #ddd !important;
      }
    }
  }
}