// global
// ///////////////////////////////////////////////////
$deep: ">>>";

// global
$border-radius-root: 5px;

// inputs
$component-input-font-size: 13px;
$input-font-size: $component-input-font-size;

// dialogs
$component-dialog-max-width: 900px;

// cards
$card-title-font-size: 1.7rem;
$card-title-font-weight: 500;

// tables HOPE 12.8px
$data-table-regular-header-font-size: 12px;
$data-table-regular-row-font-size: 12.8px;

// paginations
$pagination-border-radius: 0;

$pagination-item-font-size: 10px;
$pagination-item-min-width: 25px;
$pagination-item-height: 25px;
$pagination-item-margin: 0;

$pagination-navigation-width: 25px;
$pagination-navigation-height: 25px;
$pagination-navigation-margin: 0;

// tabs
$tab-font-size: 12px;
$tabs-bar-height: 25px;

// switch
$switch-thumb-dense-height: 10px;
$switch-thumb-dense-width: 10px;

// expansion-panel
$expansion-panel-active-header-min-height: 30px;

// list
$list-dense-min-height: 20px;
