<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>S-TECMA</title>
    <link rel="icon" href="<%= BASE_URL %>faviconGlobalia.ico">
    <style>
        a {
            cursor: pointer;
            text-decoration: none;
        }
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons" />
</head>

<body>
    <div id="app"></div>
</body>

</html>