<template>
  <v-card
    class="mx-auto"
    max-width="500px"
    tile
    style="margin-top:100px"
  >
    <v-img
      height="350px"
      :src="require(`../assets/logos/${getLogo}`)"
      contain
    />
  </v-card>
</template>
<script>
import { mapState } from 'vuex';
import { utils } from '@helper/utils';

export default {
  computed: {
    ...mapState({
      master: state => state.master,
      configMenu: state => state.configMenu,
      auth: state => state.auth
    }),
    getLogo() {
      return utils.getLogo(this.configMenu.company, this.auth.user.cias);
    }
  }
};
</script>
<style scoped />