<template>
  <div class="wrapper-content">
    <v-navigation-drawer
      v-model="drawer"
      :clipped="$vuetify.breakpoint.lgAndUp"
      app
      permanent
      expand-on-hover
    >
      <TheUser />
      <TheMenu />
    </v-navigation-drawer>

    <v-content>
      <v-container
        fluid
        ma-0
        pa-1
      >
        <v-app-bar
          :clipped-left="$vuetify.breakpoint.lgAndUp"
          app
          class="header-nav"
          fixed
        >
          <v-row>
            <v-col class="col-4 py-0">
              <v-toolbar-title>S-TECMA</v-toolbar-title>
            </v-col>

            <v-col class="col-2 pb-0">
              <TheSelectBusiness />
            </v-col>

            <v-col
              v-if="configMenu.business && configMenu.business.masters.length > 1"
              class="col-2 pb-0"
            >
              <TheSelectCompany />
            </v-col>

            <v-col
              v-if="auth.user.envs.length > 1"
              class="col-2 pb-0"
            >
              <TheSelectEnviroment />
            </v-col>

            <v-col class="col-2 pb-0">
              <TheSelectLanguage />
            </v-col>
          </v-row>
        </v-app-bar>

        <router-view />
      </v-container>
    </v-content>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import TheUser from '../components/TheUser';
import TheMenu from '../components/TheMenu';
import TheSelectEnviroment from '../components/TheSelectEnviroment';
import TheSelectCompany from '../components/TheSelectCompany';
import TheSelectLanguage from '../components/TheSelectLanguage';
import TheSelectBusiness from '../components/TheSelectBusiness';

export default {
  components: {
    TheUser,
    TheMenu,
    TheSelectEnviroment,
    TheSelectCompany,
    TheSelectBusiness,
    TheSelectLanguage
  },
  data: () => ({
    drawer: true,
    mini: true
  }),
  computed: {
    ...mapState({
      auth: state => state.auth,
      master: state => state.master,
      configMenu: state => state.configMenu
    }),
  },
  created() {
    if (window.$cookies.get('company')) {
      this.assign(window.$cookies.get('company'));
    } else {
      this.assign(this.configMenu.company);
    }

    /* Meter aqui todas las llamadas de maestros */
    this.loadCacheAPP();
    if (this.auth.user.cias) {
      for (let company of this.auth.user.cias) {
        if (company.id === 'WIS') {
          this.loadCacheWIS();
        }
      }
    }
  },
  beforeDestroy() {
    localStorage.clear();
  },
  methods: {
    ...mapActions('master', ['getMaster', 'getAllCacheWIS']),
    assign(newCia) {
      const json = JSON.parse(this.auth.user.themes);
      for (let i = 0; json && i < json.length; i++) {
        if (json[i].id === newCia) {
          for (let j = 0; json[i].variables && j < json[i].variables.length; j++) {
            document.documentElement.style.setProperty(json[i].variables[j].key, json[i].variables[j].value);
          }
        }
      }
    },
    loadCacheAPP() {
      if (this.master.languages_app === null) {
        this.getMaster('languages_app');
      }
      if (this.master.companies === null) {
        this.getMaster('company');
      }
      if (this.master.environments === null) {
        this.getMaster('environment');
      }
    },
    loadCacheWIS() {
      this.getAllCacheWIS();
    },
    show(value) {
      this.drawer = value;
      this.mini = !value;
    }
  }
};
</script>
<style lang="scss" scoped>

  .v-navigation-drawer {
    background: var(--v-nav-background);
  }

  .v-app-bar.v-toolbar.v-sheet {
    background: var(--v-header-background);
    color: var(--v-header-color);
  }

  .v-btn.v-btn--icon {
    color: var(--v-header-color);
  }

  ::v-deep {
    .header-nav {
      .v-select.v-input {
        .v-select__selection--comma,
        .v-label,
        .v-icon {
          color: var(--v-header-color) !important;
        }

        .v-input__slot {
          &:before {
            border-color: var(--v-header-color);
          }

          &:after {
            display: none;
          }
        }
      }
    }
  }

</style>