<template>
  <v-content>
    <v-container
      class="fill-height"
    >
      <v-card
        class="col-12 mx-auto pa-0"
        max-width="800"
        outlined
      >
        <v-card-title>{{ $t('login') }}</v-card-title>

        <v-form
          id="loginForm"
          v-model="isValid"
          autocomplete="off"
          @submit.prevent="handleSubmit"
        >
          <v-card-text>
            <v-row>
              <v-col>
                <v-text-field
                  v-model="username"
                  :rules="[v => !!v || $t('rules.user')]"
                  name="username"
                  prepend-inner-icon="person"
                  required
                  outlined
                />
                <v-text-field
                  id="password"
                  v-model="password"
                  :rules="[v => !!v || $t('rules.pass')]"
                  prepend-inner-icon="lock"
                  required
                  type="password"
                  outlined
                />
                <v-btn
                  style="margin-left: 110px"
                  :disabled="!isValid"
                  form="loginForm"
                  small
                  text
                  hide-details
                  type="submit"
                >
                  {{ $t('login') }}
                </v-btn>
              </v-col>
              <v-col>
                <v-img
                  width="400px"
                  height="150px"
                  :src="require(`../assets/logos/default.jpg`)"
                  contain
                />
              </v-col>
            </v-row>
          </v-card-text>
        </v-form>
      </v-card>
    </v-container>
  </v-content>
</template>

<script>
import { mapState, mapActions } from 'vuex';

// noinspection JSAnnotator
export default {
  data() {
    return {
      username: "",
      password: "",
      isValid: true
    };
  },
  computed: {
    ...mapState('auth', ['status'])
  },
  created() {
    // reset login status
    this.logout();
  },
  methods: {
    ...mapActions('auth', ['login', 'logout']),
    handleSubmit(e) {
      e.preventDefault();
      const { username, password } = this;
      if (username && password) {
        localStorage.clear();
        this.login({ username, password });
      }
    }
  }
};
</script>