<template>
  <div class="post">
    <v-row justify="center">
      <v-dialog
        v-model="dialogAssignment"
        persistent
      >
        <v-card class="dialog-01">
          <v-card-title>
            <span class="headline">{{ $t('credential.asg') }}</span>
          </v-card-title>

          <v-form
            id="assignmenteForm"
            ref="assignmentForm"
            v-model="isValid"
            autocomplete="off"
            @submit.prevent="handleAssignSubmit"
          >
            <v-card-text>
              <v-container
                ma-auto
                pa-0
              >
                <v-layout class="col-12 layout-01 wrap">
                  <v-autocomplete
                    v-model="assignment.system"
                    :items="computedSystem"
                    item-value="id"
                    item-text="name"
                    :rules="[v => !!v || $t('match.rules.system')]"
                    class="col-12 col-sm-6 col-md-6"
                    small-chips
                    hide-details="auto"
                    dense
                    return-object
                    :disabled="assignment.action !== 'create'"
                    @change="getNewGroup(assignment.system.id)"
                  >
                    <template #label>
                      {{ $t('match.system') }}
                      <span class="red--text">
                        <strong>*</strong>
                      </span>
                    </template>
                  </v-autocomplete>

                  <v-select
                    v-model="assignment.alias"
                    :items="computedGroup"
                    item-value="id"
                    item-text="name"
                    :rules="[v => !!v || $t('match.rules.group')]"
                    class="col-12 col-sm-5 col-md-5"
                    small-chips
                    hide-details="auto"
                    dense
                    return-object
                    :disabled="!assignment.system || assignment.action !== 'create'"
                    @change="newMatch(assignment)"
                  >
                    <template #label>
                      {{ $t('match.group') }}
                      <span class="red--text">
                        <strong>*</strong>
                      </span>
                    </template>
                  </v-select>

                  <v-icon
                    small
                    :color="getColorIcon(assignment.match)"
                    class="mr-2"
                  >
                    {{ getIcon(assignment.match) }}
                  </v-icon>
                </v-layout>

                <v-layout
                  v-if="hideFields && (assignment.action === 'create' || assignment.action === 'dates')"
                  class="col-12 layout-02 wrap pa-0 ma-0"
                >
                  <v-menu
                    v-model="modalCheckFrom"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="checkFromFormatted"
                        hint="DD/MM/YYYY"
                        :disabled="disableCheckFromFormatted"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-5"
                        hide-details="auto"
                        dense
                        @click:clear="onClearClicked('checkFromFormatted')"
                        @blur="onBlurField('checkFromFormatted');"
                        v-on="on"
                      >
                        <template #label>
                          {{ $t('match.checkinfrom') }}
                          <span class="red--text">
                            <strong>*</strong>
                          </span>
                        </template>
                      </v-text-field>
                    </template>
                    <v-date-picker
                      v-model="assignment.checkinfrom"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="checkFromFormatted = formatDate(assignment.checkinfrom); modalCheckFrom = false;"
                    />
                  </v-menu>

                  <v-menu
                    v-model="modalCheckTo"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="checkToFormatted"
                        :label="$t('match.checkinto')"
                        hint="DD/MM/YYYY"
                        :disabled="disableCheckToFormatted"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-5"
                        hide-details="auto"
                        dense
                        @click:clear="onClearClicked('checkToFormatted')"
                        @blur="onBlurField('checkToFormatted');"
                        v-on="on"
                      />
                    </template>
                    <v-date-picker
                      v-model="assignment.checkinto"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="modalCheckTo = false; checkToFormatted = formatDate(assignment.checkinto);"
                    />
                  </v-menu>
                </v-layout>

                <v-layout
                  v-if="assignment.action !== 'notes'"
                  class="col-12 layout-03 wrap pa-0 ma-0"
                >
                  <v-menu
                    v-if="assignment.action === 'create' || assignment.action === 'dates'"
                    v-model="modalBookFrom"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="bookFromFormatted"
                        :rules="[v => !!v || $t('match.rules.bookfrom')]"
                        hint="DD/MM/YYYY"
                        :disabled="disableBookFromFormatted"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-3"
                        hide-details="auto"
                        dense
                        @click:clear="onClearClicked('bookFromFormatted')"
                        @blur="onBlurField('bookFromFormatted');"
                        v-on="on"
                      >
                        <template #label>
                          {{ $t('match.bookfrom') }}
                          <span class="red--text">
                            <strong>*</strong>
                          </span>
                        </template>
                      </v-text-field>
                    </template>
                    <v-date-picker
                      v-model="assignment.bookfrom"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="modalBookFrom = false; bookFromFormatted = formatDate(assignment.bookfrom);"
                    />
                  </v-menu>

                  <v-text-field
                    v-if="hideFields && (assignment.action === 'create' || assignment.action === 'dates')"
                    v-model="assignment.timefrom"
                    :rules="timeBkFromRules"
                    hint="HH:MM:SS"
                    persistent-hint
                    class="col-12 col-md-2"
                    hide-details="auto"
                    dense
                    clearable
                  >
                    <template #label>
                      {{ $t('match.timeFrom') }}
                      <span class="red--text">
                        <strong>*</strong>
                      </span>
                    </template>
                  </v-text-field>

                  <v-menu
                    v-model="modalBookTo"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="bookToFormatted"
                        :label="$t('match.bookto')"
                        hint="DD/MM/YYYY"
                        :disabled="disableBookToFormatted"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-3"
                        hide-details="auto"
                        dense
                        @click:clear="onClearClicked('bookToFormatted')"
                        @blur="onBlurField('bookToFormatted');"
                        v-on="on"
                      />
                    </template>
                    <v-date-picker
                      v-model="assignment.bookto"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="modalBookTo = false; bookToFormatted = formatDate(assignment.bookto);"
                    />
                  </v-menu>

                  <v-text-field
                    v-if="hideFields"
                    v-model="assignment.timeto"
                    :label="$t('match.timeTo')"
                    :rules="timeBkToRules"
                    hint="HH:MM:SS"
                    persistent-hint
                    class="col-12 col-md-2"
                    hide-details="auto"
                    dense
                    clearable
                  />
                </v-layout>

                <v-layout
                  v-if="assignment.action !== 'create'"
                  class="col-12 layout-04 wrap pa-0 ma-0"
                >
                  <v-simple-table
                    v-if="assignment.genNotes"
                    class="col-12 col-md-6"
                  >
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th
                            id="0"
                            class="text-left"
                            colspan="3"
                          >
                            {{ $t('match.gennotelist') }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="item in assignment.genNotes"
                          :key="item.date"
                        >
                          <td>{{ item.user }}</td>
                          <td>{{ item.date }}</td>
                          <td>{{ item.note }}</td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>

                  <v-simple-table
                    v-if="assignment.notes"
                    class="col-12 col-md-6"
                  >
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th
                            id="1"
                            class="text-left"
                            colspan="3"
                          >
                            {{ $t('match.notelist') }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="item in assignment.notes"
                          :key="item.date"
                        >
                          <td>{{ item.user }}</td>
                          <td>{{ item.date }}</td>
                          <td>{{ item.note }}</td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-layout>

                <v-layout class="col-12 layout-05 wrap pa-0 ma-0">
                  <v-textarea
                    v-model="assignment.note"
                    auto-grow
                    :label="$t('match.note')"
                    rows="3"
                    hide-details="auto"
                    dense
                    class="col-12 col-md-12"
                  />
                </v-layout>
              </v-container>
              <small>
                <span class="red--text">
                  <strong>*</strong>
                </span>
                {{ $t('required') }}
              </small>
            </v-card-text>

            <v-card-actions>
              <v-spacer />
              <v-btn
                color="primary"
                small
                text
                @click="cancelAssignment"
              >
                {{ $t('button.cancel') }}
              </v-btn>
              <v-btn
                color="primary"
                small
                text
                type="submit"
                form="assignmenteForm"
                :disabled="!isValid"
              >
                {{ $t('button.save') }}
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-dialog>
    </v-row>

    <v-card class="card-01 pa-0 ma-0">
      <v-expansion-panels
        v-model="filterPanel"
        multiple
      >
        <v-expansion-panel>
          <v-expansion-panel-header
            class="wrapper-header py-2"
            header
          >
            <small class="col-12"> {{ $t('match.supplier') }} </small>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-card class="card-01 pa-0 ma-0">
              <v-card-text class="card-text-01">
                <v-layout class="col-12 layout-01 pa-0 ma-0">
                  <v-select
                    v-model="filter.level"
                    :label="$t('match.match')"
                    :items="getMatchLevel()"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-2"
                    clearable
                    hide-details="auto"
                    dense
                    return-object
                  />

                  <v-select
                    v-model="filter.sup"
                    :label="$t('tables.supplier')"
                    :items="getEntityValues('sys_supplier')"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-3"
                    hide-details="auto"
                    dense
                    clearable
                  />

                  <v-select
                    v-model="filter.sub"
                    :label="$t('tables.subSupplier')"
                    :items="getEntityValues('sub_supplier')"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-4"
                    hide-details="auto"
                    dense
                    clearable
                  />

                  <v-select
                    v-model="filter.own"
                    :label="$t('match.own')"
                    :items="getYesOrNoValues()"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-2"
                    hide-details="auto"
                    dense
                    clearable
                  />
                </v-layout>

                <v-layout class="col-12 layout-02 pa-0 ma-0">
                  <v-select
                    v-model="filter.market"
                    :items="getEntityValues('country', true)"
                    :label="$t('credential.marketCountry')"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-3"
                    hide-details="auto"
                    dense
                    clearable
                  />

                  <v-select
                    v-model="filter.hotx"
                    :label="$t('match.hotx')"
                    :items="getYesOrNoValues()"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-2"
                    hide-details="auto"
                    dense
                    clearable
                  />

                  <v-select
                    v-model="filter.mhr"
                    :label="$t('match.mhr')"
                    :items="getYesOrNoValues()"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-2"
                    hide-details="auto"
                    dense
                    clearable
                  />

                  <v-select
                    v-model="filter.block"
                    :label="$t('match.pcg')"
                    :items="getYesOrNoValues()"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-2"
                    hide-details="auto"
                    dense
                    clearable
                  />

                  <v-select
                    v-model="filter.availgts"
                    :label="$t('match.acv')"
                    :items="getYesOrNoValues()"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-2"
                    hide-details="auto"
                    dense
                    clearable
                  />
                  <v-spacer />
                </v-layout>

                <v-layout class="col-12 layout-03 pa-0 ma-0">
                  <v-select
                    v-model="filter.model"
                    :label="$t('match.model_distribution')"
                    :items="getEntityValues('distribution_model', true)"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-2"
                    hide-details="auto"
                    dense
                    clearable
                  />

                  <v-select
                    v-model="filter.rate"
                    :label="$t('match.rate')"
                    :items="getEntityValues('rate_type', true)"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-3"
                    hide-details="auto"
                    dense
                    clearable
                  />

                  <v-select
                    v-model="filter.currency"
                    :label="$t('match.currency')"
                    :items="getEntityValues('currency', true)"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-2"
                    hide-details="auto"
                    dense
                    clearable
                  />

                  <v-select
                    v-model="filter.test"
                    :label="$t('match.test')"
                    :items="getYesOrNoValues()"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-2"
                    hide-details="auto"
                    dense
                    clearable
                  />
                  <v-spacer />
                </v-layout>
              </v-card-text>

              <v-card-actions class=" col-12 pa-0 ma-0">
                <v-spacer />
                <v-btn
                  color="primary"
                  small
                  text
                  @click="cleanFilter"
                >
                  {{ $t('button.cleanfilter') }}
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>

      <v-card>
        <v-card-text>
          <v-layout class="col-12 layout-01 pa-0 ma-0">
            <v-checkbox
              v-model="validCredential"
              :label="$t('credential.validCredential')"
              class="col-2 pa-0 ma-0"
              dense
            />
            <small class="col-2 pa-0 ma-0">
              {{ $t('match.totalassign') }} {{ countTotal }}
            </small>
            <small class="col-2 pa-0 ma-0">
              {{ $t('match.totalassignred') }}
              <v-icon
                small
                :color="getColorIcon('red')"
                class="mr-2"
              >
                {{ getIcon('red') }}
              </v-icon> {{ countTotalRed }}
            </small>
            <small class="col-2 pa-0 ma-0">
              {{ $t('match.totalnoassigngreen') }}
              <v-icon
                small
                :color="getColorIcon('green')"
                class="mr-2"
              >
                {{ getIcon('green') }}
              </v-icon> {{ countTotalGreen }}
            </small>
            <v-spacer />
            <v-btn
              color="primary"
              small
              text
              @click="openAssignment('create')"
            >
              {{ $t('button.new') }}
            </v-btn>
            <v-btn
              color="primary"
              small
              text
              @click="openMatch"
            >
              {{ $t('button.match') }}
            </v-btn>
          </v-layout>
          <v-data-table
            :headers="computedHeaders"
            :items="datatable"
            :page.sync="page"
            :items-per-page="rowsPerPage"
            dense
            hide-default-footer
            class="elevation-1 no-gutters"
            @page-count="pageCount = $event"
          >
            <template v-slot:item.system="{item}">
              <span>{{ item.systemName }}</span>
            </template>
            <template v-slot:item.alias="{item}">
              <span>{{ item.aliasName }}</span>
            </template>
            <template v-slot:item.match="{item}">
              <v-icon
                small
                :color="getColorIcon(item.match)"
                class="mr-2"
              >
                {{ getIcon(item.match) }}
              </v-icon>
            </template>
            <template v-slot:item.own="{item}">
              <v-icon
                v-if="item.own"
                small
                color="green"
                class="mr-2"
              >
                done
              </v-icon>

              <v-icon
                v-if="!item.own"
                color="red"
                class="mr-2"
                small
              >
                clear
              </v-icon>
            </template>
            <template v-slot:item.action="{item}">
              <v-icon
                class="mx-1"
                color="var(--v-icon-color)"
                small
                @click="openComparator(item)"
              >
                close_fullscreen
              </v-icon>
              <v-icon
                class="mx-1"
                :color="colorNotes(item)"
                small
                @click="openAssignment('notes', item)"
              >
                note_add
              </v-icon>
              <v-icon
                v-if="isAfterToToday(item.bookto)"
                class="mx-1"
                color="var(--v-icon-color)"
                small
                @click="openAssignment('dates', item)"
              >
                edit
              </v-icon>
              <v-icon
                v-if="isAfterToToday(item.bookto)"
                class="mx-1"
                color="var(--v-icon-color)"
                small
                @click="openAssignment('disable', item)"
              >
                delete
              </v-icon>
            </template>
            <template v-slot:no-results>
              <v-alert
                :value="true"
                color="error"
                icon="warning"
              >
                {{ $t('noresults') }}
              </v-alert>
            </template>
          </v-data-table>
          <div class="pt-2">
            <v-layout class="col-12 layout-01 pa-0 ma-0">
              <small class="col-3 pt-1"> {{ countRow }} </small>
              <v-pagination
                v-model="page"
                :length="pageCount"
                total-visible="7"
                class="col-9 justify-end pt-1 mb-2"
              />
            </v-layout>
          </div>
        </v-card-text>
      </v-card>
    </v-card>
  </div>
</template>
<script>
import {mapActions, mapState} from "vuex";
import {gestcom} from "@services/gestcom";
import {dateUtils} from "@helper/dateUtils";
import {utils} from "@helper/utils";
import {masterUtils} from "@helper/masterUtils";

export default {
  props: {
    credential: {type: Object, required: true},
    supplierIncoming: {type: Array, required: true},
    assignIncoming: {type: Array, required: true},
    unassignIncoming: {type: Array, required: true},
    itemCredential: {type: Object, required: false, default: null},
    route: {type: String, required: true, default: null},
  },
  data() {
    return {
      hideFields: false,
      dialogAssignment: false,
      isValid: false,
      filterPanel: [],
      validCredential: true,
      countTotal: 0,
      countTotalRed: 0,
      countTotalGreen: 0,
      page: 1,
      pageCount: 0,
      rowsPerPage: 15,
      countShow: 0,
      suppliers: null,
      newGroups: null,
      responseSupplier: this.supplierIncoming,
      responseAssign: this.assignIncoming,
      responseUnAssign: this.unassignIncoming,
      groups: null,
      modalCheckFrom: false,
      modalCheckTo: false,
      modalBookFrom: false,
      modalBookTo: false,
      checkFromFormatted: null,
      checkToFormatted: null,
      bookFromFormatted: null,
      bookToFormatted: null,
      assignment: {
        system: null,
        alias: null,
        match: null,
        checkinfrom: null,
        checkinto: null,
        bookfrom: null,
        timefrom: null,
        bookto: null,
        timeto: null,
        note: null,
        notes: null,
        genNotes: null,
        action: null
      },
      assignmentDefault: {
        system: null,
        alias: null,
        match: null,
        checkinfrom: null,
        checkinto: null,
        bookfrom: null,
        timefrom: null,
        bookto: null,
        timeTo: null,
        note: null,
        notes: null,
        genNotes: null,
        action: null
      },
      filter: {
        level: null,
        own: null,
        hotx: null,
        mhr: null,
        sup: null,
        sub: null,
        block: null,
        availgts: null,
        test: null,
        market: null,
        model: null,
        rate: null,
        currency: null
      },
      filterDefault: {
        level: null,
        own: null,
        hotx: null,
        mhr: null,
        sup: null,
        sub: null,
        block: null,
        availgts: null,
        test: null,
        market: null,
        model: null,
        rate: null,
        currency: null
      },
      credentialComparator: {
        name: null,
        brand: null,
        serviceType: null,
        status: null,
        pppull: null,
        ppthird: null,
        multiHotel: null,
        blocks: null,
        availCost: null,
        active: null,
        test: null,
        hotelX: null,
        market: null,
        model: null,
        vinc: null,
        b2b: null,
        paq: null,
        nrf: null,
        currency: null
      },
    };
  },
  computed: {
    ...mapState({
      master: (state) => state.master,
      auth: (state) => state.auth,
    }),
    computedSystem() {
      const rows = [];
      if (this.suppliers) {
        for (let select of this.suppliers) {
          const srv = masterUtils.getCode(select.codes, 'service_type');
          if (select.status !== 'DISABLED' && srv === this.credential.srvtype.id && !this.existAssign(select.exts)) {
            rows.push({
              id: select.id,
              name: this.getSystem(select.codes),
            });
          }
        }
      }
      return rows;
    },
    computedGroup() {
      const rows = [];
      if (this.newGroups) {
        rows.push(...this.newGroups);
      }
      return rows;
    },
    computedMinAllowedDate() {
      return dateUtils.getMinAllowedDate();
    },
    disableBookToFormatted() {
      return (
        this.bookToFormatted &&
        dateUtils.isDateLessThanNow(this.bookToFormatted)
      );
    },
    disableBookFromFormatted() {
      return (
        this.bookFromFormatted &&
        dateUtils.isDateLessThanNow(this.bookFromFormatted)
      );
    },
    disableCheckToFormatted() {
      return (
        this.checkToFormatted &&
        dateUtils.isDateLessThanNow(this.checkToFormatted)
      );
    },
    disableCheckFromFormatted() {
      return (
        this.checkFromFormatted &&
        dateUtils.isDateLessThanNow(this.checkFromFormatted)
      );
    },
    timeBkFromRules: function () {
      return [
        () => {
          if (!this.assignment.timefrom) {
            return this.$i18n.t('supplier_credential.rules.time');
          } else {
            if (this.assignment.timefrom.length > 8) {
              return this.$i18n.t('supplier_credential.rules.timeLength');
            } else {
              const timeReg = /^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/;
              if (!this.assignment.timefrom.match(timeReg)) {
                return this.$i18n.t('supplier_credential.rules.timeFormat');
              }
              return true;
            }
          }
        }
      ];
    },
    timeBkToRules: function () {
      return [
        () => {
          if (this.assignment.timeto) {
            if (this.assignment.timeto.length > 8) {
              return this.$i18n.t('supplier_credential.rules.timeLength');
            } else {
              const timeReg = /^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/;
              if (!this.assignment.timeto.match(timeReg)) {
                return this.$i18n.t('supplier_credential.rules.timeFormat');
              }
              return true;
            }
          }
          return true;
        }
      ];
    },
    countRow() {
      let text = this.$i18n.t('match.credentialrows');
      text = text.concat(this.countShow).concat(" / ").concat(this.countTotal);
      return text;
    },
    computedHeaders() {
      return this.headersTable.filter((header) => !header.hide);
    },
    headersTable() {
      return [
        {
          align: "left",
          value: "id",
          hide: true,
        },
        {
          text: this.$i18n.t('match.system'),
          align: "left",
          value: "system",
          width: "25%",
          hide: false,
        },
        {
          text: this.$i18n.t('match.own'),
          align: "center",
          value: "own",
          hide: false,
          sortable: false
        },
        {
          text: this.$i18n.t('match.credGroup'),
          align: "left",
          value: "alias",
          width: "25%",
          hide: false,
        },
        {
          text: this.$i18n.t('match.match'),
          align: "center",
          value: "match",
          hide: false,
          sortable: false
        },
        {
          text: this.$i18n.t('match.checkinfrom'),
          align: "center",
          value: "checkinfrom",
          width: "7%",
          hide: true,
        },
        {
          text: this.$i18n.t('match.checkinto'),
          align: "center",
          value: "checkinto",
          width: "7%",
          hide: true,
        },
        {
          text: this.$i18n.t('match.bookfrom'),
          align: "center",
          value: "bookfrom",
          width: "10%",
          hide: false,
        },
        {
          text: this.$i18n.t('match.bookto'),
          align: "center",
          value: "bookto",
          width: "10%",
          hide: false,
        },
        {
          value: "action",
          hide: false,
          sortable: false
        }
      ];
    },
    datatable() {
      return this.getRows(this.credential.groups);
    },
  },
  created() {
    this.loadStore();
    this.getMatches();
  },
  methods: {
    ...mapActions("master", ["getSystems", "getBrands", "getCurrencies", "getRateTypes", "getSysSupplier", "getServiceTypes", "getCountries", "getSubSupplier", "getDistributionModels", "getProductOrigins"]),
    ...mapActions("alert", ["error"]),
    getIcon(color) {
      return gestcom.getIcon(color);
    },
    getColorIcon(color) {
      return gestcom.getIconColor(color);
    },
    handleAssignSubmit(e) {
      e.preventDefault();
      const date = dateUtils.getCurrentDate().concat(" ").concat(dateUtils.getCurrentTime());
      const user = this.auth.user.name.concat(" ").concat(this.auth.user.sur).concat(" (").concat(this.auth.user.user).concat(")");
      let newNote = null;
      if (this.assignment.note && this.assignment.note.length > 0) {
        newNote = user.concat("#").concat(date).concat("#").concat(this.assignment.note);
      }

      const codes = [];
      const code = {
        key: this.assignment.action === 'create' ? this.assignment.system.id.concat("¬").concat(this.assignment.alias.id) : this.assignment.system.concat("¬").concat(this.assignment.alias),
        value: newNote
      };
      codes.push(code);

      const cred = this.credential.id;
      const assignment = {
        // checkInFrom: dateUtils.formatDate(this.assignment.action === 'disable' ? this.assignment.bookto : this.assignment.checkinfrom),
        // checkInTo: dateUtils.formatDate(this.assignment.action === 'disable' ? this.assignment.bookto : this.assignment.checkinto),
        checkIn: {
          from: dateUtils.formatDate(this.assignment.action === 'disable' ? this.assignment.bookto : null),
          to: dateUtils.formatDate(this.assignment.action === 'disable' ? this.assignment.bookto : null),
        },
        book: {
          from: dateUtils.formatDate(this.assignment.action === 'disable' ? this.assignment.bookto : this.assignment.bookfrom),
          timeFrom: this.assignment.action === 'disable' ? this.assignment.timeto : this.assignment.timefrom,
          to: dateUtils.formatDate(this.assignment.bookto),
          timeTo: this.assignment.timeto,
        }
      }

      gestcom.assignment(JSON.stringify({ codes, cred, assignment }))
        .then(
          () => { },
          error => {
            this.error(error);
          }
        );
      setTimeout(() => {
        this.$emit("getMatches");
        this.cancelAssignment();
      }, 1000);
    },
    getNewGroup(supplier) {
      this.newGroups = [];
      if (supplier) {
        for (let select of this.groups) {
          if (select.id === supplier) {
            for (let group of select.groups) {
              if (group.act) {
                const row = {
                  id: group.id,
                  name: group.sysname,
                  active: select.act,
                }
                this.newGroups.push(row);
              }
            }
          }
        }
      }
    },
    newMatch(item) {
      if (this.responseUnAssign) {
        item.match = this.getMatch(this.responseUnAssign, item.alias.id);
        if (item.match.length > 0) {
          this.checkFromFormatted = dateUtils.getCurrentDate();
          item.checkinfrom = this.parseDate(this.checkFromFormatted);
          item.bookfrom = item.checkinfrom;
          this.bookFromFormatted = this.checkFromFormatted;
          item.timefrom = dateUtils.getCurrentTime();
        }
      }
    },
    formatDate(value) {
      return dateUtils.formatDate(value);
    },
    parseDate(value) {
      return dateUtils.parseDate(value);
    },
    cancelAssignment() {
      this.dialogAssignment = false;
      this.checkFromFormatted = null;
      this.checkToFormatted = null;
      this.bookFromFormatted = null;
      this.bookToFormatted = null;
      this.assignment = Object.assign({}, this.assignmentDefault);
    },
    getMatchLevel() {
      const greenRow = {
        id: "green",
        name: "100%"
      };
      const yellowRow = {
        id: "yellow",
        name: "50%"
      };
      const redRow = {
        id: "red",
        name: "0%"
      };

      const rows = [];
      rows.push(greenRow);
      rows.push(yellowRow);
      rows.push(redRow);
      return rows;
    },
    getEntityValues(child) {
      const values = masterUtils.getEntityValues(this.master, child);
      let elements;
      if (child !== 'currency') {
        elements = values;
      } else {
        const multi = {
          id: "MULTI",
          name: [
            {
              key: "ESP",
              value: "[ALL] MULTI"
            }
          ],
          act: true,
          own: true
        };
        elements = [];
        elements.push(multi);
        for (let select of values) {
          if (select.supplier) {
            elements.push(select);
          }
        }
      }

      const rows = [];
      for (let i = 0; elements && i < elements.length; i++) {
        const row = {
          id: elements[i].id,
          name: utils.valueLanguage(elements[i].name, "ESP"),
          own: elements[i].own
        };
        rows.push(row);
      }
      return rows;
    },
    getYesOrNoValues() {
      const yesRow = {
        id: "true",
        name: this.$i18n.t('yes')
      };
      const noRow = {
        id: "false",
        name: this.$i18n.t('no')
      };

      const rows = [];
      rows.push(yesRow);
      rows.push(noRow);
      return rows;
    },
    cleanFilter() {
      this.filter = Object.assign({}, this.filterDefault);
    },
    isAfterToToday(date) {
      let day=new Date().getDate();
      let month=new Date().getMonth()+1;
      let year=new Date().getFullYear();
      if(date=== '' || date===undefined || date === null || new Date(date)>new Date(day+'/'+month+'/'+year)){
        return true;
      }
      return false;
    },
    openAssignment(action, item) {
      this.assignment.action = action;
      if (item) {
        this.assignment.system = item.system;
        this.assignment.alias = item.alias;
        this.assignment.checkinfrom = this.parseDate(item.checkinfrom);
        this.checkFromFormatted = item.checkinfrom;
        if (item.checkinto) {
          this.assignment.checkinto = this.parseDate(item.checkinto);
          this.checkToFormatted = item.checkinto;
        }

        let index = item.bookfrom.indexOf(" ");
        let date = item.bookfrom;
        let time = "";
        if (index > 0) {
          date = item.bookfrom.substring(0, index);
          time = item.bookfrom.substring(index + 1);
        }
        this.assignment.bookfrom = this.parseDate(date);
        this.bookFromFormatted = date;
        this.assignment.timefrom = time;

        if (action === 'disable') {
          this.bookToFormatted = dateUtils.getCurrentDate();
          this.assignment.bookto = this.parseDate(this.bookToFormatted);
          this.assignment.timeto = dateUtils.getCurrentTime();
        } else {
          if (item.bookto) {
            index = item.bookto.indexOf(" ");
            date = item.bookfrom;
            time = "";
            if (index > 0) {
              date = item.bookto.substring(0, index);
              time = item.bookto.substring(index + 1)
            }

            this.assignment.bookto = this.parseDate(date);
            this.bookToFormatted = date;
            this.assignment.timeto = time;
          }
        }
        this.assignment.notes = item.notes;
        this.assignment.match = item.match;
        this.assignment.genNotes = item.genNotes;
      }
      if (action !== 'create') {
        this.getNewGroup(this.assignment.system);
      }
      this.dialogAssignment = true;
      this.$refs.assignmentForm.resetValidation();
    },
    openMatch() {
      this.$emit("matchDialog", this.itemCredential);
    },
    openComparator(item) {
      this.$emit("openDialog", this.credentialComparator, item.supplier)
    },
    colorNotes(item) {
      if (item.notes || item.genNotes) {
        return "var(--v-icon-color)";
      }
      return "";
    },
    loadStore() {
      if (this.master.externalSystems === null) {
        this.getSystems();
      }
      if (this.master.serviceTypes === null) {
        this.getServiceTypes();
      }
      if (this.master.syssuppliers === null) {
        this.getSysSupplier();
      }
      if (this.master.subsuppliers === null) {
        this.getSubSupplier();
      }
      if (this.master.brands === null) {
        this.getBrands();
      }
      if (this.master.productOrigins === null) {
        this.getProductOrigins();
      }
      if (this.master.countries === null) {
        this.getCountries();
      }
      if (this.master.distributionModels === null) {
        this.getDistributionModels();
      }
      if (this.master.rateTypes === null) {
        this.getRateTypes();
      }
      if (this.master.currencies === null) {
        this.getCurrencies();
      }
      if (!this.suppliers) {
        this.suppliers = [];
        this.groups = [];
        gestcom.getAllItems("/api/v1/supplier", JSON.stringify({ filter : {} }))
          .then(
            response => {
              if (!response.messages) {
                this.suppliers = response;
                if (this.suppliers) {
                  for (let select of this.suppliers) {
                    const row = {
                      id: select.id,
                      groups: select.exts
                    }
                    this.groups.push(row);
                  }
                }
              }
            },
            error => {
              this.error(error);
            }
          );
      }
    },
    existAssign(groups) {
      if (groups && this.responseAssign) {
        for (let select of groups) {
          for (let assign of this.responseAssign) {
            if (assign.name === select.id && this.assignment.action === 'create') {
              return true;
            }
          }
        }
      }
      return false;
    },
    getSystem(codes) {
      let value = "";
      const masters = this.getEntityValues('external_system');
      if (masters) {
        const code = masterUtils.getCode(codes, 'external_system');
        for (let master of masters) {
          if (master.id === code) {
            value = master.name;
            break;
          }
        }
      }
      return value;
    },
    getRows(source) {
      const rows = [];
      let countTotal = 0;
      let countShow = 0;
      let countTotalRed = 0;
      let countTotalGreen = 0;
      if (source) {
        const currentDate = new Date();
        for (let select of source) {
          let checkInFrom = "";
          let checkInTo = "";
          let bookFrom = "";
          let parsedBookTo = "";
          let bookTo = "";
          let notes = null;
          let genNotes = null;
          let match = "";
          const supplier = this.getSupplier(select.supplierId);
          let supplierComparator = null;
          if (supplier) {
            const dates = select.assignment;
            if (dates.checkIn) {
              if (dates.checkIn.from) {
                checkInFrom = dates.checkIn.from;
              }
              if (dates.checkIn.to) {
                checkInTo = dates.checkIn.to;
              }
            }
            if (dates.book) {
              if (dates.book.from) {
                bookFrom = dates.book.from;
                //bookFrom = dates.book.from.concat(" ").concat(dates.book.timeFrom ? dates.book.timeFrom : '23:59:59');
              }
              if (dates.book.to) {
                parsedBookTo = dateUtils.parseDate(dates.book.to).concat(" ").concat(dates.book.timeTo ? dates.book.timeTo : '23:59:59');
                //bookTo = dates.book.to.concat(" ").concat(dates.book.timeTo ? dates.book.timeTo : '23:59:59');
                bookTo = dates.book.to;
              }
            }
            notes = dates.note;
            genNotes = dates.gennote;
            match = this.getMatch(this.responseAssign, select.id);
            supplierComparator = this.createSupplierComparator(supplier, select.id)
          }

          countTotal++;
          if (this.validCredential && currentDate > Date.parse(parsedBookTo)) {
            continue;
          }

          if (!this.filterRow(supplier, select, match)) {
            continue;
          }
          countShow++;

          if (match === 'red') {
            countTotalRed++;
          }

          if (this.responseUnAssign) {
            for (let select of this.responseUnAssign) {
              if (select.value.toLowerCase() === 'green') {
                countTotalGreen++;
              }
            }
          }

          const row = {
            id: select.supplierId.concat("¬").concat(select.id),
            system: select.supplierId,
            systemName: utils.valueLanguage(supplier.sys.name, "ESP"),
            alias: select.id,
            aliasName: select.sysname,
            own: supplier ? supplier.sys.own : false,
            match: match,
            checkinfrom: checkInFrom,
            checkinto: checkInTo,
            bookfrom: bookFrom,
            bookto: bookTo,
            supplier: supplierComparator,
            notes: notes,
            genNotes: genNotes
          };
          rows.push(row);
        }

        this.countTotal = countTotal;
        this.countShow = countShow;
        this.countTotalRed = countTotalRed;
        this.countTotalGreen = countTotalGreen;
      }
      return rows;
    },
    getSupplier(id){
      if (this.responseSupplier) {
        for (let select of this.responseSupplier) {
          if (select.id === id) {
            return select;
          }
        }
      }
      return null;
    },
    createSupplierComparator(supplier, groupId) {
      let group;
      if (supplier.exts) {
        for (let grp of supplier.exts) {
          if (grp.id === groupId) {
            group = grp;
            break;
          }
        }
      }

      const allMasters = group.allMasters;
      let model;
      let codes;
      if (allMasters && allMasters.indexOf('distribution_model') !== -1) {
        model = "MULTI";
      } else {
        codes = masterUtils.getCodes(group.codes, 'distribution_model', true);
        if (codes.length > 1) {
          model = "MULTI";
        } else {
          model = codes[0];
        }
      }

      let rates;
      if (allMasters && allMasters.indexOf('rate_type') !== -1) {
        rates = "MULTI";
      } else {
        rates = "";
        codes = masterUtils.getCodes(group.codes, 'rate_type', true);
        for (let rate of codes) {
          rates = rates.concat("¬").concat(rate);
        }
      }

      codes = masterUtils.getCodes(group.codes, 'country', true);
      return {
        name: utils.valueLanguage(supplier.sys.name, "ESP").concat(" - ").concat(group.sysname),
        brand: masterUtils.getCodes(group.codes, 'brand', false),
        serviceType: masterUtils.getCodes(supplier.codes, 'service_type', false),
        status: supplier.status,
        pppull: this.$i18n.t(supplier.sys.own ? 'yes' : 'no'),
        ppthird: this.$i18n.t(supplier.sys.own ? 'yes' : 'no'),
        multiHotel: this.$i18n.t(supplier.mhr ? 'yes' : 'no'),
        blocks: this.$i18n.t(supplier.block ? 'yes' : 'no'),
        availCost: this.$i18n.t(supplier.availgts ? 'yes' : 'no'),
        test: this.$i18n.t(supplier.test ? 'yes' : 'no'),
        hotelX: this.$i18n.t(group.hotelX !== 'NO' ? 'yes' : 'no'),
        active: group.act,
        market: (group.tagnac || codes.length !== 1) ? "MULTI" : codes[0],
        model: model,
        vinc: this.$i18n.t(rates === 'MULTI' || rates.indexOf('VINC') !== -1 ? 'yes' : 'no'),
        b2b: this.$i18n.t(rates === 'MULTI' || rates.indexOf('B2B') !== -1 ? 'yes' : 'no'),
        paq: this.$i18n.t(rates === 'MULTI' || rates.indexOf('EMP') !== -1 ? 'yes' : 'no'),
        nrf: this.$i18n.t(rates === 'MULTI' || rates.indexOf('NRF') !== -1 ? 'yes' : 'no'),
        currency: "PTE" //masterUtils.getCodes(credential.codes, 'currency', false)
      };
    },
    filterRow(supplier, group, match) {
      let matchFilter = true;
      if (this.filter.level) {
        matchFilter = match.length === 0 || match === this.filter.level.id;
      }
      let ownFilter = true;
      if (this.filter.own) {
        ownFilter = !supplier || supplier.sys.own.toString() === this.filter.own;
      }
      let code;
      let supFilter = true;
      if (this.filter.sup) {
        code = masterUtils.getCodes(supplier.codes, 'external_system', false);
        supFilter = code.indexOf(this.filter.sup) !== -1;
      }
      let subFilter = true;
      if (this.filter.sub) {
        code = masterUtils.getCodes(supplier.codes, 'external_system', false);
        subFilter = code.indexOf(this.filter.sub) !== -1;
      }
      let hotelxFilter = true;
      if (this.filter.hotx) {
        hotelxFilter = group.hotX !== 'NO'.toString() === this.filter.hotx;
      }
      let mhrFilter = true;
      if (this.filter.mhr) {
        mhrFilter = !supplier || supplier.mhr.toString() === this.filter.mhr;
      }
      let blockFilter = true;
      if (this.filter.block) {
        blockFilter = !supplier || supplier.block.toString() === this.filter.block;
      }
      let availFilter = true;
      if (this.filter.availgts) {
        availFilter = !supplier || supplier.availgts.toString() === this.filter.availgts;
      }
      let testFilter = true;
      if (this.filter.test) {
        testFilter = group.test.toString() === this.filter.test;
      }
      let codes;
      let marketFilter = true;
      if (this.filter.market && !group.tagnac) {
        codes = masterUtils.getCodes(group.codes, 'country', true);
        marketFilter = codes.length === 0 || codes.indexOf(this.filter.market) !== -1;
      }
      let currencyFilter = true;
      if (this.filter.currency && !group.tagdiv) {
        codes = masterUtils.getCodes(group.codes, 'currency', true)
        currencyFilter = codes.length === 0 || codes.indexOf(this.filter.currency) !== -1;
      }
      let modelFilter = true;
      if (this.filter.model && group.allMasters.indexOf('distribution_model') === -1) {
        codes = masterUtils.getCodes(group.codes, 'distribution_model', true);
        modelFilter = codes.length === 0 || codes.indexOf(this.filter.model) !== -1;
      }
      let rateFilter = true;
      if (this.filter.rate && group.allMasters.indexOf('rate_type') === -1) {
        codes = masterUtils.getCodes(group.codes, 'rate_type', true);
        rateFilter = codes.length === 0 || codes.indexOf(this.filter.rate) !== -1;
      }

      return matchFilter && supFilter && subFilter && ownFilter && hotelxFilter && mhrFilter && blockFilter && availFilter && testFilter && marketFilter && currencyFilter && modelFilter && rateFilter;
    },
    getMatch(source, id) {
      if (source) {
        for (let assign of source) {
          if (assign.name === id) {
            return assign.value.toLowerCase();
          }
        }
      }
      return "";
    },
    getMatches() {
      if (this.credential) {
        this.createCredentialComparator();
      }
    },
    createCredentialComparator() {
      this.credentialComparator.name = this.credential.alias.concat(" - ").concat(this.credential.desc);
      this.credentialComparator.brand = this.credential.brand.id;
      this.credentialComparator.serviceType = this.credential.srvtype.id;
      this.credentialComparator.status = "ENABLED";
      const products = this.getMasterCodes(this.credential.products);
      this.credentialComparator.pppull = this.$i18n.t(!products || products.indexOf('PULL3') !== -1 ? 'yes' : 'no');
      this.credentialComparator.ppthird = this.$i18n.t(!products || products.indexOf('PPPULL') !== -1 ? 'yes' : 'no');
      this.credentialComparator.multiHotel = this.$i18n.t(this.credential.request && this.credential.request.id !== "DEST" ? 'yes' : 'no');
      this.credentialComparator.blocks = this.$i18n.t(this.credential.priceChange ? 'yes' : 'no');
      this.credentialComparator.availCost = this.$i18n.t(this.credential.availcost ? 'yes' : 'no');
      this.credentialComparator.test = this.$i18n.t(this.credential.test ? 'yes' : 'no');
      this.credentialComparator.hotelX = this.$i18n.t(this.credential.hotelX ? 'yes' : 'no');
      this.credentialComparator.active = true;
      this.credentialComparator.market = (this.credential.tagnac) ? "MULTI" : this.credential.market.id;
      this.credentialComparator.model = this.credential.mdt.id;
      const rates = this.getMasterCodes(this.credential.rates);
      this.credentialComparator.vinc = this.$i18n.t(!rates || rates.indexOf('VINC') !== -1 ? 'yes' : 'no');
      this.credentialComparator.b2b = this.$i18n.t(!rates || rates.indexOf('B2B') !== -1 ? 'yes' : 'no');
      this.credentialComparator.paq = this.$i18n.t(!rates || rates.indexOf('EMP') !== -1 ? 'yes' : 'no');
      this.credentialComparator.nrf = this.$i18n.t(!rates || rates.indexOf('NRF') !== -1 ? 'yes' : 'no');
      this.credentialComparator.currency = "PTE";
    },
    getMasterCodes(source) {
      let result = "";
      if (source) {
        for (let master of source) {
          if (result.length > 0) {
            result = result.concat("¬");
          }
          result = result.concat(master.id);
        }
      }
      return result;
    },
    onClearClicked(item) {
      if (item === "checkFromFormatted") {
        this.checkFromFormatted = null;
        this.assignment.checkinfrom = null;
      } else if (item === "checkToFormatted") {
        this.checkToFormatted = null;
        this.assignment.checkinto = null;
      } else if (item === "bookToFormatted") {
        this.bookToFormatted = null;
        this.assignment.bookto = null;
      } else if (item === "bookFromFormatted") {
        this.bookFromFormatted = null;
        this.assignment.bookfrom = null;
      } 
    },
    onBlurField(item) {
      let regex = /^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$/;
      if (item === "checkFromFormatted") {
        if (regex.test(this.checkFromFormatted)) {
          this.assignment.checkinfrom = this.parseDate(this.checkFromFormatted);
        } else {
          this.onClearClicked(item);
        }
      } else if (item === "checkToFormatted") {
        if (regex.test(this.checkToFormatted)) {
          this.assignment.checkinto = this.parseDate(this.checkToFormatted);
        } else {
          this.onClearClicked(item);
        }
      } else if (item === "bookToFormatted") {
        if (regex.test(this.bookToFormatted)) {
          this.assignment.bookto = this.parseDate(this.bookToFormatted);

        } else {
          this.onClearClicked(item);
        }
      }else if (item === "bookFromFormatted") {
        if (regex.test(this.bookFromFormatted)) {
          this.assignment.bookfrom = this.parseDate(this.bookFromFormatted);
        } else {
          this.onClearClicked(item);
        }
      }
    }
  },
};
</script>
<style lang="scss" scoped>
</style>