<template>
  <div class="post">
    <v-row justify="center">
      <v-dialog
        v-model="dialogMove"
        persistent
        max-width="600px"
      >
        <v-card class="dialog-01">
          <v-card-title>
            <span class="headline">{{ this.$i18n.t('client.move') }}</span>
          </v-card-title>

          <v-form
            id="moveForm"
            ref="moveForm"
            v-model="isMoveValid"
            autocomplete="off"
            @submit.prevent="handleMoveClientSubmit"
          >
            <v-card-text>
              <v-container
                ma-auto
                pa-0
              >
                <v-layout class="col-12 layout-01 wrap pa-0 ma-0">
                  <v-autocomplete
                    v-model="assignment.credentials"
                    :items="computedCredentialMove"
                    item-value="id"
                    item-text="name"
                    :loading="loadingCredential"
                    :rules="[v => !!v || $t('client.rules.credential')]"
                    class="col-12 col-md-12"
                    small-chips
                    hide-details="auto"
                    dense
                    return-object
                  >
                    <template #label>
                      {{ $t('client.credentials') }}
                      <span class="red--text">
                        <strong>*</strong>
                      </span>
                    </template>
                  </v-autocomplete>
                </v-layout>

                <v-layout class="col-12 layout-02 wrap pa-1 ma-0">
                  <v-menu
                    v-model="modalNewFrom"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="newFromFormatted"
                        :rules="[v => !!v || $t('client.rules.bookfrom')]"
                        hint="DD/MM/YYYY"
                        :disabled="disableNewFromFormatted"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-6"
                        hide-details="auto"
                        dense
                        @click:clear="onClearClicked('newFromFormatted')"
                        @blur="onBlurField('newFromFormatted');"
                        v-on="on"
                      >
                        <template #label>
                          {{ $t('match.bookfrom') }}
                          <span class="red--text">
                            <strong>*</strong>
                          </span>
                        </template>
                      </v-text-field>
                    </template>
                    <v-date-picker
                      v-model="assignment.newFrom"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="modalNewFrom = false; newFromFormatted = formatDate(assignment.newFrom);"
                    />
                  </v-menu>

                  <v-text-field
                    v-if="hideFields && (assignment.action === 'create' || assignment.action === 'edit')"
                    v-model="assignment.timefrom"
                    :rules="timeBkFromRules"
                    hint="HH:MM:SS"
                    persistent-hint
                    class="col-12 col-md-2"
                    hide-details="auto"
                    dense
                    clearable
                  >
                    <template #label>
                      {{ $t('match.timeFrom') }}
                      <span class="red--text">
                        <strong>*</strong>
                      </span>
                    </template>
                  </v-text-field>

                  <v-menu
                    v-model="modalNewTo"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="newToFormatted"
                        :label="$t('match.bookto')"
                        :disabled="disableNewToFormatted"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-6"
                        hide-details="auto"
                        dense
                        @click:clear="onClearClicked('newToFormatted')"
                        @blur="onBlurField('newToFormatted');"
                        v-on="on"
                      />
                    </template>
                    <v-date-picker
                      v-model="assignment.newTo"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="modalNewTo = false; newToFormatted = formatDate(assignment.newTo);"
                    />
                  </v-menu>

                  <v-text-field
                    v-if="hideFields"
                    v-model="assignment.timeto"
                    :label="$t('match.timeTo')"
                    :rules="timeBkToRules"
                    hint="HH:MM:SS"
                    persistent-hint
                    class="col-12 col-md-2"
                    hide-details="auto"
                    dense
                    clearable
                  />
                </v-layout>

                <v-layout class="col-12 layout-03 wrap pa-0 mb-4">
                  <v-data-table
                    :headers="moveComputedHeaders"
                    :items="moveDatatable"
                    dense
                    hide-default-footer
                    class="col-12 elevation-1 no-gutters"
                  >
                    <template v-slot:item.grpman="{item}">
                      <span v-if="item.grpman">{{ item.grpmanName }}</span>
                    </template>
                    <template v-slot:item.agency="{item}">
                      <span v-if="item.agency">{{ item.agencyName }}</span>
                    </template>
                    <template v-slot:item.branch="{item}">
                      <span v-if="item.branch">{{ item.branch.id.substring(item.branch.id.indexOf("¬") + 1 ) }}</span>
                    </template>
                    <template v-slot:item.agent="{item}">
                      <span v-if="item.agent">{{ item.agent.id }}</span>
                    </template>
                    <template v-slot:item.newPrior="{item}">
                      <v-checkbox
                        v-model="item.newPrior"
                        class="ma-0 pl-0"
                        hide-details="auto"
                        :disabled="item.newPrior && (!item.credentialPrior || item.credentialPrior === credential.id) && credential.slc.id === 'WEB'"
                        dense
                        @click.native="preConfirmPriorMove(item)"
                      />
                    </template>
                  </v-data-table>
                </v-layout>

                <!------<v-layout class="col-12 layout-04 wrap pa-1 ma-0">
                  <v-menu
                    v-model="modalBookTo"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="bookToFormatted"
                        :rules="[v => !!v || $t('client.rules.bookto')]"
                        hint="DD/MM/YYYY"
                        :disabled="disableBookToFormatted"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-6"
                        hide-details="auto"
                        dense
                        @click:clear="onClearClicked('bookToFormatted')"
                        @blur="onBlurField('bookToFormatted');"
                        v-on="on"
                      >
                        <template #label>
                          {{ $t('match.bookto') }}
                          <span class="red--text">
                            <strong>*</strong>
                          </span>
                        </template>
                      </v-text-field>
                    </template>
                    <v-date-picker
                      v-model="assignment.bookto"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="modalBookTo = false; bookToFormatted = formatDate(assignment.bookto);"
                    />
                  </v-menu>

                  <v-text-field
                    v-if="hideFields"
                    v-model="assignment.timeto"
                    :label="$t('match.timeTo')"
                    :rules="timeBkToRules"
                    hint="HH:MM:SS"
                    persistent-hint
                    class="col-12 col-md-2"
                    hide-details="auto"
                    dense
                    clearable
                  />
                </v-layout>-->

                <v-layout
                  v-if="assignment.notes && assignment.notes.length !== 0"
                  class="col-12 layout-05 wrap pa-0 ma-0"
                >
                  <v-simple-table class="col-12 pa-0 ma-0">
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th
                            id="2"
                            class="text-left pa-0 ma-0"
                            colspan="3"
                          >
                            {{ $t('match.notelist') }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="item in assignment.notes"
                          :key="item.date"
                        >
                          <td>{{ item.user }}</td>
                          <td>{{ item.date }}</td>
                          <td>{{ item.note }}</td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-layout>

                <v-layout class="col-12 layout-06 wrap pa-0 ma-0">
                  <v-textarea
                    v-model="assignment.note"
                    auto-grow
                    :label="$t('match.note')"
                    rows="3"
                    hide-details="auto"
                    dense
                    class="col-12 col-md-12"
                  />
                </v-layout>
              </v-container>
              <small>
                <span class="red--text">
                  <strong>*</strong>
                </span>
                {{ $t('required') }}
              </small>
            </v-card-text>

            <v-card-actions>
              <v-spacer />
              <v-btn
                color="primary"
                small
                text
                @click="cancelMove"
              >
                {{ $t('button.cancel') }}
              </v-btn>
              <v-btn
                color="primary"
                small
                text
                type="submit"
                form="moveForm"
                :disabled="!isMoveValid"
              >
                {{ $t('button.save') }}
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-dialog>

      <v-dialog
        v-model="dialogClient"
        persistent
        max-width="600px"
      >
        <v-card class="dialog-01">
          <v-card-title>
            <span
              v-if="assignment.action !== 'disable'"
              class="headline"
            >
              {{ $t('client.asg') }}
            </span>
            <span
              v-if="assignment.action === 'disable'"
              class="headline"
            >
              {{ $t('client.remove') }}
            </span>
          </v-card-title>

          <v-form
            id="clientForm"
            ref="clientForm"
            v-model="isValid"
            autocomplete="off"
            @submit.prevent="handleClientSubmit"
          >
            <v-card-text>
              <v-container
                ma-auto
                pa-0
              >
                <v-layout
                  v-if="assignment.action === 'disable'"
                  class="col-12 layout-01 wrap pa-0 mb-4"
                >
                  <v-data-table
                    :headers="moveComputedHeaders"
                    :items="moveDatatable"
                    dense
                    hide-default-footer
                    class="col-12 elevation-1 no-gutters"
                  >
                    <template v-slot:item.grpman="{item}">
                      <span v-if="item.grpman">{{ item.grpmanName }}</span>
                    </template>
                    <template v-slot:item.agency="{item}">
                      <span v-if="item.agency">{{ item.agencyName }}</span>
                    </template>
                    <template v-slot:item.branch="{item}">
                      <span v-if="item.branch">{{ item.branch.id.substring(item.branch.id.indexOf("¬") + 1 ) }}</span>
                    </template>
                    <template v-slot:item.agent="{item}">
                      <span v-if="item.agent">{{ item.agent.id }}</span>
                    </template>
                  </v-data-table>
                </v-layout>

                <v-layout
                  v-if="assignment.action !== 'disable' && assignment.action !== 'notes'"
                  class="col-12 layout-02 wrap pa-0 ma-0"
                >
                  <v-autocomplete
                    v-model="assignment.grp"
                    :label="$t('client.grpman')"
                    :items="getEntityValues('agency_group', false)"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-sm-12 col-md-12"
                    small-chips
                    hide-details="auto"
                    dense
                    return-object
                    clearable
                    :readonly="groupReadOnly"
                    :disabled="groupReadOnly"
                    @click:clear="assignment.grp = null;"
                  />
                </v-layout>

                <v-layout
                  v-if="assignment.action !== 'disable' && assignment.action !== 'notes'"
                  class="col-12 layout-03 wrap pa-0 ml-3"
                >
                  <v-icon
                    v-if="newAgency"
                    color="red"
                    class="mr-1 pb-3"
                    small
                    @click="newAgency = false;"
                  >
                    close
                  </v-icon>
                  <TheSelectAjax
                    v-if="newAgency"
                    :title="$t('client.agency')"
                    entity="agency"
                    :route="masterRoute"
                    :chips="true"
                    styles="col-12 col-md-11 pa-0 ma-1"
                    @populate="populate"
                    @clear="clear"
                  />

                  <v-icon
                    v-if="!newAgency"
                    color="primary"
                    class="mr-0 pb-3"
                    small
                    :disabled="agencyReadOnly"
                    @click="newAgency = true;"
                  >
                    add
                  </v-icon>
                  <v-autocomplete
                    v-if="!newAgency"
                    v-model="assignment.age"
                    :items="agencies"
                    :label="$t('client.agency')"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-md-11"
                    small-chips
                    return-object
                    clearable
                    readonly
                    :disabled="!assignment.age"
                    hide-details="auto"
                    dense
                    @change="clear('agency')"
                  />
                </v-layout>

                <v-layout
                  v-if="assignment.action !== 'disable' && assignment.action !== 'notes'"
                  class="col-12 layout-04 wrap pa-0 ml-3"
                >
                  <v-icon
                    v-if="newBranch"
                    color="red"
                    class="mr-1 pb-3"
                    small
                    @click="newBranch = false;"
                  >
                    close
                  </v-icon>
                  <TheSelectAjax
                    v-if="newBranch"
                    :title="$t('client.branch')"
                    entity="branch_office"
                    :route="masterRoute"
                    :chips="true"
                    :search-length="2"
                    :filter="assignment.age.id"
                    :numeric-input="true"
                    styles="col-12 col-md-11 pa-0 ma-1"
                    @populate="populate"
                    @clear="clear"
                  />

                  <v-icon
                    v-if="!newBranch"
                    color="primary"
                    class="mr-0 pb-3"
                    small
                    :disabled="!groupReadOnly"
                    @click="newBranch = true;"
                  >
                    add
                  </v-icon>
                  <v-autocomplete
                    v-if="!newBranch"
                    v-model="assignment.branch"
                    :items="branches"
                    :label="$t('client.branch')"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-md-11"
                    small-chips
                    return-object
                    clearable
                    hide-details="auto"
                    :disabled="!assignment.branch"
                    dense
                    readonly
                    @change="clear('branch_office')"
                  />
                </v-layout>

                <v-layout
                  v-if="assignment.action !== 'disable' && assignment.action !== 'notes'"
                  class="col-12 layout-05 wrap pa-0 ml-3"
                >
                  <v-icon
                    v-if="newAgent"
                    color="red"
                    class="mr-1 pb-3"
                    small
                    @click="newAgent = false;"
                  >
                    close
                  </v-icon>
                  <TheSelectAjax
                    v-if="newAgent"
                    :title="$t('client.agent')"
                    entity="agent"
                    :route="masterRoute"
                    :chips="true"
                    :search-length="2"
                    :filter="assignment.branch.id"
                    styles="col-12 col-md-11 pa-0 ma-1"
                    @populate="populate"
                    @clear="clear"
                  />

                  <v-icon
                    v-if="!newAgent"
                    color="primary"
                    class="mr-0 pb-3"
                    small
                    :disabled="agentReadOnly"
                    @click="newAgent = true;"
                  >
                    add
                  </v-icon>
                  <v-autocomplete
                    v-if="!newAgent"
                    v-model="assignment.agent"
                    :items="agents"
                    :label="$t('client.agent')"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-md-11"
                    small-chips
                    return-object
                    clearable
                    hide-details="auto"
                    :disabled="!assignment.agent"
                    dense
                    readonly
                    @change="clear('agent')"
                  />
                </v-layout>

                <v-layout
                  v-if="assignment.action !== 'notes'"
                  class="col-12 layout-06 wrap pa-0 ma-0"
                >
                  <v-menu
                    v-if="assignment.action === 'create' || assignment.action === 'edit'"
                    v-model="modalBookFrom"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="bookFromFormatted"
                        :rules="[v => !!v || $t('match.rules.bookfrom')]"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        :disabled="disableBookFromFormatted"
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-6"
                        hide-details="auto"
                        dense
                        @click:clear="onClearClicked('bookFromFormatted')"
                        @blur="onBlurField('bookFromFormatted');"
                        v-on="on"
                      >
                        <template #label>
                          {{ $t('match.bookfrom') }}
                          <span class="red--text">
                            <strong>*</strong>
                          </span>
                        </template>
                      </v-text-field>
                    </template>
                    <v-date-picker
                      v-model="assignment.bookfrom"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="modalBookFrom = false; bookFromFormatted = formatDate(assignment.bookfrom);"
                    />
                  </v-menu>

                  <v-text-field
                    v-if="hideFields && (assignment.action === 'create' || assignment.action === 'edit')"
                    v-model="assignment.timefrom"
                    :rules="timeBkFromRules"
                    hint="HH:MM:SS"
                    persistent-hint
                    class="col-12 col-md-2"
                    hide-details="auto"
                    dense
                    clearable
                  >
                    <template #label>
                      {{ $t('match.timeFrom') }}
                      <span class="red--text">
                        <strong>*</strong>
                      </span>
                    </template>
                  </v-text-field>

                  <v-menu
                    v-model="modalBookTo"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="bookToFormatted"
                        hint="DD/MM/YYYY"
                        :rules="dateToRules"
                        :disabled="disableBookToFormatted"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-6"
                        hide-details="auto"
                        dense
                        @click:clear="onClearClicked('bookToFormatted')"
                        @blur="onBlurField('bookToFormatted');"
                        v-on="on"
                      >
                        <template #label>
                          {{ $t('match.bookto') }}
                          <span
                            v-if="assignment.action === 'disable'"
                            class="red--text"
                          >
                            <strong>*</strong>
                          </span>
                        </template>
                      </v-text-field>
                    </template>
                    <v-date-picker
                      v-model="assignment.bookto"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="modalBookTo = false; bookToFormatted = formatDate(assignment.bookto);"
                    />
                  </v-menu>

                  <v-text-field
                    v-if="hideFields"
                    v-model="assignment.timeto"
                    :label="$t('match.timeTo')"
                    :rules="timeBkToRules"
                    hint="HH:MM:SS"
                    persistent-hint
                    class="col-12 col-md-2"
                    hide-details="auto"
                    dense
                    clearable
                  />
                </v-layout>

                <v-layout
                  v-if="assignment.action !== 'disable' && assignment.action !== 'notes'"
                  class="col-12 layout-07 wrap pa-0 ma-0"
                >
                  <v-switch
                    v-model="assignment.prior"
                    class="col-12 col-sm-5"
                    small
                    dense
                    inset
                    :disabled="assignment.prior && (!assignment.credentialPrior || assignment.credentialPrior === credential.id) && credential.slc.id === 'WEB'"
                    @change="preConfirmPrior"
                  >
                    <template #label>
                      {{ $t('client.priority') }}
                      <v-tooltip top>
                        <template v-slot:activator="{on, attrs}">
                          <v-icon
                            color="primary"
                            dark
                            small
                            class="ml-1"
                            v-bind="attrs"
                            v-on="on"
                          >
                            info
                          </v-icon>
                        </template>
                        <span>{{ $t('client.infoPrior') }}</span>
                      </v-tooltip>
                    </template>
                  </v-switch>

                  <v-autocomplete
                    v-if="showCredential"
                    v-model="assignment.credentials"
                    :items="computedCredential"
                    item-value="id"
                    item-text="name"
                    :loading="loadingCredential"
                    :rules="[v => !!v || $t('client.rules.credential')]"
                    class="col-12 col-md-12"
                    small-chips
                    hide-details="auto"
                    dense
                    return-object
                    clearable
                    @change="unCheckPrior(false)"
                  >
                    <template #label>
                      {{ $t('client.credentials') }}
                      <span class="red--text">
                        <strong>*</strong>
                      </span>
                    </template>
                  </v-autocomplete>
                </v-layout>

                <v-layout
                  v-if="assignment.action !== 'create' && assignment.notes && assignment.notes.length !== 0"
                  class="col-12 layout-08 wrap pa-0 ma-0"
                >
                  <v-simple-table class="col-12 pa-0 ma-0">
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th
                            id="1"
                            class="text-left pa-0 ma-0"
                            colspan="3"
                          >
                            {{ $t('match.notelist') }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="item in assignment.notes"
                          :key="item.date"
                        >
                          <td>{{ item.user }}</td>
                          <td>{{ item.date }}</td>
                          <td>{{ item.note }}</td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-layout>

                <v-layout class="col-12 layout-09 wrap pa-0 ma-0">
                  <v-textarea
                    v-model="assignment.note"
                    auto-grow
                    :label="$t('match.note')"
                    rows="3"
                    hide-details="auto"
                    dense
                    class="col-12 col-md-12"
                  />
                </v-layout>
              </v-container>
              <small>
                <span class="red--text">
                  <strong>*</strong>
                </span>
                {{ $t('required') }}
              </small>
            </v-card-text>

            <v-card-actions>
              <v-spacer />
              <v-btn
                color="primary"
                small
                text
                @click="cancelClient"
              >
                {{ $t('button.cancel') }}
              </v-btn>
              <v-btn
                color="primary"
                small
                text
                type="submit"
                form="clientForm"
                :disabled="!isValid"
              >
                {{ $t('button.save') }}
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-dialog>
    </v-row>

    <v-card class="card-01 pa-0 ma-0">
      <v-expansion-panels
        v-model="filterPanel"
        multiple
      >
        <v-expansion-panel>
          <v-expansion-panel-header
            class="wrapper-header py-2"
            header
          >
            <small class="col-12"> {{ $t('credential.filterCustomer') }} </small>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-card class="card-01 pa-0 ma-0">
              <v-card-text class="card-text-0">
                <v-layout class="col-12 layout-01 pa-0 ma-0">
                  <v-select
                    v-model="filter.area"
                    :label="$t('client.area')"
                    :items="getEntityValues('comercial_area', true)"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-3"
                    clearable
                    hide-details="auto"
                    dense
                  />

                  <v-select
                    v-model="filter.grpman"
                    :label="$t('client.grpman')"
                    :items="getEntityValues('agency_group', true)"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-4"
                    hide-details="auto"
                    dense
                    clearable
                  />

                  <TheSelectAjax
                    :title="$t('client.agency')"
                    entity="agency"
                    :route="masterRoute"
                    styles="col-12 col-md-3 pa-0 ma-1"
                    @populate="populateFilter"
                    @clear="clearFilter"
                  />

                  <v-select
                    v-model="filter.rvap"
                    :label="$t('client.rvap')"
                    :items="getYesOrNoValues()"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-2"
                    hide-details="auto"
                    dense
                    clearable
                  />
                </v-layout>

                <v-layout class="col-12 layout-02 pa-0 ma-0">
                  <TheSelectAjax
                    :title="$t('client.branch')"
                    entity="branch_office"
                    :route="masterRoute"
                    :search-length="2"
                    styles="col-12 col-md-2 pa-0 ma-2"
                    @populate="populateFilter"
                    @clear="clearFilter"
                  />

                  <TheSelectAjax
                    :title="$t('client.agent')"
                    entity="agent"
                    :route="masterRoute"
                    styles="col-12 col-md-4 pa-0 ma-2"
                    @populate="populateFilter"
                    @clear="clearFilter"
                  />

                  <v-select
                    v-model="filter.vcc"
                    :label="$t('client.vcc')"
                    :items="getYesOrNoValues()"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-2 ma-2"
                    hide-details="auto"
                    dense
                    clearable
                  />

                  <v-select
                    v-model="filter.pay"
                    :label="$t('client.pay')"
                    :items="getEntityValues('payment', true)"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-2 ma-2"
                    hide-details="auto"
                    dense
                    clearable
                  />
                </v-layout>

                <v-layout class="col-12 layout-03 pa-0 ma-0">
                  <v-select
                    v-model="filter.xsell"
                    :label="$t('client.xsell')"
                    :items="getYesOrNoValues()"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-2 ma-2"
                    hide-details="auto"
                    dense
                    clearable
                  />

                  <v-select
                    v-model="filter.lang"
                    :label="$t('client.lang')"
                    :items="getEntityValues('languages', true)"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-3 ma-2"
                    hide-details="auto"
                    dense
                    clearable
                  />

                  <v-select
                    v-model="filter.ama"
                    :label="$t('client.amadeusFilter')"
                    :items="getEntityValues('amadeus', true)"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-3 ma-2"
                    hide-details="auto"
                    dense
                    clearable
                  />

                  <v-select
                    v-model="filter.status"
                    :label="$t('client.status')"
                    :items="getStatusValues()"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-3 ma-2"
                    hide-details="auto"
                    dense
                    clearable
                  />
                </v-layout>

                <v-layout class="col-12 layout-04 pa-0 ma-0">
                  <v-menu
                    v-model="filterModalBookFrom"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="filterBookFromFormatted"
                        :label="$t('match.bookfrom')"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-2"
                        hide-details="auto"
                        dense
                        @blur="filter.bookfrom = parseDate(filterBookFromFormatted);"
                        v-on="on"
                      />
                    </template>
                    <v-date-picker
                      v-model="filter.bookfrom"
                      no-title
                      @input="filterModalBookFrom = false; filterBookFromFormatted = formatDate(filter.bookfrom);"
                    />
                  </v-menu>

                  <v-menu
                    v-model="filterModalBookTo"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="filterBookToFormatted"
                        :label="$t('match.bookto')"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-2"
                        hide-details="auto"
                        dense
                        @blur="filter.bookto = parseDate(filterBookToFormatted);"
                        v-on="on"
                      />
                    </template>
                    <v-date-picker
                      v-model="filter.bookto"
                      no-title
                      @input="filterModalBookTo = false; filterBookToFormatted = formatDate(filter.bookto);"
                    />
                  </v-menu>
                </v-layout>
              </v-card-text>

              <v-card-actions class=" col-12 pa-0 ma-0">
                <v-spacer />
                <v-btn
                  color="primary"
                  small
                  text
                  @click="cleanFilter"
                >
                  {{ $t('button.cleanfilter') }}
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>

      <v-card>
        <v-card-text>
          <v-layout class="col-12 layout-01 pa-0 ma-0">
            <v-checkbox
              v-model="validCredential"
              :label="$t('credential.validCredential')"
              class="col-2 pa-0 ma-0"
              dense
            />
            <v-spacer />
            <v-btn
              color="primary"
              small
              text
              @click="openClient('create')"
            >
              {{ $t('button.new') }}
            </v-btn>
            <v-btn
              color="primary"
              small
              text
              :disabled="selected.length === 0"
              @click="moveClient"
            >
              {{ $t('button.move') }}
            </v-btn>
            <v-btn
              color="primary"
              small
              text
              :disabled="selected.length === 0"
              @click="openClient('disable')"
            >
              {{ $t('button.remove') }}
            </v-btn>
          </v-layout>
          <v-data-table
            v-model="selected"
            :headers="computedHeaders"
            :items="datatable"
            :page.sync="page"
            :items-per-page="rowsPerPage"
            show-select
            dense
            hide-default-footer
            class="elevation-1 no-gutters"
            @page-count="pageCount = $event"
          >
            <template v-slot:item.data-table-select="{item, isSelected, select}">
              <v-simple-checkbox
                :value="isSelected"
                :readonly="!isAfterToToday(item.bookto)"
                :disabled="!isAfterToToday(item.bookto)"
                @input="select($event)"
              />
            </template>
            <template v-slot:item.area="{item}">
              <span v-if="item.area">{{ item.area.id }}</span>
            </template>
            <template v-slot:item.grpman="{item}">
              <span v-if="item.grpman">{{ item.grpmanName }}</span>
            </template>
            <template v-slot:item.agency="{item}">
              <span v-if="item.agency">{{ item.agencyName }}</span>
            </template>
            <template v-slot:item.branch="{item}">
              <span v-if="item.branch">{{ item.branch.id.substring(item.branch.id.indexOf("¬") + 1 ) }}</span>
            </template>
            <template v-slot:item.agent="{item}">
              <span v-if="item.agent">{{ item.agent.id }}</span>
            </template>
            <template v-slot:item.pay="{item}">
              <span v-if="item.pay">{{ item.pay.id }}</span>
            </template>
            <template v-slot:item.amadeus="{item}">
              <span v-if="item.amadeus">{{ item.amadeus }}</span>
            </template>
            <template v-slot:item.lang="{item}">
              <span v-if="item.lang">{{ item.lang }}</span>
            </template>
            <template v-slot:item.prior="{item}">
              <v-icon
                v-if="item.prior"
                small
                color="green"
                class="mr-2"
              >
                done
              </v-icon>

              <v-icon
                v-if="!item.prior"
                color="red"
                class="mr-2"
                small
              >
                clear
              </v-icon>
            </template>
            <template v-slot:item.status="{item}">
              <v-icon
                small
                :color="getColorIcon(item.status)"
                class="mr-2"
              >
                {{ getIcon(item.status) }}
              </v-icon>
            </template>
            <template v-slot:item.rvap="{item}">
              <v-icon
                v-if="!item.grpman && item.rvap"
                small
                color="green"
                class="mr-2"
              >
                done
              </v-icon>

              <v-icon
                v-if="!item.grpman && !item.rvap"
                color="red"
                class="mr-2"
                small
              >
                clear
              </v-icon>
            </template>
            <template v-slot:item.xsell="{item}">
              <span v-if="item.xsell">{{ $t('yes') }}</span>
              <span v-if="!item.xsell">{{ $t('no') }}</span>
            </template>
            <template v-slot:item.vcc="{item}">
              <v-icon
                v-if="!item.grpman && item.vcc"
                small
                color="green"
                class="mr-2"
              >
                done
              </v-icon>

              <v-icon
                v-if="!item.grpman && !item.vcc"
                color="red"
                class="mr-2"
                small
              >
                clear
              </v-icon>
            </template>
            <template v-slot:item.action="{item}">
              <v-icon
                class="mx-1"
                color="var(--v-icon-color)"
                small
                @click="openClient('notes', item)"
              >
                note_add
              </v-icon>
              <v-icon
                v-if="isAfterToToday(item.bookto)"
                class="mx-1"
                color="var(--v-icon-color)"
                small
                @click="openClient('edit', item)"
              >
                edit
              </v-icon>
            </template>
            <template v-slot:no-results>
              <v-alert
                :value="true"
                color="error"
                icon="warning"
              >
                {{ $t('noresults') }}
              </v-alert>
            </template>
          </v-data-table>
          <div class="pt-2">
            <v-layout class="col-12 layout-01 pa-0 ma-0">
              <small class="col-3 pt-1"> {{ countRow }} </small>
              <v-pagination
                v-model="page"
                :length="pageCount"
                total-visible="7"
                class="col-9 justify-end pt-1 mb-2"
              />
            </v-layout>
          </div>
        </v-card-text>
      </v-card>
    </v-card>

    <v-row justify="center">
      <v-dialog
        v-model="priorConfirm"
        max-width="500px"
      >
        <v-card>
          <v-card-title class="header">
            {{ $t("remove.titleClean") }}
          </v-card-title>
          <v-card-text>{{ confirmMessage }}</v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="primary"
              small
              text
              @click="confirmPrior(true)"
            >
              {{ $t("remove.confirm") }}
            </v-btn>

            <v-btn
              color="primary"
              small
              text
              @click="confirmPrior(false)"
            >
              {{ $t("remove.cancel") }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>
<script>
import {mapActions, mapState} from "vuex";
import {gestcom} from "@services/gestcom";
import {dateUtils} from "@helper/dateUtils";
import {utils} from "@helper/utils";
import TheSelectAjax from "@components/TheSelectAjax";
import {masterUtils} from "@helper/masterUtils";

export default {
  components: {
    TheSelectAjax
  },
  props: {
    credential: {type: Object, required: true},
    uniqueClientAllowed: {type: Boolean, required: true}, 
    clientIncoming: {type: Array, required: true},
    route: {type: String, required: true, default: null},
  },
  data() {
    return {
      credentialType: this.credential.slc.id,
      validCredential: true,
      masterRoute: "/api/v1/master/credential/",
      filterPanel: [],
      selected: [],
      clients: this.clientIncoming,
      filterModalBookFrom: false,
      filterModalBookTo: false,
      filterBookFromFormatted: null,
      filterBookToFormatted: null,
      filter: {
        area: null,
        grpman: null,
        age: null,
        branch: null,
        agent: null,
        rvap: null,
        vcc: null,
        pay: null,
        xsell: null,
        ama: null,
        lang: null,
        status: null,
        bookfrom: null,
        bookto: null
      },
      filterDefault: {
        area: null,
        grpman: null,
        age: null,
        branch: null,
        agent: null,
        rvap: null,
        vcc: null,
        pay: null,
        xsell: null,
        ama: null,
        lang: null,
        status: null,
        bookfrom: null,
        bookto: null
      },
      page: 1,
      pageCount: 0,
      rowsPerPage: 15,
      countTotal: 0,
      countShow: 0,
      isValid: false,
      isMoveValid: false,
      loadingCredential: true,
      showCredential: false,
      assignment: {
        id: null,
        grp: null,
        age: null,
        branch: null,
        agent: null,
        bookfrom: null,
        timefrom: null,
        bookto: null,
        timeto: null,
        note: null,
        notes: null,
        action: null,
        newFrom: null,
        newTo: null,
        credentials: null,
        prior: false,
        credentialPrior: null,
        otherCredentials: null
      },
      assignmentDefault: {
        id: null,
        grp: null,
        age: null,
        branch: null,
        agent: null,
        bookfrom: null,
        timefrom: null,
        bookto: null,
        timeto: null,
        note: null,
        notes: null,
        action: null,
        newFrom: null,
        newTo: null,
        credentials: null,
        prior: false,
        credentialPrior: null,
        otherCredentials: null
      },
      dialogClient: false,
      dialogMove: false,
      bookFromFormatted: null,
      bookToFormatted: null,
      newFromFormatted: null,
      newToFormatted: null,
      modalBookFrom: false,
      modalBookTo: false,
      modalNewFrom: false,
      modalNewTo: false,
      newAgency: false,
      agencies: [],
      newBranch: false,
      branches: [],
      newAgent: false,
      agents: [],
      hideFields: false,
      response: null,
      credentialPrior: false,
      priorConfirm: false,
      itemConfirm: null,
      itemConfirmMove: false,
      confirmMessage: null,
      changePriority: null
    };
  },
  computed: {
    ...mapState({
      master: (state) => state.master,
      auth: (state) => state.auth,
    }),
    dateToRules: function () {
      return [
        () => {
          if (this.assignment.action === 'disable' && !this.bookToFormatted) {
            return this.$i18n.t('client.rules.bookto');
          }
          return true;
        }
      ];
    },
    timeBkFromRules: function () {
      return [
        () => {
          if (!this.assignment.timefrom) {
            return this.$i18n.t('supplier_credential.rules.time');
          } else {
            if (this.assignment.timefrom.length > 8) {
              return this.$i18n.t('supplier_credential.rules.timeLength');
            } else {
              const timeReg = /^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/;
              if (!this.assignment.timefrom.match(timeReg)) {
                return this.$i18n.t('supplier_credential.rules.timeFormat');
              }
              return true;
            }
          }
        }
      ];
    },
    timeBkToRules: function () {
      return [
        () => {
          if (this.assignment.timeto) {
            if (this.assignment.timeto.length > 8) {
              return this.$i18n.t('supplier_credential.rules.timeLength');
            } else {
              const timeReg = /^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/;
              if (!this.assignment.timeto.match(timeReg)) {
                return this.$i18n.t('supplier_credential.rules.timeFormat');
              }
              return true;
            }
          }
          return true;
        }
      ];
    },
    countRow() {
      let text = this.$i18n.t('credential.clientrows');
      text = text.concat(this.countShow).concat(" / ").concat(this.countTotal);
      return text;
    },
    agentReadOnly() {
      return !this.assignment.branch;
    },
    groupReadOnly() {
      return !!this.assignment.age;
    },
    agencyReadOnly() {
      return !!this.assignment.grp;
    },
    computedHeaders() {
      return this.headersTable.filter((header) => !header.hide);
    },
    moveComputedHeaders() {
      return this.moveHeadersTable.filter((header) => !header.hide);
    },
    computedMinAllowedDate() {
      return dateUtils.getMinAllowedDate();
    },
    headersTable() {
      return [
        {
          align: "left",
          value: "id",
          hide: true,
        },
        {
          text: this.$i18n.t('client.grpman'),
          align: "left",
          value: "grpman",
          width: "14%",
          hide: false,
        },
        {
          text: this.$i18n.t('client.agency'),
          align: "left",
          value: "agency",
          width: "14%",
          hide: false,
        },
        {
          text: this.$i18n.t('client.branch'),
          align: "center",
          value: "branch",
          width: "4%",
          hide: false,
        },
        {
          text: this.$i18n.t('client.agent'),
          align: "center",
          value: "agent",
          width: "6%",
          hide: false,
        },
        {
          text: this.$i18n.t('client.xsell'),
          align: "center",
          value: "xsell",
          width: "5%",
          hide: false,
          sortable: false
        },
        {
          text: this.$i18n.t('client.area'),
          align: "center",
          value: "area",
          width: "5%",
          hide: false,
        },
        {
          text: this.$i18n.t('client.lang'),
          align: "center",
          value: "lang",
          width: "6%",
          hide: false,
        },
        {
          text: this.$i18n.t('client.amadeus'),
          align: "center",
          value: "amadeus",
          width: "4%",
          hide: false,
          sortable: false
        },
        {
          text: this.$i18n.t('client.rvap'),
          align: "center",
          value: "rvap",
          width: "4%",
          hide: false,
          sortable: false
        },
        {
          text: this.$i18n.t('client.vcc'),
          align: "center",
          value: "vcc",
          width: "4%",
          hide: false,
          sortable: false
        },
        {
          text: this.$i18n.t('client.pay'),
          align: "center",
          value: "pay",
          width: "4%",
          hide: false,
          sortable: false
        },
        {
          text: this.$i18n.t('client.prior'),
          align: "center",
          value: "prior",
          width: "7%",
          hide: false,
          sortable: false
        },
        {
          align: "center",
          value: "status",
          hide: false,
          sortable: false
        },
        {
          text: this.$i18n.t('match.bookfrom'),
          align: "center",
          value: "bookfrom",
          width: "7%",
          hide: false,
        },
        {
          text: this.$i18n.t('match.bookto'),
          align: "center",
          value: "bookto",
          width: "7%",
          hide: false,
        },
        {
          value: "action",
          hide: false,
          sortable: false
        }
      ];
    },
    moveHeadersTable() {
      return [
        {
          text: this.$i18n.t('client.grpman'),
          align: "left",
          value: "grpman",
          width: "15%",
          hide: false,
        },
        {
          text: this.$i18n.t('client.agency'),
          align: "left",
          value: "agency",
          width: "13%",
          hide: false,
        },
        {
          text: this.$i18n.t('client.branch'),
          align: "center",
          value: "branch",
          width: "4%",
          hide: false,
        },
        {
          text: this.$i18n.t('client.agent'),
          align: "center",
          value: "agent",
          width: "6%",
          hide: false,
        },
        {
          text: this.$i18n.t('client.prior'),
          align: "center",
          value: "newPrior",
          width: "7%",
          hide: !this.dialogMove,
        }
      ];
    },
    datatable() {
      return this.getRows(this.clients);
    },
    moveDatatable() {
      if ((this.dialogClient || this.dialogMove) && this.selected.length > 0) {
        return this.selected;
      }
      return [];
    },
    computedCredentialMove() {
      const credentials = [];
      credentials.push(this.credential.id);
      if (this.selected.length > 0) {
        for (let select of this.selected) {
          if (select.credentialPrior) {
            credentials.push(select.credentialPrior);
          }
          credentials.push(...select.otherCredentials)
        }
      }
      return this.getOthersCredentials(credentials);
    },
    computedCredential() {
      const credentials = [];
      credentials.push(this.credential.id);
      if (this.assignment.credentialPrior) {
        credentials.push(this.assignment.credentialPrior);
      }

      const others = this.getOthersCredentials(credentials);
      const rows = [];
      for (let other of others) {
        if (other.clients) {
          rows.push(other);
        }
      }
      return rows;
    },
    disableBookToFormatted() {
      return (
        this.bookToFormatted &&
        dateUtils.isDateLessThanNow(this.bookToFormatted)
      );
    },
    disableBookFromFormatted() {
      return (
        this.bookFromFormatted &&
        dateUtils.isDateLessThanNow(this.bookFromFormatted)
      );
    },
    disableNewToFormatted() {
      return (
        this.newToFormatted &&
        dateUtils.isDateLessThanNow(this.newToFormatted)
      );
    },
    disableNewFromFormatted() {
      return (
        this.newFromFormatted &&
        dateUtils.isDateLessThanNow(this.newFromFormatted)
      );
    }
  },
  created() {
    this.fetchCredentials();
    this.loadStore();
  },
  methods: {
    ...mapActions("master", ["getCommercialAreas", "getAgencyGroups", "getPayments", "getAmadeus"]),
    ...mapActions("alert", ["error"]),
    getIcon(color) {
      return gestcom.getIcon(color);
    },
    getColorIcon(color) {
      return gestcom.getIconColor(color);
    },
    getOthersCredentials(credentials) {
      const rows = [];
      if ((this.dialogClient || this.dialogMove) && this.response) {
        for (let select of this.response) {
          if (credentials.indexOf(select.id) === -1) {
            const allowBrand = this.allowByCode(select.codes, this.credential.brand.id, 'brand');
            const allowServiceType = this.allowByCode(select.codes, this.credential.srvtype.id, 'service_type');
            if (allowBrand && allowServiceType) {
              rows.push({
                id: select.id,
                name: select.alias.concat(" - ").concat(select.desc).concat(" - ").concat(select.id),
                clients : select.clients
              });
            }
          }
        }
      }
      return rows;
    },
    allowByCode(codes, code, entity) {
      return code === masterUtils.getCode(codes, entity);
    },
    confirmPrior(doIt) {
      if (this.itemConfirmMove) {
        this.itemConfirm.newPrior = doIt;
      } else {
        this.itemConfirm.prior = doIt
        this.changePriority = doIt ? this.itemConfirm.credentialPrior : null;
      }
      this.priorConfirm = false;
    },
    checkPrior(move) {
      this.itemConfirmMove = move;
      const oldCredential = this.getCredential(this.itemConfirm.credentialPrior);
      const newCredential = move ? this.assignment.credentials.name : this.credential.alias.concat(' - ').concat(this.credential.desc).concat('-').concat(this.credential.id);
      const grpName = !move ? this.itemConfirm.grp ? utils.valueLanguage(this.itemConfirm.grp.name, "ESP") : null : this.itemConfirm.grpmanName;
      const ageName = !move ? this.itemConfirm.age ? utils.valueLanguage(this.itemConfirm.age.name, "ESP") : null : this.itemConfirm.agencyName;
      const message = this.$i18n.t('client.nonPrior').toString();
      this.confirmMessage = message.replace('%c', this.getClientName(grpName, ageName, this.itemConfirm.branch, this.itemConfirm.agent)).replace('%d', oldCredential.alias.concat(' - ').concat(oldCredential.desc).concat('-').concat(oldCredential.id)).replace('%e', newCredential);
      this.priorConfirm = true;
    },
    unCheckPrior(move) {
      const newCredential = this.getCredential(this.assignment.credentials.id);
      if (masterUtils.getCode(newCredential.codes,'sales_channel') === 'WEB') {
        if (move) {
          this.itemConfirm.newPrior = true;
        } else {
          this.itemConfirm.prior = true;
          this.assignment.credentials = null;
          this.showCredential = false;
        }
        const grpName = !move ? this.itemConfirm.grp ? utils.valueLanguage(this.itemConfirm.grp.name, "ESP") : null : this.itemConfirm.grpmanName;
        const ageName = !move ? this.itemConfirm.age ? utils.valueLanguage(this.itemConfirm.age.name, "ESP") : null : this.itemConfirm.agencyName;
        const message = this.$i18n.t('client.rules.nonPrior').toString();
        this.error(message.replace('%c', this.getClientName(grpName, ageName, this.itemConfirm.branch, this.itemConfirm.agent)).replace('%d', newCredential.alias.concat(' - ').concat(newCredential.desc)));
      } else {
        this.changePriority = this.assignment.credentials.id;
      }
    },
    getClientName(grpman, agency, branch, agent) {
      if (grpman) {
        return grpman;
      }
      if (agency) {
        let client = agency;
        if (branch) {
          client = client.concat('-').concat(branch.id.substring(branch.id.indexOf("¬") + 1 ))
        }
        if (agent) {
          client = client.concat('-').concat(agent.id)
        }
        return client;
      }
    },
    preConfirmPriorMove(item) {
      this.itemConfirm = item;
      if (item.newPrior && item.credentialPrior) {
        if (!this.assignment.credentials) {
          item.newPrior = false;
          this.error(this.$i18n.t('client.rules.credential'));
        } else {
          this.checkPrior(true);
        }
      }
      if (!item.newPrior && (!item.credentialPrior || item.credentialPrior === this.credential.id)) {
        if (!this.assignment.credentials) {
          item.newPrior = true;
          this.error(this.$i18n.t('client.rules.credential'));
        } else {
          this.unCheckPrior(true);
        }
      }
    },
    preConfirmPrior() {
      if (this.credentialType === 'WEB') {
        this.itemConfirm = this.assignment;
        if (this.assignment.prior && this.assignment.credentialPrior) {
          this.checkPrior(false);
        }
        if (!this.assignment.prior && (!this.assignment.credentialPrior || this.assignment.credentialPrior === this.credential.id)) {
          this.showCredential = true;
        }
      }
    },
    getCredential(credential) {
      if (this.response) {
        for (let select of this.response) {
          if (select.id === credential) {
            return select;
          }
        }
      }
      return null;
    },
    searchPriorCredential(comparator, credentials) {
      if (this.response) {
        for (let select of this.response) {
          const allowBrand = this.allowByCode(select.codes, this.credential.brand.id, 'brand');
          const allowServiceType = this.allowByCode(select.codes, this.credential.srvtype.id, 'service_type');
          if (allowBrand && allowServiceType) {
            this.existsClients(select.id, select.clients, comparator, credentials);
          }
        }
      }
    },
    existsClients(credential, clients, comparator, credentials) {
      if (clients) {
        for (let client of clients) {
          const clientComparator = masterUtils.getCode(client.codes, 'agency_group').concat(masterUtils.getCode(client.codes, 'agency'))
            .concat(masterUtils.getCode(client.codes, 'branch_office')).concat(masterUtils.getCode(client.codes, 'agent'));
          if (clientComparator === comparator) {
            if (client.status === 'GREEN' && !client.prior) {
              credentials.others.push(credential);
            }
            if (client.prior && client.status === 'GREEN') {
              credentials.prior = credential;
            }
          }
        }
      }
    },
    getEntityValues(child, isFilter) {
      const elements = masterUtils.getEntityValues(this.master, child);
      const rows = [];
      for (let i = 0; elements && i < elements.length; i++) {
        let row;
        if (isFilter) {
          row = {
            id: elements[i].id,
            name: utils.valueLanguage(elements[i].name, "ESP"),
            own: elements[i].own
          };
        } else {
          row = elements[i];
        }
        rows.push(row);
      }
      return rows;
    },
    loadStore() {
      if (this.master.comercialareas === null) {
        this.getCommercialAreas();
      }
      if (this.master.agencygroups === null) {
        this.getAgencyGroups();
      }
      if (this.master.payments === null) {
        this.getPayments();
      }
      if (this.master.amadeus === null) {
        this.getAmadeus();
      }
    },
    populate(entity, item) {
      if (entity === 'agency') {
        if(item && item !== undefined){
          this.assignment.age = item;
          this.agencies.push(item);
        }else{
          this.assignment.age = null;
        }
        this.newAgency = false;
      } else if (entity === 'branch_office') {
        if(item && item !== undefined){
          this.assignment.branch = item;
          this.branches.push(item);
        }else{
          this.assignment.branch = null;
        }
        this.newBranch = false;
      } else if (entity === 'agent') {
        if(item && item !== undefined){
          this.assignment.agent = item;
          this.agents.push(item);
        }else{
          this.assignment.agent = null;
        }
        this.newAgent = false;
      }
    },
    clear(entity) {
      if (entity === 'agency') {
        this.assignment.age = null;
        this.agencies = [];
        this.assignment.branch = null;
        this.branches = [];
        this.assignment.agent = null;
        this.agents = [];
      } else if (entity === 'branch_office') {
        this.assignment.branch = null;
        this.branches = [];
        this.assignment.agent = null;
        this.agents = [];
      } else if (entity === 'agent') {
        this.assignment.agent = null;
        this.agents = [];
      }
    },
    populateFilter(entity, item) {
      if (entity === 'agency') {
        this.filter.age = item.id;
      } else if (entity === 'branch_office') {
        this.filter.branch = item.id;
      } else if (entity === 'agent') {
        this.filter.agent = item.id;
      }
    },
    clearFilter(entity) {
      if (entity === 'agency') {
        this.filter.age = null;
      } else if (entity === 'branch_office') {
        this.filter.branch = null;
      } else if (entity === 'agent') {
        this.filter.agent = null;
      }
    },
    cleanFilter() {
      this.filter = Object.assign({}, this.filterDefault);
    },
    isAfterToToday(date) {
      let day=new Date().getDate();
      let month=new Date().getMonth()+1;
      let year=new Date().getFullYear();
      if(date=== '' || date===undefined || date === null || new Date(date)>new Date(day+'/'+month+'/'+year)){
        return true;
      }
      return false;
    },
    openClient(action, item) {
      this.openModal(action, item);
      if (!item && action === 'disable') {
        this.bookToFormatted = dateUtils.getCurrentDate();
        this.assignment.bookto = this.parseDate(this.bookToFormatted);
        this.assignment.timeto = dateUtils.getCurrentTime();
        this.bookFromFormatted = this.bookToFormatted;
        this.assignment.bookfrom = this.assignment.bookto;
        this.assignment.timefrom = this.assignment.timeto
      }
      this.dialogClient = true;
      this.$refs.clientForm.resetValidation();
    },
    moveClient() {
      for (let select of this.selected) {
        select.newPrior = select.prior;
      }
      this.assignment.action = 'move';
      this.bookToFormatted = dateUtils.getCurrentDate();
      this.assignment.bookto = this.parseDate(this.bookToFormatted);
      this.assignment.timeto = dateUtils.getCurrentTime();
      this.bookFromFormatted = this.bookToFormatted;
      this.assignment.bookfrom = this.assignment.bookto;
      this.assignment.timefrom = this.assignment.timeto;
      this.dialogMove = true;
      this.$refs.moveForm.resetValidation();
    },
    openModal(action, item) {
      this.assignment.action = action;
      if (item) {
        this.assignment.id = item.id;
        this.assignment.grp = item.grpman;
        this.assignment.age = item.agency;
        if (item.agency) {
          this.populate('agency', item.agency);
        }
        this.assignment.branch = item.branch;
        if (item.branch) {
          this.populate('branch_office', item.branch);
        }
        this.assignment.agent = item.agent;
        if (item.agent) {
          this.populate('agent', item.agent);
        }

        let index = item.bookfrom.indexOf(" ");
        let date = item.bookfrom;
        let time = "";
        if (index > 0) {
          date = item.bookfrom.substring(0, index);
          time = item.bookfrom.substring(index + 1);
        }
        this.assignment.bookfrom = this.parseDate(date);
        this.bookFromFormatted = date;
        this.assignment.timefrom = time;

        if (action === 'disable' || action === 'move') {
          this.bookToFormatted = dateUtils.getCurrentDate();
          this.assignment.bookto = this.parseDate(this.bookToFormatted);
          this.assignment.timeto = dateUtils.getCurrentTime();
        } else {
          if (item.bookto) {
            index = item.bookto.indexOf(" ");
            date = item.bookto;
            time = "";
            if (index > 0) {
              date = item.bookto.substring(0, index);
              time = item.bookto.substring(index + 1)
            }

            this.assignment.bookto = this.parseDate(date);
            this.bookToFormatted = date;
            this.assignment.timeto = time;
          }
        }
        this.assignment.notes = item.notes;
        this.assignment.prior = item.prior;

        let comparator = "";
        if (item.grpman) {
          comparator = comparator.concat(item.grpman.id);
        }
        if (item.agency) {
          comparator = comparator.concat(item.agency.id).concat(item.branch ? item.branch.id: "").concat(item.agent ? item.agent.id: "");
        }

        const credentials = {
          prior: null,
          others: []
        }
        this.searchPriorCredential(comparator, credentials);
        this.assignment.credentialPrior = credentials.prior;
        this.assignment.otherCredentials = credentials.others;
      }
    },
    fetchCredentials() {
      this.response = [];

      gestcom.getAllItems("/api/v1/credential", JSON.stringify({filter: {}}))
        .then(
          response => {
            if (!response.messages) {
              this.response = response;
              this.loadingCredential = false;
            }
          },
          error => {
            this.error(error);
          }
        );
    },
    getRows(source) {
      const rows = [];
      let countTotal = 0;
      let countShow = 0;
      if (source) {
        for (let select of source) {
          let bookFrom = "";
          let bookTo = "";
          let notes = null;
          const dates = select.assignment;
          if (dates.book) {
            if (dates.book.from) {
              bookFrom = dates.book.from;
              //bookFrom = dates.book.from.concat(" ").concat(dates.book.timeFrom ? dates.book.timeFrom : '23:59:59');
            }
            if (dates.book.to) {
              //bookTo = dates.book.to.concat(" ").concat(dates.book.timeTo ? dates.book.timeTo : '23:59:59');
              bookTo = dates.book.to;
            }
          }
          notes = dates.note;

          countTotal++;
          if (this.validCredential && select.status.toLowerCase() !== 'green') {
            continue;
          }

          if (!this.filterRow(select)) {
            continue;
          }
          countShow++;

          const agency = masterUtils.getMasters(select.masters, 'agency', false);
          const grpman = masterUtils.getMasters(select.masters, 'agency_group', false);
          const branch = masterUtils.getMasters(select.masters, 'branch_office', false);
          const agent = masterUtils.getMasters(select.masters, 'agent', false);
          let comparator = "";
          if (grpman) {
            comparator = comparator.concat(grpman.id);
          }
          if (agency) {
            comparator = comparator.concat(agency.id).concat(branch ? branch.id: "").concat(agent ? agent.id: "");
          }

          const credentials = {
            prior: null,
            others: []
          }
          this.searchPriorCredential(comparator, credentials);
          rows.push({
            id: select.id,
            area: agency ? masterUtils.getMasterFromCodes(this.master, agency.codes, 'comercial_area') : null,
            grpman: grpman,
            grpmanName: grpman ? utils.valueLanguage(grpman.name, "ESP") : null,
            agency: agency,
            agencyName: agency ? utils.valueLanguage(agency.name, "ESP") : null,
            branch: branch,
            agent: agent,
            prior: select.prior,
            newPrior: select.prior,
            status: select.status.toLowerCase(),
            xsell: select.xsell,
            rvap: agency ? agency.rresp : false,
            vcc: agency ? agency.vcc : false,
            amadeus: agency ? masterUtils.getCode(agency.codes, 'amadeus') : null,
            lang: agency ? masterUtils.getCode(agency.codes, 'languages') : null,
            pay: agency ? masterUtils.getMasterFromCodes(this.master, agency.codes, 'payment') : null,
            bookfrom: bookFrom,
            bookto: bookTo,
            notes: notes,
            credentialPrior: credentials.prior,
            otherCredentials: credentials.others
          });
        }

        this.countTotal = countTotal;
        this.countShow = countShow;
      }
      return rows;
    },
    filterRow(client) {
      let areaFilter = true;
      let rvapFilter = true;
      let vccFilter = true;
      let payFilter = true;
      let amaFilter = true;
      let langFilter = true;
      let ageFilter = true;
      let master;
      if (this.filter.area || this.filter.rvap || this.filter.vcc || this.filter.pay || this.filter.age || this.filter.ama || this.filter.lang) {
        master = masterUtils.getMasters(client.masters, 'agency', false);
        if (this.filter.area) {
          areaFilter = master && this.filter.area === masterUtils.getCode(master.codes, 'comercial_area');
        }
        if (this.filter.pay) {
          payFilter = master && this.filter.pay === masterUtils.getCode(master.codes, 'payment');
        }
        if (this.filter.rvap) {
          rvapFilter = master && this.filter.rvap === master.rresp.toString();
        }
        if (this.filter.vcc) {
          vccFilter = master && this.filter.vcc === master.vcc.toString();
        }
        if (this.filter.age) {
          ageFilter = master && this.filter.age === master.id;
        }
        if (this.filter.ama) {
          amaFilter = master && this.filter.ama === masterUtils.getCode(master.codes, 'amadeus');
        }
        if (this.filter.lang) {
          langFilter = master && this.filter.lang === masterUtils.getCode(master.codes, 'languages');
        }
      }
      let grpmanFilter = true;
      if (this.filter.grpman) {
        master = masterUtils.getMasters(client.masters, 'agency_group', false);
        grpmanFilter = master && this.filter.grpman === master.id;
      }
      let branchFilter = true;
      if (this.filter.branch) {
        master = masterUtils.getMasters(client.masters, 'branch_office', false);
        branchFilter = master && this.filter.branch === master.id;
      }
      let agentFilter = true;
      if (this.filter.agent) {
        master = masterUtils.getMasters(client.masters, 'agent', false);
        agentFilter = master && this.filter.agent === master.id;
      }
      let xsellFilter = true;
      if (this.filter.xsell) {
        xsellFilter = this.filter.xsell === client.xsell.toString();
      }
      let statusFilter = true;
      if (this.filter.status) {
        statusFilter = this.filter.status === client.status.toLowerCase();
      }
      let dateBookFilter = true;
      if (this.filter.bookfrom || this.filter.bookto) {
        if (client.assignment && client.assignment.book.from.length > 0) {
          dateBookFilter = this.filterDate(this.filter.bookfrom, this.filter.bookto, dateUtils.parseDate(client.assignment.book.from).concat(" ").concat('00:00:00'), client.assignment.book.to.length > 0 ? dateUtils.parseDate(client.assignment.book.to).concat(" ").concat('23:59:59') : null);
        }
      }

      return areaFilter && dateBookFilter && rvapFilter && vccFilter && statusFilter && amaFilter && langFilter && payFilter && grpmanFilter && ageFilter && branchFilter && agentFilter && xsellFilter;
    },
    filterDate(filterFrom, filterTo, dateFrom, dateTo) {
      let from;
      if (!filterFrom) {
        from = Date.parse("2020-01-01 23:59:59")
      } else {
        from = Date.parse(filterFrom + " 00:00:00");
      }
      let to;
      if (!filterTo) {
        to = Date.parse("2050-12-31 23:59:59")
      } else {
        to = Date.parse(filterTo + " 23:59:59");
      }
      return dateUtils.isDateBetween(Date.parse(dateFrom), from, to) || dateUtils.isDateBetween(dateTo ? Date.parse(dateTo) : Date.parse("2050-12-31 23:59:59"), from, to);
    },
    getYesOrNoValues() {
      const yesRow = {
        id: "true",
        name: this.$i18n.t('yes')
      };
      const noRow = {
        id: "false",
        name: this.$i18n.t('no')
      };

      const rows = [];
      rows.push(yesRow);
      rows.push(noRow);
      return rows;
    },
    getStatusValues() {
      const rows = [];
      rows.push({
        id: "green",
        name: "Vigentes"
      });
      rows.push({
        id: "yellow",
        name: "No vigente futuro"
      });
      rows.push({
        id: "red",
        name: "No vigente pasado"
      });
      return rows;
    },
    valueLanguage: (item) => utils.valueLanguage(item.name, "ESP"),
    cancelClient() {
      this.cancelAll();
      this.dialogClient = false;
    },
    cancelMove() {
      this.cancelAll();
      this.dialogMove = false;
    },
    cancelAll() {
      this.showCredential = false;
      this.itemConfirm = null;
      this.itemConfirmMove = false;
      this.bookFromFormatted = null;
      this.bookToFormatted = null;
      this.newFromFormatted = null;
      this.newToFormatted = null;
      this.newAgency = false;
      this.newAgent = false;
      this.newBranch = false;
      this.agencies = [];
      this.branches = [];
      this.agents = [];
      this.selected = [];
      this.credentialPrior = false;
      this.priorConfirm = false;
      this.changePriority = null;
      this.assignment = Object.assign({}, this.assignmentDefault);
    },
    beforeCommit() {
      let msg = null;
      if (this.assignment.action !== 'disable') {
        if ((this.assignment.grp && this.assignment.age) || (!this.assignment.grp && !this.assignment.age)) {
          msg = this.$i18n.t('client.rules.master');
        }
        if (this.clients) {
          const comparator = (this.assignment.grp ? this.assignment.grp.id : "¬").concat(this.assignment.age ? this.assignment.age.id : "¬")
            .concat(this.assignment.branch ? this.assignment.branch.id : "¬").concat(this.assignment.agent ? this.assignment.agent.id : "¬");

          for (let client of this.clients) {
            if (!this.assignment.id || this.assignment.id !== client.id) {
              const grp = masterUtils.getMasters(client.masters, 'agency_group', false);
              const age = masterUtils.getMasters(client.masters, 'agency', false);
              const branch = masterUtils.getMasters(client.masters, 'branch_office', false);
              const agent = masterUtils.getMasters(client.masters, 'agent', false);
              const comparatorAssign = (grp ? grp.id : "¬").concat(age ? age.id : "¬").concat(branch ? branch.id : "¬").concat(agent ? agent.id : "¬");
              if (comparator === comparatorAssign) {
                msg = this.$i18n.t('client.rules.client');
                break;
              }
            }
          }
        }
      } else {
        for (let select of this.selected) {
          if (select.prior && (!select.credentialPrior || select.credentialPrior === this.credential.id)) {
            const message = this.$i18n.t('client.rules.removeNonPrior').toString();
            msg = message.replace('%c', this.getClientName(select.grpmanName, select.agencyName, select.branch, select.agent));
          }
        }
      }
      return msg;
    },
    handleClientSubmit(e) {
      e.preventDefault();

      let errorMsg = this.beforeCommit();
      if (errorMsg !== null) {
        this.error(errorMsg);
      } else {
        const clients = [];
        if (this.assignment.action === 'disable') {
          clients.push(...this.getSelected(false));
        } else {
          clients.push({
            id: this.assignment.id,
            credential: this.credential.id,
            prior: this.assignment.prior,
            masters: this.buildMaster(this.assignment),
            assignment: this.buildAssignment(false)
          });

          if (this.changePriority) {
            let comparator = "";
            if (this.assignment.grp) {
              comparator = comparator.concat(this.assignment.grp.id);
            }
            if (this.assignment.age) {
              comparator = comparator.concat(this.assignment.age.id).concat(this.assignment.branch ? this.assignment.branch.id: "").concat(this.assignment.agent ? this.assignment.agent.id: "");
            }

            const clientFromCredential = this.getClientFromCredential(this.changePriority, comparator);
            if (clientFromCredential) {
              clientFromCredential.prior = !this.assignment.prior;
              clientFromCredential.masters = this.buildMaster(this.assignment);
              clientFromCredential.codes = null;
              clients.push(clientFromCredential);
            } else {
              clients.push({
                credential: this.changePriority,
                prior: !this.assignment.prior,
                masters: this.buildMaster(this.assignment),
                assignment: this.buildAssignment(false)
              });
            }
          }
        }

        for (let client of clients) {
          if (client.id) {
            const index = utils.getIndexOf(this.clients, client.id);
            gestcom.update("/api/v1/customer", JSON.stringify(client))
              .then(
                success => {
                  if (!success.messages) {
                    Object.assign(this.clients[index], success);
                  }
                },
                error => {
                  this.error(error);
                }
              );
          } else {
            gestcom.create("/api/v1/customer", JSON.stringify(client))
              .then(
                success => {
                  if (!success.messages) {
                    this.clients.push(success);
                  }
                },
                error => {
                  this.error(error);
                }
              );
          }
        }
        setTimeout(() => {
          this.$emit("getClients");
          this.cancelClient();
        }, 500);
      }
    },
    getClientFromCredential(credential, comparator) {
      for (let cred of this.response) {
        if (credential === cred.id) {
          for (let client of cred.clients) {
            const clientComparator = masterUtils.getCode(client.codes, 'agency_group').concat(masterUtils.getCode(client.codes, 'agency'))
              .concat(masterUtils.getCode(client.codes, 'branch_office')).concat(masterUtils.getCode(client.codes, 'agent'));
            if (clientComparator === comparator && client.status === 'GREEN') {
              return client;
            }
          }
        }
      }
      return null;
    },
    getSelected(move) {
      const clients = [];
      for (let select of this.selected) {
        if (move) {
          clients.push({
            credential: this.assignment.credentials.id,
            prior: select.newPrior,
            masters: this.buildMaster(select),
            assignment: this.buildAssignment(true)
          });
        }
        clients.push({
          id: select.id,
          credential: this.credential.id,
          prior: false,
          masters: this.buildMaster(select),
          assignment: this.buildAssignment(false)
        });
      }
      return clients;
    },
    buildAssignment(move) {
      let notes = [];
      if (this.assignment.notes) {
        notes = this.assignment.notes;
      }
      const currentTime = dateUtils.getCurrentTime();
      if (this.assignment.note) {
        const note = {
          user: this.auth.user.name.concat(" ").concat(this.auth.user.sur).concat(" (").concat(this.auth.user.user).concat(")"),
          date: dateUtils.getCurrentDate().concat(" ").concat(currentTime),
          note: this.assignment.note
        };
        notes.push(note);
      }

      if (move) {
        return {
          book: {
            from: dateUtils.formatDate(this.assignment.newFrom),
            timeFrom: '00:00:00',
            to: dateUtils.formatDate(this.assignment.newTo),
            timeTo: '23:59:59',
          },
          note: notes
        };
      } else {
        return {
          checkIn: {
            from: dateUtils.formatDate(this.assignment.action === 'disable' ? this.assignment.bookto : null),
            timeFrom: this.assignment.action === 'disable' ? '00:00:00' : null,
            to: dateUtils.formatDate(this.assignment.action === 'disable' ? this.assignment.bookto : null),
            timeTo: this.assignment.action === 'disable' ? '23:59:59' : null
          },
          book: {
            from: dateUtils.formatDate(this.assignment.action !== 'disable' ? this.assignment.bookfrom : this.assignment.bookto),
            timeFrom: '00:00:00',
            to: dateUtils.formatDate(this.assignment.bookto),
            timeTo: this.assignment.bookto ? '23:59:59' : null,
          },
          note: notes
        };
      }
    },
    buildMaster(assignMaster) {
      const masters = [];
      if (assignMaster.grp) {
        masters.push(assignMaster.grp);
      }
      if (assignMaster.grpman) {
        masters.push(assignMaster.grpman);
      }
      if (assignMaster.age) {
        masters.push(assignMaster.age);
      }
      if (assignMaster.agency) {
        masters.push(assignMaster.agency);
      }
      if (assignMaster.branch) {
        masters.push(assignMaster.branch);
      }
      if (assignMaster.agent) {
        masters.push(assignMaster.agent);
      }
      return masters;
    },
    handleMoveClientSubmit(e) {
      e.preventDefault();

      const customers = this.getSelected(true);
      gestcom.massive("/api/v1/customers/massive", JSON.stringify({customers}))
        .then(
          success => {
            if (!success.messages) {
              for (let response of success) {
                const index = utils.getIndexOf(this.clients, response.id);
                Object.assign(this.clients[index], response);
              }
            }
          },
          error => {
            this.error(error);
          }
        );
      setTimeout(() => {
        this.$emit("getClients");
        this.cancelMove();
      }, 500);

    },
    formatDate(value) {
      return dateUtils.formatDate(value);
    },
    parseDate(value) {
      return dateUtils.parseDate(value);
    },
    onClearClicked(item) {
      if (item === "newFromFormatted") {
        this.newFromFormatted = null;
        this.assignment.newFrom = null;
      } else if (item === "newToFormatted") {
        this.newToFormatted = null;
        this.assignment.newTo = null;
      } else if (item === "bookToFormatted") {
        this.bookToFormatted = null;
        this.assignment.bookto = null;
      } else if (item === "bookFromFormatted") {
        this.bookFromFormatted = null;
        this.assignment.bookfrom = null;
      } 
    },
    onBlurField(item) {
      let regex = /^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$/;
      if (item === "newFromFormatted") {
        if (regex.test(this.newFromFormatted)) {
          this.assignment.newFrom = this.parseDate(this.newFromFormatted);
        } else {
          this.onClearClicked(item);
        }
      } else if (item === "newToFormatted") {
        if (regex.test(this.newToFormatted)) {
          this.assignment.newTo = this.parseDate(this.newToFormatted);
        } else {
          this.onClearClicked(item);
        }
      } else if (item === "bookToFormatted") {
        if (regex.test(this.bookToFormatted)) {
          this.assignment.bookto = this.parseDate(this.bookToFormatted);
        } else {
          this.onClearClicked(item);
        }
      }else if (item === "bookFromFormatted") {
        if (regex.test(this.bookFromFormatted)) {
          this.assignment.bookfrom = this.parseDate(this.bookFromFormatted);
        } else {
          this.onClearClicked(item);
        }
      }
    }
  },
};
</script>

<style lang="scss" scoped>
</style>