<template>
  <div class="post">
    <v-row justify="center">
      <v-dialog
        v-model="dialogCancelCost"
        persistent
        max-width="500px"
      >
        <v-card class="dialog-01">
          <v-card-title>
            <span
              v-if="cancelCost.action !== 'disable'"
              class="headline"
            >
              {{ $t('cancelcost.cancelcosts') }}
            </span>
            <span
              v-if="cancelCost.action === 'disable'"
              class="headline"
            >
              {{ $t('cancelcost.remove') }}
            </span>
          </v-card-title>
       
          <v-form
            id="cancelCostForm"
            ref="form"
            v-model="isValid"
            autocomplete="off"
            @submit.prevent="handleCancelCostSubmit"
          >
            <v-card-text>
              <v-container
                ma-auto
                pa-0
              >
                <v-layout
                  v-if="cancelCost.action !== 'notes'"
                  class="col-12 layout-01 pa-0 ma-0"
                >
                  <v-menu
                    v-if="cancelCost.action !== 'disable'"
                    v-model="modalBookFrom"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="bookFromFormatted"
                        :rules="[v => !!v || $t('cancelcost.rules.bookfrom')]"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-5"
                        hide-details="auto"
                        dense
                        :disabled="disableBookFromFormatted"
                        @click:clear="onClearClicked('bookFromFormatted')"
                        @blur="onBlurField('bookFromFormatted');"
                        v-on="on"
                      >
                        <template #label>
                          {{ $t('cancelcost.bookini') }}
                          <span class="red--text">
                            <strong>*</strong>
                          </span>
                        </template>
                      </v-text-field>
                    </template>
                    <v-date-picker
                      v-model="cancelCost.bookfrom"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="modalBookFrom = false; bookFromFormatted = formatDate(cancelCost.bookfrom);"
                    />
                  </v-menu>

                  <v-menu
                    v-model="modalBookTo"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="bookToFormatted"
                        :rules="dateToRules"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-5"
                        hide-details="auto"
                        dense
                        :disabled="disableBookToFormatted"
                        @click:clear="onClearClicked('bookToFormatted')"
                        @blur="onBlurField('bookToFormatted');"
                        v-on="on"
                      >
                        <template #label>
                          {{ $t('cancelcost.bookfin') }}
                          <span
                            v-if="cancelCost.action === 'disable'"
                            class="red--text"
                          >
                            <strong>*</strong>
                          </span>
                        </template>
                      </v-text-field>
                    </template>
                    <v-date-picker
                      v-model="cancelCost.bookto"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="modalBookTo = false; bookToFormatted = formatDate(cancelCost.bookto);"
                    />
                  </v-menu>
                </v-layout>

                <v-layout
                  v-if="cancelCost.action !== 'notes'"
                  class="col-12 layout-02 pa-0 ma-0"
                >
                  <v-menu
                    v-if="cancelCost.action !== 'disable'"
                    v-model="modalCheckFrom"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="checkFromFormatted"
                        :rules="[v => !!v || $t('cancelcost.rules.checkfrom')]"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-5"
                        hide-details="auto"
                        dense
                        :disabled="disableCheckFromFormatted"
                        @click:clear="onClearClicked('checkFromFormatted')"
                        @blur="onBlurField('checkFromFormatted');"
                        v-on="on"
                      >
                        <template #label>
                          {{ $t('cancelcost.checkini') }}
                          <span class="red--text">
                            <strong>*</strong>
                          </span>
                        </template>
                      </v-text-field>
                    </template>
                    <v-date-picker
                      v-model="cancelCost.checkinfrom"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="checkFromFormatted = formatDate(cancelCost.checkinfrom); modalCheckFrom = false;"
                    />
                  </v-menu>

                  <v-menu
                    v-if="cancelCost.action !== 'disable'"
                    v-model="modalCheckTo"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="checkToFormatted"
                        :label="$t('cancelcost.checkfin')"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-5"
                        hide-details="auto"
                        dense
                        :disabled="disableCheckToFormatted"
                        @click:clear="onClearClicked('checkToFormatted')"
                        @blur="onBlurField('checkToFormatted');"
                        v-on="on"
                      />
                    </template>
                    <v-date-picker
                      v-model="cancelCost.checkinto"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="modalCheckTo = false; checkToFormatted = formatDate(cancelCost.checkinto);"
                    />
                  </v-menu>
                </v-layout>

                <v-layout
                  v-if="cancelCost.action !== 'notes' && cancelCost.action !== 'disable'"
                  class="col-12 layout-03 pa-0 ma-0"
                >
                  <v-text-field
                    v-model="cancelCost.days"
                    :rules="[v => !!v || $t('cancelcost.rules.days')]"
                    class="col-12 col-md-5 pl-5 pb-0 pa-0 ma-0"
                    type="number"
                    min="1"
                    max="99"
                  >
                    <template #label>
                      {{ $t('cancelcost.day') }}
                      <span class="red--text">
                        <strong>*</strong>
                      </span>
                    </template>
                  </v-text-field>

                  <v-text-field
                    v-model="cancelCost.pct"
                    :rules="[v => !!v || $t('cancelcost.rules.pct')]"
                    suffix="%"
                    clearable
                    class="col-12 col-md-5"
                    hide-details="auto"
                    dense
                  >
                    <template #label>
                      {{ $t('cancelcost.pct') }}
                      <span class="red--text">
                        <strong>*</strong>
                      </span>
                    </template>
                  </v-text-field>
                </v-layout>

                <v-layout
                  v-if="cancelCost.action !== 'create' && cancelCost.notes && cancelCost.notes.length > 0"
                  class="col-12 layout-04 pa-0 ma-0"
                >
                  <v-simple-table
                    v-if="cancelCost.notes"
                    class="col-12 col-md-11"
                  >
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th
                            id="1"
                            class="text-left"
                            colspan="3"
                          >
                            {{ $t('cancelcost.notelist') }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="item in cancelCost.notes"
                          :key="item.date"
                        >
                          <td>{{ item.user }}</td>
                          <td>{{ item.date }}</td>
                          <td>{{ item.note }}</td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-layout>

                <v-layout class="col-12 layout-05 pa-0 ma-0">
                  <v-textarea
                    v-model="cancelCost.note"
                    auto-grow
                    :label="$t('cancelcost.note')"
                    rows="3"
                    hide-details="auto"
                    dense
                    class="col-12 col-md-12"
                  />
                </v-layout>
              </v-container>
              <small>
                <span class="red--text">
                  <strong>*</strong>
                </span>
                {{ $t('required') }}
              </small>
            </v-card-text>

            <v-card-actions>
              <v-spacer />
              <v-btn
                color="primary"
                small
                text
                @click="cancelCancelCost"
              >
                {{ $t('button.cancel') }}
              </v-btn>
              <v-btn
                color="primary"
                small
                text
                type="submit"
                form="cancelCostForm"
                :disabled="!isValid"
              >
                {{ $t('button.save') }}
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-dialog>
    </v-row>

    <v-card class="card-01 pa-0 ma-0">
      <v-card>
        <v-card-text>
          <v-layout class="col-12 layout-01 pa-0 ma-0">
            <v-checkbox
              v-model="validCancelCost"
              :label="$t('cancelcost.validCancelCost')"
              class="col-2 pa-0 ma-0"
              dense
            />
            <v-spacer />
            <v-btn
              color="primary"
              small
              text
              @click="openCancelCost('create')"
            >
              {{ $t('button.new') }}
            </v-btn>
          </v-layout>

          <v-data-table
            :headers="computedHeaders"
            :items="datatable"
            :page.sync="page"
            :items-per-page="rowsPerPage"
            dense
            hide-default-footer
            class="elevation-1 no-gutters"
            @page-count="pageCount = $event"
          >
            <template v-slot:item.status="{item}">
              <v-icon
                small
                :color="getColorIcon(item.status)"
                class="mr-2"
              >
                {{ getIcon(item.status) }}
              </v-icon>
            </template>
            <template v-slot:item.action="{item}">
              <v-icon
                class="mx-1"
                color="var(--v-icon-color)"
                small
                @click="openCancelCost('notes', item)"
              >
                note_add
              </v-icon>
              <v-icon
                v-if="isAfterToToday(item.bookto)"
                class="mx-1"
                color="var(--v-icon-color)"
                small
                @click="openCancelCost('edit', item)"
              >
                edit
              </v-icon>
              <v-icon
                v-if="isAfterToToday(item.bookto)"
                class="mx-1"
                color="var(--v-icon-color)"
                small
                @click="openCancelCost('disable', item)"
              >
                delete
              </v-icon>
            </template>
            <template v-slot:no-results>
              <v-alert
                :value="true"
                color="error"
                icon="warning"
              >
                {{ $t('noresults') }}
              </v-alert>
            </template>
          </v-data-table>
          <div class="pt-2">
            <v-layout class="col-12 layout-01 pa-0 ma-0">
              <small class="col-3 pt-1"> {{ countRow }} </small>
              <v-pagination
                v-model="page"
                :length="pageCount"
                total-visible="7"
                class="col-9 justify-end pt-1 mb-2"
              />
            </v-layout>
          </div>
        </v-card-text>
      </v-card>
    </v-card>
  </div>
</template>
<script>
import {mapActions, mapState} from "vuex";
import {gestcom} from "@services/gestcom";
import {dateUtils} from "@helper/dateUtils";
import {utils} from "@helper/utils";

export default {
  props: {
    credential: {type: Object, required: true},
    cancelcostIncoming: {type: Array, required: true},
  },
  data() {
    return {
      validCancelCost: true,
      page: 1,
      pageCount: 0,
      rowsPerPage: 15,
      countTotal: 0,
      countShow: 0,
      cancelCosts: this.cancelcostIncoming,
      dialogCancelCost: false,
      cancelCost: {
        id: null,
        action: null,
        bookfrom: null,
        bookto: null,
        checkinfrom: null,
        checkinto: null,
        days: null,
        pct: null,
        notes: null,
        note: null,
      },
      cancelCostDefault: {
        id: null,
        action: null,
        bookfrom: null,
        bookto: null,
        checkinfrom: null,
        checkinto: null,
        days: null,
        pct: null,
        notes: null,
        note: null,
      },
      modalCheckFrom: false,
      modalCheckTo: false,
      modalBookFrom: false,
      modalBookTo: false,
      checkFromFormatted: null,
      checkToFormatted: null,
      bookFromFormatted: null,
      bookToFormatted: null,
      isValid: false,
    };
  },
  computed: {
    ...mapState({
      master: (state) => state.master,
      auth: (state) => state.auth,
    }),
    dateToRules: function () {
      return [
        () => {
          if (this.cancelCost.action === 'disable' && !this.bookToFormatted) {
            return this.$i18n.t('cancelcost.rules.bookto');
          }
          return true;
        }
      ];
    },
    countRow() {
      let text = this.$i18n.t('cancelcost.cancelcostsrows');
      text = text.concat(this.countShow).concat(" / ").concat(this.countTotal);
      return text;
    },
    computedHeaders() {
      return this.headersTable.filter((header) => !header.hide);
    },
    headersTable() {
      return [
        {
          align: "left",
          value: "id",
          hide: true,
        },
        {
          text: this.$i18n.t('cancelcost.bookini'),
          align: "center",
          value: "bookfrom",
          hide: false,
        },
        {
          text: this.$i18n.t('cancelcost.bookfin'),
          align: "center",
          value: "bookto",
          hide: false,
        },
        {
          text: this.$i18n.t('cancelcost.checkini'),
          align: "center",
          value: "checkfrom",
          hide: false,
        },
        {
          text: this.$i18n.t('cancelcost.checkfin'),
          align: "center",
          value: "checkto",
          hide: false,
        },
        {
          align: "center",
          value: "status",
          hide: true,
          sortable: false
        },
        {
          text: this.$i18n.t('cancelcost.day'),
          align: "center",
          value: "day",
          hide: false,
        },
        {
          text: this.$i18n.t('cancelcost.pct'),
          align: "center",
          value: "pct",
          hide: false,
        },
        {
          value: "action",
          hide: false,
          sortable: false
        }
      ];
    },
    datatable() {
      return this.getRows(this.cancelCosts, 'COMMISSION');
    },
    computedMinAllowedDate() {
      return dateUtils.getMinAllowedDate();
    },
    disableBookToFormatted() {
      return (
        this.bookToFormatted &&
        dateUtils.isDateLessThanNow(this.bookToFormatted)
      );
    },
    disableBookFromFormatted() {
      return (
        this.bookFromFormatted &&
        dateUtils.isDateLessThanNow(this.bookFromFormatted)
      );
    },
    disableCheckToFormatted() {
      return (
        this.checkToFormatted &&
        dateUtils.isDateLessThanNow(this.checkToFormatted)
      );
    },
    disableCheckFromFormatted() {
      return (
        this.checkFromFormatted &&
        dateUtils.isDateLessThanNow(this.checkFromFormatted)
      );
    }
  },
  methods: {
    ...mapActions("master", ["getDepths", "getSysSupplier", "getChains", "getSegmentations", "getAreas", "getMainlands", "getCountries", "getState", "getSaleTypes", "getTransferServiceTypes", "getTransferTypes", "getActivityServiceTypes", "getActivitySegmentations"]),
    ...mapActions("alert", ["error"]),
    getIcon(color) {
      return gestcom.getIcon(color);
    },
    getColorIcon(color) {
      return gestcom.getIconColor(color);
    },
    isAfterToToday(date) {
      let day=new Date().getDate();
      let month=new Date().getMonth()+1;
      let year=new Date().getFullYear();
      if(date=== '' || date===undefined || date === null || new Date(date)>new Date(day+'/'+month+'/'+year)){
        return true;
      }
      return false;
    },
    openCancelCost(action, item) {
     
      if (action === 'create') {
        this.cancelCancelCost();
        this.cancelCost.action = action;
        this.dialogCancelCost = true;
        this.$refs.form.resetValidation();
      }else{
        this.cancelCost.action = action;
        this.cancelCost.id = item.id;
        this.cancelCost.days = item.day;
        this.cancelCost.pct = Number.parseFloat(item.pct).toFixed(2);
        this.cancelCost.bookfrom = this.parseDate(item.bookfrom);
        this.bookFromFormatted = item.bookfrom;
        if (this.cancelCost.action === 'disable') {
          this.bookToFormatted = dateUtils.getCurrentDate();
          this.cancelCost.bookto = this.parseDate(this.bookToFormatted);
        } else {
          if (item.bookto) {
            this.cancelCost.bookto = this.parseDate(item.bookto);
            this.bookToFormatted = item.bookto;
          }
        }
        this.cancelCost.checkinfrom = this.parseDate(item.checkfrom);
        this.checkFromFormatted = item.checkfrom;
        if (item.checkto) {
          this.cancelCost.checkinto = this.parseDate(item.checkto);
          this.checkToFormatted = item.checkto;
        }
        this.cancelCost.notes = item.notes;
        this.dialogCancelCost = true;
      }
    },
    formatDate(value) {
      return dateUtils.formatDate(value);
    },
    parseDate(value) {
      return dateUtils.parseDate(value);
    },
    getRows(source) {
      const rows = [];
      let countTotal = 0;
      let countShow = 0;
      if (source) {
        const currentDate = new Date();
        for (let select of source) {
          let parsedBookTo = "";
          let assignment = select.assignment;
          if (assignment.book && assignment.book.to) {
            parsedBookTo = dateUtils.parseDate(assignment.book.to).concat(" ").concat(assignment.book.timeTo ? assignment.book.timeTo : '23:59:59');
          }

          countTotal++;
          if (this.validCancelCost && (parsedBookTo.length !== 0 || currentDate <= Date.parse(parsedBookTo))) {
            continue;
          }
          countShow++;

          const row = {
            id: select.id,
            pct: Number.parseFloat(select.per).toFixed(2),
            bookfrom: select.assignment && select.assignment.book && select.assignment.book.from ? select.assignment.book.from : null,
            bookto: select.assignment && select.assignment.book && select.assignment.book.to ? select.assignment.book.to : null,
            checkfrom: select.assignment && select.assignment.checkIn && select.assignment.checkIn.from ? select.assignment.checkIn.from : null,
            checkto: select.assignment && select.assignment.checkIn && select.assignment.checkIn.to ? select.assignment.checkIn.to : null,
            notes: select.assignment ? select.assignment.note : null,
            status: select.status.toLowerCase(),
            day: select.days,
          };
          rows.push(row);
        }

        this.countTotal = countTotal;
        this.countShow = countShow;
      }
      return rows;
    },
    handleCancelCostSubmit(e) {
      e.preventDefault();

      const credential = this.credential.id;
      const assignment = this.buildAssignment();
      const days = this.cancelCost.days;
      const per =  Number.parseFloat(this.cancelCost.pct).toFixed(2);
      const act = true;

      let id = null;
      if (this.cancelCost.id) {
        id = this.cancelCost.id;
      }
      this.saveCancelCost(id, JSON.stringify({ id, credential, assignment, days, per, act}));
    },
    buildAssignment() {
      let notes = [];
      if (this.cancelCost.notes) {
        notes = this.cancelCost.notes;
      }

      const currentTime = dateUtils.getCurrentTime();
      if (this.cancelCost.note) {
        const note = {
          user: this.auth.user.name.concat(" ").concat(this.auth.user.sur).concat(" (").concat(this.auth.user.user).concat(")"),
          date: dateUtils.getCurrentDate().concat(" ").concat(currentTime),
          note: this.cancelCost.note
        };
        notes.push(note);
      }

      return {
        checkIn: {
          from: dateUtils.formatDate(this.cancelCost.checkinfrom),
          timeFrom: '00:00:00',
          to: dateUtils.formatDate(this.cancelCost.checkinto),
          timeTo: this.cancelCost.checkinto ? '23:59:59' : null
        },
        book: {
          from: dateUtils.formatDate(this.cancelCost.action !== 'disable' ? this.cancelCost.bookfrom : this.cancelCost.bookto),
          timeFrom: this.cancelCost.action !== 'disable' ? '00:00:00' : currentTime,
          to: dateUtils.formatDate(this.cancelCost.bookto),
          timeTo: this.cancelCost.action !== 'disable' ? this.cancelCost.bookto ? '23:59:59' : null : currentTime,
        },
        note: notes
      };
    },
    cancelCancelCost() {
      this.cancelCost = Object.assign({}, this.cancelCostDefault);
      this.checkFromFormatted= null;
      this.checkToFormatted= null;
      this.bookFromFormatted= null;
      this.bookToFormatted= null;
      this.isValid= false;
      this.dialogCancelCost = false;
    },
    saveCancelCost(id, body) {
      //Llamada al rest
      if (!id) {
        gestcom.create("/api/v1/cancelcost", body)
          .then(
            success => {
              if (!success.messages) {
                this.cancelCosts.push(success);
                this.cancelCancelCost();
                this.$emit("getCancelCosts");
              }
            },
            error => {
              this.error(error);
            }
          );
      } else {
        const index = utils.getIndexOf(this.cancelCosts, id);
        gestcom.update("/api/v1/cancelcost", body)
          .then(
            success => {
              if (!success.messages) {
                Object.assign(this.cancelCosts[index], success);
                this.cancelCancelCost();
                this.$emit("getCancelCosts");
              }
            },
            error => {
              this.error(error);
            }
          );
      }
    },
    onClearClicked(item) {
      if (item === "checkFromFormatted") {
        this.checkFromFormatted = null;
        this.cancelCost.checkinfrom = null;
      } else if (item === "checkToFormatted") {
        this.checkToFormatted = null;
        this.cancelCost.checkinto = null;
      } else if (item === "bookToFormatted") {
        this.bookToFormatted = null;
        this.cancelCost.bookto = null;
      } else if (item === "bookFromFormatted") {
        this.bookFromFormatted = null;
        this.cancelCost.bookfrom = null;
      } 
    },
    onBlurField(item) {
      let regex = /^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$/;
      if (item === "checkFromFormatted") {
        if (regex.test(this.checkFromFormatted)) {
          this.cancelCost.checkinfrom = this.parseDate(this.checkFromFormatted);
        } else {
          this.onClearClicked(item);
        }
      } else if (item === "checkToFormatted") {
        if (regex.test(this.checkToFormatted)) {
          this.cancelCost.checkinto = this.parseDate(this.checkToFormatted);
        } else {
          this.onClearClicked(item);
        }
      } else if (item === "bookToFormatted") {
        if (regex.test(this.bookToFormatted)) {
          this.cancelCost.bookto = this.parseDate(this.bookToFormatted);

        } else {
          this.onClearClicked(item);
        }
      }else if (item === "bookFromFormatted") {
        if (regex.test(this.bookFromFormatted)) {
          this.cancelCost.bookfrom = this.parseDate(this.bookFromFormatted);
        } else {
          this.onClearClicked(item);
        }
      }
    }
  }
};
</script>
<style lang="scss" scoped>
</style>