<template>
  <div class="post">
    <v-row justify="center">
      <v-dialog
        v-model="dialogCurrency"
        persistent
        max-width="700px"
      >
        <v-card class="dialog-01">
          <v-card-title>
            <span
              v-if="assignment.action !== 'disable'"
              class="headline"
            >
              {{ $t('currency_settings.asg') }}
            </span>
            <span
              v-if="assignment.action === 'disable'"
              class="headline"
            >
              {{ $t('currency_settings.remove') }}
            </span>
          </v-card-title>

          <v-form
            id="currencyForm"
            ref="currencyForm"
            v-model="isValid"
            autocomplete="off"
            @submit.prevent="handleCurrencySubmit"
          >
            <v-card-text>
              <v-container
                ma-auto
                pa-0
              >
                <v-layout
                  v-if="assignment.action !== 'disable' && assignment.action !== 'notes'"
                  class="col-12 layout-01 wrap pa-0 mb-4"
                >
                  <v-select
                    v-model="assignment.con"
                    :label="$t('currency_settings.con')"
                    :items="getEntityValues('mainland', false)"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-md-5"
                    small-chips
                    return-object
                    clearable
                    hide-details="auto"
                    dense
                  />

                  <v-autocomplete
                    v-model="assignment.cou"
                    :label="$t('currency_settings.cou')"
                    :items="getEntityValues('country', false)"
                    item-value="id"
                    :item-text="valueLanguage"
                    class="col-12 col-md-7"
                    small-chips
                    return-object
                    clearable
                    hide-details="auto"
                    dense
                  />
                </v-layout>

                <v-data-table
                  v-if="assignment.action !== 'disable' && assignment.action !== 'notes'"
                  class="col-12"
                  :dense="true"
                  :headers="headersParams"
                  :items="paramsDatatable"
                  hide-default-footer
                >
                  <template v-slot:item.key="{item}">
                    <v-select
                      v-model="item.key"
                      :items="getEntityValues('comercial_area', true)"
                      item-value="id"
                      item-text="name"
                      hide-details="auto"
                      small-chips
                      readonly
                      dense
                    />
                  </template>

                  <template v-slot:item.value="{item}">
                    <v-autocomplete
                      v-model="item.value"
                      :items="getEntityValues('currencies', true)"
                      item-value="id"
                      item-text="name"
                      hide-details="auto"
                      small-chips
                      dense
                      clearable
                    />
                  </template>
                </v-data-table>

                <v-layout
                  v-if="assignment.action !== 'notes'"
                  class="col-12 layout-02 wrap pa-0 ma-0"
                >
                  <v-menu
                    v-if="assignment.action === 'create' || assignment.action === 'edit'"
                    v-model="modalBookFrom"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="bookFromFormatted"
                        :rules="[v => !!v || $t('currency_settings.rules.bookfrom')]"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-6"
                        hide-details="auto"
                        dense
                        :disabled="disableBookFromFormatted"
                        @click:clear="onClearClicked('bookFromFormatted')"
                        @blur="onBlurField('bookFromFormatted');"
                        v-on="on"
                      >
                        <template #label>
                          {{ $t('currency_settings.bookini') }}
                          <span class="red--text">
                            <strong>*</strong>
                          </span>
                        </template>
                      </v-text-field>
                    </template>
                    <v-date-picker
                      v-model="assignment.bookfrom"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="modalBookFrom = false; bookFromFormatted = formatDate(assignment.bookfrom);"
                    />
                  </v-menu>

                  <v-menu
                    v-model="modalBookTo"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="bookToFormatted"
                        hint="DD/MM/YYYY"
                        :rules="dateToRules"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-6"
                        hide-details="auto"
                        dense
                        :disabled="disableBookToFormatted"
                        @click:clear="onClearClicked('bookToFormatted')"
                        @blur="onBlurField('bookToFormatted');"
                        v-on="on"
                      >
                        <template #label>
                          {{ $t('currency_settings.bookfin') }}
                          <span
                            v-if="assignment.action === 'disable'"
                            class="red--text"
                          >
                            <strong>*</strong>
                          </span>
                        </template>
                      </v-text-field>
                    </template>
                    <v-date-picker
                      v-model="assignment.bookto"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="modalBookTo = false; bookToFormatted = formatDate(assignment.bookto);"
                    />
                  </v-menu>
                </v-layout>
 
                <v-layout
                  v-if="assignment.action !== 'disable' && assignment.action !== 'notes'"
                  class="col-12 layout-03 wrap pa-0 ma-0"
                >
                  <v-menu
                    v-model="modalCheckFrom"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="checkFromFormatted"
                        :rules="[v => !!v || $t('currency_settings.rules.checkfrom')]"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-6"
                        hide-details="auto"
                        dense
                        :disabled="disableCheckFromFormatted"
                        @click:clear="onClearClicked('checkFromFormatted')"
                        @blur="onBlurField('checkFromFormatted');"
                        v-on="on"
                      >
                        <template #label>
                          {{ $t('currency_settings.checkini') }}
                          <span class="red--text">
                            <strong>*</strong>
                          </span>
                        </template>
                      </v-text-field>
                    </template>
                    <v-date-picker
                      v-model="assignment.checkfrom"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="modalCheckFrom = false; checkFromFormatted = formatDate(assignment.checkfrom);"
                    />
                  </v-menu>

                  <v-menu
                    v-model="modalCheckTo"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="checkToFormatted"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-6"
                        hide-details="auto"
                        dense
                        :disabled="disableCheckToFormatted"
                        @click:clear="onClearClicked('checkToFormatted')"
                        @blur="onBlurField('checkToFormatted');"
                        v-on="on"
                      >
                        <template #label>
                          {{ $t('currency_settings.bookfin') }}
                        </template>
                      </v-text-field>
                    </template>
                    <v-date-picker
                      v-model="assignment.checkto"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="modalCheckTo = false; checkToFormatted = formatDate(assignment.checkto);"
                    />
                  </v-menu>
                </v-layout>

                <v-layout
                  v-if="assignment.action !== 'create' && assignment.notes && assignment.notes.length !== 0"
                  class="col-12 layout-04 wrap pa-0 ma-0"
                >
                  <v-simple-table class="col-12 pa-0 ma-0">
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th
                            id="1"
                            class="text-left pa-0 ma-0"
                            colspan="3"
                          >
                            {{ $t('currency_settings.notelist') }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="item in assignment.notes"
                          :key="item.date"
                        >
                          <td>{{ item.user }}</td>
                          <td>{{ item.date }}</td>
                          <td>{{ item.note }}</td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-layout>

                <v-layout class="col-12 layout-05 wrap pa-0 ma-0">
                  <v-textarea
                    v-model="assignment.note"
                    auto-grow
                    :label="$t('currency_settings.note')"
                    rows="3"
                    hide-details="auto"
                    dense
                    class="col-12 col-md-12"
                  />
                </v-layout>
              </v-container>
              <small>
                <span class="red--text">
                  <strong>*</strong>
                </span>
                {{ $t('required') }}
              </small>
            </v-card-text>

            <v-card-actions>
              <v-spacer />
              <v-btn
                color="primary"
                small
                text
                @click="cancelCurrency"
              >
                {{ $t('button.cancel') }}
              </v-btn>
              <v-btn
                color="primary"
                small
                text
                type="submit"
                form="currencyForm"
                :disabled="!isValid"
              >
                {{ $t('button.save') }}
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-dialog>
    </v-row>

    <v-card class="card-01 pa-0 ma-0">
      <v-expansion-panels
        v-model="filterPanel"
        multiple
      >
        <v-expansion-panel>
          <v-expansion-panel-header
            class="wrapper-header py-2"
            header
          >
            <small class="col-12"> {{ $t('currency_settings.filterCurrency') }} </small>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-card class="card-01 pa-0 ma-0">
              <v-card-text class="card-text-0">
                <v-layout class="col-12 layout-01 pa-0 ma-0">
                  <v-select
                    v-model="filter.cou"
                    :label="$t('currency_settings.cou')"
                    :items="getEntityValues('country', true)"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-3"
                    clearable
                    hide-details="auto"
                    dense
                  />

                  <v-select
                    v-model="filter.cur"
                    :label="$t('currency_settings.cur')"
                    :items="getEntityValues('currencies', true)"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-4"
                    hide-details="auto"
                    dense
                    clearable
                  />
                </v-layout>

                <v-layout class="col-12 layout-02 pa-0 ma-0">
                  <v-menu
                    v-model="filterModalBookFrom"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="filterBookFromFormatted"
                        :label="$t('currency_settings.bookini')"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-2"
                        hide-details="auto"
                        dense
                        @blur="filter.bookfrom = parseDate(filterBookFromFormatted);"
                        v-on="on"
                      />
                    </template>
                    <v-date-picker
                      v-model="filter.bookfrom"
                      no-title
                      @input="filterModalBookFrom = false; filterBookFromFormatted = formatDate(filter.bookfrom);"
                    />
                  </v-menu>

                  <v-menu
                    v-model="filterModalBookTo"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="filterBookToFormatted"
                        :label="$t('currency_settings.bookfin')"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-2"
                        hide-details="auto"
                        dense
                        @blur="filter.bookto = parseDate(filterBookToFormatted);"
                        v-on="on"
                      />
                    </template>
                    <v-date-picker
                      v-model="filter.bookto"
                      no-title
                      @input="filterModalBookTo = false; filterBookToFormatted = formatDate(filter.bookto);"
                    />
                  </v-menu>

                  <v-menu
                    v-model="filterModalCheckFrom"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="filterCheckFromFormatted"
                        :label="$t('currency_settings.checkini')"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-2"
                        hide-details="auto"
                        dense
                        @blur="filter.checkfrom = parseDate(filterCheckFromFormatted);"
                        v-on="on"
                      />
                    </template>
                    <v-date-picker
                      v-model="filter.checkfrom"
                      no-title
                      @input="filterCheckFromFormatted = formatDate(filter.checkfrom); filterModalCheckFrom = false;"
                    />
                  </v-menu>

                  <v-menu
                    v-model="filterModalCheckTo"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="filterCheckToFormatted"
                        :label="$t('currency_settings.checkfin')"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-2"
                        hide-details="auto"
                        dense
                        @blur="filter.checkto = parseDate(filterCheckToFormatted);"
                        v-on="on"
                      />
                    </template>
                    <v-date-picker
                      v-model="filter.checkto"
                      no-title
                      @input="filterModalCheckTo = false; filterCheckToFormatted = formatDate(filter.checkto);"
                    />
                  </v-menu>
                </v-layout>
              </v-card-text>

              <v-card-actions class=" col-12 pa-0 ma-0">
                <v-spacer />
                <v-btn
                  color="primary"
                  small
                  text
                  @click="cleanFilter"
                >
                  {{ $t('button.cleanfilter') }}
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>

      <v-card>
        <v-card-text>
          <v-layout class="col-12 layout-01 pa-0 ma-0">
            <v-checkbox
              v-model="validCurrency"
              :label="$t('currency_settings.validCredential')"
              class="col-2 pa-0 ma-0"
              dense
            />
            <v-spacer />
            <v-btn
              color="primary"
              small
              text
              @click="openCurrency('create')"
            >
              {{ $t('button.new') }}
            </v-btn>
          </v-layout>
          <v-data-table
            :headers="computedHeaders"
            :items="datatable"
            :page.sync="page"
            :items-per-page="rowsPerPage"
            dense
            hide-default-footer
            class="elevation-1 no-gutters"
            @page-count="pageCount = $event"
          >
            <template v-slot:item.curs="{item}">
              <v-chip
                v-for="tag in item.curs"
                :key="tag"
                class="ma-1"
                label
                x-small
                color="primary"
              >
                {{ tag }}
              </v-chip>
            </template>
            <template v-slot:item.con="{item}">
              <span v-if="item.con">{{ valueLanguageTable(item.con.name) }}</span>
            </template>
            <template v-slot:item.cou="{item}">
              <span v-if="item.cou">{{ valueLanguageTable(item.cou.name) }}</span>
            </template>
            <template v-slot:item.status="{item}">
              <v-icon
                small
                :color="getColorIcon(item.status)"
                class="mr-2"
              >
                {{ getIcon(item.status) }}
              </v-icon>
            </template>
            <template v-slot:item.action="{item}">
              <v-icon
                class="mx-1"
                color="var(--v-icon-color)"
                small
                @click="openCurrency('notes', item)"
              >
                note_add
              </v-icon>
              <v-icon
                v-if="isAfterToToday(item.bookto)"
                class="mx-1"
                color="var(--v-icon-color)"
                small
                @click="openCurrency('edit', item)"
              >
                edit
              </v-icon>
              <v-icon
                v-if="isAfterToToday(item.bookto)"
                class="mx-1"
                color="var(--v-icon-color)"
                small
                @click="openCurrency('disable', item)"
              >
                delete
              </v-icon>
            </template>
            <template v-slot:item.showIcon="{item}">
              <v-icon
                v-if="item.showIcon"
                small
                color="orange"
                class="mr-2"
              >
                report_problem
              </v-icon>
            </template>
            <template v-slot:no-results>
              <v-alert
                :value="true"
                color="error"
                icon="warning"
              >
                {{ $t('noresults') }}
              </v-alert>
            </template>
          </v-data-table>
          <div class="pt-2">
            <v-layout class="col-12 layout-01 pa-0 ma-0">
              <small class="col-3 pt-1"> {{ countRow }} </small>
              <v-pagination
                v-model="page"
                :length="pageCount"
                total-visible="7"
                class="col-9 justify-end pt-1 mb-2"
              />
            </v-layout>
          </div>
        </v-card-text>
      </v-card>
    </v-card>
  </div>
</template>
<script>
import {mapActions, mapState} from "vuex";
import {gestcom} from "@services/gestcom";
import {dateUtils} from "@helper/dateUtils";
import {utils} from "@helper/utils";
import {masterUtils} from "@helper/masterUtils";

export default {
  props: {
    credential: {type: Object, required: true},
    currencyIncoming: {type: Array, required: true},
  },
  data() {
    return {
      filterPanel: [],
      filter: {
        cou: null,
        cur: null,
        checkinfrom: null,
        checkinto: null,
        bookfrom: null,
        bookto: null,
      },
      filterDefault: {
        cou: null,
        cur: null,
        checkinfrom: null,
        checkinto: null,
        bookfrom: null,
        bookto: null,
      },
      filterModalCheckFrom: false,
      filterModalCheckTo: false,
      filterModalBookFrom: false,
      filterModalBookTo: false,
      filterCheckFromFormatted: null,
      filterCheckToFormatted: null,
      filterBookFromFormatted: null,
      filterBookToFormatted: null,
      validCurrency: true,
      page: 1,
      pageCount: 0,
      rowsPerPage: 15,
      countTotal: 0,
      countShow: 0,
      currencies: this.currencyIncoming,
      dialogCurrency: false,
      assignment: {
        action: null,
        id: null,
        con: null,
        cou: null,
        params: null,
        bookfrom: null,
        bookto: null,
        checkfrom: null,
        checkto: null,
        note: null,
        notes: null,
      },
      assignmentDefault: {
        action: null,
        id: null,
        con: null,
        cou: null,
        params: null,
        bookfrom: null,
        bookto: null,
        checkfrom: null,
        checkto: null,
        note: null,
        notes: null,
      },
      isValid: false,
      modalBookFrom: false,
      modalBookTo: false,
      modalCheckFrom: false,
      modalCheckTo: false,
      bookFromFormatted: null,
      bookToFormatted: null,
      checkFromFormatted: null,
      checkToFormatted: null,
    };
  },
  computed: {
    ...mapState({
      master: (state) => state.master,
      auth: (state) => state.auth,
    }),
    computedHeaders() {
      return this.headersTable.filter((header) => !header.hide);
    },
    headersTable() {
      return [
        {
          align: "left",
          value: "id",
          hide: true,
        },
        {
          text: this.$i18n.t('currency_settings.con'),
          align: "left",
          value: "con",
          hide: false,
        },
        {
          text: this.$i18n.t('currency_settings.cou'),
          align: "left",
          value: "cou",
          hide: false,
        },
        {
          text: this.$i18n.t('currency_settings.cur'),
          align: "center",
          value: "curs",
          hide: false,
          sortable: false
        },
        {
          align: "center",
          value: "status",
          hide: false,
          sortable: false
        },
        {
          align: "center",
          value: "showIcon",
          hide: true,
          sortable: false
        },
        {
          text: this.$i18n.t('currency_settings.bookini'),
          align: "center",
          value: "bookfrom",
          width: "8%",
          hide: false,
        },
        {
          text: this.$i18n.t('currency_settings.bookfin'),
          align: "center",
          value: "bookto",
          width: "8%",
          hide: false,
        },
        {
          text: this.$i18n.t('currency_settings.checkini'),
          align: "center",
          value: "checkinfrom",
          width: "8%",
          hide: false,
        },
        {
          text: this.$i18n.t('currency_settings.checkfin'),
          align: "center",
          value: "checkinto",
          width: "8%",
          hide: false,
        },
        {
          value: "action",
          hide: false,
          sortable: false
        }
      ];
    },
    countRow() {
      let text = this.$i18n.t('currency_settings.currencyrows');
      text = text.concat(this.countShow).concat(" / ").concat(this.countTotal);
      return text;
    },
    datatable() {
      return this.getRows(this.currencies);
    },
    headersParams() {
      return [
        {
          text: this.$i18n.t("currency_settings.area"),
          align: "left",
          value: "key",
          width: "25%",
          filterable: false
        },
        {
          text: this.$i18n.t("currency_settings.cur"),
          align: "left",
          value: "value",
          width: "75%",
          filterable: false
        }
      ];
    },
    paramsDatatable() {
      return this.assignment.params;
    },
    dateToRules: function () {
      return [
        () => {
          if (this.assignment.action === 'disable' && !this.bookToFormatted) {
            return this.$i18n.t('currency_settings.rules.bookto');
          }
          return true;
        }
      ];
    },
    computedMinAllowedDate() {
      return dateUtils.getMinAllowedDate();
    },
    disableBookToFormatted() {
      return (
        this.bookToFormatted &&
        dateUtils.isDateLessThanNow(this.bookToFormatted)
      );
    },
    disableBookFromFormatted() {
      return (
        this.bookFromFormatted &&
        dateUtils.isDateLessThanNow(this.bookFromFormatted)
      );
    },
    disableCheckToFormatted() {
      return (
        this.checkToFormatted &&
        dateUtils.isDateLessThanNow(this.checkToFormatted)
      );
    },
    disableCheckFromFormatted() {
      return (
        this.checkFromFormatted &&
        dateUtils.isDateLessThanNow(this.checkFromFormatted)
      );
    }
  },
  created() {
    this.loadStore();
  },
  methods: {
    ...mapActions("master", ["getMainlands", "getCountries", "getCommercialAreas", "getCurrencies"]),
    ...mapActions("alert", ["error"]),
    loadStore() {
      if (this.master.mainlands === null) {
        this.getMainlands();
      }
      if (this.master.countries === null) {
        this.getCountries();
      }
      if (this.master.comercialareas === null) {
        this.getCommercialAreas();
      }
      if (this.master.currencies === null) {
        this.getCurrencies();
      }
    },
    getEntityValues(child, isFilter) {
      const elements = masterUtils.getEntityValues(this.master, child);
      const rows = [];
      for (let element of elements) {
        if (child === 'currencies' && (element.hide || !element.supplier)) {
          continue;
        }

        if (isFilter) {
          rows.push({
            id: element.id,
            name: utils.valueLanguage(element.name, "ESP"),
            own: element.own
          });
        } else {
          rows.push(element);
        }
      }
      return rows;
    },
    cleanFilter() {
      this.filter = Object.assign({}, this.filterDefault);
    },
    isAfterToToday(date) {
      let day=new Date().getDate();
      let month=new Date().getMonth()+1;
      let year=new Date().getFullYear();
      if(date=== '' || date===undefined || date === null || new Date(date)>new Date(day+'/'+month+'/'+year)){
        return true;
      }
      return false;
    },
    openCurrency(action, item) {
      this.assignment.action = action;
      if (item) {
        this.assignment.id = item.id;
        this.assignment.con = item.con;
        this.assignment.cou = item.cou;
        this.assignment.params = item.params;

        this.assignment.checkfrom = this.parseDate(item.checkinfrom);
        this.checkFromFormatted = item.checkinfrom;
        if (item.checkinto) {
          this.assignment.checkto = this.parseDate(item.checkinto);
          this.checkToFormatted = item.checkinto;
        }
        this.assignment.bookfrom = this.parseDate(item.bookfrom);
        this.bookFromFormatted = item.bookfrom;
        if (this.assignment.action === 'disable') {
          this.bookToFormatted = dateUtils.getCurrentDate();
          this.assignment.bookto = this.parseDate(this.bookToFormatted);
        } else {
          if (item.bookto) {
            this.assignment.bookto = this.parseDate(item.bookto);
            this.bookToFormatted = item.bookto;
          }
        }
        this.assignment.notes = item.notes;
      } else {
        const areas = this.getEntityValues('comercial_area', false);
        this.assignment.params = [];
        if (areas) {
          for (let area of areas) {
            this.assignment.params.push({
              key: area.id,
              value: null
            });
          }
        }
      }
      this.dialogCurrency = true;
      this.$refs.currencyForm.resetValidation();
    },
    valueLanguage: item => utils.valueLanguage(item.name, 'ESP'),
    valueLanguageTable(name) {
      return utils.valueLanguage(name, 'ESP')
    },
    getIcon(color) {
      return gestcom.getIcon(color);
    },
    getColorIcon(color) {
      return gestcom.getIconColor(color);
    },
    getRows(source) {
      const rows = [];
      let countTotal = 0;
      let countShow = 0;
      if (source) {
        for (let select of source) {
          let bookFrom = "";
          let bookTo = "";
          let checkFrom = "";
          let checkTo = "";
          let notes = null;
          const dates = select.assignment;
          if (dates) {
            if (dates.book) {
              if (dates.book.from) {
                bookFrom = dates.book.from;
              }
              if (dates.book.to) {
                bookTo = dates.book.to;
              }
            }
            if (dates.checkIn) {
              if (dates.checkIn.from) {
                checkFrom = dates.checkIn.from;
              }
              if (dates.checkIn.to) {
                checkTo = dates.checkIn.to;
              }
            }
            notes = dates.note;
          }

          countTotal++;
          if (this.validCurrency && select.status.toLowerCase() !== 'green') {
            continue;
          }

          if (!this.filterRow(select)) {
            continue;
          }
          countShow++;

          const codes = select.codes;
          rows.push({
            id: select.id,
            con: masterUtils.getMasterFromCodes(this.master, codes, 'mainland'),
            cou: masterUtils.getMasterFromCodes(this.master, codes, 'country'),
            curs: this.getCurrency(select.params),
            showIcon: this.showIcon(select.params),
            params: select.params,
            status: select.status.toLowerCase(),
            checkinfrom: checkFrom,
            checkinto: checkTo,
            bookfrom: bookFrom,
            bookto: bookTo,
            notes: notes,
          });
        }

        this.countTotal = countTotal;
        this.countShow = countShow;
      }
      return rows;
    },
    showIcon(params) {
      if (params) {
        return this.getCurrency(params).length !== 1;
      }
      return false;
    },
    getCurrency(params) {
      const currencies = [];
      for (let param of params) {
        if (param.value && currencies.indexOf(param.value) === -1) {
          currencies.push(param.key +' -> '+ param.value);
        }
      }
      return currencies
    },
    filterRow(currency) {
      let couFilter = true;
      if (this.filter.cou) {
        couFilter = this.filter.cou === masterUtils.getCode(currency.codes, 'country');
      }
      let curFilter = true;
      if (this.filter.cur) {
        const currencies = this.getCurrency(currency.params);
        curFilter = currencies.indexOf(this.filter.cur) !== -1;
      }

      let checkInFilter = true;
      if (this.filter.checkfrom || this.filter.checkto) {
        let from = null;
        let to = null;
        if (currency.assignment && currency.assignment.checkIn) {
          if (currency.assignment.checkIn.from) {
            from = dateUtils.parseDate(currency.assignment.checkIn.from).concat(" ").concat('00:00:00');
          }
          if (currency.assignment.checkIn.to) {
            to = dateUtils.parseDate(currency.assignment.checkIn.to).concat(" ").concat('23:59:59');
          }
        }
        checkInFilter = this.filterDate(this.filter.checkfrom, this.filter.checkto, from, to);
      }

      let bookFilter = true;
      if (this.filter.bookfrom || this.filter.bookto) {
        let from = null;
        let to = null;
        if (currency.assignment && currency.assignment.book) {
          if (currency.assignment.book.from) {
            from = dateUtils.parseDate(currency.assignment.book.from).concat(" ").concat('00:00:00');
          }
          if (currency.assignment.book.to) {
            to = dateUtils.parseDate(currency.assignment.book.to).concat(" ").concat('23:59:59');
          }
        }
        bookFilter = this.filterDate(this.filter.bookfrom, this.filter.bookto, from, to);
      }
      return couFilter && curFilter && bookFilter && checkInFilter;
    },
    filterDate(filterFrom, filterTo, dateFrom, dateTo) {
      let from;
      if (!filterFrom) {
        from = Date.parse("2020-01-01 23:59:59")
      } else {
        from = Date.parse(filterFrom + " 00:00:00");
      }
      let to;
      if (!filterTo) {
        to = Date.parse("2050-12-31 23:59:59")
      } else {
        to = Date.parse(filterTo + " 23:59:59");
      }
      return dateUtils.isDateBetween(Date.parse(dateFrom), from, to) || dateUtils.isDateBetween(dateTo ? Date.parse(dateTo) : Date.parse("2050-12-31 23:59:59"), from, to);
    },
    beforeCommit() {
      let found = false;
      for (let param of this.assignment.params) {
        if (param.value) {
          found = true;
          break;
        }
      }
      if (!found) {
        return this.$i18n.t('currency_settings.rules.cur');
      }
      return null;
    },
    handleCurrencySubmit(e) {
      e.preventDefault();

      let errorMsg = this.beforeCommit();
      if (errorMsg !== null) {
        this.error(errorMsg);
      } else {
        const credential = this.credential.id;
        const assignment = this.buildAssignment();
        const masters = this.buildMaster();
        const params = this.assignment.params;
        const id = this.assignment.id;
        if (id) {
          const index = utils.getIndexOf(this.currencies, id);
          gestcom.update("/api/v1/currency", JSON.stringify({id, credential, assignment, masters, params}))
            .then(
              success => {
                if (!success.messages) {
                  Object.assign(this.currencies[index], success);
                }
              },
              error => {
                this.error(error);
              }
            );
        } else {
          gestcom.create("/api/v1/currency", JSON.stringify({credential, assignment, masters, params}))
            .then(
              success => {
                if (!success.messages) {
                  this.currencies.push(success);
                }
              },
              error => {
                this.error(error);
              }
            );
        }
        setTimeout(() => {
          this.updateCredential();
          this.$emit("getCurrencies");
          this.cancelCurrency();
        }, 500);
      }
    },
    buildAssignment() {
      let notes = [];
      if (this.assignment.notes) {
        notes = this.assignment.notes;
      }
      const currentTime = dateUtils.getCurrentTime();
      if (this.assignment.note) {
        const note = {
          user: this.auth.user.name.concat(" ").concat(this.auth.user.sur).concat(" (").concat(this.auth.user.user).concat(")"),
          date: dateUtils.getCurrentDate().concat(" ").concat(currentTime),
          note: this.assignment.note
        };
        notes.push(note);
      }

      return {
        checkIn: {
          from: dateUtils.formatDate(this.assignment.action === 'disable' ? this.assignment.bookto : this.assignment.checkfrom),
          timeFrom: this.assignment.action === 'disable' ? '00:00:00' : null,
          to: dateUtils.formatDate(this.assignment.action === 'disable' ? this.assignment.bookto : this.assignment.checkto),
          timeTo: this.assignment.checkto && this.assignment.action === 'disable' ? '23:59:59' : null
        },
        book: {
          from: dateUtils.formatDate(this.assignment.action !== 'disable' ? this.assignment.bookfrom : this.assignment.bookto),
          timeFrom: currentTime,
          to: dateUtils.formatDate(this.assignment.bookto),
          timeTo: this.assignment.bookto ? currentTime : null,
        },
        note: notes
      };
    },
    buildMaster() {
      const masters = [];
      if (this.assignment.con) {
        masters.push(this.assignment.con);
      }
      if (this.assignment.cou) {
        masters.push(this.assignment.cou);
      }
      return masters;
    },
    updateCredential() {
      if (this.currencies.length > 1 && this.credential.cur.id !== 'MULTI') {
        const credential = this.credential;
        const masters = this.getEntityValues('currency', false);
        for (let master of masters) {
          if (master.id === 'MULTI') {
            credential.cur = master;
            gestcom.update("/api/v1/credential", JSON.stringify(credential))
              .then(
                error => {
                  this.error(error);
                }
              );
            break;
          }
        }
      }
    },
    cancelCurrency() {
      this.assignment = Object.assign({}, this.assignmentDefault);
      this.bookFromFormatted = null;
      this.bookToFormatted = null;
      this.checkFromFormatted = null;
      this.checkToFormatted = null;
      this.dialogCurrency = false;
    },
    formatDate(value) {
      return dateUtils.formatDate(value);
    },
    parseDate(value) {
      return dateUtils.parseDate(value);
    },
    onClearClicked(item) {
      if (item === "checkFromFormatted") {
        this.checkFromFormatted = null;
        this.assignment.checkinfrom = null;
      } else if (item === "checkToFormatted") {
        this.checkToFormatted = null;
        this.assignment.checkinto = null;
      } else if (item === "bookToFormatted") {
        this.bookToFormatted = null;
        this.assignment.bookto = null;
      } else if (item === "bookFromFormatted") {
        this.bookFromFormatted = null;
        this.assignment.bookfrom = null;
      } 
    },
    onBlurField(item) {
      let regex = /^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$/;
      if (item === "checkFromFormatted") {
        if (regex.test(this.checkFromFormatted)) {
          this.assignment.checkinfrom = this.parseDate(this.checkFromFormatted);
        } else {
          this.onClearClicked(item);
        }
      } else if (item === "checkToFormatted") {
        if (regex.test(this.checkToFormatted)) {
          this.assignment.checkinto = this.parseDate(this.checkToFormatted);
        } else {
          this.onClearClicked(item);
        }
      } else if (item === "bookToFormatted") {
        if (regex.test(this.bookToFormatted)) {
          this.assignment.bookto = this.parseDate(this.bookToFormatted);

        } else {
          this.onClearClicked(item);
        }
      }else if (item === "bookFromFormatted") {
        if (regex.test(this.bookFromFormatted)) {
          this.assignment.bookfrom = this.parseDate(this.bookFromFormatted);
        } else {
          this.onClearClicked(item);
        }
      }
    }
  },
};
</script>

<style lang="scss" scoped>
</style>