<template>
  <v-card class="dialog-01">
    <v-card-title>
      {{ $t('client.asg') }}
    </v-card-title>

    <v-form
      id="clientForm"
      ref="clientForm"
      v-model="isValid"
      autocomplete="off"
      @submit.prevent="handleClientSubmit"
    >
      <v-card-text>
        <v-container
          ma-auto
          pa-0
        >
          <v-layout
            class="col-12 layout-02 wrap pa-0 ma-0"
          >
            <v-autocomplete
              v-model="assignment.grp"
              :label="$t('client.grpman')"
              :items="getEntityValues('agency_group', false)"
              item-value="id"
              :item-text="valueLanguage"
              class="col-12 col-sm-12 col-md-12"
              small-chips
              hide-details="auto"
              dense
              return-object
              clearable
              :readonly="groupReadOnly"
              :disabled="groupReadOnly"
              @click:clear="assignment.grp = null;"
            />
          </v-layout>

          <v-layout
            class="col-12 layout-03 wrap pa-0 ml-3"
          >
            <v-icon
              v-if="newAgency"
              color="red"
              class="mr-1 pb-3"
              small
              @click="newAgency = false;"
            >
              close
            </v-icon>
            <TheSelectAjax
              v-if="newAgency"
              :title="$t('client.agency')"
              entity="agency"
              :route="masterRoute"
              :chips="true"
              styles="col-12 col-md-11 pa-0 ma-1"
              @populate="populate"
              @clear="clear"
            />

            <v-icon
              v-if="!newAgency"
              color="primary"
              class="mr-0 pb-3"
              small
              :disabled="agencyReadOnly"
              @click="newAgency = true;"
            >
              add
            </v-icon>
            <v-autocomplete
              v-if="!newAgency"
              v-model="assignment.age"
              :items="agencies"
              :label="$t('client.agency')"
              item-value="id"
              :item-text="valueLanguage"
              class="col-12 col-md-11"
              small-chips
              return-object
              clearable
              readonly
              :disabled="!assignment.age"
              hide-details="auto"
              dense
              @change="clear('agency')"
            />
          </v-layout>

          <v-layout
            class="col-12 layout-04 wrap pa-0 ml-3"
          >
            <v-icon
              v-if="newBranch"
              color="red"
              class="mr-1 pb-3"
              small
              @click="newBranch = false;"
            >
              close
            </v-icon>
            <TheSelectAjax
              v-if="newBranch"
              :title="$t('client.branch')"
              entity="branch_office"
              :route="masterRoute"
              :chips="true"
              :search-length="2"
              :filter="assignment.age.id"
              :numeric-input="true"
              styles="col-12 col-md-11 pa-0 ma-1"
              @populate="populate"
              @clear="clear"
            />

            <v-icon
              v-if="!newBranch"
              color="primary"
              class="mr-0 pb-3"
              small
              :disabled="!groupReadOnly"
              @click="newBranch = true;"
            >
              add
            </v-icon>
            <v-autocomplete
              v-if="!newBranch"
              v-model="assignment.branch"
              :items="branches"
              :label="$t('client.branch')"
              item-value="id"
              :item-text="valueLanguage"
              class="col-12 col-md-11"
              small-chips
              return-object
              clearable
              hide-details="auto"
              :disabled="!assignment.branch"
              dense
              readonly
              @change="clear('branch_office')"
            />
          </v-layout>

          <v-layout
            class="col-12 layout-05 wrap pa-0 ml-3"
          >
            <v-icon
              v-if="newAgent"
              color="red"
              class="mr-1 pb-3"
              small
              @click="newAgent = false;"
            >
              close
            </v-icon>
            <TheSelectAjax
              v-if="newAgent"
              :title="$t('client.agent')"
              entity="agent"
              :route="masterRoute"
              :chips="true"
              :search-length="2"
              :filter="assignment.branch.id"
              styles="col-12 col-md-11 pa-0 ma-1"
              @populate="populate"
              @clear="clear"
            />

            <v-icon
              v-if="!newAgent"
              color="primary"
              class="mr-0 pb-3"
              small
              :disabled="agentReadOnly"
              @click="newAgent = true;"
            >
              add
            </v-icon>
            <v-autocomplete
              v-if="!newAgent"
              v-model="assignment.agent"
              :items="agents"
              :label="$t('client.agent')"
              item-value="id"
              :item-text="valueLanguage"
              class="col-12 col-md-11"
              small-chips
              return-object
              clearable
              hide-details="auto"
              :disabled="!assignment.agent"
              dense
              readonly
              @change="clear('agent')"
            />
          </v-layout>

          <v-layout
            class="col-12 layout-06 wrap pa-0 ma-0"
          >
            <v-menu
              v-model="modalBookFrom"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{on}">
                <v-text-field
                  v-model="bookFromFormatted"
                  :rules="[v => !!v || $t('match.rules.bookfrom')]"
                  hint="DD/MM/YYYY"
                  persistent-hint
                  :disabled="disableBookFromFormatted"
                  prepend-icon="event"
                  clearable
                  class="col-12 col-md-6"
                  hide-details="auto"
                  dense
                  @click:clear="onClearClicked('bookFromFormatted')"
                  @blur="onBlurField('bookFromFormatted');"
                  v-on="on"
                >
                  <template #label>
                    {{ $t('match.bookfrom') }}
                    <span class="red--text">
                      <strong>*</strong>
                    </span>
                  </template>
                </v-text-field>
              </template>
              <v-date-picker
                v-model="assignment.bookfrom"
                :min="computedMinAllowedDate"
                no-title
                @input="modalBookFrom = false; bookFromFormatted = formatDate(assignment.bookfrom);"
              />
            </v-menu>

            <v-text-field
              v-if="hideFields && (assignment.action === 'create' || assignment.action === 'edit')"
              v-model="assignment.timefrom"
              :rules="timeBkFromRules"
              hint="HH:MM:SS"
              persistent-hint
              class="col-12 col-md-2"
              hide-details="auto"
              dense
              clearable
            >
              <template #label>
                {{ $t('match.timeFrom') }}
                <span class="red--text">
                  <strong>*</strong>
                </span>
              </template>
            </v-text-field>

            <v-menu
              v-model="modalBookTo"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{on}">
                <v-text-field
                  v-model="bookToFormatted"
                  hint="DD/MM/YYYY"
                  :rules="dateToRules"
                  :disabled="disableBookToFormatted"
                  persistent-hint
                  prepend-icon="event"
                  clearable
                  class="col-12 col-md-6"
                  hide-details="auto"
                  dense
                  @click:clear="onClearClicked('bookToFormatted')"
                  @blur="onBlurField('bookToFormatted');"
                  v-on="on"
                >
                  <template #label>
                    {{ $t('match.bookto') }}
                    <span
                      v-if="assignment.action === 'disable'"
                      class="red--text"
                    >
                      <strong>*</strong>
                    </span>
                  </template>
                </v-text-field>
              </template>
              <v-date-picker
                v-model="assignment.bookto"
                :min="computedMinAllowedDate"
                no-title
                @input="modalBookTo = false; bookToFormatted = formatDate(assignment.bookto);"
              />
            </v-menu>
          </v-layout>

          <v-layout
            class="col-12 layout-07 wrap pa-0 ma-0"
          >
            <v-switch
              v-model="assignment.prior"
              class="col-12 col-sm-5"
              small
              dense
              inset
              :disabled="assignment.prior && (!assignment.credentialPrior || assignment.credentialPrior === credential.id) && credential.slc.id === 'WEB'"
              @change="preConfirmPrior"
            >
              <template #label>
                {{ $t('client.priority') }}
                <v-tooltip top>
                  <template v-slot:activator="{on, attrs}">
                    <v-icon
                      color="primary"
                      dark
                      small
                      class="ml-1"
                      v-bind="attrs"
                      v-on="on"
                    >
                      info
                    </v-icon>
                  </template>
                  <span>{{ $t('client.infoPrior') }}</span>
                </v-tooltip>
              </template>
            </v-switch>

            <v-autocomplete
              v-if="showCredential"
              v-model="assignment.credentials"
              :items="computedCredential"
              item-value="id"
              item-text="name"
              :loading="loadingCredential"
              :rules="[v => !!v || $t('client.rules.credential')]"
              class="col-12 col-md-12"
              small-chips
              hide-details="auto"
              dense
              return-object
              clearable
              @change="unCheckPrior(false)"
            >
              <template #label>
                {{ $t('client.credentials') }}
                <span class="red--text">
                  <strong>*</strong>
                </span>
              </template>
            </v-autocomplete>
          </v-layout>


          <v-layout class="col-12 layout-09 wrap pa-0 ma-0">
            <v-textarea
              v-model="assignment.note"
              auto-grow
              :label="$t('match.note')"
              rows="3"
              hide-details="auto"
              dense
              class="col-12 col-md-12"
            />
          </v-layout>
        </v-container>
        <small>
          <span class="red--text">
            <strong>*</strong>
          </span>
          {{ $t('required') }}
        </small>
      </v-card-text>

      <v-card-actions>
        <v-spacer />
        <v-btn
          color="primary"
          small
          text
          @click="cancelClient"
        >
          {{ $t('button.cancel') }}
        </v-btn>
        <v-btn
          color="primary"
          small
          text
          type="submit"
          form="clientForm"
          :disabled="!isValid"
        >
          {{ $t('button.save') }}
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<script>
import TheSelectAjax from "@components/TheSelectAjax";
import {utils} from "@helper/utils";
import {masterUtils} from "@helper/masterUtils";
import {dateUtils} from "@helper/dateUtils";
import {mapState} from "vuex";

export default {
  components: {
    TheSelectAjax
  },
  props: {
    credentialType: {type: String, required: true, default: "" },
  },
  data() {
    return {
      masterRoute: "/api/v1/master/credential/",
      loadingCredential: true,
      isValid: false,
      assignment: {
        id: null,
        grp: null,
        age: null,
        branch: null,
        agent: null,
        bookfrom: null,
        timefrom: null,
        bookto: null,
        timeto: null,
        note: null,
        newFrom: null,
        newTo: null,
        credentials: null,
        prior: false,
        credentialPrior: null,
        otherCredentials: null
      },
      assignmentDefault: {
        id: null,
        grp: null,
        age: null,
        branch: null,
        agent: null,
        bookfrom: null,
        timefrom: null,
        bookto: null,
        timeto: null,
        note: null,
        action: null,
        newFrom: null,
        newTo: null,
        credentials: null,
        prior: false,
        credentialPrior: null,
        otherCredentials: null
      },
      bookFromFormatted: null,
      bookToFormatted: null,
      modalBookFrom: false,
      modalBookTo: false,
      newAgency: false,
      agencies: [],
      newBranch: false,
      branches: [],
      newAgent: false,
      agents: [],
      hideFields: false,
      response: null,
      credentialPrior: false,
      priorConfirm: false,
      changePriority: null,
      showCredential: false
    };
  },
  computed: {
    ...mapState({
      master: (state) => state.master,
      auth: (state) => state.auth,
    }),
    dateToRules: function () {
      return [
        () => {
          if (this.assignment.action === 'disable' && !this.bookToFormatted) {
            return this.$i18n.t('client.rules.bookto');
          }
          return true;
        }
      ];
    },
    agentReadOnly() {
      return !this.assignment.branch;
    },
    groupReadOnly() {
      return !!this.assignment.age;
    },
    agencyReadOnly() {
      return !!this.assignment.grp;
    },
    disableBookToFormatted() {
      return (
        this.bookToFormatted &&
        dateUtils.isDateLessThanNow(this.bookToFormatted)
      );
    },
    disableBookFromFormatted() {
      return (
        this.bookFromFormatted &&
        dateUtils.isDateLessThanNow(this.bookFromFormatted)
      );
    },
    computedMinAllowedDate() {
      return dateUtils.getMinAllowedDate();
    },
    computedCredential() {
      const credentials = [];
      credentials.push(this.credential.id);
      if (this.assignment.credentialPrior) {
        credentials.push(this.assignment.credentialPrior);
      }

      const others = this.getOthersCredentials(credentials);
      const rows = [];
      for (let other of others) {
        if (other.clients) {
          rows.push(other);
        }
      }
      return rows;
    }
  },
  methods: {
    handleClientSubmit(e) {
      e.preventDefault();

      let errorMsg = this.beforeCommit();
      if (errorMsg !== null) {
        this.error(errorMsg);
      } else {
        this.$emit("getClients",this.assignment);
        this.clearPopUpData();
      }
    },
    cancelClient(){
      this.clearPopUpData();
      this.$emit("getClients",null);
    },
    clearPopUpData(){
      this.showCredential = false;
      this.itemConfirm = null;
      this.bookFromFormatted = null;
      this.bookToFormatted = null;
      this.newFromFormatted = null;
      this.newToFormatted = null;
      this.newAgency = false;
      this.newAgent = false;
      this.newBranch = false;
      this.agencies = [];
      this.branches = [];
      this.agents = [];
      this.credentialPrior = false;
      this.priorConfirm = false;
      this.changePriority = null;
      this.assignment = Object.assign({}, this.assignmentDefault);
      this.$refs.clientForm.resetValidation();
    },
    beforeCommit() {
      let msg = null;
      if (this.assignment.action !== 'disable') {
        if ((this.assignment.grp && this.assignment.age) || (!this.assignment.grp && !this.assignment.age)) {
          msg = this.$i18n.t('client.rules.master');
        }
        if (this.clients) {
          const comparator = (this.assignment.grp ? this.assignment.grp.id : "¬").concat(this.assignment.age ? this.assignment.age.id : "¬")
            .concat(this.assignment.branch ? this.assignment.branch.id : "¬").concat(this.assignment.agent ? this.assignment.agent.id : "¬");

          for (let client of this.clients) {
            if (!this.assignment.id || this.assignment.id !== client.id) {
              const grp = masterUtils.getMasters(client.masters, 'agency_group', false);
              const age = masterUtils.getMasters(client.masters, 'agency', false);
              const branch = masterUtils.getMasters(client.masters, 'branch_office', false);
              const agent = masterUtils.getMasters(client.masters, 'agent', false);
              const comparatorAssign = (grp ? grp.id : "¬").concat(age ? age.id : "¬").concat(branch ? branch.id : "¬").concat(agent ? agent.id : "¬");
              if (comparator === comparatorAssign) {
                msg = this.$i18n.t('client.rules.client');
                break;
              }
            }
          }
        }
      } else {
        for (let select of this.selected) {
          if (select.prior && (!select.credentialPrior || select.credentialPrior === this.credential.id)) {
            const message = this.$i18n.t('client.rules.removeNonPrior').toString();
            msg = message.replace('%c', this.getClientName(select.grpmanName, select.agencyName, select.branch, select.agent));
          }
        }
      }
      return msg;
    },
    getEntityValues(child, isFilter) {
      const elements = masterUtils.getEntityValues(this.master, child);
      const rows = [];
      for (let i = 0; elements && i < elements.length; i++) {
        let row;
        if (isFilter) {
          row = {
            id: elements[i].id,
            name: utils.valueLanguage(elements[i].name, "ESP"),
            own: elements[i].own
          };
        } else {
          row = elements[i];
        }
        rows.push(row);
      }
      return rows;
    },
    valueLanguage: (item) => utils.valueLanguage(item.name, "ESP"),
    populate(entity, item) {
      if (entity === 'agency') {
        if(item && item !== undefined){
          this.assignment.age = item;
          this.agencies.push(item);
        }else{
          this.assignment.age = null;
        }
        this.newAgency = false;
      } else if (entity === 'branch_office') {
        if(item && item !== undefined){
          this.assignment.branch = item;
          this.branches.push(item);
        }else{
          this.assignment.branch = null;
        }
        this.newBranch = false;
      } else if (entity === 'agent') {
        if(item && item !== undefined){
          this.assignment.agent = item;
          this.agents.push(item);
        }else{
          this.assignment.agent = null;
        }
        this.newAgent = false;
      }
    },
    clear(entity) {
      if (entity === 'agency') {
        this.assignment.age = null;
        this.agencies = [];
        this.assignment.branch = null;
        this.branches = [];
        this.assignment.agent = null;
        this.agents = [];
      } else if (entity === 'branch_office') {
        this.assignment.branch = null;
        this.branches = [];
        this.assignment.agent = null;
        this.agents = [];
      } else if (entity === 'agent') {
        this.assignment.agent = null;
        this.agents = [];
      }
    },
    formatDate(value) {
      return dateUtils.formatDate(value);
    },
    parseDate(value) {
      return dateUtils.parseDate(value);
    },
    onClearClicked(item) {
      if (item === "bookToFormatted") {
        this.bookToFormatted = null;
        this.assignment.bookto = null;
      } else if (item === "bookFromFormatted") {
        this.bookFromFormatted = null;
        this.assignment.bookfrom = null;
      } 
    },
    onBlurField(item) {
      let regex = /^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$/;
      if (item === "bookToFormatted") {
        if (regex.test(this.bookToFormatted)) {
          this.assignment.bookto = this.parseDate(this.bookToFormatted);
        } else {
          this.onClearClicked(item);
        }
      }else if (item === "bookFromFormatted") {
        if (regex.test(this.bookFromFormatted)) {
          this.assignment.bookfrom = this.parseDate(this.bookFromFormatted);
        } else {
          this.onClearClicked(item);
        }
      }
    },
    preConfirmPrior() {
      if (this.credentialType === 'WEB') {
        this.itemConfirm = this.assignment;
        if (this.assignment.prior && this.assignment.credentialPrior) {
          this.checkPrior(false);
        }
        if (!this.assignment.prior && (!this.assignment.credentialPrior || this.assignment.credentialPrior === this.credential.id)) {
          this.showCredential = true;
        }
      }
    },
    checkPrior(move) {
      const oldCredential = this.getCredential(this.itemConfirm.credentialPrior);
      const newCredential = move ? this.assignment.credentials.name : this.credential.alias.concat(' - ').concat(this.credential.desc).concat('-').concat(this.credential.id);
      const grpName = !move ? this.itemConfirm.grp ? utils.valueLanguage(this.itemConfirm.grp.name, "ESP") : null : this.itemConfirm.grpmanName;
      const ageName = !move ? this.itemConfirm.age ? utils.valueLanguage(this.itemConfirm.age.name, "ESP") : null : this.itemConfirm.agencyName;
      const message = this.$i18n.t('client.nonPrior').toString();
      this.confirmMessage = message.replace('%c', this.getClientName(grpName, ageName, this.itemConfirm.branch, this.itemConfirm.agent)).replace('%d', oldCredential.alias.concat(' - ').concat(oldCredential.desc).concat('-').concat(oldCredential.id)).replace('%e', newCredential);
      this.priorConfirm = true;
    },
    unCheckPrior(move) {
      const newCredential = this.getCredential(this.assignment.credentials.id);
      if (masterUtils.getCode(newCredential.codes,'sales_channel') === 'WEB') {
        if (move) {
          this.itemConfirm.newPrior = true;
        } else {
          this.itemConfirm.prior = true;
          this.assignment.credentials = null;
          this.showCredential = false;
        }
        const grpName = !move ? this.itemConfirm.grp ? utils.valueLanguage(this.itemConfirm.grp.name, "ESP") : null : this.itemConfirm.grpmanName;
        const ageName = !move ? this.itemConfirm.age ? utils.valueLanguage(this.itemConfirm.age.name, "ESP") : null : this.itemConfirm.agencyName;
        const message = this.$i18n.t('client.rules.nonPrior').toString();
        this.error(message.replace('%c', this.getClientName(grpName, ageName, this.itemConfirm.branch, this.itemConfirm.agent)).replace('%d', newCredential.alias.concat(' - ').concat(newCredential.desc)));
      } else {
        this.changePriority = this.assignment.credentials.id;
      }
    }
  }
}
</script>

<style>

</style>