<template>
  <v-card class="dialog-01">
    <v-card-title>
      {{ $t('credential.notelist') }}
    </v-card-title>

    <v-layout
      v-if="notes && notes.length !== 0"
      class="col-12 layout-05 wrap pa-2 ma-0"
    >
      <v-simple-table class="col-12 pa-0 ma-0">
        <template v-slot:default>
          <thead>
            <tr>
              <th
                id="2"
                class="text-left pa-0 ma-0"
                colspan="3"
              >
                {{ $t('credential.notelist') }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="item in notes"
              :key="item.date"
            >
              <td>{{ item.user }}</td>
              <td>{{ item.date }}</td>
              <td>{{ item.note }}</td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-layout>

    

    <v-form
      id="noteForm"
      ref="noteForm"
      v-model="isValid"
      autocomplete="off"
      @submit.prevent="handleSubmit"
    >
      <v-card-text>
        <v-container
          ma-auto
          pa-2
        >
          <v-layout class="col-12 layout-06 wrap pa-0 ma-0">
            <v-textarea
              v-model="note"
              auto-grow
              :label="$t('match.note')"
              rows="3"
              hide-details="auto"
              dense
              class="col-12 col-md-12"
            />
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn
          color="primary"
          small
          text
          @click="closeNotePopUp"
        >
          {{ $t('button.cancel') }}
        </v-btn>
        <v-btn
          color="primary"
          small
          text
          type="submit"
          form="noteForm"
          :disabled="!note || note.trim().length === 0"
        >
          {{ $t('button.save') }}
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<script>
import { mapState} from "vuex";
import {dateUtils} from "@helper/dateUtils";
export default {
  components: {
  },
  props: {
    notes: {type: Array, required: true, default: () => [] }
  },
  data() {
    return {
      note: null
    };
  },
  computed: {
    ...mapState({
      auth: (state) => state.auth,
    })
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      if(this.note && this.note.trim().length > 0){
        const newNote = {
          user: this.auth.user.name.concat(" ").concat(this.auth.user.sur).concat(" (").concat(this.auth.user.user).concat(")"),
          date: dateUtils.getCurrentDate().concat(" ").concat(dateUtils.getCurrentTime()),
          note: this.note
        };
        this.notes.push(newNote);

      }
      this.closeNotePopUp();
    },
    closeNotePopUp(){
      this.note = "";
      this.$emit("setNotes",this.notes);
    }
  }
}

</script>

<style>

</style>