<template>
  <div class="post">
    <v-row justify="center">
      <v-dialog
        v-model="dialogRelease"
        persistent
        max-width="850px"
      >
        <v-card class="dialog-01 pa-0 ma-0">
          <v-card-title>
            <span
              v-if="release.action !== 'disable'"
              class="headline"
            >
              {{ $t('release.asg') }}
            </span>
            <span
              v-if="release.action === 'disable'"
              class="headline"
            >
              {{ $t('release.remove') }}
            </span>
          </v-card-title>

          <v-form
            id="releaseForm"
            ref="releaseForm"
            v-model="isValid"
            autocomplete="off"
            @submit.prevent="handleSubmit"
          >
            <v-card-text>
              <v-container
                ma-auto
                pa-0
              >
                <v-layout
                  v-if="release.action !== 'disable' && release.action !== 'notes'"
                  class="col-12 layout-01 wrap pa-0 ma-0"
                >
                  <v-select
                    v-model="release.pay"
                    :items="getEntityValues('payment', false)"
                    item-value="id"
                    :item-text="valueLanguage"
                    :rules="[v => !!v || $t('release.rules.pay')]"
                    class="col-12 col-sm-3 col-md-3"
                    small-chips
                    hide-details="auto"
                    dense
                    return-object
                    clearable
                  >
                    <template #label>
                      {{ $t('release.pay') }}
                      <span class="red--text">
                        <strong>*</strong>
                      </span>
                    </template>
                  </v-select>

                  <v-text-field
                    v-model="release.days"
                    :rules="[v => !!v || $t('release.rules.days')]"
                    class="col-12 col-sm-1 col-md-1 pt-1 pb-0 pa-0 ma-0"
                    type="number"
                    min="1"
                    max="99"
                  >
                    <template #label>
                      {{ $t('release.days') }}
                      <span class="red--text">
                        <strong>*</strong>
                      </span>
                    </template>
                  </v-text-field>
                </v-layout>

                <v-layout class="col-12 layout-02 wrap pa-0 ma-0">
                  <v-menu
                    v-if="release.action === 'create' || release.action === 'edit'"
                    v-model="modalBookFrom"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="bookFromFormatted"
                        :rules="[v => !!v || $t('release.rules.bookfrom')]"
                        hint="DD/MM/YYYY"
                        :disabled="disableBookFromFormatted"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-3"
                        hide-details="auto"
                        dense
                        @click:clear="onClearClicked('bookFromFormatted')"
                        @blur="onBlurField('bookFromFormatted');"
                        v-on="on"
                      >
                        <template #label>
                          {{ $t('release.bookini') }}
                          <span class="red--text">
                            <strong>*</strong>
                          </span>
                        </template>
                      </v-text-field>
                    </template>
                    <v-date-picker
                      v-model="release.bookfrom"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="modalBookFrom = false; bookFromFormatted = formatDate(release.bookfrom);"
                    />
                  </v-menu>

                  <v-menu
                    v-if="release.action !== 'notes'"
                    v-model="modalBookTo"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="bookToFormatted"
                        hint="DD/MM/YYYY"
                        :disabled="disableBookToFormatted"
                        :rules="dateToRules"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-3"
                        hide-details="auto"
                        dense
                        @click:clear="onClearClicked('bookToFormatted')"
                        @blur="onBlurField('bookToFormatted');"
                        v-on="on"
                      >
                        <template #label>
                          {{ $t('release.bookfin') }}
                          <span
                            v-if="release.action === 'disable'"
                            class="red--text"
                          >
                            <strong>*</strong>
                          </span>
                        </template>
                      </v-text-field>
                    </template>
                    <v-date-picker
                      v-model="release.bookto"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="modalBookTo = false; bookToFormatted = formatDate(release.bookto);"
                    />
                  </v-menu>

                  <v-menu
                    v-if="release.action !== 'disable' && release.action !== 'notes'"
                    v-model="modalCheckFrom"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="checkFromFormatted"
                        :rules="[v => !!v || $t('release.rules.checkfrom')]"
                        hint="DD/MM/YYYY"
                        :disabled="disableCheckFromFormatted"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-3"
                        hide-details="auto"
                        dense
                        @click:clear="onClearClicked('checkFromFormatted')"
                        @blur="onBlurField('checkFromFormatted');"
                        v-on="on"
                      >
                        <template #label>
                          {{ $t('release.checkini') }}
                          <span class="red--text">
                            <strong>*</strong>
                          </span>
                        </template>
                      </v-text-field>
                    </template>
                    <v-date-picker
                      v-model="release.checkfrom"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="modalCheckFrom = false; checkFromFormatted = formatDate(release.checkfrom);"
                    />
                  </v-menu>

                  <v-menu
                    v-if="release.action !== 'disable' && release.action !== 'notes'"
                    v-model="modalCheckTo"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="checkToFormatted"
                        :label="$t('release.checkfin')"
                        hint="DD/MM/YYYY"
                        :disabled="disableCheckToFormatted"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-3"
                        hide-details="auto"
                        dense
                        @click:clear="onClearClicked('checkToFormatted')"
                        @blur="onBlurField('checkToFormatted');"
                        v-on="on"
                      />
                    </template>
                    <v-date-picker
                      v-model="release.checkto"
                      :min="computedMinAllowedDate"
                      no-title
                      @input="modalCheckTo = false; checkToFormatted = formatDate(release.checkto);"
                    />
                  </v-menu>
                </v-layout>

                <v-layout
                  v-if="release.action === 'create' || release.action === 'edit'"
                  class="col-12 layout-04 wrap pl-10 ma-0"
                >
                  <span class="col-12 layout-04 wrap pb-2 pa-0 ma-0">
                    {{ $t('release.weekdays') }}
                  </span>
                  <v-card>
                    <v-card-text>
                      <v-layout class="col-8 layout-01 pa-0 ma-0">
                        <v-chip
                          v-model="unCheckAll"
                          class="col-sm-auto"
                          :color="colorDays(release.all)"
                          dense
                          small
                          @click="release.all = !release.all; checkAll(release.all, false);"
                        >
                          <v-avatar>
                            <v-icon> {{ release.all ? 'done' : 'close' }}</v-icon>
                          </v-avatar>
                          {{ $t('release.all') }}
                        </v-chip>
                        <v-chip
                          v-model="release.mon"
                          class="col-sm-auto"
                          :color="colorDays(release.mon)"
                          dense
                          small
                          @click="release.mon = !release.mon; addOperationDays(release.mon, 'L')"
                        >
                          <v-avatar>
                            <v-icon> {{ release.mon ? 'done' : 'close' }}</v-icon>
                          </v-avatar>
                          {{ $t('release.mon') }}
                        </v-chip>
                        <v-chip
                          v-model="release.tue"
                          class="col-sm-auto"
                          :color="colorDays(release.tue)"
                          dense
                          small
                          @click="release.tue = !release.tue; addOperationDays(release.tue, 'M')"
                        >
                          <v-avatar>
                            <v-icon> {{ release.tue ? 'done' : 'close' }}</v-icon>
                          </v-avatar>
                          {{ $t('release.tue') }}
                        </v-chip>
                        <v-chip
                          v-model="release.wed"
                          class="col-sm-auto"
                          :color="colorDays(release.wed)"
                          dense
                          small
                          @click="release.wed = !release.wed; addOperationDays(release.wed, 'X')"
                        >
                          <v-avatar>
                            <v-icon> {{ release.wed ? 'done' : 'close' }}</v-icon>
                          </v-avatar>
                          {{ $t('release.wed') }}
                        </v-chip>
                        <v-chip
                          v-model="release.thu"
                          class="col-sm-auto"
                          :color="colorDays(release.thu)"
                          dense
                          small
                          @click="release.thu = !release.thu; addOperationDays(release.thu, 'J')"
                        >
                          <v-avatar>
                            <v-icon> {{ release.thu ? 'done' : 'close' }}</v-icon>
                          </v-avatar>
                          {{ $t('release.thu') }}
                        </v-chip>
                        <v-chip
                          v-model="release.fri"
                          class="col-sm-auto"
                          :color="colorDays(release.fri)"
                          dense
                          small
                          @click="release.fri = !release.fri; addOperationDays(release.fri, 'V')"
                        >
                          <v-avatar>
                            <v-icon> {{ release.fri ? 'done' : 'close' }}</v-icon>
                          </v-avatar>
                          {{ $t('release.fri') }}
                        </v-chip>
                        <v-chip
                          v-model="release.sat"
                          class="col-sm-auto"
                          :color="colorDays(release.sat)"
                          dense
                          small
                          @click="release.sat = !release.sat; addOperationDays(release.sat, 'S')"
                        >
                          <v-avatar>
                            <v-icon> {{ release.sat ? 'done' : 'close' }}</v-icon>
                          </v-avatar>
                          {{ $t('release.sat') }}
                        </v-chip>
                        <v-chip
                          v-model="release.sun"
                          class="col-sm-auto"
                          :color="colorDays(release.sun)"
                          dense
                          small
                          @click="release.sun = !release.sun; addOperationDays(release.sun, 'D')"
                        >
                          <v-avatar>
                            <v-icon> {{ release.sun ? 'done' : 'close' }}</v-icon>
                          </v-avatar>
                          {{ $t('release.sun') }}
                        </v-chip>
                      </v-layout>
                    </v-card-text>
                  </v-card>
                </v-layout>

                <v-layout
                  v-if="release.action !== 'create' && release.notes && release.notes.length !== 0"
                  class="col-12 layout-05 wrap pa-0 ma-0"
                >
                  <v-simple-table class="col-12 pa-0 ma-0">
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th
                            id="1"
                            class="text-left pa-0 ma-0"
                            colspan="3"
                          >
                            {{ $t('release.notelist') }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="item in release.notes"
                          :key="item.date"
                        >
                          <td>{{ item.user }}</td>
                          <td>{{ item.date }}</td>
                          <td>{{ item.note }}</td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-layout>

                <v-layout class="col-12 layout-06 wrap pa-0 ma-0">
                  <v-textarea
                    v-model="release.note"
                    :label="$t('release.note')"
                    auto-grow
                    rows="3"
                    hide-details="auto"
                    dense
                    class="col-12 col-md-12"
                  />
                </v-layout>
              </v-container>
              <small>
                <span class="red--text">
                  <strong>*</strong>
                </span>
                {{ $t('required') }}
              </small>
            </v-card-text>

            <v-card-actions>
              <v-spacer />
              <v-btn
                color="primary"
                small
                text
                @click="cancelRelease"
              >
                {{ $t('button.cancel') }}
              </v-btn>
              <v-btn
                color="primary"
                small
                text
                type="submit"
                form="releaseForm"
                :disabled="!isValid"
              >
                {{ $t('button.save') }}
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-dialog>
    </v-row>

    <v-card class="card-01 pa-0 ma-0">
      <v-expansion-panels
        v-model="filterPanel"
        multiple
      >
        <v-expansion-panel>
          <v-expansion-panel-header
            class="wrapper-header py-2"
            header
          >
            <small class="col-12"> {{ $t('credential.filterRelease') }} </small>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-card class="card-01 pa-0 ma-0">
              <v-card-text class="card-text-0">
                <v-layout class="col-12 layout-01 pa-0 ma-0">
                  <v-select
                    v-model="filter.pay"
                    :label="$t('release.pay')"
                    :items="getEntityValues('payment', true)"
                    item-value="id"
                    item-text="name"
                    class="col-12 col-md-2 pa-0 ma-0"
                    clearable
                  />

                  <v-text-field
                    v-model="filter.days"
                    :label="$t('release.days')"
                    class="col-12 col-md-1 pl-1 pr-0 pb-0 pt-0 ma-0"
                    type="number"
                    min="1"
                    max="99"
                  />

                  <span class="col-sm-auto"> {{ $t('release.weekdays') }} </span>
                  <v-chip
                    v-model="unCheckAllFilter"
                    class="col-sm-auto"
                    :color="colorDays(filter.all)"
                    dense
                    small
                    @click="filter.all = !filter.all; checkAll(filter.all, true);"
                  >
                    <v-avatar>
                      <v-icon> {{ filter.all ? 'done' : 'close' }}</v-icon>
                    </v-avatar>
                    {{ $t('release.all') }}
                  </v-chip>
                  <v-chip
                    v-model="filter.mon"
                    class="col-sm-auto"
                    :color="colorDays(filter.mon)"
                    dense
                    small
                    @click="filter.mon = !filter.mon; addOperationDaysFilter(filter.mon, 'L')"
                  >
                    <v-avatar>
                      <v-icon> {{ filter.mon ? 'done' : 'close' }}</v-icon>
                    </v-avatar>
                    {{ $t('release.mon') }}
                  </v-chip>
                  <v-chip
                    v-model="filter.tue"
                    class="col-sm-auto"
                    :color="colorDays(filter.tue)"
                    dense
                    small
                    @click="filter.tue = !filter.tue; addOperationDaysFilter(filter.tue, 'M')"
                  >
                    <v-avatar>
                      <v-icon> {{ filter.tue ? 'done' : 'close' }}</v-icon>
                    </v-avatar>
                    {{ $t('release.tue') }}
                  </v-chip>
                  <v-chip
                    v-model="filter.wed"
                    class="col-sm-auto"
                    :color="colorDays(filter.wed)"
                    dense
                    small
                    @click="filter.wed = !filter.wed; addOperationDaysFilter(filter.wed, 'X')"
                  >
                    <v-avatar>
                      <v-icon> {{ filter.wed ? 'done' : 'close' }}</v-icon>
                    </v-avatar>
                    {{ $t('release.wed') }}
                  </v-chip>
                  <v-chip
                    v-model="filter.thu"
                    class="col-sm-auto"
                    :color="colorDays(filter.thu)"
                    dense
                    small
                    @click="filter.thu = !filter.thu; addOperationDaysFilter(filter.thu, 'J')"
                  >
                    <v-avatar>
                      <v-icon> {{ filter.thu ? 'done' : 'close' }}</v-icon>
                    </v-avatar>
                    {{ $t('release.thu') }}
                  </v-chip>
                  <v-chip
                    v-model="filter.fri"
                    class="col-sm-auto"
                    :color="colorDays(filter.fri)"
                    dense
                    small
                    @click="filter.fri = !filter.fri; addOperationDaysFilter(filter.fri, 'V')"
                  >
                    <v-avatar>
                      <v-icon> {{ filter.fri ? 'done' : 'close' }}</v-icon>
                    </v-avatar>
                    {{ $t('release.fri') }}
                  </v-chip>
                  <v-chip
                    v-model="filter.sat"
                    class="col-sm-auto"
                    :color="colorDays(filter.sat)"
                    dense
                    small
                    @click="filter.sat = !filter.sat; addOperationDaysFilter(filter.sat, 'S')"
                  >
                    <v-avatar>
                      <v-icon> {{ filter.sat ? 'done' : 'close' }}</v-icon>
                    </v-avatar>
                    {{ $t('release.sat') }}
                  </v-chip>
                  <v-chip
                    v-model="filter.sun"
                    class="col-sm-auto"
                    :color="colorDays(filter.sun)"
                    dense
                    small
                    @click="filter.sun = !filter.sun; addOperationDaysFilter(filter.sun, 'D')"
                  >
                    <v-avatar>
                      <v-icon> {{ filter.sun ? 'done' : 'close' }}</v-icon>
                    </v-avatar>
                    {{ $t('release.sun') }}
                  </v-chip>
                </v-layout>

                <v-layout class="col-12 layout-02 pa-0 ma-0">
                  <v-menu
                    v-model="filterModalBookFrom"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="filterBookFromFormatted"
                        :label="$t('release.bookini')"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-2"
                        hide-details="auto"
                        dense
                        @blur="filter.bookfrom = parseDate(filterBookFromFormatted);"
                        v-on="on"
                      />
                    </template>
                    <v-date-picker
                      v-model="filter.bookfrom"
                      no-title
                      @input="filterModalBookFrom = false; filterBookFromFormatted = formatDate(filter.bookfrom);"
                    />
                  </v-menu>

                  <v-menu
                    v-model="filterModalBookTo"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="filterBookToFormatted"
                        :label="$t('release.bookfin')"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-2"
                        hide-details="auto"
                        dense
                        @blur="filter.bookto = parseDate(filterBookToFormatted);"
                        v-on="on"
                      />
                    </template>
                    <v-date-picker
                      v-model="filter.bookto"
                      no-title
                      @input="filterModalBookTo = false; filterBookToFormatted = formatDate(filter.bookto);"
                    />
                  </v-menu>

                  <v-menu
                    v-model="filterModalCheckFrom"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="filterCheckFromFormatted"
                        :label="$t('release.checkini')"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-2"
                        hide-details="auto"
                        dense
                        @blur="filter.checkfrom = parseDate(filterCheckFromFormatted);"
                        v-on="on"
                      />
                    </template>
                    <v-date-picker
                      v-model="filter.checkfrom"
                      no-title
                      @input="filterCheckFromFormatted = formatDate(filter.checkfrom); filterModalCheckFrom = false;"
                    />
                  </v-menu>

                  <v-menu
                    v-model="filterModalCheckTo"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on}">
                      <v-text-field
                        v-model="filterCheckToFormatted"
                        :label="$t('release.checkfin')"
                        hint="DD/MM/YYYY"
                        persistent-hint
                        prepend-icon="event"
                        clearable
                        class="col-12 col-md-2"
                        hide-details="auto"
                        dense
                        @blur="filter.checkto = parseDate(filterCheckToFormatted);"
                        v-on="on"
                      />
                    </template>
                    <v-date-picker
                      v-model="filter.checkto"
                      no-title
                      @input="filterModalCheckTo = false; filterCheckToFormatted = formatDate(filter.checkto);"
                    />
                  </v-menu>
                </v-layout>
              </v-card-text>

              <v-card-actions class=" col-12 pa-0 ma-0">
                <v-spacer />
                <v-btn
                  color="primary"
                  small
                  text
                  @click="cleanFilter"
                >
                  {{ $t('button.cleanfilter') }}
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>

      <v-card>
        <v-card-text>
          <v-layout class="col-12 layout-01 pa-0 ma-0">
            <v-checkbox
              v-model="validRelease"
              :label="$t('credential.validCredential')"
              class="col-2 pa-0 ma-0"
              dense
            />
            <v-spacer />
            <v-btn
              color="primary"
              small
              text
              @click="openRelease('create')"
            >
              {{ $t('button.new') }}
            </v-btn>
          </v-layout>

          <v-data-table
            :headers="computedHeaders"
            :items="datatable"
            :page.sync="page"
            :items-per-page="rowsPerPage"
            dense
            hide-default-footer
            class="elevation-1 no-gutters"
            @page-count="pageCount = $event"
          >
            <template v-slot:item.pay="{item}">
              <span>{{ item.pay.id }}</span>
            </template>
            <template v-slot:item.status="{item}">
              <v-icon
                small
                :color="getColorIcon(item.status)"
                class="mr-2"
              >
                {{ getIcon(item.status) }}
              </v-icon>
            </template>
            <template v-slot:item.ope="{item}">
              <v-chip
                v-if="item.ope.indexOf('L') !== -1"
                class="col-sm-auto"
                dense
                small
              >
                {{ $t('release.monabr') }}
              </v-chip>
              <v-chip
                v-if="item.ope.indexOf('M') !== -1"
                class="col-sm-auto"
                dense
                small
              >
                {{ $t('release.tueabr') }}
              </v-chip>
              <v-chip
                v-if="item.ope.indexOf('X') !== -1"
                class="col-sm-auto"
                dense
                small
              >
                {{ $t('release.wedabr') }}
              </v-chip>
              <v-chip
                v-if="item.ope.indexOf('J') !== -1"
                class="col-sm-auto"
                dense
                small
              >
                {{ $t('release.thuabr') }}
              </v-chip>
              <v-chip
                v-if="item.ope.indexOf('V') !== -1"
                class="col-sm-auto"
                dense
                small
              >
                {{ $t('release.friabr') }}
              </v-chip>
              <v-chip
                v-if="item.ope.indexOf('S') !== -1"
                class="col-sm-auto"
                dense
                small
              >
                {{ $t('release.satabr') }}
              </v-chip>
              <v-chip
                v-if="item.ope.indexOf('D') !== -1"
                class="col-sm-auto"
                dense
                small
              >
                {{ $t('release.sunabr') }}
              </v-chip>
            </template>
            <template v-slot:item.action="{item}">
              <v-icon
                class="mx-1"
                color="var(--v-icon-color)"
                small
                @click="openRelease('notes', item)"
              >
                note_add
              </v-icon>
              <v-icon
                v-if="isAfterToToday(item.bookto)"
                class="mx-1"
                color="var(--v-icon-color)"
                small
                @click="openRelease('edit', item)"
              >
                edit
              </v-icon>
              <v-icon
                v-if="isAfterToToday(item.bookto)"
                class="mx-1"
                color="var(--v-icon-color)"
                small
                @click="openRelease('disable', item)"
              >
                delete
              </v-icon>
            </template>
            <template v-slot:no-results>
              <v-alert
                :value="true"
                color="error"
                icon="warning"
              >
                {{ $t('noresults') }}
              </v-alert>
            </template>
          </v-data-table>
          <div class="pt-2">
            <v-layout class="col-12 layout-01 pa-0 ma-0">
              <small class="col-3 pt-1"> {{ countRow }} </small>
              <v-pagination
                v-model="page"
                :length="pageCount"
                total-visible="7"
                class="col-9 justify-end pt-1 mb-2"
              />
            </v-layout>
          </div>
        </v-card-text>
      </v-card>
    </v-card>
  </div>
</template>
<script>
import {mapActions, mapState} from "vuex";
import {gestcom} from "@services/gestcom";
import {dateUtils} from "@helper/dateUtils";
import {utils} from "@helper/utils";
import {masterUtils} from "@helper/masterUtils";

export default {
  props: {
    credential: {type: Object, required: true},
    releaseIncoming: {type: Array, required: true},
  },
  data() {
    return {
      isValid: false,
      validRelease: true,
      dialogRelease: false,
      page: 1,
      pageCount: 0,
      rowsPerPage: 15,
      countTotal: 0,
      countShow: 0,
      releases: this.releaseIncoming,
      filterPanel: [],
      filter: {
        pay: null,
        days: null,
        mon: false,
        tue: false,
        wed: false,
        thu: false,
        fri: false,
        sat: false,
        sun: false,
        all: false,
        bookfrom: null,
        bookto: null,
        checkfrom: null,
        checkto: null,
        operationDays: ""
      },
      filterDefault: {
        pay: null,
        days: null,
        mon: false,
        tue: false,
        wed: false,
        thu: false,
        fri: false,
        sat: false,
        sun: false,
        all: false,
        bookfrom: null,
        bookto: null,
        checkfrom: null,
        checkto: null,
        operationDays: ""
      },
      filterModalCheckFrom: false,
      filterModalCheckTo: false,
      filterModalBookFrom: false,
      filterModalBookTo: false,
      filterCheckFromFormatted: null,
      filterCheckToFormatted: null,
      filterBookFromFormatted: null,
      filterBookToFormatted: null,
      release: {
        id: null,
        pay: null,
        days: null,
        ope: null,
        bookfrom: null,
        bookto: null,
        checkfrom: null,
        checkto: null,
        note: null,
        notes: null,
        mon: false,
        tue: false,
        wed: false,
        thu: false,
        fri: false,
        sat: false,
        sun: false,
        all: false,
        operationDays: "",
        action: null
      },
      releaseDefault: {
        id: null,
        pay: null,
        days: null,
        ope: null,
        bookfrom: null,
        bookto: null,
        checkfrom: null,
        checkto: null,
        note: null,
        notes: null,
        mon: false,
        tue: false,
        wed: false,
        thu: false,
        fri: false,
        sat: false,
        sun: false,
        all: false,
        operationDays: "",
        action: null
      },
      modalCheckFrom: false,
      modalCheckTo: false,
      modalBookFrom: false,
      modalBookTo: false,
      checkFromFormatted: null,
      checkToFormatted: null,
      bookFromFormatted: null,
      bookToFormatted: null,
    };
  },
  computed: {
    ...mapState({
      master: (state) => state.master,
      auth: (state) => state.auth,
    }),
    dateToRules: function () {
      return [
        () => {
          if (this.release.action === 'disable' && !this.bookToFormatted) {
            return this.$i18n.t('release.rules.bookto');
          }
          return true;
        }
      ];
    },
    countRow() {
      let text = this.$i18n.t('credential.releaserows');
      text = text.concat(this.countShow).concat(" / ").concat(this.countTotal);
      return text;
    },
    computedHeaders() {
      return this.headersTable.filter((header) => !header.hide);
    },
    computedMinAllowedDate() {
      return dateUtils.getMinAllowedDate();
    },
    disableBookToFormatted() {
      return (
        this.bookToFormatted &&
        dateUtils.isDateLessThanNow(this.bookToFormatted)
      );
    },
    disableBookFromFormatted() {
      return (
        this.bookFromFormatted &&
        dateUtils.isDateLessThanNow(this.bookFromFormatted)
      );
    },
    disableCheckToFormatted() {
      return (
        this.checkToFormatted &&
        dateUtils.isDateLessThanNow(this.checkToFormatted)
      );
    },
    disableCheckFromFormatted() {
      return (
        this.checkFromFormatted &&
        dateUtils.isDateLessThanNow(this.checkFromFormatted)
      );
    }
    ,
    headersTable() {
      return [
        {
          align: "left",
          value: "id",
          hide: true,
        },
        {
          text: this.$i18n.t('release.pay'),
          align: "center",
          value: "pay",
          width: '6%',
          hide: false,
        },
        {
          text: this.$i18n.t('release.day'),
          align: "center",
          value: "day",
          width: '9%',
          hide: false,
        },
        {
          align: "center",
          value: "status",
          width: '6%',
          hide: false,
          sortable: false,
        },
        {
          text: this.$i18n.t('release.bookini'),
          align: "center",
          value: "bookfrom",
          width: '8%',
          hide: false,
        },
        {
          text: this.$i18n.t('release.bookfin'),
          align: "center",
          value: "bookto",
          width: '7%',
          hide: false,
        },
        {
          text: this.$i18n.t('release.checkini'),
          align: "center",
          value: "checkfrom",
          width: '9%',
          hide: false,
        },
        {
          text: this.$i18n.t('release.checkfin'),
          align: "center",
          value: "checkto",
          width: '9%',
          hide: false,
        },
        {
          text: this.$i18n.t('release.weekdays'),
          align: "center",
          value: "ope",
          width: '39%',
          hide: false,
        },
        {
          value: "action",
          hide: false,
          sortable: false
        }
      ];
    },
    datatable() {
      return this.getRows(this.releases);
    },
    unCheckAllFilter() {
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      this.filter.all = this.filter.mon && this.filter.tue && this.filter.wed && this.filter.thu && this.filter.fri && this.filter.sat && this.filter.sun;
      return this.filter.all;
    },
    unCheckAll() {
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      this.release.all = this.release.mon && this.release.tue && this.release.wed && this.release.thu && this.release.fri && this.release.sat && this.release.sun;
      return this.release.all;
    },
  },
  created() {
    this.loadStore();
  },
  methods: {
    ...mapActions("master", ["getPayments"]),
    ...mapActions("alert", ["error"]),
    getIcon(color) {
      return gestcom.getIcon(color);
    },
    getColorIcon(color) {
      return gestcom.getIconColor(color);
    },
    colorDays(value) {
      if (value) {
        return 'primary';
      }
      return '';
    },
    addOperationDaysFilter(day, value) {
      if (day) {
        if (this.filter.operationDays.indexOf(value) === -1) {
          this.filter.operationDays = this.filter.operationDays.concat(value);
        }
      } else {
        this.filter.operationDays = this.filter.operationDays.replace(value, '');
      }
    },
    addOperationDays(day, value) {
      if (day) {
        if (this.release.operationDays.indexOf(value) === -1) {
          this.release.operationDays = this.release.operationDays.concat(value);
        }
      } else {
        this.release.operationDays = this.release.operationDays.replace(value, '');
      }
    },
    getEntityValues(child, isFilter) {
      const elements = masterUtils.getEntityValues(this.master, child);
      const rows = [];
      for (let i = 0; elements && i < elements.length; i++) {
        let row;
        if (isFilter) {
          row = {
            id: elements[i].id,
            name: utils.valueLanguage(elements[i].name, "ESP"),
          };
        } else {
          row = elements[i];
        }
        rows.push(row);
      }
      return rows;
    },
    loadStore() {
      if (this.master.payments === null) {
        this.getPayments();
      }
    },
    cleanFilter() {
      this.filterModalCheckFrom = false;
      this.filterModalCheckTo = false;
      this.filterModalBookFrom = false;
      this.filterModalBookTo = false;
      this.filterCheckFromFormatted = null;
      this.filterCheckToFormatted = null;
      this.filterBookFromFormatted = null;
      this.filterBookToFormatted = null;
      this.filter = Object.assign({}, this.filterDefault);
    },
    checkAll(value, isFilter) {
      if (isFilter) {
        this.filter.mon = value;
        this.addOperationDaysFilter(this.filter.mon, 'L');
        this.filter.tue = value;
        this.addOperationDaysFilter(this.filter.tue, 'M');
        this.filter.wed = value;
        this.addOperationDaysFilter(this.filter.wed, 'X');
        this.filter.thu = value;
        this.addOperationDaysFilter(this.filter.thu, 'J');
        this.filter.fri = value;
        this.addOperationDaysFilter(this.filter.fri, 'V');
        this.filter.sat = value;
        this.addOperationDaysFilter(this.filter.sat, 'S');
        this.filter.sun = value;
        this.addOperationDaysFilter(this.filter.sun, 'D');
      } else {
        this.release.mon = value;
        this.addOperationDays(this.release.mon, 'L');
        this.release.tue = value;
        this.addOperationDays(this.release.tue, 'M');
        this.release.wed = value;
        this.addOperationDays(this.release.wed, 'X');
        this.release.thu = value;
        this.addOperationDays(this.release.thu, 'J');
        this.release.fri = value;
        this.addOperationDays(this.release.fri, 'V');
        this.release.sat = value;
        this.addOperationDays(this.release.sat, 'S');
        this.release.sun = value;
        this.addOperationDays(this.release.sun, 'D');
      }
    },
    getRows(source) {
      const rows = [];
      let countTotal = 0;
      let countShow = 0;
      if (source) {
        for (let select of source) {
          countTotal++;
          if (this.validRelease && select.status.toLowerCase() !== 'green') {
            continue;
          }

          if (!this.filterRow(select)) {
            continue;
          }
          countShow++;

          let bookFrom = "";
          let bookTo = "";
          let checkfrom = "";
          let checkto = "";
          let notes = null;
          const dates = select.assignment;
          if (dates.book) {
            if (dates.book.from) {
              bookFrom = dates.book.from;
              //bookFrom = dates.book.from.concat(" ").concat(dates.book.timeFrom ? dates.book.timeFrom : '23:59:59');
            }
            if (dates.book.to) {
              //bookTo = dates.book.to.concat(" ").concat(dates.book.timeTo ? dates.book.timeTo : '23:59:59');
              bookTo = dates.book.to;
            }
          }
          if (dates.checkIn) {
            if (dates.checkIn.from) {
              checkfrom = dates.checkIn.from;
              //checkfrom = dates.checkIn.from.concat(" ").concat(dates.checkIn.timeFrom ? dates.checkIn.timeFrom : '23:59:59');
            }
            if (dates.checkIn.to) {
              //checkto = dates.checkIn.to.concat(" ").concat(dates.checkIn.timeTo ? dates.checkIn.timeTo : '23:59:59');
              checkto = dates.checkIn.to;
            }
          }
          notes = dates.note;

          rows.push({
            id: select.id,
            pay: masterUtils.getMasters(select.masters, 'payment', false),
            day: select.days,
            status: select.status.toLowerCase(),
            bookfrom: bookFrom,
            bookto: bookTo,
            checkfrom: checkfrom,
            checkto: checkto,
            ope: select.ope,
            notes: notes,
          });
        }

        this.countTotal = countTotal;
        this.countShow = countShow;
      }
      return rows;
    },
    filterRow(release) {
      let payFilter = true;
      if (this.filter.pay) {
        payFilter = this.filter.pay === masterUtils.getCode(release.codes, 'payment');
      }
      let opeFilter = true;
      if (this.filter.operationDays) {
        return this.filter.operationDays === release.operationDays;
      }
      const daysFilter = !this.filter.days || this.filter.days === release.days;

      let checkInFilter = true;
      if (this.filter.checkfrom || this.filter.checkto) {
        let from = null;
        let to = null;
        if (release.assignment && release.assignment.checkIn) {
          if (release.assignment.checkIn.from) {
            from = dateUtils.parseDate(release.assignment.checkIn.from).concat(" ").concat('00:00:00');
          }
          if (release.assignment.checkIn.to) {
            to = dateUtils.parseDate(release.assignment.checkIn.to).concat(" ").concat('23:59:59');
          }
        }
        checkInFilter = this.filterDate(this.filter.checkfrom, this.filter.checkto, from, to);
      }

      let bookFilter = true;
      if (this.filter.bookfrom || this.filter.bookto) {
        let from = null;
        let to = null;
        if (release.assignment && release.assignment.book) {
          if (release.assignment.book.from) {
            from = dateUtils.parseDate(release.assignment.book.from).concat(" ").concat('00:00:00');
          }
          if (release.assignment.book.to) {
            to = dateUtils.parseDate(release.assignment.book.to).concat(" ").concat('23:59:59');
          }
        }
        bookFilter = this.filterDate(this.filter.bookfrom, this.filter.bookto, from, to);
      }
      return payFilter && daysFilter && opeFilter && bookFilter && checkInFilter;
    },
    filterDate(filterFrom, filterTo, dateFrom, dateTo) {
      let from;
      if (!filterFrom) {
        from = Date.parse("2020-01-01 23:59:59")
      } else {
        from = Date.parse(filterFrom + " 00:00:00");
      }
      let to;
      if (!filterTo) {
        to = Date.parse("2050-12-31 23:59:59")
      } else {
        to = Date.parse(filterTo + " 23:59:59");
      }
      return dateUtils.isDateBetween(Date.parse(dateFrom), from, to) || dateUtils.isDateBetween(dateTo ? Date.parse(dateTo) : Date.parse("2050-12-31 23:59:59"), from, to);
    },
    cancelRelease() {
      this.bookFromFormatted = null;
      this.bookToFormatted = null;
      this.checkFromFormatted = null;
      this.checkToFormatted = null;
      this.release = Object.assign({}, this.releaseDefault);
      this.dialogRelease = false;
    },
    isAfterToToday(date) {
      let day=new Date().getDate();
      let month=new Date().getMonth()+1;
      let year=new Date().getFullYear();
      if(date=== '' || date===undefined || date === null || new Date(date)>new Date(day+'/'+month+'/'+year)){
        return true;
      }
      return false;
    },
    openRelease(action, item) {
      this.release.action = action;
      if (item) {
        this.release.id = item.id;
        this.release.pay = item.pay;
        this.release.days = item.day;
        this.release.checkfrom = this.parseDate(item.checkfrom);
        this.checkFromFormatted = item.checkfrom;
        if (item.checkto) {
          this.release.checkto = this.parseDate(item.checkto);
          this.checkToFormatted = item.checkto;
        }
        this.release.bookfrom = this.parseDate(item.bookfrom);
        this.bookFromFormatted = item.bookfrom;
        if (this.release.action === 'disable') {
          this.bookToFormatted = dateUtils.getCurrentDate();
          this.release.bookto = this.parseDate(this.bookToFormatted);
        } else {
          if (item.bookto) {
            this.release.bookto = this.parseDate(item.bookto);
            this.bookToFormatted = item.bookto;
          }
        }
        this.release.notes = item.notes;
        this.release.operationDays = item.ope;
        this.release.mon = item.ope.indexOf('L') !== -1;
        this.release.tue = item.ope.indexOf('M') !== -1;
        this.release.wed = item.ope.indexOf('X') !== -1;
        this.release.thu = item.ope.indexOf('J') !== -1;
        this.release.fri = item.ope.indexOf('V') !== -1;
        this.release.sat = item.ope.indexOf('S') !== -1;
        this.release.sun = item.ope.indexOf('D') !== -1;
        this.release.all = item.ope.length === 7;
      }
      this.dialogRelease = true;
      this.$refs.releaseForm.resetValidation();
    },
    beforeCommit() {
      if (this.release.action === 'create' || this.release.action === 'edit') {
        if (this.release.operationDays.length === 0) {
          return this.$i18n.t('release.rules.operationsDays');
        }

        if (!dateUtils.validRangeDate(dateUtils.parseDate(this.release.checkfrom), dateUtils.parseDate(this.release.checkto), '00:00:00', '23:59:59', false)) {
          return this.$i18n.t('release.rules.rangeDate');
        }

        // Validar las fechas de booking.
        if (!dateUtils.validRangeDate(dateUtils.parseDate(this.release.bookfrom), dateUtils.parseDate(this.release.bookto), '00:00:00', '23:59:59', false)) {
          return this.$i18n.t('release.rules.rangeDate');
        }

        // Validar check-in from no puede ser anterior al booking from.
        if (!dateUtils.validRangeDate(dateUtils.parseDate(this.release.bookfrom), dateUtils.parseDate(this.release.checkfrom), '00:00:00', '00:00:00', true)) {
          return this.$i18n.t('release.rules.bookCheckInfromDate');
        }

        // Validar los solapamientos por empresa.
        if (this.releases) {
          for (let rel of this.releases) {
            if (rel.id !== this.release.id) {
              const pay = masterUtils.getMasters(rel.masters, 'payment', false)
              if (rel.days === this.release.days && rel.ope === this.release.ope && pay.id === this.release.pay.id) {
                let dates = {
                  date1 : {
                    from: rel.bookfrom,
                    to: this.release.bookto,
                    timefrom: '00:00:00',
                    timeto: '29:59:59'
                  },
                  date2 : {
                    from: this.release.bookfrom,
                    to: rel.bookto,
                    timefrom: '00:00:00',
                    timeto: '29:59:59'
                  }
                }
                const bookOverlap = dateUtils.overlap(dates, true);
                if (bookOverlap) {
                  // Si existe solapamiento en las fechas de booking, debemos validar el solapamiento en las fechas de check-in
                  dates = {
                    date1 : {
                      from: rel.checkfrom,
                      to: this.release.checkto,
                      timefrom: '00:00:00',
                      timeto: '29:59:59'
                    },
                    date2 : {
                      from: this.release.checkfrom,
                      to: rel.checkto,
                      timefrom: '00:00:00',
                      timeto: '29:59:59'
                    }
                  }
                  const checkOverlap = dateUtils.overlap(dates, true);
                  if (checkOverlap) {
                    const message = this.$i18n.t('relese.rules.overlapDate').toString();
                    return message.replace('%c', this.credential.alias.concat(' - ').concat(this.credential.desc()));
                  }
                }
              }
            }
          }
        }
      }
      return null;
    },
    handleSubmit(e) {
      e.preventDefault();

      let errorMsg = this.beforeCommit();
      if (errorMsg !== null) {
        this.error(errorMsg);
      } else {
        const release = this.getRelease();
        if (this.release.id) {
          const index = utils.getIndexOf(this.releases, release.id);
          gestcom.update("/api/v1/release", JSON.stringify(release))
            .then(
              success => {
                if (!success.messages) {
                  Object.assign(this.releases[index], success);
                }
              },
              error => {
                this.error(error);
              }
            );
        } else {
          gestcom.create("/api/v1/release", JSON.stringify(release))
            .then(
              success => {
                if (!success.messages) {
                  this.releases.push(success);
                }
              },
              error => {
                this.error(error);
              }
            );
        }

        setTimeout(() => {
          this.$emit("getRelease");
          this.cancelRelease();
        }, 500);
      }
    },
    getRelease() {
      const masters = [];
      masters.push(this.credential.brand);
      masters.push(this.credential.srvtype);
      masters.push(this.release.pay);

      return {
        id: this.release.id,
        credential: this.credential.id,
        assignment: this.buildAssignment(),
        days: this.release.days,
        ope: this.release.operationDays,
        masters: masters
      }
    },
    buildAssignment() {
      let notes = [];
      if (this.release.notes) {
        notes = this.release.notes;
      }

      const currentTime = dateUtils.getCurrentTime();
      if (this.release.note) {
        const note = {
          user: this.auth.user.name.concat(" ").concat(this.auth.user.sur).concat(" (").concat(this.auth.user.user).concat(")"),
          date: dateUtils.getCurrentDate().concat(" ").concat(currentTime),
          note: this.release.note
        };
        notes.push(note);
      }

      return {
        checkIn: {
          from: dateUtils.formatDate(this.release.checkfrom),
          timeFrom: '00:00:00',
          to: dateUtils.formatDate(this.release.checkto),
          timeTo: this.release.checkto ? '23:59:59' : null
        },
        book: {
          from: dateUtils.formatDate(this.release.action !== 'disable' ? this.release.bookfrom : this.release.bookto),
          timeFrom: this.release.action !== 'disable' ? '00:00:00' : currentTime,
          to: dateUtils.formatDate(this.release.bookto),
          timeTo: this.release.action !== 'disable' ? this.release.bookto ? '23:59:59' : null : currentTime,
        },
        note: notes
      };
    },
    formatDate(value) {
      return dateUtils.formatDate(value);
    },
    parseDate(value) {
      return dateUtils.parseDate(value);
    },
    valueLanguage: (item) => utils.valueLanguage(item.name, "ESP"),
    onClearClicked(item) {
      if (item === "checkFromFormatted") {
        this.checkFromFormatted = null;
        this.release.checkfrom = null;
      } else if (item === "checkToFormatted") {
        this.checkToFormatted = null;
        this.release.checkto = null;
      } else if (item === "bookToFormatted") {
        this.bookToFormatted = null;
        this.release.bookto = null;
      } else if (item === "bookFromFormatted") {
        this.bookFromFormatted = null;
        this.release.bookfrom = null;
      } 
    },
    onBlurField(item) {
      let regex = /^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$/;
      if (item === "checkFromFormatted") {
        if (regex.test(this.checkFromFormatted)) {
          this.release.checkfrom = this.parseDate(this.checkFromFormatted);
        } else {
          this.onClearClicked(item);
        }
      } else if (item === "checkToFormatted") {
        if (regex.test(this.checkToFormatted)) {
          this.release.checkto = this.parseDate(this.checkToFormatted);
        } else {
          this.onClearClicked(item);
        }
      } else if (item === "bookToFormatted") {
        if (regex.test(this.bookToFormatted)) {
          this.release.bookto = this.parseDate(this.bookToFormatted);
        } else {
          this.onClearClicked(item);
        }
      }else if (item === "bookFromFormatted") {
        if (regex.test(this.bookFromFormatted)) {
          this.release.bookfrom = this.parseDate(this.bookFromFormatted);
          
        } else {
          this.onClearClicked(item);
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
</style>