<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      max-width="500px"
    >
      <v-card
        color="error"
        dark
      >
        <v-card-title class="headline">
          ALERT
        </v-card-title>
        <v-card-text> {{ alert.message }}</v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            dark
            text
            @click="clearAlert"
          >
            Agree
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { mapState, mapActions } from "vuex";
export default {
  computed: {
    ...mapState({
      alert: state => state.alert
    }),
    dialog: function() {
      return this.alert.dialog;
    }
  },
  methods: {
    ...mapActions({
      clearAlert: "alert/clear"
    })
  }
};
</script>

<style lang="scss" scoped>
</style>