<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      max-width="500px"
    >
      <v-card
        color="error"
        dark
      >
        <v-card-title class="headline">
          {{ title }}
        </v-card-title>
        <v-card-text> {{ message }}</v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            dark
            text
            @click="agree"
          >
            Agree
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>

export default  {
  data: () => ({
    dialog: false,
    resolve: null,
    reject: null,
    message: null,
    title: null
  }),
  methods: {
    open(title, message) {
      this.dialog = true
      this.title = title
      this.message = message
      return new Promise((resolve, reject) => {
        this.resolve = resolve
        this.reject = reject
      })
    },
    agree() {
      this.resolve(true)
      this.dialog = false
    },
    cancel() {
      this.resolve(false)
      this.dialog = false
    }
  }
};
</script>

<style lang="scss" scoped>
</style>