<template v-slot:prepend>
  <v-row class="col-12">
    <v-col class="col-12 col-sm-6 draggable-wrapper">
      <v-text-field
        v-show="showFilter"
        v-model="searchSelected"
        :label="$t('draggable.selected')"
      />

      <v-list
        class="overflow-y-auto"
        dense
        height="200"
        subheader
        two-line
      >
        <v-subheader>{{ labelSelected }}</v-subheader>
        <draggable
          v-model="filteredSelected"
          :move="onMove"
          element="span"
          v-bind="dragOptions"
          @change="onChange"
        >
          <transition-group
            class="list-group"
            name="no"
            tag="ul"
          >
            <v-list-item
              v-for="element in filteredSelected"
              :key="element.node.id"
              class="list-group-item"
            >
              <v-list-item-content>
                <v-list-item-title>{{ getLanguage(element.node) }}</v-list-item-title>
                <v-list-item-subtitle v-if="showUrl(element.node)">
                  {{ element.node.url.url }}
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </transition-group>
        </draggable>
      </v-list>
    </v-col>

    <v-col class="col-12 col-sm-6 draggable-wrapper">
      <v-text-field
        v-show="showFilter"
        v-model="searchAvailable"
        :label="$t('draggable.available')"
      />

      <v-list
        class="overflow-y-auto"
        dense
        height="200"
        subheader
        two-line
      >
        <v-subheader>{{ labelAvailable }}</v-subheader>
        <draggable
          v-model="filteredAvailables"
          :change="onChange"
          :move="onMove"
          class="list-group"
          tag="ul"
          v-bind="dragOptions"
        >
          <transition-group
            :name="'flip-list'"
            type="transition"
          >
            <v-list-item
              v-for="element in filteredAvailables"
              :key="element.node.id"
            >
              <v-list-item-content>
                <v-list-item-title>{{ getLanguage(element.node) }}</v-list-item-title>
                <v-list-item-subtitle v-if="showUrl(element.node)">
                  {{ element.node.url.url }}
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </transition-group>
        </draggable>
      </v-list>
    </v-col>
  </v-row>
</template>
<script>
import draggable from "vuedraggable";
import { utils } from "@helper/utils";
import i18n from "../services/i18n";
export default {
  components: {
    draggable
  },
  props: {
    // eslint-disable-next-line vue/require-default-prop
    selected: { type: Array, required: false },
    available: { type: Array, required: true },
    labelSelected: { required: true, type: String },
    labelAvailable: { required: true, type: String },
    showFilter: { required: true, type: Boolean }
  },
  data() {
    return {
      isDragging: false,
      delayedDragging: false,
      mySelected: [],
      myAvailable: [],
      searchSelected: "",
      searchAvailable: ""
    };
  },
  computed: {
    dragOptions() {
      return {
        animation: 0,
        group: "description",
        ghostClass: "ghost"
      };
    },
    filteredSelected: {
      //getter
      get: function() {
        return this.mySelected.filter(element => {
          return this.getLanguage(element.node).match(this.searchSelected);
        });
      },
      //setter
      set: function(newValue) {
        if (this.searchSelected !== "") {
          //Solo si hay filtro
          if (newValue.length > this.filteredSelected.length) {
            //Estoy añadiendo un elemento
            for (let i = 0; i < newValue.length; i++) {
              if (
                this.filteredSelected[i] == null ||
                this.filteredSelected[i].node.id !== newValue[i].node.id
              ) {
                this.mySelected.push(newValue[i]);
                break;
              }
            }
          } else {
            for (let i = 0; i < this.filteredSelected.length; i++) {
              //Estoy eliminando un elemento
              if (
                newValue[i] == null ||
                newValue[i].node.id !== this.filteredSelected[i].node.id
              ) {
                const pos = this.mySelected.indexOf(this.filteredSelected[i]);
                this.mySelected.splice(pos, 1);
                break;
              }
            }
          }
        } else {
          this.mySelected = newValue;
        }
      }
    },
    filteredAvailables: {
      //getter
      get: function() {
        return this.myAvailable.filter(element => {
          return this.getLanguage(element.node).match(this.searchAvailable);
        });
      },
      //setter
      set: function(newValue) {
        if (this.searchAvailable !== "") {
          //Solo si hay filtro
          if (newValue.length > this.filteredAvailables.length) {
            //Estoy añadiendo un elemento
            for (let i = 0; i < newValue.length; i++) {
              if (
                this.filteredAvailables[i] == null ||
                this.filteredAvailables[i].node.id !== newValue[i].node.id
              ) {
                this.myAvailable.push(newValue[i]);
                break;
              }
            }
          } else {
            for (let i = 0; i < this.filteredAvailables.length; i++) {
              //Estoy eliminando un elemento
              if (
                newValue[i] == null ||
                newValue[i].node.id !== this.filteredAvailables[i].node.id
              ) {
                const pos = this.myAvailable.indexOf(
                  this.filteredAvailables[i]
                );
                this.myAvailable.splice(pos, 1);
                break;
              }
            }
          }
        } else {
          this.myAvailable = newValue;
        }
      }
    }
  },
  watch: {
    isDragging(newValue) {
      if (newValue) {
        this.delayedDragging = true;
        return;
      }
      this.$nextTick(() => {
        this.delayedDragging = false;
      });
    },
    // call again the method if the route changes
    $route: "fetchData",
    selected: function(newVal) {
      // watch it
      this.mySelected = [];
      this.myAvailable = [];
      this.searchSelected = "";
      this.searchAvailable = "";
      const codes = newVal != null ? this.fillSelected(newVal) : null;
      this.fillAvailable(this.available, codes);
      this.$emit("updateSelected", this.mySelected);
    }
  },
  created() {
    const codes =
      this.selected != null ? this.fillSelected(this.selected) : null;
    this.fillAvailable(this.available, codes);
    this.$emit("updateSelected", this.mySelected);
  },
  methods: {
    onMove({ relatedContext, draggedContext }) {
      const relatedElement = relatedContext.element;
      const draggedElement = draggedContext.element;
      return (
        (!relatedElement || !relatedElement.fixed) && !draggedElement.fixed
      );
    },
    onChange() {
      this.$emit("updateSelected", this.mySelected);
    },
    getLanguage(node) {
      return utils.valueLanguage(node.name, i18n.locale);
    },
    fillAvailable(available, codes) {
      let i = 0;
      for (let avail of available) {
        if (codes === null || !codes.includes("¬" + avail.id + "¬")) {
          const element = {
            node: avail,
            order: i + 1
          };
          this.myAvailable.push(element);
          i++;
        }
      }
    },
    fillSelected(selected) {
      let i = 0;
      let codes = "¬";
      for (let select of selected) {
        const element = {
          node: select,
          order: i + 1
        };
        this.mySelected.push(element);
        i++;
        codes += select.id + "¬";
      }
      return codes;
    },
    showUrl(node) {
      return Object.prototype.hasOwnProperty.call(node, "url");
    }
  }
};
</script>

<style lang="scss" scoped>
.draggable-wrapper {
  background-color: var(--v-draggable-wrapper-background);
  border-left: 1px solid var(--v-draggable-wrapper-border);
  margin-top: 12px;
  padding-top: 0;

  &:last-child {
    border-right: 1px solid var(--v-draggable-wrapper-border);
  }
}
</style>