<template>
  <v-dialog
    v-model="showDialog"
    class="dialog"
    max-width="500px"
  >
    <v-card>
      <v-card-title class="headline">
        <small>{{ $t('savealert.header') }}</small>
        <v-spacer />
        <v-icon
          small
          class="mr-2"
          @click="$emit('close')"
        >
          close
        </v-icon>
      </v-card-title>
      <v-card-text> {{ $t('savealert.message') }}</v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn
          text
          small
          @click="$emit('discard-changes')"
        >
          {{ $t('savealert.discard') }}
        </v-btn>
        <v-btn
          text
          small
          @click="$emit('close')"
        >
          {{ $t('savealert.save') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props: {
    value: Boolean
  },
  data() {
    return {
      showDialog: false
    };
  },
  watch: {
    value(val) {
      this.showDialog = !!val;
    }
  }
};
</script>
<style lang="scss" scoped>
</style>