<template>
  <div>
    <v-tabs
      v-model="tab"
      center-active
      class="mt-2"
      fixed-tabs
    >
      <v-tab
        v-for="(item, i) in menus"
        :key="i"
      >
        {{ item.env.id }}-{{ item.cia.id }}
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
      <v-tab-item
        v-for="(item, i) in menus"
        :key="i"
      >
        <v-container fluid>
          <v-row
            class="draggable-wrapper"
            dense
          >
            <v-col cols="5.5">
              <v-card>
                <v-card-title>{{ $t('user.assignMenu.menuUser') }}</v-card-title>
                <v-card-text>
                  <v-card
                    v-if="item.user.length === 0"
                    class="mx-auto"
                    width="99%"
                  >
                    {{ $t('user.assignMenu.noMenus') }}
                  </v-card>
                  <v-card
                    v-if="item.user.length > 0"
                    class="mx-auto"
                    width="99%"
                  >
                    <v-list
                      class="card-scroll"
                      dense
                      nav
                    >
                      <v-list-item
                        v-for="menu in item.user"
                        :key="menu.id"
                        class="px-0"
                      >
                        <v-list-group style="width:100%">
                          <!-- Nombre del menu -->
                          <template v-slot:activator>
                            <v-list-item-action class="my-0 mr-2">
                              <v-checkbox
                                v-model="menu.check"
                                color="primary"
                                dense
                                @click.native="checkUncheckMenu(menu)"
                              />
                            </v-list-item-action>
                            <v-list-item-title>{{ valueLanguage(menu) }}</v-list-item-title>
                          </template>

                          <!-- Grupos el menu -->
                          <div v-if="menu.hasOwnProperty('grp')">
                            <v-list-group
                              v-for="grp in menu.grp"
                              :key="grp.id"
                              class="ml-n1"
                              sub-group
                              style="width:100%"
                            >
                              <!-- Nombre grupo -->
                              <template v-slot:activator>
                                <v-list-item-action class="my-0 mr-2">
                                  <v-checkbox
                                    v-model="grp.check"
                                    color="primary"
                                    dense
                                    @click.native="checkUncheckGroup(grp, menu)"
                                  />
                                </v-list-item-action>
                                <v-list-item-title>{{ valueLanguage(grp) }}</v-list-item-title>
                              </template>

                              <!-- Servicios del grupo -->
                              <div v-if="grp.hasOwnProperty('srv')">
                                <v-list-item
                                  v-for="grpSrv in grp.srv"
                                  :key="grpSrv.id"
                                  class="ml-2"
                                >
                                  <v-list-item-action class="my-0 mr-2">
                                    <v-checkbox
                                      v-model="grpSrv.check"
                                      color="primary"
                                      dense
                                      @click.native="allCheckedGroup(grp, menu)"
                                    />
                                  </v-list-item-action>

                                  <v-list-item-title>
                                    {{ valueLanguage(grpSrv) }}
                                    <v-tooltip right>
                                      <template
                                        v-if="!grpSrv.ext"
                                        v-slot:activator="{on}"
                                      >
                                        <v-btn
                                          x-small
                                          :color="grpSrv.url.readonly ? 'green' : 'red'"
                                          dark
                                          v-on="on"
                                          @click="changeReadOnly(grpSrv)"
                                        >
                                          Read
                                        </v-btn>
                                      </template>
                                      <span>{{ $t('user.assignMenu.readOnly') }}</span>
                                    </v-tooltip>
                                  </v-list-item-title>
                                </v-list-item>
                              </div>
                            </v-list-group>
                          </div>

                          <!-- Servicios menu -->
                          <div
                            v-if="menu.hasOwnProperty('srv')"
                            class="ml-3"
                          >
                            <v-list-item
                              v-for="srv in menu.srv"
                              :key="srv.id"
                            >
                              <v-list-item-action class="my-0 mr-2">
                                <v-checkbox
                                  v-model="srv.check"
                                  color="primary"
                                  @click.native="allCheckedMenu(menu)"
                                />
                              </v-list-item-action>
                              <v-list-item-title>
                                {{ valueLanguage(srv) }}
                                <v-tooltip right>
                                  <template
                                    v-if="!srv.ext"
                                    v-slot:activator="{on}"
                                  >
                                    <v-btn
                                      x-small
                                      :color="srv.url.readonly ? 'green' : 'red'"
                                      dark
                                      v-on="on"
                                      @click="changeReadOnly(srv)"
                                    >
                                      Read
                                    </v-btn>
                                  </template>
                                  <span>{{ $t('user.assignMenu.readOnly') }}</span>
                                </v-tooltip>
                              </v-list-item-title>
                            </v-list-item>
                          </div>
                        </v-list-group>
                      </v-list-item>
                    </v-list>
                  </v-card>
                </v-card-text>
              </v-card>
            </v-col>

            <v-col
              class="
              col-1
              align-center
              d-flex
              flex-column
              justify-center
            "
            >
              <v-btn
                :disabled="disableUp(item.user)"
                class="mb-2"
                color="primary"
                rounded
                small
                @click="subirMenu(item.user)"
              >
                <v-icon>arrow_drop_up</v-icon>
              </v-btn>

              <v-btn
                class="mb-2"
                color="primary"
                rounded
                small
                @click="unAssignMenus(item.user)"
              >
                <v-icon>arrow_right</v-icon>
              </v-btn>

              <v-btn
                class="mb-2"
                color="primary"
                rounded
                small
                @click="assignMenus(item.user, item.global)"
              >
                <v-icon>arrow_left</v-icon>
              </v-btn>

              <v-btn
                :disabled="disableDown(item.user)"
                class="mb-2"
                color="primary"
                rounded
                small
                @click="bajarMenu(item.user)"
              >
                <v-icon>arrow_drop_down</v-icon>
              </v-btn>
            </v-col>

            <v-col cols="5.5">
              <v-card>
                <v-card-title>{{ $t('user.assignMenu.menuGlobal') }}</v-card-title>
                <v-card-text>
                  <v-card
                    v-if="item.global.length === 0"
                    class="mx-auto"
                    width="99%"
                  >
                    {{ $t('user.assignMenu.noMenus') }}
                  </v-card>
                  <v-card
                    v-if="item.global.length > 0"
                    class="mx-auto"
                    width="99%"
                  >
                    <v-list
                      class="card-scroll"
                      dense
                      nav
                    >
                      <v-list-item
                        v-for="menu in item.global"
                        :key="menu.id"
                        class="px-0"
                      >
                        <v-list-group style="width:100%">
                          <!-- Nombre del menu -->
                          <template v-slot:activator>
                            <v-list-item-action class="my-0 mr-2">
                              <v-checkbox
                                v-model="menu.check"
                                color="primary"
                                dense
                                @click.native="checkUncheckMenu(menu)"
                              />
                            </v-list-item-action>
                            <v-list-item-title>{{ valueLanguage(menu) }}</v-list-item-title>
                          </template>

                          <!-- Grupos el menu -->
                          <div v-if="menu.hasOwnProperty('grp')">
                            <v-list-group
                              v-for="grp in menu.grp"
                              :key="grp.id"
                              class="ml-n1"
                              sub-group
                              style="width:100%"
                            >
                              <!-- Nombre grupo -->
                              <template v-slot:activator>
                                <v-list-item-action class="my-0 mr-2">
                                  <v-checkbox
                                    v-model="grp.check"
                                    color="primary"
                                    dense
                                    @click.native="checkUncheckGroup(grp, menu)"
                                  />
                                </v-list-item-action>
                                <v-list-item-title>{{ valueLanguage(grp) }}</v-list-item-title>
                              </template>
                              <!-- Servicios del grupo -->
                              <div v-if="grp.hasOwnProperty('srv')">
                                <v-list-item
                                  v-for="grpSrv in grp.srv"
                                  :key="grpSrv.id"
                                  class="ml-2"
                                >
                                  <v-list-item-action class="my-0 mr-2">
                                    <v-checkbox
                                      v-model="grpSrv.check"
                                      color="primary"
                                      dense
                                      @click.native="allCheckedGroup(grp, menu)"
                                    />
                                  </v-list-item-action>
                                  <v-list-item-title>{{ valueLanguage(grpSrv) }}</v-list-item-title>
                                </v-list-item>
                              </div>
                            </v-list-group>
                          </div>

                          <!-- Servicios menu -->
                          <div
                            v-if="menu.hasOwnProperty('srv')"
                            class="ml-3"
                          >
                            <v-list-item
                              v-for="srv in menu.srv"
                              :key="srv.id"
                            >
                              <v-list-item-action class="my-0 mr-2">
                                <v-checkbox
                                  v-model="srv.check"
                                  color="primary"
                                  @click.native="allCheckedMenu(menu)"
                                />
                              </v-list-item-action>
                              <v-list-item-title>{{ valueLanguage(srv) }}</v-list-item-title>
                            </v-list-item>
                          </div>
                        </v-list-group>
                      </v-list-item>
                    </v-list>
                  </v-card>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
import { utils } from "@helper/utils";
import i18n from '../services/i18n';

export default {
  props: {
    user: { type: Object, required: true },
    globalMenus: {type: Map, required: true}
  },
  data() {
    return {
      menus: [],
      tab: null
    };
  },
  computed: {
    ...mapState({
      master: state => state.master
    })
  },
  created() {
    this.loadMenus();
  },
  methods: {
    ...mapActions("alert", ["error"]),
    valueLanguage: item => utils.valueLanguage(item.name, i18n.locale),
    loadMenus() {
      this.loadUserMenus();
      this.$emit("updateMenus", this.menus);
    },
    loadUserMenus() {
      for (let env = 0; env < this.user.envs.length; env++) {
        for (let cia = 0; cia < this.user.cias.length; cia++) {
          const menu = {
            env: this.user.envs[env],
            cia: this.user.cias[cia],
            user: this.getUserMenu(this.user.envs[env], this.user.cias[cia]),
            global: this.getGlobalMenus(this.user.envs[env], this.user.cias[cia])
          };
          this.menus.push(menu);
        }
      }
    },
    getUserMenu(env, cia) {
      for (let cfg = 0; this.user.configMenu && cfg < this.user.configMenu.length; cfg++) {
        if (this.user.configMenu[cfg].env === env.id && this.user.configMenu[cfg].cia === cia.id) {
          const menus = this.user.configMenu[cfg].menus;
          this.loadCheckMenus(menus);
          return menus;
        }
      }
      return [];
    },
    getGlobalMenus(env, cia) {
      const key = env.id.concat("¬").concat(cia.id);
      if (this.globalMenus && this.globalMenus.has(key)) {
        const menus = this.globalMenus.get(key);
        this.loadCheckMenus(menus);
        return menus;
      }
      return [];
    },
    loadCheckMenus(menus) {
      for (let i = 0; i < menus.length; i++) {
        this.$set(menus[i], "check", false);
        for (let j = 0; Object.prototype.hasOwnProperty.call(menus[i], "grp") && j < menus[i].grp.length; j++) {
          this.$set(menus[i].grp[j], "check", false);
          for (let k = 0; Object.prototype.hasOwnProperty.call(menus[i].grp[j], "srv") && k < menus[i].grp[j].srv.length; k++) {
            this.$set(menus[i].grp[j].srv[k], "check", false);
          }
        }
        for (let l = 0; Object.prototype.hasOwnProperty.call(menus[i], "srv") && l < menus[i].srv.length; l++) {
          this.$set(menus[i].srv[l], "check", false);
        }
      }
    },
    checkUncheckMenu(menu) {
      for (let j = 0; Object.prototype.hasOwnProperty.call(menu, "grp") && j < menu.grp.length; j++) {
        menu.grp[j].check = menu.check;
        for (let k = 0; k < menu.grp[j].srv.length; k++) {
          menu.grp[j].srv[k].check = menu.check;
        }
      }
      for (let i = 0; Object.prototype.hasOwnProperty.call(menu, "srv") && i < menu.srv.length; i++) {
        menu.srv[i].check = menu.check;
      }
    },
    checkUncheckGroup(group, menu) {
      for (let i = 0; Object.prototype.hasOwnProperty.call(group, "srv") && i < group.srv.length; i++) {
        group.srv[i].check = group.check;
      }
      if (!group.check) {
        menu.check = false;
      } else {
        this.allCheckedMenu(menu);
      }
    },
    allCheckedMenu(menu) {
      menu.check = true;
      for (let j = 0; Object.prototype.hasOwnProperty.call(menu, "grp") && j < menu.grp.length; j++) {
        if (!menu.grp[j].check) {
          menu.check = false;
          break;
        }
      }
      for (let i = 0; Object.prototype.hasOwnProperty.call(menu, "srv") && i < menu.srv.length; i++) {
        if (!menu.srv[i].check) {
          menu.check = false;
          break;
        }
      }
    },
    allCheckedGroup(group, menu) {
      group.check = true;
      for (let i = 0; Object.prototype.hasOwnProperty.call(group, "srv") && i < group.srv.length; i++) {
        if (!group.srv[i].check) {
          group.check = false;
          break;
        }
      }
      this.allCheckedMenu(menu);
    },
    unAssignMenus(menus) {
      let sizeMenu = menus.length;
      for (let i = 0; i < sizeMenu; i++) {
        if (menus[i].check) {
          menus.splice(i, 1);
          sizeMenu--;
          i--;
        } else {
          if (Object.prototype.hasOwnProperty.call(menus[i], "grp")) {
            let sizeGrupo = menus[i].grp.length;
            for (let j = 0; j < sizeGrupo; j++) {
              if (menus[i].grp[j].check) {
                menus[i].grp.splice(j, 1);
                sizeGrupo--;
                j--;
              } else {
                for (let k = 0; Object.prototype.hasOwnProperty.call( menus[i].grp[j], "srv") && k < menus[i].grp[j].srv.length; k++) {
                  if (menus[i].grp[j].srv[k].check) {
                    menus[i].grp[j].srv.splice(k, 1);
                  }
                }
              }
            }
          }
          for (let l = 0; Object.prototype.hasOwnProperty.call(menus[i], "srv") && l < menus[i].srv.length; l++) {
            if (menus[i].srv[l].check) {
              menus[i].srv.splice(l, 1);
            }
          }
        }
      }
      this.$emit("updateMenus", this.menus);
    },
    assignMenus(userMenu, globalMenu) {
      for (let i = 0; i < globalMenu.length; i++) {
        for (let j = 0; Object.prototype.hasOwnProperty.call(globalMenu[i], "grp") && j < globalMenu[i].grp.length; j++) {
          for (let k = 0; Object.prototype.hasOwnProperty.call(globalMenu[i].grp[j], "srv") && k < globalMenu[i].grp[j].srv.length; k++) {
            if (globalMenu[i].grp[j].srv[k].check) {
              this.existsAndAddService(
                userMenu,
                globalMenu[i],
                globalMenu[i].grp[j],
                globalMenu[i].grp[j].srv[k]
              );
            }
          }
        }
        for (let l = 0; Object.prototype.hasOwnProperty.call(globalMenu[i], "srv") && l < globalMenu[i].srv.length; l++) {
          if (globalMenu[i].srv[l].check) {
            this.existsAndAddService(
              userMenu,
              globalMenu[i],
              null,
              globalMenu[i].srv[l]
            );
          }
        }
      }
      this.$emit("updateMenus", this.menus);
    },
    existsAndAddService(userMenu, menu, group, service) {
      for (let i = 0; i < userMenu.length; i++) {
        if (userMenu[i].id === menu.id) {
          if (group != null) {
            for (let j = 0; Object.prototype.hasOwnProperty.call(userMenu[i], "grp") && j < userMenu[i].grp.length; j++) {
              if (userMenu[i].grp[j].id === group.id) {
                for (let k = 0; Object.prototype.hasOwnProperty.call( userMenu[i].grp[j], "srv" ) && k < userMenu[i].grp[j].srv.length; k++) {
                  if (userMenu[i].grp[j].srv[k].id === service.id) {
                    //El servicio ya existe
                    return;
                  }
                }
                //Añadir el servicio en este grupo
                userMenu[i].grp[j].srv.push(Object.assign({}, service));
                return;
              }
            }
            //Añadir el servicio con la estructura del grupo
            if (!Object.prototype.hasOwnProperty.call(userMenu[i], "grp")) {
              this.$set(userMenu[i], "grp", []);
            }
            const sizeGrp = userMenu[i].grp.length;
            userMenu[i].grp.push(Object.assign({}, group));
            userMenu[i].grp[sizeGrp].check = true;
            delete userMenu[i].grp[sizeGrp]["srv"];
            this.$set(userMenu[i].grp[sizeGrp], "srv", []);
            userMenu[i].grp[sizeGrp].srv.push(Object.assign({}, service));
            return;
          } else {
            for (let l = 0; Object.prototype.hasOwnProperty.call(userMenu[i], "srv") && l < userMenu[i].srv.length; l++ ) {
              if (userMenu[i].srv[l].id === service.id) {
                //El servicio ya existe
                return;
              }
            }
            //Añadir el servicio en este menu
            if (!Object.prototype.hasOwnProperty.call(userMenu[i], "srv")) {
              this.$set(userMenu[i], "srv", []);
            }
            userMenu[i].srv.push(Object.assign({}, service));
            return;
          }
        }
      }
      //Añadir el servicio con toda la estructura
      const sizeMenu = userMenu.length;
      userMenu.push(Object.assign({}, menu));
      userMenu[sizeMenu].check = true;
      delete userMenu[sizeMenu]["grp"];
      delete userMenu[sizeMenu]["srv"];
      if (group != null) {
        this.$set(userMenu[sizeMenu], "grp", []);
        userMenu[sizeMenu].grp.push(Object.assign({}, group));
        userMenu[sizeMenu].grp[0].check = true;
        delete userMenu[sizeMenu].grp[0]["srv"];
        this.$set(userMenu[sizeMenu].grp[0], "srv", []);
        userMenu[sizeMenu].grp[0].srv.push(Object.assign({}, service));
      } else {
        this.$set(userMenu[sizeMenu], "srv", []);
        userMenu[sizeMenu].srv.push(Object.assign({}, service));
      }
    },
    changeReadOnly(service) {
      service.url.readonly = !service.url.readonly;
      this.$emit("updateMenus", this.menus);
    },
    subirMenu(userMenu) {
      for (let i = 0; i < userMenu.length; i++) {
        if (userMenu[i].check) {
          const menuAux = userMenu[i];
          userMenu.splice(i, 1);
          userMenu.splice(i - 1, 0, menuAux);
          break;
        }
      }
    },
    bajarMenu(userMenu) {
      for (let i = 0; i < userMenu.length; i++) {
        if (userMenu[i].check) {
          const menuAux = userMenu[i];
          userMenu.splice(i, 1);
          userMenu.splice(i + 1, 0, menuAux);
          break;
        }
      }
    },
    disableUp(menuUser) {
      if (menuUser.length === 0 || menuUser[0].check) {
        return true;
      }
      let checks = 0;
      for (let i = 0; i < menuUser.length; i++) {
        if (menuUser[i].check) {
          checks++;
        }
      }
      return checks !== 1;
    },
    disableDown(menuUser) {
      if (menuUser.length === 0 || menuUser[menuUser.length - 1].check) {
        return true;
      }
      let checks = 0;
      for (let i = 0; i < menuUser.length; i++) {
        if (menuUser[i].check) {
          checks++;
        }
      }
      return checks !== 1;
    }
  }
};
</script>
<style lang="scss" scoped>
.draggable-wrapper {
  background-color: var(--v-draggable-wrapper-background);

  .v-card {
    background: none;
    box-shadow: none;

    .v-card__title {
      font-size: 12px;
      line-height: 1.2;
      padding-bottom: 8px;
    }

    .card-scroll {
      max-height: 325px;
      overflow-y: auto;
    }

    ::v-deep {
      .v-list-group__header__prepend-icon {
        margin-right: 0;
      }
    }
  }
}
</style>