<template>
  <v-container>
    <span class="col-10 py-0 heading">{{ title }}</span>

    <v-card-text class="card-text-01 pa-0 ma-0">
      <v-layout class="col-12 layout-01 pa-0 ma-0">
        <v-spacer class="col-1 py-0" />
        <small class="col-11 heading">{{ $t('match.credentialtitle') }} {{ credential.name }}</small>
      </v-layout>

      <v-layout class="col-12 layout-02 pa-0 ma-0">
        <v-spacer class="col-2 py-0" />
        <v-text-field
          v-model="credential.brand"
          :label="$t('match.brand')"
          class="col-1 py-0"
          :background-color="getColorInfo('brand', credential.brand, supplier.brand)"
          readonly
          dense
        />
        <v-text-field
          v-model="credential.serviceType"
          :label="$t('match.service')"
          class="col-1 py-0"
          :background-color="getColorInfo('serviceType', credential.serviceType, supplier.serviceType)"
          readonly
          dense
        />
        <v-text-field
          v-model="credential.pppull"
          :label="$t('match.pullpp')"
          class="col-1 py-0"
          :background-color="getColorInfo('ownProduct', credential.pppull, supplier.pppull)"
          readonly
          dense
        />
        <v-text-field
          v-model="credential.ppthird"
          :label="$t('match.ppthird')"
          class="col-1 py-0"
          :background-color="getColorInfo('ownProduct', credential.ppthird, supplier.ppthird)"
          readonly
          dense
        />
        <v-text-field
          v-model="credential.multiHotel"
          :label="$t('match.mhr')"
          class="col-1 py-0"
          :background-color="getColorInfo('multiHotel', credential.multiHotel, supplier.multiHotel)"
          readonly
          dense
        />
        <v-text-field
          v-model="credential.blocks"
          :label="$t('match.pcg')"
          class="col-1 py-0"
          :background-color="getColorInfo('blocks', credential.blocks, supplier.blocks)"
          readonly
          dense
        />
        <v-text-field
          v-model="credential.availCost"
          :label="$t('match.acv')"
          class="col-1 py-0"
          :background-color="getColorInfo('availCost', credential.availCost, supplier.availCost)"
          readonly
          dense
        />
        <v-text-field
          v-model="credential.test"
          :label="$t('match.test')"
          class="col-1 py-0"
          :background-color="getColorInfo('test', credential.test, supplier.test)"
          readonly
          dense
        />
      </v-layout>

      <v-layout class="col-12 layout-03 pa-0 ma-0">
        <v-spacer class="col-2 py-0" />
        <v-text-field
          v-model="credential.hotelX"
          :label="$t('match.hotx')"
          class="col-1 py-0"
          :background-color="getColorInfo('hotelX', credential.hotelX, supplier.hotelX)"
          readonly
          dense
        />
        <v-text-field
          v-model="credential.market"
          :label="$t('match.market')"
          class="col-1 py-0"
          :background-color="getColorInfo('market', credential.market, supplier.market)"
          readonly
          dense
        />
        <v-text-field
          v-model="credential.model"
          :label="$t('match.model')"
          class="col-1 py-0"
          :background-color="getColorInfo('modelDistribution', credential.model, supplier.model)"
          readonly
          dense
        />
        <v-text-field
          v-model="credential.vinc"
          :label="$t('match.vinc')"
          class="col-1 py-0"
          :background-color="getColorInfo('vinc', credential.vinc, supplier.vinc)"
          readonly
          dense
        />
        <v-text-field
          v-model="credential.b2b"
          :label="$t('match.b2b')"
          class="col-1 py-0"
          :background-color="getColorInfo('b2b', credential.b2b, supplier.b2b)"
          readonly
          dense
        />
        <v-text-field
          v-model="credential.paq"
          :label="$t('match.paq')"
          class="col-1 py-0"
          :background-color="getColorInfo('paq', credential.paq, supplier.paq)"
          readonly
          dense
        />
        <v-text-field
          v-model="credential.nrf"
          :label="$t('match.nrf')"
          class="col-1 py-0"
          :background-color="getColorInfo('nrf', credential.nrf, supplier.nrf)"
          readonly
          dense
        />
        <v-text-field
          v-model="credential.currency"
          :label="$t('match.currency')"
          class="col-1 py-0"
          :background-color="getColorInfo('currency', credential.currency, supplier.currency)"
          readonly
          dense
        />
      </v-layout>
    </v-card-text>

    <v-card-text class="card-text-01 pa-0 ma-0">
      <v-layout class="col-12 layout-01 pa-0 ma-0">
        <v-spacer class="col-1 py-0" />
        <small class="col-11 heading">{{ $t('match.suppliertitle') }} {{ supplier.name }}</small>
      </v-layout>

      <v-layout class="col-12 layout-02 pa-0 ma-0">
        <v-spacer class="col-2 py-0" />
        <v-text-field
          v-model="supplier.brand"
          :label="$t('match.brand')"
          class="col-1 py-0"
          :background-color="getColorInfo('brand', credential.brand, supplier.brand)"
          readonly
          dense
        />
        <v-text-field
          v-model="supplier.serviceType"
          :label="$t('match.service')"
          class="col-1 py-0"
          :background-color="getColorInfo('serviceType', credential.serviceType, supplier.serviceType)"
          readonly
          dense
        />
        <v-text-field
          v-model="supplier.pppull"
          :label="$t('match.pullpp')"
          class="col-1 py-0"
          :background-color="getColorInfo('ownProduct', credential.pppull, supplier.pppull)"
          readonly
          dense
        />
        <v-text-field
          v-model="supplier.ppthird"
          :label="$t('match.ppthird')"
          class="col-1 py-0"
          :background-color="getColorInfo('ownProduct', credential.ppthird, supplier.ppthird)"
          readonly
          dense
        />
        <v-text-field
          v-model="supplier.multiHotel"
          :label="$t('match.mhr')"
          class="col-1 py-0"
          :background-color="getColorInfo('multiHotel', credential.multiHotel, supplier.multiHotel)"
          readonly
          dense
        />
        <v-text-field
          v-model="supplier.blocks"
          :label="$t('match.pcg')"
          class="col-1 py-0"
          :background-color="getColorInfo('blocks', credential.blocks, supplier.blocks)"
          readonly
          dense
        />
        <v-text-field
          v-model="supplier.availCost"
          :label="$t('match.acv')"
          class="col-1 py-0"
          :background-color="getColorInfo('availCost', credential.availCost, supplier.availCost)"
          readonly
          dense
        />
        <v-text-field
          v-model="supplier.test"
          :label="$t('match.test')"
          class="col-1 py-0"
          :background-color="getColorInfo('test', credential.test, supplier.test)"
          readonly
          dense
        />
      </v-layout>

      <v-layout class="col-12 layout-03 pa-0 ma-0">
        <v-spacer class="col-2 py-0" />
        <v-text-field
          v-model="supplier.hotelX"
          :label="$t('match.hotx')"
          class="col-1 py-0"
          :background-color="getColorInfo('hotelX', credential.hotelX, supplier.hotelX)"
          readonly
          dense
        />
        <v-text-field
          v-model="supplier.market"
          :label="$t('match.market')"
          class="col-1 py-0"
          :background-color="getColorInfo('market', credential.market, supplier.market)"
          readonly
          dense
        />
        <v-text-field
          v-model="supplier.model"
          :label="$t('match.model')"
          class="col-1 py-0"
          :background-color="getColorInfo('modelDistribution', credential.model, supplier.model)"
          readonly
          dense
        />
        <v-text-field
          v-model="supplier.vinc"
          :label="$t('match.vinc')"
          class="col-1 py-0"
          :background-color="getColorInfo('vinc', credential.vinc, supplier.vinc)"
          readonly
          dense
        />
        <v-text-field
          v-model="supplier.b2b"
          :label="$t('match.b2b')"
          class="col-1 py-0"
          :background-color="getColorInfo('b2b', credential.b2b, supplier.b2b)"
          readonly
          dense
        />
        <v-text-field
          v-model="supplier.paq"
          :label="$t('match.paq')"
          class="col-1 py-0"
          :background-color="getColorInfo('paq', credential.paq, supplier.paq)"
          readonly
          dense
        />
        <v-text-field
          v-model="supplier.nrf"
          :label="$t('match.nrf')"
          class="col-1 py-0"
          :background-color="getColorInfo('nrf', credential.nrf, supplier.nrf)"
          readonly
          dense
        />
        <v-text-field
          v-model="supplier.currency"
          :label="$t('match.currency')"
          class="col-1 py-0"
          :background-color="getColorInfo('currency', credential.currency, supplier.currency)"
          readonly
          dense
        />
      </v-layout>
    </v-card-text>
  </v-container>
</template>
<script>
export default {
  props: {
    title: {type: String, required: true, default: null},
    credential: {type: Object, required: true},
    supplier: {type: Object, required: true},
  },
  data() {
    return {
      mandatoryFields: ['brand', 'serviceType' , 'status', 'ownProduct', 'active', 'test', 'hotelX', 'modelDistribution']
    };
  },
  computed: {
  },
  methods: {
    getColorInfo(field, credential, supplier) {
      let color = "";

      if (credential !== supplier && credential !== 'MULTI' && supplier !== 'MULTI') {
        if (this.mandatoryFields.indexOf(field) > -1) {
          color = "red";
        } else {
          color = "yellow";
        }
      }
      return color;
    }
  }
};
</script>
<style scoped>
</style>