<template>
  <div class="post ma-3">
    <div class="content">
      <v-card-title>{{ title }}</v-card-title>

      <v-data-table
        :dense="true"
        :headers="titles"
        :items="dataTable"
        :search="search"
        :sort-by="sortedBy"
        :custom-filter="customFilter"
        :page.sync="page"
        :items-per-page="rowsPerPage"
        hide-default-footer
        @page-count="pageCount = $event"
      >
        <template v-slot:top>
          <div
            class="d-flex justify-end"
          >
            <small class="pt-3 pr-1">{{ $t('show') }}</small>
            <v-select
              v-model="rowsPerPage"
              item-value="id"
              item-text="name"
              class="search-back-alternative col-1 col-sm-1"
              hide-details
              dense
              outlined
              :items="rowsPerPageSelect"
            />
            <small class="pt-3 pl-1">{{ $t('entries') }}</small>
            <v-spacer />
            <small class="pt-3 pr-1">{{ $t('search') }}</small>
            <v-text-field
              v-if="filtered"
              class="search-back-alternative col-2 mb-1"
              outlined
              filled
              dense
              hide-details
              single-line
              @change="searchItems"
            />
          </div>
        </template>

        <template v-slot:item.entity="{item}">
          <v-chip
            :color="getColor(item.entity)"
            class="ma-1"
            label
            x-small
            text-color="white"
          >
            {{ item.entity }}
          </v-chip>
        </template>

        <template v-slot:item.act="{item}">
          <v-chip
            :color="getColor(item.act)"
            class="ma-1"
            label
            x-small
            text-color="white"
          >
            {{ $t(item.act) }}
          </v-chip>
        </template>

        <template v-slot:item.ext="{item}">
          <v-chip
            :color="getColor(item.ext)"
            class="ma-1"
            label
            x-small
            text-color="white"
          >
            {{ $t(item.ext) }}
          </v-chip>
        </template>

        <template v-slot:item.supplier="{item}">
          <v-chip
            v-if="item.supplier"
            class="ma-1"
            label
            x-small
            :color="getColor(item.supplier)"
            text-color="white"
          >
            {{ $t(item.supplier) }}
          </v-chip>
        </template>

        <template v-slot:item.serviceType="{item}">
          <v-chip
            v-for="tag in item.serviceType"
            :key="tag"
            class="ma-1"
            label
            x-small
          >
            {{ tag }}
          </v-chip>
        </template>

        <template v-slot:item.cur="{item}">
          <v-chip
            v-for="tag in item.cur"
            :key="tag"
            class="ma-1"
            color="primary"
            label
            x-small
          >
            {{ tag }}
          </v-chip>
        </template>

        <template v-slot:item.fie="{item}">
          <v-chip
            v-if="item.fie"
            class="ma-1"
            label
            x-small
            :color="getColor(item.fie)"
            text-color="white"
          >
            {{ $t(item.fie) }}
          </v-chip>
        </template>

        <template v-slot:item.adm="{item}">
          <v-chip
            v-if="item.adm"
            class="ma-1"
            label
            x-small
            :color="getColor(item.adm)"
            text-color="white"
          >
            {{ $t(item.adm) }}
          </v-chip>
        </template>

        <template v-slot:item.con="{item}">
          <v-chip
            v-if="item.con"
            class="ma-1"
            label
            x-small
            text-color="white"
            color="primary"
          >
            {{ valueLanguage(item.con) }}
          </v-chip>
        </template>

        <template v-slot:item.showIcon="{item}">
          <v-icon
            v-if="item.showIcon"
            small
            color="orange"
            class="mr-2"
          >
            report_problem
          </v-icon>
        </template>

        <template v-slot:item.cou="{item}">
          <v-chip
            v-if="item.cou"
            class="ma-1"
            label
            x-small
            text-color="white"
            color="primary"
          >
            {{ valueLanguage(item.cou) }}
          </v-chip>
        </template>

        <template v-slot:item.actions="{item}">
          <v-icon
            v-if="updateAllowed"
            class="mx-1"
            color="var(--v-icon-color)"
            small
            @click="updateItem(item)"
          >
            edit
          </v-icon>

          <v-icon
            v-if="deleteAllowed"
            class="mx-1"
            color="var(--v-icon-color)"
            small
            @click="confirmDelete(item)"
          >
            delete
          </v-icon>
        </template>

        <template v-slot:no-results>
          <v-alert
            :value="true"
            color="error"
            icon="warning"
          >
            {{ $t('noresults') }}
          </v-alert>
        </template>
      </v-data-table>

      <div class="table-controls d-flex justify-end flex-wrap mb-3">
        <v-layout class="col-12 layout-01 pa-0 ma-0">
          <small class="col-3 pt-1"> {{ countRow }} </small>
          <v-pagination
            v-model="page"
            :length="pageCount"
            total-visible="7"
            class="col-9 justify-end pt-1 mb-2"
          />
        </v-layout>
        <v-btn
          v-if="uploadFileAllowed"
          fab
          x-small
          @click="clickRef"
        >
          <v-icon>file_upload</v-icon>
        </v-btn>
        <input
          v-show="false"
          ref="inputUpload"
          type="file"
          @change="onChange"
        >
        <v-btn
          v-if="createAllowed"
          fab
          x-small
          @click="createItem"
        >
          <v-icon>add</v-icon>
        </v-btn>
      </div>
    </div>
    <v-row justify="center">
      <v-dialog
        v-model="deleteConfirm"
        max-width="290"
      >
        <v-card>
          <v-card-title class="headline">
            {{ $t("remove.title") }}
          </v-card-title>
          <v-card-text>{{ $t("remove.text") }}</v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="green darken-1"
              text
              @click="deleteRow(true)"
            >
              {{ $t("remove.confirm") }}
            </v-btn>
            <v-btn
              color="green darken-1"
              text
              @click="deleteRow(false)"
            >
              {{ $t("remove.cancel") }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>
<script>
import { utils } from "@helper/utils";

export default {
  props: {
    titles: { type: Array, required: true },
    response: { type: Array, required: true },
    title: { type: String, required: true },
    sortedBy: { type: String, required: false, default: "" },
    // eslint-disable-next-line vue/no-boolean-default
    createAllowed: { type: Boolean, default: true },
    // eslint-disable-next-line vue/no-boolean-default
    updateAllowed: { type: Boolean, default: true },
    // eslint-disable-next-line vue/no-boolean-default
    deleteAllowed: { type: Boolean, default: true },
    // eslint-disable-next-line vue/no-boolean-default
    filtered: { type: Boolean, default: true },
    load: { type: Boolean },
    uploadFileAllowed: { type: Boolean}
  },
  data() {
    return {
      file: null,
      loading: false,
      countRow: null,
      rowsPerPage: 25,
      rowsPerPageSelect: [
        {
          id: 25,
          name: "25",
        },
        {
          id: 50,
          name: "50",
        },
        {
          id: 75,
          name: "75",
        }
      ],
      page: 1,
      pageCount: 0,
      search: "",
      deleteConfirm: false,
      deleteItem: null,
    };
  },
  computed: {
    dataTable() {
      const rows = this.$parent.format();
      let init = 1;
      let end = this.rowsPerPage;
      if (this.page > 1) {
        init = init + (this.rowsPerPage * this.page) - this.rowsPerPage;
        end = end + (this.rowsPerPage * this.page) - this.rowsPerPage;
      }
      if (this.page === this.pageCount) {
        end = rows.length;
      }
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      this.countRow = this.$i18n.t("showing").replace("%s", init).replace("%r", end).replace("%t", rows.length);
      return rows;
    }
  },
  watch: {
    $reponse: "datatable"
  },
  methods: {
    clickRef() {
      this.$refs.inputUpload.click();
    },
    createItem() {
      this.$emit("create");
    },
    onChange(e) {
      this.file = e.target.files ? e.target.files[0] : null;
      this.$emit("onChange",this.file);
      this.$refs.inputUpload.value = null;
    },
    updateItem(item) {
      this.$emit("update", item, utils.getIndexOf(this.response, item.id));
    },
    confirmDelete(item) {
      this.deleteConfirm = true;
      this.deleteItem = item;
    },
    deleteRow(confirmed) {
      if (confirmed) {
        this.$emit(
          "delete",
          this.deleteItem.id,
          utils.getIndexOf(this.response, this.deleteItem.id)
        );
      }
      this.deleteConfirm = false;
    },
    customFilter(value, search) {
      if (!value || !search || typeof value !== "string") {
        return false;
      }
      return (
        value
          .toString()
          .toLocaleLowerCase()
          .indexOf(search.toLocaleLowerCase()) !== -1
      );
    },
    searchItems(val) {
      this.search = val;
    },
    getColor(value) {
      return utils.getColor(value);
    },
    valueLanguage: item => utils.valueLanguage(item.name, 'ESP')
  }
};
</script>

<style lang="scss">
.search-back-alternative .v-input__control {
  background: #fefefe;
}
</style>