<template>
  <v-footer
    app
  >
    <span>{{ text }}</span>
  </v-footer>
</template>
<script>
export default {
  data() {
    return {
      text: "@Globalia 2019"
    };
  }
};
</script>

<style lang="scss" scoped>
  .v-footer {
    background: var(--v-footer-background);
    color: var(--v-footer-color);
  }
</style>
