<template>
  <div>
    <v-data-table
      :dense="true"
      :headers="headers"
      :items="itemName"
      hide-default-footer
    >
      <template v-slot:item.key="{item}">
        <v-select
          v-model="item.key"
          :item-text="valueLanguage"
          :items="allRows"
          class="my-1"
          dense
          disabled
          hide-details="auto"
          item-value="id"
        />
      </template>

      <template v-slot:item.value="{item}">
        <v-text-field
          v-model="item.value"
          :disabled="!allowUpdate"
          :rules="[v => !!v || ruleMsg]"
          dense
          hide-details="auto"
          required
        />
      </template>

      <template v-slot:item.actions="{item}">
        <v-icon
          v-if="showIcon(item)"
          small
          @click="clean(item)"
        >
          delete
        </v-icon>
      </template>
    </v-data-table>
    <v-card
      v-if="showAdd"
      max-height="60px"
    >
      <v-card-text>
        <v-row>
          <v-col cols="3">
            <v-select
              v-model="newName.key"
              :items="allRows"
              item-value="id"
              :item-text="valueLanguage"
              :label="$t('language')"
            />
          </v-col>
          <v-col cols="8">
            <v-text-field
              v-model="newName.value"
            />
          </v-col>
          <v-col>
            <v-icon
              color="primary"
              @click="addValue"
            >
              add
            </v-icon>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>

import {utils} from "@helper/utils";

export default {
  props: {
    itemName: {type: Array, required: true},
    allRows: {type: Array, required: true},
    ruleMsg: {type: String, required: true},
    allowUpdate : {type: Boolean, required: true},
    showAdd : {type: Boolean, required: true},
  },
  data() {
    return {
      newName: {
        key: null,
        value: null
      }
    };
  },
  computed: {
    headers() {
      const header = [];
      header[1] = {text: this.$i18n.t('language'), align: 'left', width: '35%', value: 'key', sortable: false};
      header[2] = {text: this.$i18n.t('tables.nameMaster'), align: 'left', width: '60%', value: 'value', sortable: false};
      header[3] = {value: 'actions', align: 'center', width: '5%', sortable: false, filterable: false};
      return header;
    }
  },
  methods: {
    addValue() {
      if (this.newName.key && this.newName.value) {
        const element = {
          key: this.newName.key,
          value: this.newName.value
        };
        this.itemName.push(element);
        this.newName.key = null;
        this.newName.value = null;
      }
    },
    clean(item) {
      this.itemName.splice(utils.getIndexOf(this.itemName, item.key), 1);
    },
    showIcon(item) {
      return this.allowUpdate && utils.getIndexOf(this.itemName, item.key) > 0;
    },
    valueLanguage: item => utils.valueAppLanguage(item.name)
  }
};
</script>

<style lang="scss" scoped>
</style>