<template>
  <v-card class="the-menu-component">
    <v-list
      class="pa-0"
      dense
      nav
    >
      <v-list-item
        v-for="(menu, i) in configMenu.menu"
        :key="i"
        class="pa-0"
        link
      >
        <v-list-group class="col-12 pa-0">
          <!-- Nombre del menu -->
          <template v-slot:activator>
            <v-icon class="mr-1">
              {{ menu.icon }}
            </v-icon>
            <v-list-item-title>{{ valueLanguage(menu) }}</v-list-item-title>
          </template>

          <!-- Grupos el menu -->
          <div v-if="menu.hasOwnProperty('grp')">
            <v-list-group
              v-for="(grp, k) in menu.grp"
              :key="k"
              no-action
              sub-group
            >
              <!-- Nombre grupo -->
              <template v-slot:activator>
                <v-icon class="mr-1">
                  {{ grp.icon }}
                </v-icon>
                <v-list-item-title>{{ valueLanguage(grp) }}</v-list-item-title>
              </template>

              <!-- Servicios del grupo -->
              <div v-if="grp.hasOwnProperty('srv')">
                <v-list-item
                  v-for="(grpSrv, l) in grp.srv"
                  :key="l"
                  link
                  @click="routeUrl(grpSrv)"
                >
                  <v-icon class="ml-1 mr-1">
                    {{ grpSrv.icon }}
                  </v-icon>
                  <v-list-item-title v-text="valueLanguage(grpSrv)" />
                </v-list-item>
              </div>
            </v-list-group>
          </div>

          <!-- Servicios menu -->
          <div v-if="menu.hasOwnProperty('srv')">
            <v-list-item
              v-for="(srv, j) in menu.srv"
              :key="j"
              link
              @click="routeUrl(srv)"
            >
              <v-icon class="ml-4 mr-1">
                {{ srv.icon }}
              </v-icon>
              <v-list-item-title v-text="valueLanguage(srv)" />
            </v-list-item>
          </div>
        </v-list-group>
      </v-list-item>
    </v-list>
  </v-card>
</template>
<script>
import { mapState, mapActions } from "vuex";
import i18n from "../services/i18n";
import { utils } from "@helper/utils";
import { router } from "@router";

export default {
  computed: {
    locale() {
      return i18n.locale;
    },
    ...mapState({
      configMenu: state => state.configMenu
    })
  },
  created() {
    this.reloadMenu();
  },
  methods: {
    ...mapActions("configMenu", ["reloadMenu"]),
    routeUrl: function(srv) {
      if (srv.ext) {
        let url = srv.url.url;
        if (url.indexOf("?") > 0) {
          let params = "?";
          const parameter = Object.prototype.hasOwnProperty.call(srv.url,"params");
          if (parameter && srv.url.params.length > 0) {
            params = "";
            for (let param of srv.url.params) {
              if (params.length > 0) {
                params = params.concat("&");
              }
              params = params.concat(param.key, "=", param.value);
            }
          }
          url = url.concat(params);
        }

        if (srv.fie) {
          window.location.assign("appurl://".concat(this.completeRoute(url)));
        } else {
          window.open(this.completeRoute(url));
        }
      } else {
        router.push(srv.url.url);
      }
    },
    completeRoute(url) {
      //Añadimos el token nuestro
      const user = JSON.parse(localStorage.getItem("user"));
      if (url.indexOf("?") === -1) {
        url = url.concat("?");
      }
      url = url.concat("&mstoken=", user.token);
      return url;
    },
    valueLanguage: item => utils.valueLanguage(item.name, i18n.locale)
  }
};
</script>
<style lang="scss" scoped>
.v-sheet {
  background: none;

  ::v-deep {
    .v-list-item {
      min-height: 30px;

      &:not(.disabled) {
        color: var(--v-nav-color) !important;
      }

      .v-list-item__icon {
        min-width: 15px;
        margin: 0 5px 0 0;
      }

      i {
        color: var(--v-nav-color);
        font-size: 15px;
      }
    }
  }
}
</style>