<template>
  <v-select
    v-model="getLang"
    :item-text="valueLanguage"
    :items="master.languages_app"
    :label="$t('language')"
    dense
    hide-details="auto"
    item-value="id"
    :disabled="disableLang"
    @change="assign"
  />
</template>
<script>
/* eslint-disable */
import { mapState } from "vuex";
import i18n from "../services/i18n";
import { utils } from "@helper/utils";
export default {
  data() {
    return {
      lang: i18n.locale,
      disableLang: false
    };
  },
  computed: {
    ...mapState({
      master: state => state.master,
      configMenu: state => state.configMenu
    }),
    getLang() {
      this.disableLang = false;
      if (this.configMenu.company === 'WIS') {
        this.assign('ES');
        this.disableLang = true;
      }
      return i18n.locale;
    }
  },
  methods: {
    assign(locale) {
      if (Object.prototype.hasOwnProperty.call(i18n.messages, locale)) {
        this.lang = locale;
        i18n.locale = locale;
        this.$vuetify.lang.current = locale;
        window.$cookies.set("languageApp", locale);
        window.$cookies.set("language", this.getLanguage(locale));
      } else {
        //Por defecto Inglés
        this.assign("ES");
      }
    },
    getLanguage(locale) {
      let language = "ESP";
      if (locale === "EN") {
        language = "ENG";
      } else if (locale === "PT") {
        language = "PTE";
      }
      return language;
    },
    valueLanguage: item => utils.valueLanguage(item.name, i18n.locale)
  }
};
</script>

<style lang="scss" scoped>
</style>