<template>
  <v-select
    v-model="configMenu.company"
    :item-text="valueLanguage"
    :items="configMenu.business.masters"
    :label="$t('company')"
    :readonly="configMenu.business.masters.length < 2"
    hide-details="auto"
    item-value="id"
    dense
    @change="assign"
  />
</template>
<script>
import { mapState, mapActions } from "vuex";
import { utils } from "@helper/utils";
import i18n from "../services/i18n";

export default {
  computed: {
    ...mapState({
      auth: state => state.auth,
      configMenu: state => state.configMenu
    })
  },
  created() {
    if (window.$cookies.get("company")) {
      this.assign(window.$cookies.get("company"));
    } else {
      this.assign(this.configMenu.company);
    }
  },
  methods: {
    ...mapActions("configMenu", ["assignCia"]),
    assign(newCia) {
      window.$cookies.set("company", newCia);
      this.assignCia(newCia);
      const json = JSON.parse(this.auth.user.themes);
      for (let i = 0; json && i < json.length; i++) {
        if (json[i].id === newCia) {
          for (let j = 0; json[i].variables && j < json[i].variables.length; j++) {
            document.documentElement.style.setProperty(json[i].variables[j].key, json[i].variables[j].value);
          }
        }
      }
    },
    valueLanguage: item => utils.valueLanguage(item.name, i18n.locale)
  }
};
</script>

<style lang="scss" scoped>
</style>