<template>
  <v-autocomplete
    v-model="item"
    :items="items"
    :loading="loading"
    :search-input.sync="search"
    :label="title"
    hide-no-data
    item-value="id"
    :item-text="valueLanguage"
    :class="styles"
    :placeholder="$t('selectAjax')"
    :disabled="disable"
    hide-details="auto"
    dense
    :small-chips="chips"
    return-object
    clearable
    pattern="[0-9]*"
    @change="populate"
    @click:clear="clear"
    @keypress="validateNumber"
  />
</template>
<script>
import {utils} from "@helper/utils";
import debounce from 'debounce';
import {rest} from "@helper/rest-handler";

export default {
  props: {
    title: {type: String, required: true, default: null},
    // eslint-disable-next-line vue/no-boolean-default
    chips: {type: Boolean, required: false, default: false},
    // eslint-disable-next-line vue/no-boolean-default
    disable: {type: Boolean, required: false, default: false},
    entity: {type: String, required: true, default: null},
    entity2: {type: String, required: false, default: null},
    filter: {type: String, required: false, default: null},
    styles: {type: String, required: false, default: null},
    route: {type: String, required: true, default: null},
    tableItem: {type: Object, required: false, default: null},
    // eslint-disable-next-line vue/require-valid-default-prop
    searchLength: {type: Number, required: false, default: 3},
    // eslint-disable-next-line vue/no-boolean-default
    numericInput: {type: Boolean, required: false, default: false},
  },
  data() {
    return {
      master: this.entity,
      master2: this.entity2,
      masterRoute: this.route,
      filterRS: this.filter,
      item: null,
      items: [],
      search: '',
      loading: false,
    }
  },
  watch: {
    search(value) {
      if (this.item || !value || value.length <= this.searchLength) {
        return
      }
      debounce(this.send, 350)(value, this)
    }
  },
  methods: {
    populate() {
      this.search = '';
      this.$emit("populate", this.master, this.item, this.tableItem);
    },
    clear() {
      this.search = '';
      this.items = [];
      this.$emit("clear", this.master, this.item, this.tableItem);
    },
    send: async (value, self) => {
      if (!value) {
        self.items = [];
        self.item = null;
      }

      if (self.loading) {
        return
      }
      self.loading = true;
      let filtering = null;
      if (self.filterRS) {
        filtering = self.filterRS;
        const index = filtering.indexOf("¬");
        if (index !== -1) {
          filtering = self.filterRS.substring(0, self.filterRS.indexOf("¬"));
        }
      }

      rest.handleRequest(self.masterRoute.concat(self.master.toUpperCase()).concat("/").concat(self.search).concat("/").concat(self.filterRS ? filtering : null), null, "POST", null)
        .then(
          response => {
            if (!response.messages) {
              for (let element of response) {
                if (!self.filterRS || element.filter === self.filterRS) {
                  self.items.push(element);
                }
              }
            }
            if (self.master2) {
              rest.handleRequest(self.masterRoute.concat(self.master2.toUpperCase()).concat("/").concat(self.search).concat("/").concat(self.filterRS ? filtering : null), null, "POST", null)
                .then(
                  response => {
                    if (!response.messages) {
                      for (let element of response) {
                        if (!self.filterRS || element.filter === self.filterRS) {
                          self.items.push(element);
                        }
                      }
                    }
                  },
                  (error) => {
                    this.error(error);
                  }
                )
            }
          },
          (error) => {
            this.error(error);
          }
        )
        .finally(() => (self.loading = false))
    },
    valueLanguage: (item) => utils.valueLanguage(item.name, "ESP"),
    validateNumber(event) {
      if(this.numericInput){
        let keyCode = event.keyCode;
        if (keyCode < 48 || keyCode > 57) {
          event.preventDefault();
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
</style>