<template>
  <v-select
    v-model="configMenu.enviroment"
    :item-text="valueLanguage"
    :items="getEnviroments"
    :label="$t('enviroment')"
    :readonly="auth.user.envs.length < 2"
    dense
    hide-details="auto"
    item-value="id"
    @change="assign"
  />
</template>
<script>
import { mapState, mapActions } from "vuex";
import { utils } from "@helper/utils";
import i18n from "../services/i18n";

export default {
  computed: {
    ...mapState({
      auth: state => state.auth,
      configMenu: state => state.configMenu
    }),
    getEnviroments() {
      const rows = [];
      for (let env of this.auth.user.envs) {
        if (!env.id) {
          continue;
        }
        rows.push(env);
      }
      return rows;
    }
  },
  methods: {
    ...mapActions("configMenu", ["assignEnv"]),
    assign(newEnv) {
      this.assignEnv(newEnv);
    },
    valueLanguage: item => utils.valueLanguage(item.name, i18n.locale)
  }
};
</script>

<style lang="scss" scoped>
</style>