<template>
  <v-select
    v-model="configMenu.business"
    :item-text="valueLanguage"
    :items="auth.user.bus"
    :label="$t('business')"
    dense
    hide-details="auto"
    item-value="id"
    return-object
    @change="assign"
  />
</template>
<script>
import { mapState, mapActions } from "vuex";
import { utils } from "@helper/utils";
import i18n from "../services/i18n";

export default {
  computed: {
    ...mapState({
      auth: state => state.auth,
      configMenu: state => state.configMenu,
      master: state => state.master
    })
  },
  created() {
    if (window.$cookies.get("businessApp")) {
      this.assign(window.$cookies.get("businessApp"));
    }
  },
  methods: {
    ...mapActions("configMenu", ["assignBusiness", "assignCia"]),
    assign(newBusiness) {
      this.business = newBusiness;
      window.$cookies.set("businessApp", newBusiness);
      this.assignBusiness(newBusiness);
      this.assignCompany(newBusiness);
    },
    assignCompany(newBusiness) {
      if (newBusiness && newBusiness.masters) {
        this.assignCia(newBusiness.masters[0].id);
        const json = JSON.parse(this.auth.user.themes);
        for (let i = 0; json && i < json.length; i++) {
          if (json[i].id === newBusiness.masters[0].id) {
            for (let j = 0; json[i].variables && j < json[i].variables.length; j++) {
              document.documentElement.style.setProperty(json[i].variables[j].key, json[i].variables[j].value);
            }
          }
        }
      }
    },
    valueLanguage: item => utils.valueLanguage(item.name, i18n.locale)
  }
};
</script>

<style lang="scss" scoped>
</style>