<template v-slot:prepend>
  <v-list>
    <v-list-item class="the-user-component">
      <v-list-item-avatar>
        <img
          :src="auth.user.photo"
          alt="auth.user.name"
        >
      </v-list-item-avatar>

      <v-list-item-content>
        <v-list-item-title class="title">
          <v-row no-gutters>
            <small>{{ auth.user.name }} {{ auth.user.sur }}</small>
            <v-chip
              v-if="auth.user.adm"
              class="my-1"
              color="green"
              label
              text-color="white"
              x-small
            >
              {{ $t('admin') }}
            </v-chip>
            <v-spacer />
            <small class="text-right">
              <router-link
                to="/login"
              >
                {{ $t('logout') }}
                <v-icon>
                  exit_to_app
                </v-icon>
              </router-link></small>
          </v-row>
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </v-list>
</template>
<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState({
      auth: state => state.auth
    })
  }
};
</script>

<style lang="scss" scoped>
.the-user-component {
	padding: 0 8px;

  .v-list-item__content {
    color: var(--v-nav-color);

    a,
    .v-icon {
      color: var(--v-nav-color);
    }
  }
}
</style>