<template>
  <v-app id="inspire">
    <router-view />
    <AlertMessage />
    <TheFooter />
  </v-app>
</template>

<script>
import i18n from "./services/i18n";
import AlertMessage from "./components/AlertMessage";
import TheFooter from "./components/TheFooter";

export default {
  name: "App",
  components: {
    AlertMessage,
    TheFooter
  },
  created() {
    if (window.$cookies.get("languageApp")) {
      i18n.locale = window.$cookies.get("languageApp");
    }
  }
};
</script>

<style lang="scss">
  @import "styles/lib";
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
  :root {
    // global
    // //////////////////////////////////////
    --v-app-background: #e4e5e6;

    --v-green: #008b00;

    // header
    --v-header-background: #222;
    --v-header-color: #fefefe;

    //footer
    --v-footer-background: #444;
    --v-footer-color: #fefefe;

    // components
    // //////////////////////////////////////
    //nav
    --v-nav-background: #2a2a2a;
    --v-nav-color: #fdfdfd;

    //buttom
    --v-buttom-background: var(--v-primary-base);
    --v-buttom-color: #fdfdfd;

    // table
    --v-table-background: #fff;
    --v-table-header-background: var(--v-primary-base);
    --v-table-header-color: #fdfdfd;

    // pagination
    --v-pagination-border-color: #ddd;

    // icons
    --v-icon-color: var(--v-primary-base);

    // alert
    --v-alert-color: #fff;

    // dialog
    --v-dialog-background: var(--v-app-background);

    //draggable-wrapper
    --v-draggable-wrapper-background: #efefef;
    --v-draggable-wrapper-border: #ddd;

    //disabled
    --v-disabled-color: rgba(0, 0, 0, 2);
    --v-disabled-opacity: 0.9;
  }


  // global
  // //////////////////////////////////////
  .v-application {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: var(--v-app-background) !important;

    .v-application--wrap {
      :focus {
        outline: none;
      }
    }

    .v-label--is-disabled,
    .v-chip--disabled,
    .v-input--is-disabled input,
    .v-input--is-disabled textarea,
    .v-select .v-select__selection--readonly,
    .v-select .v-select__selection--disabled {
      color: var(--v-disabled-color);
    }

    .v-chip--disabled {
      opacity: var(--v-disabled-opacity);
    }

		.v-tab {
			text-transform: capitalize;
		}
	}
</style>
