<template>
  <div class="post">
    <v-dialog
      v-model="dialog"
      persistent
    >
      <v-card>
        <v-card-title v-if="!update">
          <span class="headline">{{ $t('group.new') }}</span>
        </v-card-title>

        <v-card-title v-if="update">
          <span class="headline">{{ $t('group.upd') }}</span>
        </v-card-title>

        <v-form
          id="groupForm"
          v-model="isValid"
          autocomplete="off"
          @submit.prevent="handleSubmit"
        >
          <v-card-text class="pt-0">
            <v-container>
              <v-row>
                <v-text-field
                  v-model="group.id"
                  class="col-3"
                  disabled
                  hide-details="auto"
                  dense
                >
                  <template #label>
                    {{ $t('group.id') }}
                    <span class="error--text">
                      <strong>*</strong>
                    </span>
                  </template>
                </v-text-field>
              </v-row>

              <TheMultiLanguage
                v-if="group.name"
                :item-name="group.name"
                :all-rows="master.languages_app"
                :rule-msg="$t('group.rules.name')"
                :allow-update="true"
                :show-add="false"
              />

              <v-row class="mx-2">
                <DraggableCustom
                  :selected="group.srv"
                  :available="master.services"
                  :label-selected="$t('group.service')"
                  :label-available="$t('group.availservice')"
                  :show-filter="true"
                  @updateSelected="selected = $event"
                />
              </v-row>

              <v-row>
                <v-col class="d-flex col-7 col-md-4">
                  <v-icon class="mr-5">
                    {{ group.icon }}
                  </v-icon>
                  <v-text-field
                    v-model="group.icon"
                    :label="$t('group.icon')"
                    :hint="$t('group.hint.icon')"
                    persistent-hint
                  />
                </v-col>

                <v-col class="col-5">
                  <v-switch
                    v-model="group.act"
                    :label="$t('group.status')"
                    inset
                    dense
                  />
                </v-col>
              </v-row>
            </v-container>
            <small>
              <span class="error--text">
                <strong>*</strong>
              </span>
              {{ $t('required') }}
            </small>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-progress-circular
              v-show="activeProgres"
              indeterminate
              color="primary"
              class="mr-2"
            />
            <v-btn
              color="primary"
              small
              text
              @click="cancelForm"
            >
              {{ $t('button.cancel') }}
            </v-btn>
            <v-btn
              v-if="!update"
              :disabled="!isValid"
              color="primary"
              form="groupForm"
              small
              text
              type="submit"
            >
              {{ $t('button.create') }}
            </v-btn>
            <v-btn
              v-if="update"
              :disabled="!isValid"
              color="primary"
              form="groupForm"
              small
              text
              type="submit"
            >
              {{ $t('button.update') }}
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>

    <TheDataTable
      v-if="response"
      :titles="headers"
      :response="response"
      :title="$t('page.groups')"
      sorted-by="id"
      @create="createItem"
      @update="updateItem"
      @delete="deleteItem"
    />
  </div>
</template>
<script>
import { mapState, mapMutations, mapActions } from "vuex";
import { admin } from "@services/admin";
import { utils } from "@helper/utils";
import TheDataTable from "../../components/TheDataTable";
import DraggableCustom from "../../components/DraggableCustom";
import TheMultiLanguage from "../../components/TheMultiLanguage";
import i18n from "../../services/i18n";

export default {
  components: {
    TheDataTable,
    DraggableCustom,
    TheMultiLanguage
  },
  data() {
    return {
      selected: [],
      isValid: true,
      response: [],
      dialog: false,
      update: false,
      activeProgres: false,
      groupIndex: -1,
      group: {
        id: null,
        env: null,
        name: null,
        icon: null,
        act: false,
        srv: null
      },
      groupDefault: {
        id: null,
        env: null,
        name: null,
        icon: null,
        act: false,
        srv: null
      }
    };
  },
  computed: {
    ...mapState({
      configMenu: state => state.configMenu,
      master: state => state.master
    }),
    headers() {
      return [
        {
          text: this.$i18n.t("tables.id"),
          align: "left",
          value: "id",
          filterable: false
        },
        {
          text: this.$i18n.t("tables.nameGroup"),
          value: "name"
        },
        {
          text: this.$i18n.t("tables.status"),
          align: "center",
          value: "act",
          filterable: false
        },
        {
          value: "actions",
          sortable: false,
          filterable: false
        }
      ];
    }
  },
  watch: {
    // call again the method if the route changes
    $route: "fetchData"
  },
  created() {
    this.fetchData();
  },
  methods: {
    ...mapMutations("master", ["groups"]),
    ...mapActions("alert", ["error"]),
    ...mapActions("master", ["getServices"]),
    fetchData() {
      this.response = [];
      const env = this.configMenu.enviroment;
      if (this.master.services === null) {
        this.getServices(env);
      }

      admin.getAllItems(this.$route.path, JSON.stringify({ env }))
        .then(
          response => {
            if (!response.messages) {
              this.response = response;
            }
          },
          error => {
            this.error(error);
          });
    },
    format() {
      const rows = [];
      for (let i = 0; i < this.response.length; i++) {
        rows[i] = {
          id: this.response[i].id,
          name: utils.valueLanguage(this.response[i].name, i18n.locale),
          act: utils.isActive(this.response[i].act)
        };
      }
      return rows;
    },
    deleteItem(id, index) {
      const service = this.response[index];
      const env = service.env;
      const name = service.name;
      const act = service.act;
      const icon = service.icon;
      const srv = service.srv;
      const del = true;

      admin.remove(this.$route.path, JSON.stringify({ id, env, name, act, icon, srv, del }))
        .then(
          () => {
            this.response.splice(index, 1)
          },
          error => {
            this.error(error);
          }
        );
      this.groups(null);
      this.close();
    },
    close() {
      this.dialog = false;
      this.activeProgres = false;
      setTimeout(() => {
        this.group = Object.assign({}, this.groupDefault);
        this.group.srv = [];
        this.selected = [];
        this.groupIndex = -1;
      }, 300);
    },
    createItem() {
      this.update = false;
      this.dialog = true;

      this.group.name = [];
      for (let i = 0; i < this.master.languages_app.length; i++) {
        this.group.name[i] = {
          key: this.master.languages_app[i].id,
          value: ""
        };
      }
    },
    updateItem(item, index) {
      this.update = true;
      this.groupIndex = index;

      const env = this.configMenu.enviroment;
      const id = item.id;
      admin.getItem(this.$route.path, JSON.stringify({ id, env }))
        .then(
          group => {
            this.group = group;
            this.dialog = true;
          },
          error => {
            this.error(error);
          }
        );
    },
    handleSubmit(e) {
      e.preventDefault();
      this.activeProgres = true;
      if (this.selected.length !== 0) {
        let env = null;
        const name = this.group.name;
        const act = this.group.act;
        const icon = this.group.icon;
        const srv = [];
        let i = 0;

        for (let select of this.selected) {
          srv[i] = {
            id: select.node.id,
            env: select.node.env,
            name: select.node.name,
            url: select.node.url,
            ext: select.node.ext,
            act: select.node.act,
            fie: select.node.fie,
            icon: select.node.icon
          };
          if (env == null) {
            env = select.node.env;
          }
          i++;
        }

        //Llamada al rest
        if (!this.update) {
          admin.create(this.$route.path, JSON.stringify({ env, name, act, icon, srv }))
            .then(
              success => {
                this.response.push(success);
              },
              error => {
                this.error(error);
              }
            );
        } else {
          const id = this.group.id;
          const index = this.groupIndex;
          admin.update(this.$route.path, JSON.stringify({ id, env, name, act, icon, srv }))
            .then(
              success => {
                Object.assign(this.response[index], success);
              },
              error => {
                this.error(error);
              }
            );
        }
        this.groups(null);
        this.close();
      } else {
        this.error(this.$i18n.t("group.rules.service"));
        this.activeProgres = false;
      }
    },
    cancelForm() {
      this.close();
    },
    onMove({ relatedContext, draggedContext }) {
      const relatedElement = relatedContext.element;
      const draggedElement = draggedContext.element;
      return (
        (!relatedElement || !relatedElement.fixed) && !draggedElement.fixed
      );
    },
    valueLanguage: item => utils.valueLanguage(item.name, i18n.locale)
  }
};
</script>

<style lang="scss" scoped>
</style>