<template>
  <TheDataTable
    v-if="response"
    :titles="headers"
    :response="response"
    :title="$t('page.master')"
    :create-allowed="false"
    :update-allowed="false"
    :delete-allowed="false"
    sorted-by="entity"
    @create="createItem"
    @update="updateItem"
  />
</template>
<script>
import { admin } from "@services/admin";
import { mapState } from "vuex";
import { utils } from "@helper/utils";
import TheDataTable from "../../components/TheDataTable";
import i18n from "../../services/i18n";

export default {
  components: {
    TheDataTable
  },
  data() {
    return {
      response: []
    };
  },
  computed: {
    ...mapState({
      configMenu: state => state.configMenu
    }),
    headers() {
      return [
        {
          text: this.$i18n.t("tables.id"),
          align: "left",
          value: "id"
        },
        {
          text: this.$i18n.t("tables.nameMaster"),
          align: "left",
          value: "name"
        },
        {
          text: this.$i18n.t("tables.entity"),
          align: "center",
          value: "entity"
        },
        {
          value: "actions",
          sortable: false,
          filterable: false
        }
      ];
    }
  },
  watch: {
    // call again the method if the route changes
    $route: "fetchData"
  },
  created() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      this.response = [];
      admin.getAllItems(this.$route.path, JSON.stringify({}))
        .then(response => {
          if (!response.messages) {
            this.response = response;
          }
        });
    },
    format() {
      const formatted = [];
      for (let i = 0; i < this.response.length; i++) {
        formatted[i] = {
          id: this.response[i].id,
          entity: this.response[i].entity,
          name: utils.valueLanguage(this.response[i].name, i18n.locale)
        };
      }
      return formatted;
    },
    createItem() {
      console.log("Crear registro");
    },
    updateItem(id) {
      console.log(id);
    }
  }
};
</script>
<style scoped>
</style>