<template>
  <div class="post">
    <v-dialog
      v-model="dialog"
      persistent
    >
      <v-card>
        <v-card-title v-if="!update">
          <span class="headline">{{ $t('menu.new') }}</span>
        </v-card-title>

        <v-card-title v-if="update">
          <span class="headline">{{ $t('menu.upd') }}</span>
        </v-card-title>

        <v-form
          id="menuForm"
          v-model="isValid"
          autocomplete="off"
          @submit.prevent="handleSubmit"
        >
          <v-card-text class="pt-0">
            <v-container>
              <v-row>
                <v-text-field
                  v-model="menu.id"
                  class="col-6"
                  disabled
                >
                  <template #label>
                    {{ $t('menu.id') }}
                    <span class="red--text">
                      <strong>*</strong>
                    </span>
                  </template>
                </v-text-field>


                <v-select
                  v-model="menu.cia"
                  :hint="$t('menu.hint.company')"
                  :item-text="valueLanguage"
                  :items="master.companies"
                  :label="$t('menu.company')"
                  class="col-6"
                  clearable
                  item-value="id"
                  persistent-hint
                />
              </v-row>
              <TheMultiLanguage
                v-if="menu.name"
                :all-rows="master.languages_app"
                :allow-update="true"
                :item-name="menu.name"
                :rule-msg="$t('menu.rules.name')"
                :show-add="false"
              />
              <v-row class="mx-2">
                <DraggableCustom
                  :available="master.groups"
                  :label-available="$t('menu.availgroup')"
                  :label-selected="$t('menu.group')"
                  :selected="menu.grp"
                  :show-filter="true"
                  @updateSelected="selectedGrp = $event"
                />
              </v-row>

              <v-row class="mx-2">
                <DraggableCustom
                  :available="master.services"
                  :label-available="$t('menu.availservice')"
                  :label-selected="$t('menu.service')"
                  :selected="menu.srv"
                  :show-filter="true"
                  class="no-first"
                  @updateSelected="selected = $event"
                />
              </v-row>
              <v-row>
                <v-col class="d-flex col-7 col-md-4">
                  <v-icon class="mr-5">
                    {{ menu.icon }}
                  </v-icon>
                  <v-text-field
                    v-model="menu.icon"
                    :hint="$t('menu.hint.icon')"
                    :label="$t('menu.icon')"
                    persistent-hint
                  />
                </v-col>
                <v-col class="col-5">
                  <v-switch
                    v-model="menu.act"
                    :label="$t('menu.status')"
                    dense
                    inset
                  />
                </v-col>
              </v-row>
            </v-container>
            <small>
              <span class="error--text">
                <strong>*</strong>
              </span>
              {{ $t('required') }}
            </small>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-progress-circular
              v-show="activeProgres"
              indeterminate
              color="primary"
              class="mr-2"
            />
            <v-btn
              color="primary"
              small
              text
              @click="cancelForm"
            >
              {{ $t('button.cancel') }}
            </v-btn>
            <v-btn
              v-if="!update"
              :disabled="!isValid"
              color="primary"
              form="menuForm"
              small
              text
              type="submit"
            >
              {{ $t('button.create') }}
            </v-btn>
            <v-btn
              v-if="update"
              :disabled="!isValid"
              color="primary"
              form="menuForm"
              small
              text
              type="submit"
            >
              {{ $t('button.update') }}
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>

    <TheDataTable
      v-if="response"
      :titles="headers"
      :response="response"
      :title="$t('page.menus')"
      sorted-by="id"
      @create="createItem"
      @update="updateItem"
      @delete="deleteItem"
    />
  </div>
</template>
<script>
import {mapActions, mapState} from "vuex";
import {admin} from "@services/admin";
import {utils} from "@helper/utils";
import i18n from "../../services/i18n";
import TheDataTable from "../../components/TheDataTable";
import DraggableCustom from "../../components/DraggableCustom";
import TheMultiLanguage from "../../components/TheMultiLanguage";

export default {
  components: {
    TheDataTable,
    DraggableCustom,
    TheMultiLanguage
  },
  data() {
    return {
      selected: [],
      selectedGrp: [],
      isValid: true,
      response: [],
      update: false,
      dialog: false,
      activeProgres: false,
      menuIndex: -1,
      menu: {
        id: null,
        env: null,
        cia: null,
        name: null,
        icon: null,
        act: false,
        srv: null,
        grp: null
      },
      menuDefault: {
        id: null,
        env: null,
        cia: null,
        name: null,
        icon: null,
        act: false,
        srv: null,
        grp: null
      }
    };
  },
  computed: {
    ...mapState({
      configMenu: state => state.configMenu,
      master: state => state.master
    }),
    headers() {
      return [
        {
          text: this.$i18n.t("tables.id"),
          align: "left",
          value: "id",
          filterable: false
        },
        {
          text: this.$i18n.t("tables.nameMenu"),
          value: "name"
        },
        {
          text: this.$i18n.t("tables.status"),
          align: "center",
          value: "act",
          filterable: false
        },
        {
          value: "actions",
          sortable: false,
          filterable: false
        }
      ];
    }
  },
  watch: {
    isDragging(newValue) {
      if (newValue) {
        this.delayedDragging = true;
        return;
      }
      this.$nextTick(() => {
        this.delayedDragging = false;
      });
    },
    // call again the method if the route changes
    $route: "fetchData"
  },
  created() {
    this.fetchData();
  },
  methods: {
    ...mapActions("master", ["getServices", "getGroups", "getMaster"]),
    ...mapActions("alert", ["error"]),
    fetchData() {
      if (this.master.business_app === null) {
        this.getMaster("business_app");
      }

      this.response = [];
      const env = this.configMenu.enviroment;
      if (this.master.services === null) {
        this.getServices(env);
      }
      if (this.master.groups === null) {
        this.getGroups(env);
      }

      const cia = this.configMenu.company;
      admin.getAllItems(this.$route.path, JSON.stringify({env, cia}))
        .then(
          response => {
            if (!response.messages) {
              this.response = response;
            }
          },
          error => {
            this.error(error);
          }
        );
    },
    format() {
      const formatted = [];
      for (let i = 0; i < this.response.length; i++) {
        formatted[i] = {
          id: this.response[i].id,
          name: utils.valueLanguage(this.response[i].name, i18n.locale),
          act: utils.isActive(this.response[i].act)
        };
      }
      return formatted;
    },
    deleteItem(id, index) {
      const service = this.response[index];
      const env = service.env;
      const cia = service.cia;
      const name = service.name;
      const act = service.act;
      const icon = service.icon;
      const grp = service.grp;
      const srv = service.srv;
      const del = true;

      admin.remove(this.$route.path, JSON.stringify({id, env, cia, name, act, icon, grp, srv, del}))
        .then(() => {
          this.response.splice(index, 1)
        }, error => {
          this.error(error);
        });
      this.close();
    },
    close() {
      this.dialog = false;
      this.activeProgres = false;
      setTimeout(() => {
        this.menu = Object.assign({}, this.menuDefault);
        this.menu.srv = [];
        this.menu.grp = [];
        this.menuIndex = -1;
        this.selected = [];
        this.selectedGrp = [];
      }, 300);
    },
    createItem() {
      this.update = false;
      this.dialog = true;

      this.menu.name = [];
      for (let i = 0; i < this.master.languages_app.length; i++) {
        this.menu.name[i] = {
          key: this.master.languages_app[i].id,
          value: ""
        };
      }
    },
    updateItem(item, index) {
      this.update = true;
      this.menuIndex = index;

      const env = this.configMenu.enviroment;
      const cia = this.configMenu.company;
      const id = item.id;
      admin.getItem(this.$route.path, JSON.stringify({id, env, cia}))
        .then(
          menu => {
            this.menu = menu;
            this.dialog = true;
          },
          error => {
            this.error(error);
          }
        );
    },
    handleSubmit(e) {
      e.preventDefault();
      this.activeProgres = true;

      if (this.selected.length === 0 && this.selectedGrp.length === 0) {
        this.error(this.$i18n.t("menu.rules.service"));
      } else {
        let env = null;
        const cia = this.menu.cia;
        const name = this.menu.name;
        const act = this.menu.act;
        const icon = this.menu.icon;
        const grp = [];
        let i = 0;

        let select;
        for (select of this.selectedGrp) {
          grp[i] = {
            id: select.node.id,
            env: select.node.env,
            name: select.node.name,
            act: select.node.act,
            icon: select.node.icon,
            srv: select.node.srv
          };
          if (env == null) {
            env = select.node.env;
          }
          i++;
        }

        const srv = [];
        i = 0;
        for (select of this.selected) {
          srv[i] = {
            id: select.node.id,
            env: select.node.env,
            name: select.node.name,
            url: select.node.url,
            ext: select.node.ext,
            act: select.node.act,
            fie: select.node.fie,
            icon: select.node.icon
          };
          if (env == null) {
            env = select.node.env;
          }
          i++;
        }

        //Llamada al rest
        if (!this.update) {
          admin.create(this.$route.path, JSON.stringify({env, cia, name, act, icon, grp, srv}))
            .then(
              success => {
                this.response.push(success);
              },
              error => {
                this.error(error);
              }
            );
        } else {
          const id = this.menu.id;
          const index = this.menuIndex;
          admin.update(this.$route.path, JSON.stringify({id, env, cia, name, act, icon, grp, srv}))
            .then(
              success => {
                Object.assign(this.response[index], success);
              },
              error => {
                this.error(error);
              }
            );
        }
        this.close();
      }
    },
    cancelForm() {
      this.close();
    },
    valueLanguage: item => utils.valueLanguage(item.name, i18n.locale),
  }
};
</script>

<style lang="scss" scoped>
.no-first {
  ::v-deep {
    .draggable-wrapper {
      margin-top: 0;
      padding-top: 12px;
    }
  }
}

</style>
