<template>
  <div class="post">
    <v-dialog
      v-model="dialog"
      persistent
    >
      <v-card>
        <v-card-title v-if="!update">
          <span class="headline">{{ $t('service.new') }}</span>
        </v-card-title>

        <v-card-title v-if="update">
          <span class="headline">{{ $t('service.upd') }}</span>
        </v-card-title>

        <v-form
          id="serviceForm"
          v-model="isValid"
          autocomplete="off"
          @submit.prevent="handleSubmit"
        >
          <v-card-text class="pt-0">
            <v-container>
              <v-row>
                <v-text-field
                  v-model="service.id"
                  class="col-3"
                  disabled
                  hide-details="auto"
                  dense
                >
                  <template #label>
                    {{ $t('service.id') }}
                    <span class="error--text">
                      <strong>*</strong>
                    </span>
                  </template>
                </v-text-field>
              </v-row>

              <TheMultiLanguage
                v-if="service.name"
                :item-name="service.name"
                :all-rows="master.languages_app"
                :rule-msg="$t('service.rules.name')"
                :allow-update="true"
                :show-add="false"
              />

              <v-row>
                <v-col class="d-flex col-12 col-sm-6 col-md-3">
                  <v-icon
                    class="mr-1"
                    dense
                  >
                    {{ service.icon }}
                  </v-icon>
                  <v-text-field
                    v-model="service.icon"
                    :label="$t('service.icon')"
                    :hint="$t('service.hint.icon')"
                    persistent-hint
                    hide-details="auto"
                    dense
                  />
                </v-col>

                <v-col class="d-flex col-6 col-md-3">
                  <v-switch
                    v-model="service.ext"
                    :label="$t('service.origin')"
                    :hint="$t('service.hint.origin')"
                    persistent-hint
                    class="mt-0"
                    hide-details="auto"
                    dense
                  />
                </v-col>

                <v-col class="d-flex col-6 col-md-3">
                  <v-switch
                    v-model="service.act"
                    :label="$t('service.status')"
                    class="mt-0"
                    hide-details="auto"
                    dense
                  />
                </v-col>

                <v-col class="d-flex col-6 col-md-3">
                  <v-switch
                    v-model="service.fie"
                    :label="$t('service.navigator')"
                    :hint="$t('service.hint.navigator')"
                    persistent-hint
                    class="mt-0"
                    hide-details="auto"
                    dense
                  />
                </v-col>
              </v-row>


              <v-text-field
                v-model="service.url.url"
                :rules="[v => !!v || $t('service.rules.url')]"
                dense
                hide-details="auto"
                name="url"
                type="text"
              >
                <template #label>
                  {{ $t('service.url') }}
                  <span class="error--text">
                    <strong>*</strong>
                  </span>
                </template>
              </v-text-field>

              <v-card
                v-if="service.ext"
                width="100%"
                outlined
              >
                <v-card-text>
                  <div>{{ $t('service.params') }}</div>
                </v-card-text>
                <v-row>
                  <v-col
                    cols="12"
                    sm="5"
                  >
                    <v-text-field
                      v-model="nameParam"
                      :label="$t('service.nameParam')"
                    />
                  </v-col>
                  <v-col
                    cols="12"
                    sm="5"
                  >
                    <v-text-field
                      v-model="valueParam"
                      :label="$t('service.valueParam')"
                    />
                  </v-col>
                  <v-col
                    cols="12"
                    sm="2"
                  >
                    <v-btn
                      color="primary"
                      fab
                      small
                      @click="addParam"
                    >
                      <v-icon>add</v-icon>
                    </v-btn>
                  </v-col>
                  <v-col cols="12">
                    <v-chip
                      v-for="param in service.url.params"
                      :key="param.value"
                      class="ma-1"
                      label
                      small
                      close
                      @click:close="delParam(param)"
                    >
                      {{ param.key }} = {{ param.value }}
                    </v-chip>
                  </v-col>
                </v-row>
              </v-card>
            </v-container>

            <small>
              <span class="error--text">
                <strong>*</strong>
              </span>
              {{ $t('required') }}
            </small>
          </v-card-text>

          <v-card-actions>
            <v-spacer />
            <v-progress-circular
              v-show="activeProgres"
              indeterminate
              color="primary"
              class="mr-2"
            />
            <v-btn
              color="primary"
              small
              text
              @click="cancelForm"
            >
              {{ $t('button.cancel') }}
            </v-btn>

            <v-btn
              v-if="!update"
              :disabled="!isValid"
              color="primary"
              form="serviceForm"
              small
              text
              type="submit"
            >
              {{ $t('button.create') }}
            </v-btn>

            <v-btn
              v-if="update"
              :disabled="!isValid"
              color="primary"
              form="serviceForm"
              small
              text
              type="submit"
            >
              {{ $t('button.update') }}
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
    <TheDataTable
      v-if="response"
      :titles="headers"
      :response="response"
      :title="$t('page.services')"
      sorted-by="id"
      @create="createItem"
      @update="updateItem"
      @delete="deleteItem"
    />
  </div>
</template>
<script>
import { mapState, mapActions, mapMutations } from "vuex";
import { admin } from "@services/admin";
import { utils } from "@helper/utils";
import TheDataTable from "../../components/TheDataTable";
import TheMultiLanguage from "../../components/TheMultiLanguage";
import i18n from "../../services/i18n";

export default {
  components: {
    TheDataTable,
    TheMultiLanguage
  },
  data() {
    return {
      isValid: true,
      response: [],
      dialog: false,
      update: false,
      activeProgres: false,
      nameParam: null,
      valueParam: null,
      serviceIndex: -1,
      service: {
        id: null,
        env: null,
        name: null,
        url: {
          url: null,
          params: [],
          readonly: false
        },
        act: false,
        ext: false,
        fie: false
      },
      serviceDefault: {
        id: null,
        env: null,
        name: null,
        url: null,
        act: false,
        ext: false,
        fie: false
      },
      urlDefault: {
        url: null,
        params: [],
        readonly: false
      }
    };
  },
  computed: {
    ...mapState({
      configMenu: state => state.configMenu,
      master: state => state.master
    }),
    headers() {
      return [
        {
          text: this.$i18n.t("tables.id"),
          align: "left",
          value: "id",
          filterable: false
        },
        {
          text: this.$i18n.t("tables.nameService"),
          value: "name"
        },
        {
          text: this.$i18n.t("tables.url"),
          value: "url"
        },
        {
          text: this.$i18n.t("tables.status"),
          align: "center",
          value: "act",
          filterable: false
        },
        {
          text: this.$i18n.t("tables.origin"),
          align: "center",
          value: "ext",
          filterable: false
        },
        {
          text: this.$i18n.t("tables.browser"),
          align: "center",
          value: "fie",
          filterable: false
        },
        {
          value: "actions",
          sortable: false,
          filterable: false
        }
      ];
    }
  },
  watch: {
    // call again the method if the route changes
    $route: "fetchData"
  },
  created() {
    this.fetchData();
  },
  methods: {
    ...mapActions("alert", ["error"]),
    ...mapMutations("master", ["services"]),
    fetchData() {
      this.response = [];
      const env = this.configMenu.enviroment;
      admin.getAllItems(this.$route.path, JSON.stringify({ env }))
        .then(
          response => {
            if (!response.messages) {
              this.response = response;
            }
          },
          error => {
            this.error(error);
          }
        );
    },
    format() {
      const rows = [];
      for (let i = 0; i < this.response.length; i++) {
        rows[i] = {
          id: this.response[i].id,
          url: utils.valueUrl(this.response[i].url),
          act: utils.isActive(this.response[i].act),
          ext: utils.isExternal(this.response[i].ext),
          fie: utils.isForcedIE(this.response[i].fie),
          name: utils.valueLanguage(this.response[i].name, i18n.locale)
        };
      }
      return rows;
    },
    deleteItem(id, index) {
      const service = this.response[index];
      const env = service.env;
      const name = service.name;
      const url = service.url;
      const ext = service.ext;
      const act = service.act;
      const fie = service.fie;
      const icon = service.icon;
      const del = true;

      admin.remove(this.$route.path, JSON.stringify({ id, env, name, url, ext, act, fie, icon, del }))
        .then(
          () => {
            this.response.splice(index, 1)
          },
          error => {
            this.error(error);
          }
        );
      this.services(null);
      this.close();
    },
    close() {
      this.dialog = false;
      this.activeProgres = false;
      setTimeout(() => {
        this.nameParam = null;
        this.valueParam = null;
        this.service = Object.assign({}, this.serviceDefault);
        this.service.url = Object.assign({}, this.urlDefault);
        this.serviceIndex = -1;
      }, 300);
    },
    createItem() {
      this.update = false;
      this.dialog = true;

      this.service.name = [];
      for (let i = 0; i < this.master.languages_app.length; i++) {
        this.service.name[i] = {
          key: this.master.languages_app[i].id,
          value: ""
        };
      }
      this.nameParam = null;
      this.valueParam = null;
    },
    updateItem(item, index) {
      this.update = true;
      this.nameParam = null;
      this.valueParam = null;
      this.serviceIndex = index;

      const env = this.configMenu.enviroment;
      const id = item.id;
      admin.getItem(this.$route.path, JSON.stringify({ id, env }))
        .then(
          service => {
            this.service = service;
            this.dialog = true;
          },
          error => {
            this.error(error);
          }
        );
    },
    handleSubmit(e) {
      e.preventDefault();
      this.activeProgres = true;
      this.service.env = this.service.ext ? this.configMenu.enviroment : null;
      const env = this.service.env;
      const name = this.service.name;
      const url = this.service.url;
      const ext = this.service.ext;
      const act = this.service.act;
      const fie = this.service.fie;
      const icon = this.service.icon;

      //Llamada al rest
      if (!this.update) {
        admin.create(this.$route.path, JSON.stringify({ env, name, url, ext, act, fie, icon }))
          .then(
            success => {
              this.response.push(success);
            },
            error => {
              this.error(error);
            }
          );
      } else {
        const id = this.service.id;
        const index = this.serviceIndex;
        admin.update(this.$route.path, JSON.stringify({ id, env, name, url, ext, act, fie, icon }))
          .then(
            success => {
              Object.assign(this.response[index], success);
            },
            error => {
              this.error(error);
            }
          );
      }
      this.services(null);
      this.close();
    },
    cancelForm() {
      this.close();
    },
    addParam() {
      if (this.nameParam != null && this.valueParam != null) {
        const param = {
          key: this.nameParam,
          value: this.valueParam
        };
        this.service.url.params.push(param);
      }
      this.nameParam = null;
      this.valueParam = null;
    },
    delParam(param) {
      const pos = this.service.url.params.indexOf(param);
      this.service.url.params.splice(pos, 1);
    },
    valueLanguage: item => utils.valueLanguage(item.name, i18n.locale)
  }
};
</script>
<style scoped>
</style>