<template>
  <div class="post">
    <v-dialog
      v-model="dialog"
      persistent
    >
      <v-card>
        <v-card-title v-if="!update">
          <span class="headline">{{ $t('user.new') }}</span>
        </v-card-title>

        <v-card-title v-if="update">
          <span class="headline">{{ $t('user.upd') }}</span>
        </v-card-title>

        <v-form
          id="userForm"
          v-model="isValid"
          autocomplete="off"
          @submit.prevent="handleSubmit"
        >
          <v-card-text class="pt-0">
            <v-tabs
              v-model="tabV"
            >
              <v-tab>{{ $t('user.dataUser') }}</v-tab>
              <v-tab
                :disabled="!activate"
                @click="forced += 1"
              >
                {{ $t('user.assignMenus') }}
              </v-tab>

              <v-tabs-items v-model="tabV">
                <v-tab-item>
                  <v-container>
                    <v-row>
                      <v-col cols="2">
                        <v-text-field
                          v-model="user.user"
                          :disabled="update"
                          :required="!update"
                          :rules="[v => !!v || $t('user.rules.id')]"
                          dense
                        >
                          <template #label>
                            {{ $t('user.id') }}
                            <span class="error--text">
                              <strong>*</strong>
                            </span>
                          </template>
                        </v-text-field>
                      </v-col>

                      <v-col cols="2">
                        <v-text-field
                          v-model="user.name"
                          :rules="[v => !!v || $t('user.rules.name')]"
                          dense
                          required
                        >
                          <template #label>
                            {{ $t('user.name') }}
                            <span class="error--text">
                              <strong>*</strong>
                            </span>
                          </template>
                        </v-text-field>
                      </v-col>

                      <v-col cols="3">
                        <v-text-field
                          v-model="user.sur"
                          :rules="[v => !!v || $t('user.rules.surname')]"
                          dense
                          required
                        >
                          <template #label>
                            {{ $t('user.surname') }}
                            <span class="error--text">
                              <strong>*</strong>
                            </span>
                          </template>
                        </v-text-field>
                      </v-col>

                      <v-col cols="4">
                        <v-text-field
                          v-model="user.mail"
                          :rules="emailRules"
                          dense
                          required
                        >
                          <template #label>
                            {{ $t('user.mail') }}
                            <span class="error--text">
                              <strong>*</strong>
                            </span>
                          </template>
                        </v-text-field>
                      </v-col>

                      <v-col cols="5">
                        <v-text-field
                          v-model="user.photo"
                          :hint="$t('user.hint.photo')"
                          :label="$t('user.photo')"
                        />
                      </v-col>

                      <v-col class="col-2">
                        <v-select
                          v-model="user.lang"
                          :item-text="valueLanguage"
                          :items="master.languages_app"
                          :rules="langRules"
                          item-value="id"
                        >
                          <template #label>
                            {{ $t('user.lang') }}
                            <span class="error--text">
                              <strong>*</strong>
                            </span>
                          </template>
                        </v-select>
                      </v-col>

                      <v-col cols="2">
                        <v-switch
                          v-model="user.act"
                          :label="$t('user.status')"
                          dense
                          inset
                        />
                      </v-col>

                      <v-col cols="2">
                        <v-switch
                          v-model="user.adm"
                          :label="$t('user.adm')"
                          dense
                          inset
                        />
                      </v-col>

                      <v-col cols="4">
                        <v-select
                          v-model="user.envs"
                          :item-text="valueLanguage"
                          :items="master.environments"
                          :rules="envsRules"
                          chips
                          dense
                          item-value="id"
                          multiple
                          return-object
                          small-chips
                          @change="getGlobalMenus"
                        >
                          <template #label>
                            {{ $t('user.envs') }}
                            <span class="error--text">
                              <strong>*</strong>
                            </span>
                          </template>
                        </v-select>
                      </v-col>

                      <v-col cols="8">
                        <v-select
                          v-model="user.cias"
                          :item-text="valueLanguage"
                          :items="master.companies"
                          :rules="ciasRules"
                          chips
                          dense
                          item-value="id"
                          multiple
                          required
                          return-object
                          small-chips
                          @change="getGlobalMenus"
                        >
                          <template #label>
                            {{ $t('user.cias') }}
                            <span class="error--text">
                              <strong>*</strong>
                            </span>
                          </template>
                        </v-select>
                      </v-col>
                    </v-row>
                  </v-container>
                  <small>
                    <span class="error--text">
                      <strong>*</strong>
                    </span>
                    {{ $t('required') }}
                  </small>
                </v-tab-item>
                <v-tab-item>
                  <TheAssignMenu
                    :key="forced"
                    :user="user"
                    :global-menus="globalMenuMap"
                    @updateMenus="menus = $event"
                  />
                </v-tab-item>
              </v-tabs-items>
            </v-tabs>
          </v-card-text>

          <v-card-actions>
            <v-spacer />
            <v-progress-circular
              v-show="activeProgres"
              indeterminate
              color="primary"
              class="mr-2"
            />
            <v-btn
              color="primary"
              small
              text
              @click="cancelForm"
            >
              {{ $t('button.cancel') }}
            </v-btn>

            <v-btn
              v-if="!update"
              :disabled="!isValid"
              color="primary"
              form="userForm"
              small
              text
              type="submit"
            >
              {{ $t('button.create') }}
            </v-btn>

            <v-btn
              v-if="update"
              :disabled="!isValid"
              color="primary"
              form="userForm"
              small
              text
              type="submit"
            >
              {{ $t('button.update') }}
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>

    <TheDataTable
      v-if="response"
      :titles="headers"
      :response="response"
      :title="$t('page.users')"
      :load="true"
      :delete-allowed="false"
      @create="createItem"
      @update="updateItem"
    />
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
import { admin } from "@services/admin";
import { utils } from "@helper/utils";
import TheDataTable from "../../components/TheDataTable";
import TheAssignMenu from "../../components/TheAssignMenu";
import i18n from "../../services/i18n";

export default {
  components: {
    TheDataTable,
    TheAssignMenu
  },
  data() {
    return {
      activate: false,
      menus: [],
      forced: 0,
      tabV: 0,
      isValid: true,
      emailRules: [
        v => !!v || this.$i18n.t("user.rules.mail"),
        v => /.+@.+/.test(v) || this.$i18n.t("user.rules.validmail")
      ],
      response: [],
      dialog: false,
      update: false,
      activeProgres: false,
      userIndex: -1,
      user: {
        user: null,
        pass: null,
        adm: false,
        lang: null,
        name: null,
        sur: null,
        mail: null,
        act: false,
        photo: null,
        envs: null,
        cias: null,
        configMenu: null
      },
      userDefault: {
        user: null,
        pass: null,
        adm: false,
        lang: null,
        name: null,
        sur: null,
        mail: null,
        act: false,
        photo: null,
        envs: null,
        cias: null,
        configMenu: null
      },
      globalMenuMap: null
    };
  },
  computed: {
    ...mapState({
      configMenu: state => state.configMenu,
      master: state => state.master
    }),
    langRules: function() {
      return [
        () => {
          if (!this.user.lang || this.user.lang.length < 1) {
            return this.$i18n.t("user.rules.lang");
          } else {
            return true;
          }
        }
      ];
    },
    envsRules: function() {
      return [
        () => {
          if (!this.user.envs || this.user.envs.length < 1) {
            return this.$i18n.t("user.rules.envs");
          } else {
            return true;
          }
        }
      ];
    },
    ciasRules: function() {
      return [
        () => {
          if (!this.user.cias || this.user.cias.length < 1) {
            return this.$i18n.t("user.rules.cias");
          } else {
            return true;
          }
        }
      ];
    },
    headers() {
      return [
        {
          text: this.$i18n.t("tables.id"),
          align: "left",
          value: "id"
        },
        {
          text: this.$i18n.t("tables.name"),
          align: "left",
          value: "name"
        },
        {
          text: this.$i18n.t("tables.surname"),
          align: "left",
          value: "sur"
        },
        {
          text: this.$i18n.t("tables.mail"),
          align: "left",
          value: "mail"
        },
        {
          text: this.$i18n.t("tables.lang"),
          align: "left",
          value: "lang"
        },
        {
          text: this.$i18n.t("tables.status"),
          align: "center",
          value: "act",
          filterable: false
        },
        {
          text: this.$i18n.t("tables.admin"),
          align: "center",
          value: "adm",
          filterable: false
        },
        {
          value: "actions",
          sortable: false,
          filterable: false
        }
      ];
    }
  },
  watch: {
    // call again the method if the route changes
    $route: "fetchData"
  },
  created() {
    this.fetchData();
  },
  methods: {
    ...mapActions("alert", ["error"]),
    fetchData() {
      this.response = [];
      admin.getAllItems(this.$route.path, JSON.stringify({}))
        .then(
          response => {
            if (!response.messages) {
              this.response = response;
            }
          },
          error => {
            this.error(error);
          }
        );
    },
    getGlobalMenus() {
      if (!this.globalMenuMap) {
        this.globalMenuMap = new Map();
      }

      if (this.user) {
        for (let environment of this.user.envs) {
          for (let company of this.user.cias) {
            const env = environment.id;
            const cia = company.id;

            const key = env.concat("¬").concat(cia);
            if (!this.globalMenuMap.has(key)) {
              admin.getAllItems("/api/v1/menu", JSON.stringify({ env, cia }))
                .then(
                  response => {
                    this.globalMenuMap.set(key, response);
                  },
                  error => {
                    this.error(error);
                  }
                );
            }
          }
        }

        if (this.globalMenuMap && this.user.cias.length > 0) {
          this.activate = true;
        }
      }
    },
    format() {
      const rows = [];
      for (let i = 0; i < this.response.length; i++) {
        rows[i] = {
          id: this.response[i].user,
          name: this.response[i].name,
          sur: this.response[i].sur,
          mail: this.response[i].mail,
          lang: this.response[i].lang,
          act: utils.isActive(this.response[i].act),
          adm: utils.isAdmin(this.response[i].adm)
        };
      }
      return rows;
    },
    close() {
      this.dialog = false;
      this.activate = false;
      this.activeProgres = false;
      setTimeout(() => {
        this.user = Object.assign({}, this.userDefault);
        this.userIndex = -1;
      }, 300);
    },
    createItem() {
      this.tabV = 0;
      this.update = false;
      this.dialog = true;
    },
    updateItem(item, index) {
      this.tabV = 0;
      this.update = true;
      this.userIndex = index;

      this.globalMenuMap = null;
      const user = item.id;
      admin.getItem(this.$route.path, JSON.stringify({ user }))
        .then(
          user => {
            this.user = user;
            this.dialog = true;
            this.getGlobalMenus();
          },
          error => {
            this.error(error);
          }
        );
    },
    mountMenus() {
      if (this.forced > 0) {
        this.user.configMenu = [];
        for (let i = 0; i < this.menus.length; i++) {
          if (this.menus[i].user.length > 0) {
            const configMenu = {
              env: null,
              cia: null,
              menus: null
            };

            configMenu.env = this.menus[i].env.id;
            configMenu.cia = this.menus[i].cia.id;
            configMenu.menus = this.menus[i].user;

            this.user.configMenu.push(configMenu);
          }
        }
      }
    },
    handleSubmit(e) {
      e.preventDefault();
      this.mountMenus();
      this.activeProgres = true;
      const user = this.user.user;
      const pass = this.user.pass;
      const adm = this.user.adm;
      const lang = this.user.lang;
      const name = this.user.name;
      const sur = this.user.sur;
      const mail = this.user.mail;
      const act = this.user.act;
      const photo = this.user.photo;
      const envs = this.user.envs;
      const cias = this.user.cias;
      const configMenu = this.user.configMenu;

      const body = JSON.stringify({
        user,
        pass,
        adm,
        lang,
        name,
        sur,
        mail,
        act,
        photo,
        envs,
        cias,
        configMenu
      });

      if (!this.update) {
        admin.create(this.$route.path, body)
          .then(
            success => {
              this.response.push(success);
            },
            error => {
              this.error(error);
            }
          );
      } else {
        const index = this.userIndex;
        admin.update(this.$route.path, body)
          .then(
            success => {
              Object.assign(this.response[index], success);
            },
            error => {
              this.error(error);
            }
          );
      }
      this.close();
    },
    cancelForm() {
      this.close();
    },
    valueLanguage: item => utils.valueLanguage(item.name, i18n.locale)
  }
};
</script>
<style scoped>
</style>